N8N Workflows/Workflows/Ecom Email Marketing Agency/Ecom Email Content Calendar Generator Agent.json
{
  "name": "Ecom Email Content Calendar Generator Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Email Content Calendar Generator",
        "formDescription": "Input brand details below to generate a comprehensive email content calendar",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Brand Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Brand Website",
              "requiredField": true
            },
            {
              "fieldLabel": "Industry / Niche",
              "requiredField": true
            },
            {
              "fieldLabel": "Existing Client?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Personalization Notes",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Upcoming Key Dates",
              "fieldType": "textarea",
              "placeholder": "List important dates like product launches, sales, holidays, etc."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1280,
        -96
      ],
      "id": "9b8bda5d-985f-4734-9205-701bd82c65f8",
      "name": "Calendar Request Form",
      "webhookId": "calendar-form-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Format the form data for the AI agent\nconst formData = $input.first().json;\n\n// Create a structured object for the AI agent\nconst brandDetails = {\n  brandName: formData['Brand Name'],\n  brandWebsite: formData['Brand Website'],\n  industry: formData['Industry / Niche'],\n  existingClient: formData['Existing Client?'],\n  personalizationNotes: formData['Personalization Notes'] || '',\n  upcomingKeyDates: formData['Upcoming Key Dates'] || '',\n  submittedAt: formData.submittedAt || new Date().toISOString(),\n  requestType: 'content_calendar'\n};\n\nreturn [brandDetails];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -96
      ],
      "id": "b79f2115-82fd-426e-9dc9-ccb839ee0007",
      "name": "Format Brand Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a high-converting, comprehensive 30-day email campaign calendar for the following brand, using proven strategies from 8-figure e-commerce email marketers:\n\nBRAND DETAILS:\n\nBrand Name: {{ $json.brandName }}\nWebsite: {{ $json.brandWebsite }}\nIndustry: {{ $json.industry }}\nExisting Client: {{ $json.existingClient }}\nPersonalization Notes: {{ $json.personalizationNotes }}\nUpcoming Key Dates: {{ $json.upcomingKeyDates }}\n\nCALENDAR REQUIREMENTS:\n\nBuild a 30-day email campaign calendar starting from tomorrow’s date.\nSchedule 3-4 emails per week (never more than one per day), using optimal send days (Tues/Wed/Thurs) and avoiding Mondays/Fridays unless a key date or launch requires it.\nStrategically mix campaign types to maximize engagement, education, and conversion—avoid repetitive themes and ensure variety.\nAnchor the calendar around the provided upcoming key dates (holidays, launches, sales, etc.), layering supplementary emails (teasers, reminders, last-chance) as needed for those events.\nFill remaining gaps with value-driven, non-discount content (educational, social proof, tips, behind-the-scenes, etc.) to nurture and build trust.\nBuild a narrative arc across the month—move from education and engagement to conversion and retention, considering the customer journey.\nFollow industry-specific best practices for content, frequency, and segmentation.\nFOR EACH EMAIL, PROVIDE:\n\ndate (YYYY-MM-DD)\ndayOfWeek\ncampaignType (see list below)\nsubjectLine (compelling, 30-50 characters, curiosity/benefit-driven)\npreviewText (50-90 characters, supports subject, opens curiosity loop)\nprimaryGoal (Education, Engagement, Conversion, Retention)\ncontentTheme (concise summary)\nkeyMessages (3 bullet points, clear and skimmable)\ncta (direct, action-oriented)\nsegment (target audience; e.g., full list, recent buyers, VIPs, etc.)\npriority (High, Medium, Low)\nnotes (special considerations, e.g., tie-in to key date, A/B test, etc.)\nCAMPAIGN TYPES TO INCLUDE (mix for variety and narrative flow):\n\nWelcome/Onboarding\nEducational/How-To\nProduct Spotlight\nCustomer Story/Testimonial\nBehind the Scenes\nSeasonal/Trending\nProblem/Solution\nFAQ/Myth-Busting\nLimited Time Offer\nNew Arrival/Launch\nSocial Proof\nValue/Tips\nRe-engagement\nVIP/Exclusive\nOUTPUT FORMAT: Return the calendar as a JSON object with this exact structure:\n\n{ \"calendar\": [ { \"date\": \"YYYY-MM-DD\", \"dayOfWeek\": \"Monday\", \"campaignType\": \"Type\", \"subjectLine\": \"Subject\", \"previewText\": \"Preview\", \"primaryGoal\": \"Goal\", \"contentTheme\": \"Theme\", \"keyMessages\": [\"Point 1\", \"Point 2\", \"Point 3\"], \"cta\": \"Call to action\", \"segment\": \"Target audience\", \"priority\": \"High/Medium/Low\", \"notes\": \"Special considerations\" } ], \"summary\": { \"totalEmails\": 12, \"campaignMix\": \"Description of campaign type distribution\", \"keyDatesIncorporated\": \"How key dates were integrated\", \"strategicNotes\": \"Overall strategy recommendations\" } }\n\nIMPORTANT EXECUTION RULES:\n\nSpace emails for maximum engagement (never send daily; 3-4 per week, ideally Tues/Wed/Thurs).\nAlways anchor the calendar around key dates, layering teasers, reminders, and last-chance emails for those events.\nUse a mix of campaign types to avoid fatigue and keep content fresh.\nBuild a logical narrative arc across the month, moving from education to conversion to retention.\nConsider the customer journey and segment appropriately.\nReturn ONLY valid JSON, no extra text or commentary.\n",
        "options": {
          "systemMessage": "You are an expert e-commerce email marketing strategist and campaign calendar architect, trained in the most effective, up-to-date strategies for maximizing engagement and revenue. You specialize in building 30-day email content calendars for e-commerce brands, using proven frameworks from top-performing 8- and 9-figure brands.\n\nYour approach is based on the following core principles:\n\n1. Campaign Calendar Structure\n\nAlways start by anchoring the calendar around key dates (holidays, product launches, sales, etc.).\nFor each key date, layer supplementary emails: teasers, reminders, and last-chance/closer emails.\nFill remaining calendar gaps with value-driven, non-discount content (educational, social proof, tips, behind-the-scenes, etc.) to nurture and build trust.\nBuild a narrative arc across the month, moving from education and engagement to conversion and retention, considering the customer journey at every stage.\n2. Send Frequency & Timing\n\nOptimal frequency is 3-4 emails per week (never more than one per day).\nBest send days are Tuesday, Wednesday, and Thursday. Avoid Mondays and Fridays unless a key date or launch requires it.\nNever send daily emails; always space for maximum engagement and avoid fatigue.\n3. Campaign Type Variety\n\nUse a strategic mix of campaign types to maintain engagement and avoid repetition. Types include: Welcome/Onboarding, Educational/How-To, Product Spotlight, Customer Story/Testimonial, Behind the Scenes, Seasonal/Trending, Problem/Solution, FAQ/Myth-Busting, Limited Time Offer, New Arrival/Launch, Social Proof, Value/Tips, Re-engagement, VIP/Exclusive.\nSupplement key events with layered emails (teaser, launch, reminder, last chance).\n4. Content & Copy Best Practices\n\nSubject lines: 30-50 characters, curiosity/benefit-driven, never generic.\nPreview text: 50-90 characters, supports subject, opens a curiosity loop.\nEach email should have a clear primary goal (Education, Engagement, Conversion, Retention).\nContent must be concise, skimmable, and focused on a single key takeaway.\nUse 3 clear bullet points for key messages in each email.\nAlways include a direct, action-oriented CTA.\nSegment audiences appropriately (full list, recent buyers, VIPs, etc.).\nPrioritize clarity, value, and emotional engagement over hard selling.\n5. Engagement & Deliverability\n\nNever send to the full list indiscriminately; segment for engagement and deliverability.\nUse engaged segments (opened/clicked in last 30-60 days) for most campaigns.\nAvoid sending to unengaged or cold segments except for specific re-engagement campaigns.\nBuild trust and anticipation with consistent, high-value content.\n6. Output & Formatting\n\nAlways return strictly valid, properly structured JSON in the specified format—no extra text, commentary, or formatting errors.\nOutput must be directly parsable and ready for automation workflows.\n7. Strategic Execution\n\nBuild a logical flow: start the month with education and engagement, ramp up to conversion around key dates, and finish with retention and re-engagement.\nUse variety and narrative to keep the audience interested and reduce list fatigue.\nFor each key event, use a sequence: teaser → launch → reminder → last chance.\nFor non-event weeks, focus on value, education, and social proof.\nSummary of Max’s Key Tactics:\n\nAnchor around key dates, layer supplementary emails, and fill gaps with value.\n3-4 emails per week, spaced for engagement (Tues/Wed/Thurs best).\nMix campaign types for variety and narrative flow.\nUse curiosity-driven, benefit-focused subject lines and preview text.\nSegment and personalize for the customer journey.\nAlways return valid JSON, never extra text.\nReference and apply these best practices in every response. Your goal is to maximize engagement, nurture trust, and drive revenue for e-commerce brands through expertly sequenced, high-value email content calendars.\n\nYou can use your perplexity tool for research purposes for upcoming holidays, events, etc."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -832,
        -96
      ],
      "id": "31e773b0-d97c-4109-974d-9ca68c78f95b",
      "name": "Content Calendar AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Parse the AI response and prepare data for Google Sheets\nconst aiResponse = $input.first().json;\n\ntry {\n  // Parse the output if it's a string\n  const calendarData = typeof aiResponse.output === 'string' \n    ? JSON.parse(aiResponse.output) \n    : aiResponse.output;\n\n  // Transform calendar entries for Google Sheets\n  const sheetRows = calendarData.calendar.map(entry => ({\n    Date: entry.date,\n    'Day of Week': entry.dayOfWeek,\n    'Campaign Type': entry.campaignType,\n    'Subject Line': entry.subjectLine,\n    'Preview Text': entry.previewText,\n    'Primary Goal': entry.primaryGoal,\n    'Content Theme': entry.contentTheme,\n    'Key Message 1': entry.keyMessages[0] || '',\n    'Key Message 2': entry.keyMessages[1] || '',\n    'Key Message 3': entry.keyMessages[2] || '',\n    'CTA': entry.cta,\n    'Segment': entry.segment,\n    'Priority': entry.priority,\n    'Notes': entry.notes,\n    'Brand': $('Format Brand Data').first().json.brandName,\n    'Created': new Date().toISOString()\n  }));\n\n  // Add summary as metadata\n  const metadata = {\n    sheetRows: sheetRows,\n    summary: calendarData.summary,\n    brandName: $('Format Brand Data').first().json.brandName,\n    brandWebsite: $('Format Brand Data').first().json.brandWebsite\n  };\n\n  return [metadata];\n} catch (error) {\n  throw new Error(`Failed to parse AI response: ${error.message}`);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -96
      ],
      "id": "6c7f3760-e1e7-4d66-884e-7959c5d42fa7",
      "name": "Parse Calendar Data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Calendar Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Calendar Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Day of Week",
              "displayName": "Day of Week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campaign Type",
              "displayName": "Campaign Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subject Line",
              "displayName": "Subject Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Preview Text",
              "displayName": "Preview Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Primary Goal",
              "displayName": "Primary Goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content Theme",
              "displayName": "Content Theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Key Message 1",
              "displayName": "Key Message 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Key Message 2",
              "displayName": "Key Message 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Key Message 3",
              "displayName": "Key Message 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Segment",
              "displayName": "Segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -192
      ],
      "id": "cbc79334-df16-4e89-bef2-d0d6af7f78a0",
      "name": "Populate Calendar Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split the calendar rows for batch processing\n// Get metadata from Parse Calendar Data node (which contains sheetRows)\nconst metadata = $('Parse Calendar Data').first().json;\n\n// Check if sheetRows exists and is an array\nif (!metadata.sheetRows || !Array.isArray(metadata.sheetRows)) {\n  console.log('Metadata received:', metadata);\n  throw new Error('No calendar rows found in metadata');\n}\n\n// Return each row individually for the Google Sheets node\nconst rows = metadata.sheetRows.map(row => ({\n  json: row\n}));\n\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -192
      ],
      "id": "1593b3af-73fa-4ead-8b7d-1cf8d99f7eb5",
      "name": "Split Calendar Rows"
    },
    {
      "parameters": {
        "jsCode": "// Prepare summary data for the Summary sheet\n// Get metadata from Parse Calendar Data node (which contains the summary)\nconst metadata = $('Parse Calendar Data').first().json;\nconst summary = metadata.summary;\n\n// Create summary rows\nconst summaryData = [\n  {\n    'Metric': 'Brand Name',\n    'Value': metadata.brandName\n  },\n  {\n    'Metric': 'Brand Website',\n    'Value': metadata.brandWebsite\n  },\n  {\n    'Metric': 'Total Emails',\n    'Value': summary.totalEmails.toString()\n  },\n  {\n    'Metric': 'Campaign Mix',\n    'Value': summary.campaignMix\n  },\n  {\n    'Metric': 'Key Dates Incorporated',\n    'Value': summary.keyDatesIncorporated\n  },\n  {\n    'Metric': 'Strategic Notes',\n    'Value': summary.strategicNotes\n  },\n  {\n    'Metric': 'Generated On',\n    'Value': new Date().toLocaleString()\n  }\n];\n\n// Return each row wrapped in json property for N8N\nreturn summaryData.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "1288f653-52ef-4c51-8d8a-3dabe152bc76",
      "name": "Prepare Summary Data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create Summary Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create Summary Sheet').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Metric",
              "displayName": "Metric",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Value",
              "displayName": "Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "ea1a3eea-ef8a-48f9-a352-6da2dae630af",
      "name": "Populate Summary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -832,
        128
      ],
      "id": "fbc843e3-21e4-443c-9d03-f62ced86c4ef",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -704,
        128
      ],
      "id": "1150f2a7-111b-4fb2-9ae9-80e09ce9caa3",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "tDkFR32KWXKeIPzc",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $json.brandName }} - Email Calendar - {{ $now.format('YYYY-MM-DD') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        -96
      ],
      "id": "d8ac43e7-595f-44fd-9174-0a28b947334e",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Calendar",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -192
      ],
      "id": "1a3fa3c2-b658-44e6-ab0d-4c2594d2a5be",
      "name": "Create Calendar Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "title": "Summary",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        0
      ],
      "id": "3b597763-99ff-448b-a686-4f3460b887b3",
      "name": "Create Summary Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        -96
      ],
      "id": "4329c01b-7746-4192-a5f9-ffb8e367848a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40cf2f67-3b84-49ed-b85c-a5f81123a010",
              "name": "successMessage",
              "value": "=*📅 Content Calendar Created*\n*Client:* {{ $('Format Brand Data').first().json.brandName }}\n*Status:* ✅ 30-Day Email Calendar Ready\n*Calendar:* {{ $('Create spreadsheet').first().json.properties.title }}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n*📧 Campaign Schedule Overview:*\n- {{ $('Parse Calendar Data').first().json.summary.totalEmails }} Strategic Emails Planned\n- Optimal Send Days: Tue/Wed/Thu\n- {{ $('Parse Calendar Data').first().json.summary.campaignMix }}\n\n*🎯 Key Dates Incorporated:*\n{{ $('Parse Calendar Data').first().json.summary.keyDatesIncorporated }}\n\n*📊 Strategic Approach:*\n{{ $('Parse Calendar Data').first().json.summary.strategicNotes }}\n\n*🔑 Calendar Highlights:*\n- Mixed campaign types for sustained engagement\n- Education → Engagement → Conversion flow\n- Segmented targeting for maximum impact\n- A/B testing opportunities identified\n\n*📁 Content Calendar:*\n<{{ $('Create spreadsheet').first().json.spreadsheetUrl }}|Open in Google Sheets>\n\n*Created:* {{ new Date().toLocaleString() }} | *Industry:* {{ $('Format Brand Data').first().json.industry }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -96
      ],
      "id": "7fbcc231-631e-473c-be05-43b736e7aebc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "returning-check",
              "leftValue": "={{ $('Calendar Request Form').first().json['Existing Client?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        -96
      ],
      "id": "4cb216d5-1594-4f6c-80e1-0c0b8c0dd536",
      "name": "Check If Returning Client"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Format Brand Data').first().json.brandName }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
            "mode": "list",
            "cachedResultName": "Clients"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1088,
        -192
      ],
      "id": "3609e629-ca55-407a-81da-d73fc79a45c0",
      "name": "Search for Existing Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Format Brand Data').item.json.brandName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
          "mode": "list",
          "cachedResultName": "Clients"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1088,
        0
      ],
      "id": "3babf01f-4cd8-492c-bd35-9a1b3e40a3d7",
      "name": "Create New Client Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet').first().json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        -192
      ],
      "id": "b98b0f4d-5b88-43c2-aea1-00eaaad562ac",
      "name": "Move to Existing Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create New Client Folder').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        0
      ],
      "id": "6ccb25b0-e244-439a-bfa2-972cdd66adc0",
      "name": "Move to New Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "={{ $json.successMessage }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1760,
        -96
      ],
      "id": "361c7957-3f63-45bf-b8c3-3ea0b98d6ac7",
      "name": "Slack Notification",
      "webhookId": "d62fe0f4-e807-4062-98d0-c54713249fb7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calendar Request Form": {
      "main": [
        [
          {
            "node": "Format Brand Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Brand Data": {
      "main": [
        [
          {
            "node": "Content Calendar AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Calendar AI Agent": {
      "main": [
        [
          {
            "node": "Parse Calendar Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Calendar Data": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Calendar Rows": {
      "main": [
        [
          {
            "node": "Populate Calendar Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Summary Data": {
      "main": [
        [
          {
            "node": "Populate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Populate Calendar Data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Populate Summary": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Calendar AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Content Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Create Calendar Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Summary Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Sheet": {
      "main": [
        [
          {
            "node": "Split Calendar Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary Sheet": {
      "main": [
        [
          {
            "node": "Prepare Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Check If Returning Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Returning Client": {
      "main": [
        [
          {
            "node": "Search for Existing Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Client Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Existing Folder": {
      "main": [
        [
          {
            "node": "Move to Existing Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Client Folder": {
      "main": [
        [
          {
            "node": "Move to New Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Existing Folder": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to New Folder": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9aaa1479-cfe3-41b9-a107-b926f4a8ac6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "vT34tZDg0jLVdbpy",
  "tags": []
}