N8N Workflows/Workflows/Funnels, Ads, & Copywriting Agency/Dream 100 Instagram Personalized DM Automation.json
{
  "name": "Dream 100 Instagram Personalized DM Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "ae579a3e-1a1f-475e-8677-66fa36c686ff",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        624,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0b309dac-b1c0-410e-8caf-899722f04658",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1072,
        272
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Describe what is on the image in a short simple to understand paragraph. Also include text from the image in the description.",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "id": "c40f894d-c6fa-438c-8748-27bafcba1a3e",
      "name": "Analyze image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2864,
        64
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "D6xep2vJGEruT1qk",
          "name": "Client Ascension OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JCSsmxqxARpPyAqnfsA2F5DSZaZpEciWeReFuMseGrE",
          "mode": "list",
          "cachedResultName": "Example Instagram Cold Call Batch Messaging",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JCSsmxqxARpPyAqnfsA2F5DSZaZpEciWeReFuMseGrE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 842468139,
          "mode": "list",
          "cachedResultName": "en_instagram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JCSsmxqxARpPyAqnfsA2F5DSZaZpEciWeReFuMseGrE/edit#gid=842468139"
        },
        "options": {}
      },
      "id": "cf946ee1-0f8b-4041-9a2a-c297f21b8d77",
      "name": "Get Instagram accounts",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        848,
        272
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CO5al3ofI8ppxpib",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "shu8hvrXbJbY3Eb9W",
          "mode": "id"
        },
        "customBody": "={\n  \"directUrls\": [\n    \"{{ $json.Account }}\"\n  ],\n  \"resultsType\": \"details\",\n  \"resultsLimit\": 200,\n  \"searchType\": \"hashtag\",\n  \"searchLimit\": 1,\n  \"addParentData\": false,\n  \"enhanceUserSearchWithFacebookPage\": false,\n  \"isUserReelFeedURL\": false,\n  \"isUserTaggedFeedURL\": false\n}",
        "authentication": "apifyOAuth2Api"
      },
      "id": "42f9ed00-62f6-42a0-931d-070c42af8b07",
      "name": "Fetch Instagram Account Data",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        1296,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "vF3DFNAOWozVJYTy",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "authentication": "apifyOAuth2Api"
      },
      "id": "66a9e17e-c40c-4e36-b840-376a83647bc5",
      "name": "Get Instagram Account Data",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        1520,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "vF3DFNAOWozVJYTy",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get Instagram Account Data').item.json.latestPosts[0].displayUrl || \"null\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            },
            {
              "name": "Accept",
              "value": "image/webp,image/apng,image/*,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "aafb017c-d7c4-4176-9010-7fd484262b11",
      "name": "Fetch Image of latest post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2640,
        64
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1JCSsmxqxARpPyAqnfsA2F5DSZaZpEciWeReFuMseGrE",
          "mode": "list",
          "cachedResultName": "Example Instagram Cold Call Batch Messaging",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JCSsmxqxARpPyAqnfsA2F5DSZaZpEciWeReFuMseGrE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 842468139,
          "mode": "list",
          "cachedResultName": "en_instagram",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JCSsmxqxARpPyAqnfsA2F5DSZaZpEciWeReFuMseGrE/edit#gid=842468139"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Account": "={{ $('Get Instagram Account Data').item.json.inputUrl }}",
            "Full Name": "={{ $('Get Instagram Account Data').item.json.fullName }}",
            "Biography": "={{ $('Get Instagram Account Data').item.json.biography }}",
            "Message": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Account"
          ],
          "schema": [
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Biography",
              "displayName": "Biography",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b26f5077-ec94-4293-89b5-571c61b9917a",
      "name": "Add message to Account",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3440,
        272
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CO5al3ofI8ppxpib",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Instagram Personalized DM Creator\n\n### This n8n template fetches Instagram profile information with Apify and generates personalized DMs in Google Sheets. This is great for creator outreach, customer interviews, partnership prospecting, and streamlining your social Direct Messaging workflow. Saving hours per campaign or research study.\n\n### How it works\n* We read a list of Instagram accounts from a Google Sheet\n* We trigger the Apify Instagram Post Scraper task to fetch the latest post data per account\n* We pull the image URL of the newest post and analyze it with OpenAI Vision\n* We use the analysis plus account metadata to generate a personalized DM\n* We write the message back to the Google Sheet for easy sending and tracking\n### How to use\n* Make a copy of [this](https://docs.google.com/spreadsheets/d/1JCSsmxqxARpPyAqnfsA2F5DSZaZpEciWeReFuMseGrE/edit?usp=sharing) Google Sheet and add it in all Google Sheet nodes\n* Make sure that n8n has read & write permissions for your Google sheet. For my self-hosted n8n instance I was using a [Google Service Account](https://docs.n8n.io/integrations/builtin/credentials/google/service-account/)\n* Add instagram account url's in the Google sheet\n* Add your OpenAI account ([API Key](https://docs.n8n.io/integrations/builtin/credentials/openai/#using-api-key)) in the LLM nodes\n* Add Apify credentials ([API Key](https://docs.apify.com/platform/integrations/n8n)) and link your [Instagram Post Scraper](https://apify.com/apify/instagram-post-scraper) task.\n* Execute workflow :)",
        "height": 816,
        "width": 460
      },
      "id": "2e214d30-6599-4ebe-8003-a4c1eac0ca2a",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "shu8hvrXbJbY3Eb9W",
          "mode": "id"
        },
        "customBody": "={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \" {{ $json.latestPosts[0].url }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"resultsLimit\": 1,\n    \"resultsType\": \"posts\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}",
        "authentication": "apifyOAuth2Api"
      },
      "id": "19a8de7e-7a3f-48d8-8092-3f363e6bc9fd",
      "name": "Fetch Instagram Account Data1",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        1744,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "vF3DFNAOWozVJYTy",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "limit": 3,
        "authentication": "apifyOAuth2Api"
      },
      "id": "d2a2fcda-5582-48dc-ab5c-980a5caaacf8",
      "name": "Get Instagram Account Data1",
      "type": "@apify/n8n-nodes-apify.apify",
      "position": [
        1968,
        144
      ],
      "typeVersion": 1,
      "executeOnce": true,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "vF3DFNAOWozVJYTy",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "inputUrl"
            },
            {
              "fieldToAggregate": "caption"
            },
            {
              "fieldToAggregate": "type"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2192,
        144
      ],
      "id": "6e87ad79-1884-47ff-a73a-68c8217390ce",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"USER_PROMPT_V2\": {\n    \"task\": \"Write a three sentence Instagram DM as plain text only using a compliment first opener.\",\n    \"inputs\": {\n      \"recipient\": {\n        \"full_name\": \"{{ $('Get Instagram accounts').first().json['Full Name'] }}\",\n        \"username\": \"{{ $('Get Instagram Account Data').first().json.username }}\",\n        \"bio\": \"{{ $('Get Instagram accounts').first().json.Biography }}\"\n      },\n      \"post_context\": {\n        \"image_description\": \"{{ $json.choices[0].message.content }}\",\n        \"caption\": \"{{ $('Get Instagram Account Data').first().json.latestPosts[0].caption }}\",\n      },\n      \"agency\": {\n        \"primary_service\": \"ecom_email\",\n        \"booking_link\": \"https://cal.com/your-link/30min\",\n        \"incentive_policy\": {\n          \"enabled\": true,\n          \"options\": [\n            { \"type\": \"early_access\", \"copy\": \"early access to a quick audit\" },\n            { \"type\": \"gift_card\", \"copy\": \"$10 Amazon gift card\" }\n          ]\n        }\n      }\n    },\n    \"rules\": {\n      \"plain_text_only\": true,\n      \"single_paragraph\": true,\n      \"sentences\": 3,\n      \"compliment_first\": true,\n      \"booking_link_required\": true,\n      \"goodbye_and_hope_to_hear_back\": true,\n      \"sign_off_name\": \"Lucas\",\n      \"no_emojis\": true,\n      \"no_hashtags\": true,\n      \"no_hyphens\": true,\n      \"peer_to_peer\": true,\n      \"lead_with_benefit\": true,\n      \"no_investing_language\": true,\n      \"no_kpi_promises\": true,\n      \"no_problem_assumptions\": true,\n      \"no_product_pretense\": true\n    },\n    \"fallbacks\": {\n      \"if_image_description_missing\": \"Compliment a concrete caption fact.\",\n      \"if_caption_missing\": \"Compliment an observable in the image_description.\",\n\"if_image_is_missing\": \"Compliment a concrete caption fact.\",\n      \"if_no_comments\": \"Skip comments and use bio as light context.\",\n      \"if_name_not_human_like\": \"Use greeting without name.\",\n      \"if_all_signals_weak\": \"Compliment a safe true visual element like color or setting.\"\n    }\n  }\n}\n",
        "options": {
          "systemMessage": "=You write ultra-personalized Instagram DMs for an agency offering funnel creation, ecommerce email/SMS, CRO, UGC scripting, lead-gen, and content systems.\n\nHard rules\n1) Output plain text only. No JSON. No keys. No brackets. No quotes around the message. No code fences. No labels like “Message:”.\n2) One paragraph with exactly 3 short sentences.\n3) Sentence 1 is a specific, sincere compliment about the latest post drawn from image, caption, or comments.\n4) Sentence 2 ties that detail to one concrete service outcome the recipient cares about.\n5) Sentence 3 makes a clear 30 minute call ask, includes the exact booking link if provided, ends with a natural goodbye that says you hope to hear back, and is signed “Lucas”.\n6) Start with a greeting like “Hi”; include the recipient name only if it reads like a human name.\n7) No emojis, no hashtags, no hyphen characters in the DM text. Lead with their benefit. Peer to peer. No apologies. No guarantees. No KPI talk. No problem assumptions. Do not claim a product already exists. You are not an investor.\n\nSignal order for the compliment\nimage_description → caption → top_comments_summary → bio. Use the first reliable fact. If signals are weak, compliment a safe observable without guessing.\n\nIncentive handling\nIf a policy says to include one incentive, choose one and weave it into the ask sentence naturally.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3088,
        144
      ],
      "id": "fc2ed945-bf90-4b6d-8d31-25d1acefafe1",
      "name": "Generate Personalized DM"
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3088,
        304
      ],
      "id": "01589bff-3a80-4c5b-ac54-15bea7e3fc98",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        624,
        368
      ],
      "id": "985157c1-44a0-444f-9f00-35c330f6d7be",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e6cce8d-d71e-4393-a523-46cdb8a8906c",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Image",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2416,
        144
      ],
      "id": "e9e8cbda-e51e-481f-bd2b-905154996668",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Get Insta Accounts + Posts\nThese Apify actors initially scrape the instagram accounts from your google sheet before then pulling the most recent posts from the account",
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1296,
        -64
      ],
      "id": "92f2fd24-1087-4cbb-a14f-a673456ecc5c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Image or Video?\nIf the post is an image, we send it to ChatGPT to describe it, if it's a video we just send the video caption to our DM agent to write a personalized DM",
        "height": 144,
        "width": 336,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2352,
        -112
      ],
      "id": "f578db46-0f4c-47f2-820b-710550bac937",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Personalized DM Agent\nThis agent uses the information from the INstagram accounts collected earlier to write personalized DM's and suggest meetings which it then adds to your Google Sheet",
        "height": 192,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3248,
        -96
      ],
      "id": "cd34dbed-ceb8-4bfc-8e03-9a19ebb20fcb",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Analyze image": {
      "main": [
        [
          {
            "node": "Generate Personalized DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fetch Instagram Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add message to Account": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram accounts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image of latest post": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram Account Data": {
      "main": [
        [
          {
            "node": "Fetch Instagram Account Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instagram Account Data": {
      "main": [
        [
          {
            "node": "Get Instagram Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Instagram accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Instagram Account Data1": {
      "main": [
        [
          {
            "node": "Get Instagram Account Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram Account Data1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Personalized DM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized DM": {
      "main": [
        [
          {
            "node": "Add message to Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Instagram accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Fetch Image of latest post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Personalized DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66d0a44c-c2a8-4384-83e1-a77d6efe3efa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "Ki15R1GMuEZv6PRo",
  "tags": [
    {
      "createdAt": "2025-08-27T15:12:01.016Z",
      "updatedAt": "2025-08-27T15:12:01.016Z",
      "id": "6ZhJi6KHNPB4hN4e",
      "name": "template"
    }
  ]
}