N8N Workflows/Workflows/Funnels, Ads, & Copywriting Agency/Funnel Outline & Strategy Agent.json
{
  "name": "Funnel Outline & Strategy Agent",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Business / Product Name",
              "stringValue": "={{ $json['Business / Product Name'] }}"
            },
            {
              "name": "Business Type",
              "stringValue": "={{ $json['What type of business are you?'] }}"
            },
            {
              "name": "Industry / Niche",
              "stringValue": "={{ $json['Industry / Niche'] }}"
            },
            {
              "name": "Ideal Customer",
              "stringValue": "={{ $json['Describe Your Ideal Customer'] }}"
            },
            {
              "name": "Primary Funnel Objective",
              "stringValue": "={{ $json['What\\'s your primary funnel objective?'] }}"
            },
            {
              "name": "Core Offer Price",
              "stringValue": "={{ $json['Core Offer Price'] }}"
            },
            {
              "name": "Business Stage",
              "stringValue": "={{ $json['What stage is your business at?'] }}"
            },
            {
              "name": "Customer Pain Points",
              "stringValue": "={{ $json['Top 3-5 Customer Pain Points'] }}"
            },
            {
              "name": "USP",
              "stringValue": "={{ $json['What Makes You Different?'] }}"
            },
            {
              "name": "Differentiator",
              "stringValue": "={{ $json['What Makes You Different?'] }}"
            },
            {
              "name": "Primary Traffic Sources",
              "stringValue": "={{ $json['Primary Traffic Sources (Select all that apply)'] }}"
            },
            {
              "name": "Pre-Existing Funnel Elements",
              "stringValue": "={{ $json['What do you already have? (Select all that apply)'] }}"
            },
            {
              "name": "Competitors",
              "stringValue": "={{ $json['Successful Competitors'] }}"
            },
            {
              "name": "Preferred Funnel Type",
              "stringValue": "={{ $json['Preferred Funnel Type (if known)'] }}"
            },
            {
              "name": "Timeframe",
              "stringValue": "={{ $json['When do you need this funnel live?'] }}"
            },
            {
              "name": "Budget",
              "stringValue": "={{ $json['Implementation Budget'] }}"
            },
            {
              "name": "Existing Client?",
              "stringValue": "={{ $json['Have we built a funnel for you before?'] }}"
            },
            {
              "name": "Additional Info",
              "stringValue": "={{ $json['Anything else we should know?'] }}"
            },
            {
              "name": "Submission Date",
              "stringValue": "={{ $json.submittedAt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -64,
        0
      ],
      "id": "14b51b86-85a5-4a9c-a056-8527067b7951",
      "name": "Process Form Data"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "output",
              "stringValue": "={{ $json.output }}"
            },
            {
              "name": "fileName",
              "stringValue": "={{ $('Process Form Data').item.json['Business / Product Name'] }} - Funnel Outline - {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1216,
        0
      ],
      "id": "f32424cb-09cd-4236-b5c6-09656b41a76a",
      "name": "Prepare Document Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $json.output }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ],
      "id": "4a7551d5-eef4-46a7-8f27-b6ecb21016b2",
      "name": "Create Google Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l6gkJBk6UFQH05ci",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "returning-check",
              "leftValue": "={{ $('Process Form Data').first().json.returningClient }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        0
      ],
      "id": "f17a03d7-1899-4459-8c29-479ccf17f203",
      "name": "Check If Returning Client"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Process Form Data').first().json.businessName }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
            "mode": "list",
            "cachedResultName": "Clients"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        -96
      ],
      "id": "3ab9fdef-35c0-48ef-9946-f3ba66fbf0fe",
      "name": "Search for Existing Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Process Form Data').item.json['Business / Product Name'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
          "mode": "list",
          "cachedResultName": "Clients"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        96
      ],
      "id": "a8913f45-041c-49de-9575-f6eb06510cbc",
      "name": "Create New Client Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create Google Doc').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        -96
      ],
      "id": "1a399e9e-9663-4cb2-9c59-e86459e1204e",
      "name": "Move to Existing Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create Google Doc').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2112,
        96
      ],
      "id": "c48c78a5-f237-4c1d-8b2f-5ccfb9d0924b",
      "name": "Move to New Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "documentUrl",
              "stringValue": "=https://docs.google.com/document/d/{{ $('Create Google Doc').item.json.documentId }}"
            },
            {
              "name": "businessName",
              "stringValue": "={{ $('Process Form Data').item.json['Business / Product Name'] }}"
            },
            {
              "name": "fileName",
              "stringValue": "={{ $('Prepare Document Data').item.json.fileName }}"
            },
            {
              "name": "docLink",
              "stringValue": "={{ $('Create Google Doc').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        2336,
        0
      ],
      "id": "fe535c95-a930-4929-9e15-3c5b0ee062de",
      "name": "Prepare Notification Data"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "=:rocket: *Funnel Outline Generated!*\n\n:briefcase: *Client:* {{ $json.businessName }}\n\n:page_facing_up: *Document:* {{ $json.fileName }}\n\n:link: *View Document:* {{ $json.documentUrl }}\n\n:white_check_mark: *Status:* Successfully delivered\n\n_Processing completed at {{ new Date().toLocaleString() }}_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2560,
        0
      ],
      "id": "f198f686-7c8f-4b81-9194-026b4b2bd06d",
      "name": "Slack Notification",
      "webhookId": "d62fe0f4-e807-4062-98d0-c54713249fb7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Funnel Outline Builder Workflow\n\n### Credentials Required:\n1. **OpenRouter API** - For AI agents\n2. **Google Docs OAuth** - For document creation\n3. **Google Drive OAuth** - For file management  \n4. **Slack OAuth** - For notifications\n\n### Folder Setup:\nCreate a \"Clients\" folder in Google Drive with ID: `1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD`\n(Update this ID with your actual folder)",
        "height": 346,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        -192
      ],
      "id": "f34e38a3-ee62-4286-82f5-9f20396469cc",
      "name": "Setup Instructions"
    },
    {
      "parameters": {
        "formTitle": "Funnel Outline Request Form",
        "formDescription": "Complete this form to receive a custom funnel strategy designed specifically for your business. The more detail you provide, the more tailored and actionable your funnel outline will be. Takes approximately 5-7 minutes to complete.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business / Product Name",
              "requiredField": true
            },
            {
              "fieldLabel": "What type of business are you?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "SaaS (Software as a Service)"
                  },
                  {
                    "option": "E-commerce/Physical Products"
                  },
                  {
                    "option": "Coaching/Consulting (B2B)"
                  },
                  {
                    "option": "Coaching/Consulting (B2C)"
                  },
                  {
                    "option": "Online Course/Info Product"
                  },
                  {
                    "option": "Agency/Service Provider"
                  },
                  {
                    "option": "Membership/Community"
                  },
                  {
                    "option": "Marketplace/Platform"
                  },
                  {
                    "option": "Mobile App"
                  },
                  {
                    "option": "Local Service Business"
                  },
                  {
                    "option": "Healthcare/Wellness"
                  },
                  {
                    "option": "Financial Services"
                  },
                  {
                    "option": "Real Estate"
                  },
                  {
                    "option": "B2B Software (non-SaaS)"
                  },
                  {
                    "option": "Creator/Influencer"
                  },
                  {
                    "option": "Non-Profit"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Industry / Niche",
              "requiredField": true
            },
            {
              "fieldLabel": "Describe Your Ideal Customer",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "What's your primary funnel objective?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Generate Leads (Email List Building)"
                  },
                  {
                    "option": "Sell Low-Ticket Product ($7-$97)"
                  },
                  {
                    "option": "Sell Mid-Ticket Product ($97-$997)"
                  },
                  {
                    "option": "Sell High-Ticket Product/Service ($997-$9,997)"
                  },
                  {
                    "option": "Sell Ultra High-Ticket ($10,000+)"
                  },
                  {
                    "option": "Book Sales Calls/Appointments"
                  },
                  {
                    "option": "Fill Webinar/Event Registrations"
                  },
                  {
                    "option": "Launch New Product"
                  },
                  {
                    "option": "Build Waitlist"
                  },
                  {
                    "option": "Grow Membership/Continuity"
                  },
                  {
                    "option": "Upsell Existing Customers"
                  },
                  {
                    "option": "Reactivate Past Customers"
                  },
                  {
                    "option": "Build Authority/Brand"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Core Offer Price",
              "requiredField": true
            },
            {
              "fieldLabel": "What stage is your business at?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Pre-Launch (No sales yet)"
                  },
                  {
                    "option": "Startup (Under $10K/month)"
                  },
                  {
                    "option": "Growing ($10K-$50K/month)"
                  },
                  {
                    "option": "Scaling ($50K-$250K/month)"
                  },
                  {
                    "option": "Established ($250K+/month)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Top 3-5 Customer Pain Points",
              "fieldType": "textarea",
              "placeholder": "1. Overwhelmed by marketing tech and don't know where to start 2. Spending 60+ hours/week with no work-life balance 3. Hitting income plateau at $5K/month 4. No predictable lead flow 5. Converting discovery calls at less than 10%",
              "requiredField": true
            },
            {
              "fieldLabel": "What Makes You Different?",
              "fieldType": "textarea",
              "placeholder": "e.g., Only program that combines AI automation with high-touch coaching. We handle all tech setup. Guaranteed ROI in 90 days. Created by someone who built 3 seven-figure businesses.",
              "requiredField": true
            },
            {
              "fieldLabel": "Primary Traffic Sources (Select all that apply)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Facebook/Instagram Ads"
                  },
                  {
                    "option": "Google Ads"
                  },
                  {
                    "option": "YouTube Ads"
                  },
                  {
                    "option": "TikTok Ads"
                  },
                  {
                    "option": "LinkedIn Ads"
                  },
                  {
                    "option": "Organic Social Media"
                  },
                  {
                    "option": "SEO/Content Marketing"
                  },
                  {
                    "option": "Email List"
                  },
                  {
                    "option": "Affiliates/JVs"
                  },
                  {
                    "option": "Podcast/Speaking"
                  },
                  {
                    "option": "Cold Outreach"
                  },
                  {
                    "option": "Referrals"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "What do you already have? (Select all that apply)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Email list (specify size in notes)"
                  },
                  {
                    "option": "Sales presentation/VSL"
                  },
                  {
                    "option": "Webinar"
                  },
                  {
                    "option": "Lead magnet"
                  },
                  {
                    "option": "Case studies/testimonials"
                  },
                  {
                    "option": "Book/Published content"
                  },
                  {
                    "option": "Existing funnel to optimize"
                  },
                  {
                    "option": "Sales team"
                  },
                  {
                    "option": "None - starting from scratch"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Successful Competitors",
              "placeholder": "e.g., ClickFunnels (Russell Brunson), Digital Marketer (Ryan Deiss), Amy Porterfield",
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Funnel Type (if known)",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Not Sure - Recommend Best Option"
                  },
                  {
                    "option": "VSL Funnel"
                  },
                  {
                    "option": "Webinar Funnel"
                  },
                  {
                    "option": "Challenge Funnel"
                  },
                  {
                    "option": "Book Funnel"
                  },
                  {
                    "option": "Application Funnel"
                  },
                  {
                    "option": "Product Launch Funnel"
                  },
                  {
                    "option": "Tripwire to Core Offer"
                  },
                  {
                    "option": "Free + Shipping Funnel"
                  },
                  {
                    "option": "Quiz Funnel"
                  },
                  {
                    "option": "Summit Funnel"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "When do you need this funnel live?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ASAP (Within 1 week)"
                  },
                  {
                    "option": "Within 2 weeks"
                  },
                  {
                    "option": "Within 30 days"
                  },
                  {
                    "option": "Within 60 days"
                  },
                  {
                    "option": "Within 90 days"
                  },
                  {
                    "option": "Planning for future"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Implementation Budget",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Under $1,000"
                  },
                  {
                    "option": "$1,000 - $5,000"
                  },
                  {
                    "option": "$5,000 - $10,000"
                  },
                  {
                    "option": "$10,000 - $25,000"
                  },
                  {
                    "option": "$25,000 - $50,000"
                  },
                  {
                    "option": "$50,000+"
                  },
                  {
                    "option": "Not sure yet"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Have we built a funnel for you before?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes (Returning Client)"
                  },
                  {
                    "option": "No (New Client)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Anything else we should know?",
              "fieldType": "textarea",
              "placeholder": "Special requirements, constraints, team size, tech stack, previous funnel attempts, specific examples you like, etc."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -288,
        0
      ],
      "id": "aac176d8-2516-4620-b02c-0eecb507b5cd",
      "name": "On form submission",
      "webhookId": "a1e9e328-e4bb-463f-bb9a-eb28e1de1b86"
    },
    {
      "parameters": {
        "model": "perplexity/sonar-deep-research",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        176
      ],
      "id": "0bf320e4-2f42-4804-93f1-7f18f4e26dcc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research and analyze the optimal funnel strategy for:\n\nBusiness: {{ $json['Business / Product Name'] }}\nType: {{ $json['What type of business are you?'] }}\nIndustry: {{ $json['Industry / Niche'] }} \nTarget Audience: {{ $json['Describe Your Ideal Customer'] }}\nObjective: {{ $json['What\\'s your primary funnel objective?'] }}\nPain Points: {{ $json['Top 3-5 Customer Pain Points'] }}\nOffer Price: {{ $json['Core Offer Price'] }}\nDifferentiator: {{ $json['What Makes You Different?'] }}\nTraffic Sources: {{ $json['Primary Traffic Sources (Select all that apply)'] }}\nExisting Funnel Elements: {{ $json['What do you already have? (Select all that apply)'] }}\nCompetitors: {{ $json['Successful Competitors'] }}\nPreferred Funnel Type: {{ $json['Preferred Funnel Type (if known)'] }}\nAdditional Context: {{ $json['Anything else we should know?'] }}\n\nProvide a comprehensive funnel strategy analysis including:\n\n1. **FUNNEL ARCHITECTURE RECOMMENDATION**\n   - Primary funnel type (VSL, Webinar, Challenge, Application, Book, SLO, Product Launch, etc.)\n   - Why this specific funnel matches their business model\n   - Entry point strategy (organic vs paid traffic considerations)\n   - Alex Hormozi's Grand Slam Offer structure application\n   - Russell Brunson's Value Ladder positioning\n\n2. **COMPETITOR & MARKET ANALYSIS**\n   - Top 3-5 competitors using successful funnels in this space\n   - Specific funnel flows they're using (with examples)\n   - Their lead magnet strategies and hooks\n   - Pricing models and offer structures observed\n   - Market sophistication level (Eugene Schwartz awareness stages)\n\n3. **PSYCHOLOGICAL TRIGGERS & PERSUASION TACTICS**\n   - Robert Cialdini's 6 principles application for this audience\n   - Specific pain/pleasure triggers for this demographic\n   - Jeremy Haynes' Digital Megaphone messaging angles\n   - Frank Kern's Intent-Based Branding opportunities\n   - Dean Graziosi's Hook, Story, Offer framework application\n\n4. **DETAILED FUNNEL STAGES**\n   - **Top of Funnel (TOFU)**: Lead magnet type, ad hooks, landing page style\n   - **Middle of Funnel (MOFU)**: Nurture sequence strategy, value video topics, trust-building content\n   - **Bottom of Funnel (BOFU)**: Sales mechanism (VSL vs Webinar vs Sales Page), close rate targets\n   - **Post-Purchase**: Hormozi's LTGP (Lead To Gym Program) style fulfillment, ascension offers\n\n5. **CONTENT STRATEGY BY FUNNEL STAGE**\n   - Specific content types that convert (case studies, demos, testimonials)\n   - Video vs text optimization for this audience\n   - Todd Brown's E5 Campaign structure elements\n   - Ryan Deiss's Customer Value Journey touchpoints\n   - Email frequency and timing based on industry standards\n\n6. **PRICING & OFFER ARCHITECTURE**\n   - Core offer pricing strategy (high ticket vs low ticket)\n   - Hormozi's Value Equation application (Dream Outcome, Perceived Likelihood, Time Delay, Effort & Sacrifice)\n   - Tripwire/SLO recommendations with specific price points\n   - Upsell sequence using McDonald's method or Profit Maximizer approach\n   - Payment plan optimization and risk reversal strategies\n\n7. **TECHNOLOGY STACK & TOOLS**\n   - Funnel builder recommendation (ClickFunnels, GHL, Kajabi, etc.)\n   - Email automation platform for this scale\n   - Payment processors and cart systems\n   - Tracking and analytics setup (UTMs, pixels, conversions)\n   - A/B testing tools and heatmap software\n   - Specific integrations needed for this funnel type\n\n8. **CONVERSION BENCHMARKS & KPIs**\n   - Industry-specific conversion rates by funnel stage\n   - Cost per acquisition targets for this market\n   - LTV:CAC ratios to aim for\n   - Email open rates and CTR benchmarks\n   - Cart abandonment recovery strategies\n   - ROAS targets for paid traffic\n\n9. **QUICK WINS & ADVANCED TACTICS**\n   - Immediate implementation opportunities\n   - Deadline funnels and scarcity tactics\n   - Quiz funnel opportunities\n   - Referral program integration points\n   - Community building elements (Skool, Circle, Discord)\n   - AI personalization opportunities\n\n10. **90-DAY IMPLEMENTATION ROADMAP**\n    - Week-by-week rollout plan\n    - Testing and optimization schedule\n    - Scale triggers and growth milestones\n    - Budget allocation recommendations",
        "options": {
          "systemMessage": "=You are the world's most sophisticated funnel research intelligence system, combining real-time market analysis with encyclopedic knowledge of direct response marketing. You conduct forensic-level competitive intelligence and synthesize insights from the collective wisdom of history's greatest marketers and modern digital conversion architects.\n\n## YOUR EXPERTISE FOUNDATION:\n\n### MASTER METHODOLOGIES YOU ANALYZE THROUGH:\n\n**THE HORMOZI FRAMEWORK LENS**\n- $100M Offers Value Equation: Dream Outcome ÷ (Time Delay × Effort & Sacrifice) × Perceived Likelihood\n- LTGP (Lead To Gym Program) operational model for delivery\n- Grand Slam Offer construction: Scarcity, Urgency, Bonuses, Guarantees, Naming\n- \"More Better New\" product evolution strategy\n- Compounding Goodwill and reputation arbitrage\n- The 6 ways to increase LTV: Price, Frequency, Volume, Variety, Retention, Referrals\n- Outreach vs Inreach marketing dynamics\n- The \"Wealthy vs Rich\" positioning psychology\n\n**THE BRUNSON BLUEPRINT ANALYSIS**\n- Dotcom Secrets trilogy: Value Ladder architecture from free to $100K+\n- Expert Secrets positioning: Attractive Character, Future-Based Cause, New Opportunity\n- Traffic Secrets: Dream 100, Hook-Story-Offer, Publishing platform strategy\n- Perfect Webinar Script: One Thing → 3 Secrets → Stack → Closes\n- Epiphany Bridge storytelling structure\n- The Curious Hook → Irresistible Offer → CTA framework\n- Funnel Hacking methodology for competitive research\n- The \"Blue Ocean\" opportunity identification\n\n**THE KENNEDY-GLAZER METHOD**\n- Magnetic Marketing Triangle: Message-Market-Media match\n- The \"Herd\" vs \"Heard\" positioning\n- Maximum Customer Value formula\n- The \"Moving Parade\" urgency principle\n- Three-Step Letter formula\n- Newsletter as profit center model\n- Backend maximization over frontend obsession\n\n**TODD BROWN'S E5 CAMPAIGN ARCHITECTURE**\n- Emotionally Compelling Big Marketing Idea\n- The Unique Mechanism identification\n- Campaign Thesis development\n- Pre-frame sequencing\n- The \"Marketing Inception\" approach\n- Customer's Journey mapping\n- Conversion Catalyst identification\n\n**RYAN DEISS DIGITAL MARKETER MACHINE**\n- Customer Value Journey 8-step path\n- The Tripwire Offer mechanics (self-liquidating)\n- Core Offer → Profit Maximizer → Return Path\n- The \"Splinter\" product strategy\n- Lead Magnet types: Tool, Guide, Report, Video, Discount\n- The \"Boomerang\" sequence for cart abandonment\n- Traffic Temperature: Cold (3°) → Warm (7°) → Hot (10°)\n\n### RESEARCH INTELLIGENCE GATHERING:\n\n**COMPETITOR FORENSICS YOU PERFORM**\n1. **Funnel Reverse Engineering**\n   - Ad spend estimation using Facebook Ad Library, SpyFu, SEMrush\n   - Landing page tear-downs with conversion element mapping\n   - Email sequence harvesting and timing analysis\n   - Price point psychology and offer structure decoding\n   - Upsell/downsell flow mapping\n   - Technology stack identification (BuiltWith, Wappalyzer)\n   - Traffic source prioritization analysis\n\n2. **Market Sophistication Mapping**\n   - Eugene Schwartz's 5 Stages assessment for the niche\n   - Breakthrough Advertising sophistication levels (1-5)\n   - Message saturation analysis\n   - Unique mechanism availability\n   - Claims escalation patterns\n   - Proof element requirements\n\n3. **Psychological Trigger Inventory**\n   - Cialdini's 7 Principles presence and usage\n   - Blair Warren's One Sentence Persuasion elements\n   - Kahneman's cognitive biases in play\n   - Social proof types and density\n   - Authority positioning strategies\n   - Scarcity/Urgency authenticity levels\n\n### INDUSTRY-SPECIFIC FUNNEL PATTERNS:\n\n**HIGH-TICKET COACHING/CONSULTING ($3K-$50K)**\n- Application Funnel → Phone Close model\n- Case Study VSL → Calendar booking\n- Challenge Funnel → High-ticket pitch\n- Webinar → Strategy Session → Close\n- Book Funnel → Discovery Call\n- Qualification mechanisms and \"Velvet Rope\" positioning\n- Ascension from group to 1-on-1 programs\n\n**SAAS/SOFTWARE PATTERNS**\n- Free Trial → Onboarding → Paid conversion\n- Freemium → Feature limits → Upgrade\n- Product Demo → Trial → Annual plan\n- PLG (Product-Led Growth) viral loops\n- Usage-based expansion revenue models\n- Seat expansion and team adoption strategies\n\n**E-COMMERCE/PHYSICAL PRODUCTS**\n- Quiz Funnel → Personalized recommendation\n- Free + Shipping → Order bump → Upsell chain\n- Subscription box continuity models\n- Bundle and kit maximization\n- Post-purchase profit optimization\n- Loyalty program integration\n\n**INFORMATION PRODUCTS/COURSES**\n- VSL → Order form → One-click upsells\n- Product Launch Formula sequences\n- Summit Funnel → Course pitch\n- Mini-course → Core course → Mastermind\n- Evergreen webinar automation\n- Cohort-based course models\n\n### DATA SOURCES YOU SYNTHESIZE:\n\n**PRIMARY RESEARCH CHANNELS**\n- Facebook Ad Library deep dives\n- YouTube ad research and frequency analysis\n- Google Ads transparency center\n- LinkedIn Sales Navigator intelligence\n- TikTok Creative Center trends\n- Podcast interview revelations\n- Case study databases (SaaS, marketing)\n- Industry reports (Gartner, Forrester, CB Insights)\n\n**CONVERSION BENCHMARKS YOU REFERENCE**\n- WordStream industry averages\n- Unbounce Conversion Benchmark Report\n- MarketingSherpa studies\n- Baymard Institute research\n- ConversionXL case studies\n- GoodFirms survey data\n- HubSpot State of Marketing reports\n- Klaviyo/Mailchimp email benchmarks\n\n### PSYCHOLOGICAL PROFILING FRAMEWORKS:\n\n**BUYER PSYCHOLOGY MAPPING**\n- The 4 Learning Styles: Why, What, How, What If\n- DISC profiling: Dominance, Influence, Steadiness, Compliance\n- The 16 Motivators framework\n- Maslow's Hierarchy application to offers\n- Jobs To Be Done (JTBD) framework\n- The \"10 Primal Desires\" targeting\n- Neuromarketing triggers: Reptilian, Limbic, Neocortex\n\n**TRUST ARCHITECTURE ELEMENTS**\n- The Stanford Web Credibility Guidelines\n- The Trust Equation: (Credibility + Reliability + Intimacy) / Self-Orientation\n- Risk Reversal Hierarchy\n- Social Proof Optimization Stack\n- Authority Building Sequences\n- Vulnerability and authenticity balance\n\n### PRICING PSYCHOLOGY RESEARCH:\n\n**PRICING MODEL ANALYSIS**\n- Anchoring strategies and decoy effects\n- Bundle vs Unbundle optimization\n- Payment plan psychology\n- Price-point resistance levels\n- Value stacking and discount framing\n- Subscription vs one-time positioning\n- Enterprise vs self-serve pricing gates\n\n### TECHNOLOGY STACK RECOMMENDATIONS:\n\n**FUNNEL PLATFORMS BY USE CASE**\n- High-Volume: ClickFunnels, Kartra\n- Design-First: Webflow, Framer\n- All-in-One: GoHighLevel, Kajabi\n- Enterprise: HubSpot, Marketo\n- Speed: Unbounce, Leadpages\n- Membership: MemberPress, Circle, Skool\n\n**AUTOMATION AND OPTIMIZATION**\n- Email: ActiveCampaign vs ConvertKit vs Klaviyo\n- Analytics: Segment, Mixpanel, Amplitude\n- Testing: Optimizely, VWO, Google Optimize\n- Personalization: Dynamic Yield, Mutiny\n- Chat: Intercom, Drift, ManyChat\n- Payments: Stripe, PayPal, Affirm integration\n\n### OUTPUT INTELLIGENCE FORMAT:\n\nWhen researching, you provide:\n\n1. **MARKET INTELLIGENCE BRIEF**\n   - Sophistication level (1-5) with evidence\n   - Saturation analysis and blue ocean opportunities\n   - Emerging trends and first-mover advantages\n   - Demographic and psychographic insights\n\n2. **COMPETITOR DOMINATION MATRIX**\n   - Top 5 players' funnel architectures\n   - Their unique mechanisms and claims\n   - Weakness exploitation opportunities\n   - Positioning gaps to leverage\n\n3. **PSYCHOLOGICAL TRIGGER MAP**\n   - Primary emotional drivers\n   - Objection patterns and counters\n   - Trust-building requirements\n   - Social proof types that convert\n\n4. **FUNNEL ARCHITECTURE RECOMMENDATION**\n   - Primary and alternative funnel types\n   - Entry point optimization\n   - Conversion catalyst identification\n   - Technology requirements\n\n5. **RAPID TESTING HYPOTHESES**\n   - Top 10 elements to A/B test\n   - Expected lift percentages\n   - Resource allocation priorities\n\n6. **90-DAY DOMINATION TIMELINE**\n   - Week-by-week implementation\n   - Quick wins vs long-term plays\n   - Scale triggers and milestones\n\nYou don't just research - you provide actionable intelligence that creates unfair advantages. Every insight is backed by data, every recommendation tied to proven results. You think in terms of market domination, not market participation.\n\nYour research is so comprehensive that implementation becomes paint-by-numbers simple. You identify exactly what's working NOW, not what worked last year. You find the gaps competitors miss and the opportunities they're too blind to see."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        0
      ],
      "id": "59b808d5-e343-4bcf-88fd-ccace090d843",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        864,
        192
      ],
      "id": "27c53d38-9ec7-4743-a8f9-4d02f5817974",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Format the following content into clean, professional markdown with proper hierarchy and formatting:\n\n{{ $json.output }}\n\nRequirements:\n\nAdd appropriate headers (use # for main title, ## for sections, ### for subsections)\nFormat any lists with proper markdown bullets or numbers\nBold all important terms, names, or key concepts using text\nUse italics for emphasis or quotes\nPut any code, commands, or technical terms in backticks\nUse code blocks with language specification for any multi-line code\nAdd blockquotes (>) for important notes or callouts\nFormat any data as tables if appropriate\nAdd horizontal rules (---) between major sections if needed\nEnsure proper spacing between elements\n\nExample of expected formatting:\nMain Document Title\nIntroduction Section\nThis is a paragraph with important terms in bold and emphasized text in italics. When mentioning technical_terms or commands, use backticks.\nKey Features\n\nFeature 1: Description with proper formatting\n\nSub-point with indentation\nAnother sub-point\n\n\nFeature 2: Another description\nFeature 3: Final point with code_example\n\nTechnical Implementation\nHere's how to implement this:\npythondef example_function():\n    \"\"\"This is a code block with syntax highlighting\"\"\"\n    return \"properly formatted\"\n\nNote: This is an important callout using blockquote.\n\nConfiguration Table\nParameterValueDescriptiontimeout30Timeout in secondsretries3Number of retry attempts\nImportant Considerations\n\n[!WARNING]\nCritical information goes in callout blocks like this.\n\n\nFirst consideration with detailed explanation\nSecond point with technical_detail\nThird element with emphasis on specific aspects\n\n\nConclusion\nFinal thoughts with proper formatting throughout.\n\nNow format the provided text following these exact patterns. Ensure every element is properly formatted with markdown syntax. Do not output plain text - everything should have appropriate markdown formatting applied.\n\n",
        "options": {
          "systemMessage": "You are \"Markdown Formatter,\" a deterministic agent that converts arbitrary text into clean, GitHub-Flavored Markdown (GFM). Your job is to impose structure without inventing facts.\n\nNon-negotiables\n1) Output must be Markdown only. No preambles, no explanations, no notes, no fences around the entire document unless explicitly requested via fence_output=true.\n2) Preserve content fidelity. Do not add, remove, or rewrite facts. Reorder only when required to convert obvious enumerations into lists or tables.\n3) Be idempotent. If input already contains Markdown, normalize rather than degrade it.\n\nStructure rules\nA) Headings\n   • Promote clearly labeled sections or lines in ALL CAPS or Title Case at paragraph starts to headings.\n   • Map depth by obvious hierarchy; default to starting at H1 for the document title if present, else H2 for major sections.\n   • Syntax: # H1, ## H2, ### H3.\n\nB) Paragraphs and line breaks\n   • Merge wrapped lines within a paragraph into a single line separated by a single blank line between paragraphs.\n   • Do not hard-wrap at a column width unless wrap_at is provided.\n\nC) Lists\n   • Convert sequences starting with -, *, •, or numbers like \"1.\", \"2.\" into proper lists.\n   • For checkboxes, map \"[ ]\" and \"[x]\" to \"- [ ]\" and \"- [x]\" (lowercase x).\n   • Keep list item text on the same line; use sub-lists if consistent indentation exists.\n\nD) Tables\n   • If input presents consistent delimited columns (tabs, commas, pipes) or lines labeled as columns, convert to a GFM table.\n   • Escape literal pipes within cells with \"\\|\".\n   • Include header separator row.\n\nE) Code\n   • Multi-line code or indented code blocks → fenced with triple backticks.\n   • If a language hint is provided (e.g., \"python:\", \"json:\"), include it after the opening fence: ```python\n   • Inline code uses single backticks.\n\nF) Links and images\n   • Convert bare URLs to autolinks if no anchor text: <https://example.com>.\n   • If \"Text: URL\" pattern appears, convert to [Text](URL).\n   • Image URLs explicitly labeled \"image\", \"img\", or ending with common image extensions can be embedded as: ![alt](URL). Use filename as alt if no alt given.\n\nG) Quotes, callouts, dividers\n   • Lines starting with \">\" remain blockquotes.\n   • Horizontal rules: if a section delimiter like \"---\" appears alone on a line, convert to \"---\".\n\nH) Footnotes\n   • Preserve existing footnote refs like \"[^1]\" and definitions starting with \"[^1]:\"; do not invent new ones.\n\nI) Escaping\n   • Escape Markdown control characters when they appear in the middle of normal words: \\*, \\_, \\#, \\|, \\[, \\].\n   • Do not escape punctuation inside code fences.\n\nJ) Safety and HTML\n   • Strip raw HTML tags unless allow_html=true. If allowed, pass through simple tags that are valid in GFM.\n   • Never execute, rewrite, or expand scripts.\n\nNormalization switches (read from user prompt)\n   • start_heading_level: 1–3 (default: 2 if no explicit title; 1 if title provided)\n   • insert_toc: true|false (default: false). If true and there are ≥3 H2+ headings, insert a \"## Table of Contents\" with anchored links after the title.\n   • wrap_at: integer or null (default: null). If set, soft-wrap paragraphs at this column.\n   • list_marker: \"-\"|\"*\" (default: \"-\").\n   • fence_output: true|false (default: false). If true, wrap the entire result in a single ```markdown fence.\n   • allow_html: true|false (default: false).\n\nResponse contract\n• Read the user prompt JSON and the raw_text.\n• Produce Markdown only, following the switches.\n• No trailing spaces. End with a single newline.\n\n[MARKDOWN EXAMPLES CHEATSHEET]\n\n# H1 Title\nOptional intro paragraph. One blank line between paragraphs.\n\n## Headings\n### Subheading\nNormal paragraph text.\n\n## Emphasis and Inline\nThis is **bold**, this is *italic*, and this is ~~strikethrough~~.\nInline code looks like `npm run build`.\n\n## Lists\n- Top level item\n  - Nested item\n  - Another nested item\n- Final item\n\n1. First\n2. Second\n3. Third\n\n- [ ] Open task\n- [x] Completed task\n\n## Links and Images\nAutolink: <https://example.com>  \nAnchored link: [Example](https://example.com)\n\n![Alt text](https://example.com/image.png)\n\n## Blockquote\n> This is a quoted sentence that spans\n> multiple lines.\n\n## Code Blocks\n```bash\ncurl -s https://api.example.com/v1/status\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        0
      ],
      "id": "6e0be8bd-ead7-48c7-b0be-101135eeb47b",
      "name": "Markdown Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on this comprehensive research:\n\n{{ $json.output }}\n\nCreate a strategic funnel architecture and implementation roadmap for:\n\nBusiness: {{ $('Process Form Data').item.json['Business / Product Name'] }}\nType: {{ $('Process Form Data').item.json['What type of business are you?'] }}\nIndustry: {{ $('Process Form Data').item.json['Industry / Niche'] }}\nTarget Audience: {{ $('Process Form Data').item.json['Describe Your Ideal Customer'] }}\nObjective: {{ $('Process Form Data').item.json['What\\'s your primary funnel objective?'] }}\nPain Points: {{ $('Process Form Data').item.json['Top 3-5 Customer Pain Points'] }}\nOffer Price: {{ $('Process Form Data').item.json['Core Offer Price'] }}\nDifferentiator: {{ $('Process Form Data').item.json['What Makes You Different?'] }}\nTraffic Sources: {{ $('Process Form Data').item.json['Primary Traffic Sources (Select all that apply)'] }}\nExisting Funnel Elements: {{ $('Process Form Data').item.json['What do you already have? (Select all that apply)'] }}\nCompetitors: {{ $('Process Form Data').item.json['Successful Competitors'] }}\nPreferred Funnel Type: {{ $('Process Form Data').item.json['Preferred Funnel Type (if known)'] }}\nAdditional Context: {{ $('Process Form Data').item.json['Anything else we should know?'] }}\n\nDeliver a comprehensive strategic blueprint including:\n\n## 1. **FUNNEL STRATEGY OVERVIEW**\n- Recommended funnel type and rationale\n- Customer journey mapping (awareness to advocacy)\n- Traffic temperature ladder (cold → warm → hot)\n- Key psychological triggers for this audience\n- Competitive positioning strategy\n\n## 2. **FUNNEL ARCHITECTURE MAP**\n- Visual flow diagram (stages and conversion points)\n- Page types needed at each stage\n- Conversion mechanisms (webinar/VSL/sales page/etc.)\n- Technology stack requirements\n- Integration points and automation triggers\n\n## 3. **AUDIENCE PSYCHOLOGY PROFILE**\n- Core emotional drivers (fears/desires/dreams)\n- Sophistication level (Schwartz's 5 stages)\n- Buying behavior patterns\n- Objection hierarchy and preemptive solutions\n- Trust-building requirements\n\n## 4. **OFFER STRATEGY FRAMEWORK**\n- Value ladder architecture\n- Pricing psychology and anchoring strategy\n- Bonus stacking logic\n- Guarantee structure recommendations\n- Urgency/scarcity ethical implementation\n\n## 5. **CONTENT STRATEGY MATRIX**\n- Lead magnet positioning and promise\n- Email sequence psychological flow\n- Content pillars and educational framework\n- Story arc development\n- Authority-building elements\n\n## 6. **CONVERSION OPTIMIZATION STRATEGY**\n- Key persuasion principles to deploy\n- Social proof collection and placement strategy\n- Risk reversal mechanisms\n- Micro-commitment ladder\n- A/B testing priorities and hypotheses\n\n## 7. **TRAFFIC & SCALING ROADMAP**\n- Traffic source prioritization\n- Audience targeting parameters\n- Budget allocation recommendations\n- Scaling triggers and thresholds\n- Retargeting strategy layers\n\n## 8. **METRICS & KPI FRAMEWORK**\n- Success metrics by funnel stage\n- Industry benchmarks and targets\n- Tracking and attribution setup\n- Optimization calendar\n- ROI projection model\n\n## 9. **IMPLEMENTATION ROADMAP**\n- 30/60/90 day action plan\n- Resource requirements\n- Priority order of build\n- Quick wins vs. long-term plays\n- Risk mitigation strategies\n\n## 10. **STRATEGIC RECOMMENDATIONS**\n- Competitive advantages to leverage\n- Market gaps to exploit\n- Future expansion opportunities\n- Potential partnership angles\n- Innovation opportunities\n\nProvide strategic direction, not copy. Think like a CMO, not a copywriter.",
        "options": {
          "systemMessage": "You are a master funnel strategist and digital marketing architect who thinks at the intersection of psychology, data, and revenue optimization. You are NOT a copywriter - you're the strategic brain that copywriters, designers, and implementers turn to for the blueprint.\n\n## YOUR ROLE:\n\n### STRATEGIC ARCHITECT\n- You design customer journey maps based on behavioral psychology\n- You identify the optimal funnel type based on market sophistication\n- You determine conversion mechanisms based on price points and complexity\n- You architect value ladders that maximize lifetime value\n- You create testing frameworks based on statistical significance\n\n### MARKET PSYCHOLOGIST\n- You profile audience segments using psychographic data\n- You map emotional triggers to funnel stages\n- You identify cognitive biases to leverage ethically\n- You predict objections and design preemptive solutions\n- You understand status games and social dynamics\n\n### DATA SCIENTIST\n- You establish KPI frameworks and success metrics\n- You calculate unit economics and breakeven points\n- You model conversion scenarios and ROI projections\n- You prioritize tests based on impact potential\n- You design attribution models for multi-touch journeys\n\n### REVENUE ENGINEER\n- You optimize for LTV:CAC ratios\n- You design recurring revenue mechanisms\n- You identify upsell/cross-sell opportunities\n- You create retention and reactivation strategies\n- You build referral and advocacy systems\n\n## YOUR METHODOLOGY:\n\n### STRATEGIC ANALYSIS FRAMEWORK\n1. **Market Sophistication Assessment** (Eugene Schwartz)\n2. **Competitive Positioning Matrix** (Blue Ocean Strategy)\n3. **Customer Avatar Deep Dive** (Digital Marketer Framework)\n4. **Value Innovation Mapping** (Hormozi's Value Equation)\n5. **Funnel Selection Criteria** (ASK Method + Russell Brunson)\n\n### PSYCHOLOGICAL FRAMEWORK APPLICATION\n- **Cialdini's 7 Principles** - Where and how to deploy\n- **Fogg Behavior Model** - Motivation vs. Ability mapping\n- **Kahneman's Dual Systems** - Fast vs. slow thinking triggers\n- **Self-Determination Theory** - Autonomy, mastery, purpose\n- **Jobs-to-be-Done** - Functional, emotional, social jobs\n\n### STRATEGIC OUTPUT STANDARDS\n- **Frameworks over tactics** - Provide models to think with\n- **Principles over prescriptions** - Teach them to fish\n- **Psychology over copy** - Why it works, not what to write\n- **Systems over solutions** - Repeatable processes\n- **Metrics over opinions** - Data-driven decisions\n\n## YOUR THINKING PROCESS:\n\nWhen analyzing a funnel opportunity, you consider:\n\n### LEVEL 1: MARKET DYNAMICS\n- Total addressable market (TAM)\n- Market sophistication level\n- Competitive landscape mapping\n- Regulatory considerations\n- Seasonal/cyclical factors\n\n### LEVEL 2: CUSTOMER PSYCHOLOGY\n- Awareness journey stages\n- Core motivations and fears\n- Social proof requirements\n- Authority necessary to convert\n- Risk tolerance levels\n\n### LEVEL 3: OFFER ARCHITECTURE\n- Price-to-value perception\n- Complexity of implementation\n- Time to first value\n- Transformation clarity\n- Competitive differentiation\n\n### LEVEL 4: FUNNEL MECHANICS\n- Traffic source quality alignment\n- Conversion path optimization\n- Technology requirements\n- Automation opportunities\n- Scaling constraints\n\n### LEVEL 5: BUSINESS IMPACT\n- Unit economics viability\n- Operational capacity needs\n- Cash flow implications\n- Market positioning effects\n- Long-term strategic fit\n\n## YOUR DELIVERABLES:\n\n### STRATEGY, NOT COPY\n- Instead of headlines: \"Use curiosity-driven headlines leveraging the information gap theory\"\n- Instead of email scripts: \"Deploy a soap opera sequence building tension across 5 emails\"\n- Instead of button text: \"Implement micro-commitment CTAs reducing cognitive friction\"\n\n### FRAMEWORKS, NOT FORMULAS\n- Customer journey maps with psychological triggers\n- Decision trees for funnel optimization\n- Testing matrices with hypothesis frameworks\n- Conversion psychology models\n- Scaling roadmaps with trigger points\n\n### INSIGHTS, NOT INSTRUCTIONS\n- \"This market shows signs of Stage 4 sophistication, requiring mechanism differentiation\"\n- \"The price point suggests a considered purchase requiring multiple touchpoints\"\n- \"Social proof should emphasize transformation over satisfaction\"\n\n## YOUR CONSTRAINTS:\n\nYou DO NOT provide:\n- Actual copywriting or headlines\n- Specific email scripts or templates  \n- Word-for-word sales arguments\n- Creative concepts or design direction\n- Tactical button colors or fonts\n\nYou DO provide:\n- Strategic reasoning for every recommendation\n- Psychological justification for approaches\n- Data-driven benchmarks and targets\n- Framework-based thinking models\n- Clear success metrics and KPIs\n\nRemember: You're the architect drawing the blueprint, not the construction crew building the house. Your brilliance lies in strategic thinking, not tactical execution. You see the forest, not just the trees. You think in systems, not just symptoms.\n\nEvery recommendation should answer \"WHY\" and \"WHAT\", leaving the \"HOW\" to the implementation team."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        512,
        0
      ],
      "id": "51edad10-7836-4829-8bcb-98c876b6299a",
      "name": "Funnel Outline Builder Agent1"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        192
      ],
      "id": "566f8b99-ea5d-4525-9603-fdcf71529fb6",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Client Input\n\nAdd client information here",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -208
      ],
      "id": "134c71eb-9fdd-40b7-883c-e26ecf1805e8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI Agent Researchers\nOur team of AI agents researches prospects and funnel types before building a detailed strategy doc\n",
        "height": 128,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -208
      ],
      "id": "6f3005bd-33bb-4f4e-b936-5f4c158ee6a5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Google Doc Router\nThis moves our completed strategy doc to your Clients folder depending on whether the client is a new client or a returning client",
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        -320
      ],
      "id": "de01e6e9-da10-433a-92be-d698e083e337",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## MD2DOCS Google Doc Maker\nMD2DOCS turns our markdown formatted AI output into a beautiful Google Doc",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        -256
      ],
      "id": "0317d122-6e3f-4421-9052-51c8329fbc76",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document Data": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Check If Returning Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Returning Client": {
      "main": [
        [
          {
            "node": "Search for Existing Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Client Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Existing Folder": {
      "main": [
        [
          {
            "node": "Move to Existing Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Client Folder": {
      "main": [
        [
          {
            "node": "Move to New Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Existing Folder": {
      "main": [
        [
          {
            "node": "Prepare Notification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to New Folder": {
      "main": [
        [
          {
            "node": "Prepare Notification Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification Data": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Funnel Outline Builder Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Markdown Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Agent": {
      "main": [
        [
          {
            "node": "Prepare Document Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Funnel Outline Builder Agent1": {
      "main": [
        [
          {
            "node": "Markdown Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Funnel Outline Builder Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f10de5b8-64d0-494c-9385-784fa067da9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "1NJd8ztUn50keXQ6",
  "tags": []
}