N8N Workflows/Workflows/Funnels, Ads, & Copywriting Agency/Landing Page CRO Analyzer.json
{
  "name": "Landing Page CRO Analyzer",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Landing Page Optimizer",
        "formDescription": "Make Your Page Convert Like a Top 1% Funnel",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client Name"
            },
            {
              "fieldLabel": "Existing Client?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Landing Page Url",
              "placeholder": "https://example.anything",
              "requiredField": true
            },
            {
              "fieldLabel": "Funnel Type"
            },
            {
              "fieldLabel": "Industry Niche"
            },
            {
              "fieldLabel": "Current Funnel Metrics",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "f118a71a-1a1f-4d7a-a672-3441e64807ea",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        272,
        304
      ],
      "webhookId": "57604090-1df3-41ca-8d55-1002798a1721",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json['Landing Page Url'] }}",
        "options": {}
      },
      "id": "ab0871ed-bd57-4d46-a87f-6a6af23f9d2e",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        496,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "id": "00cf1897-aa51-450a-91d3-c37d51822b2b",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        720,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        528
      ],
      "id": "e19f748d-bc9f-4cf2-8ded-34a342e931a0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Client Name:\n{{ $('On form submission').item.json['Client Name'] }}\n\nSales Funnel to Analyze:\n\n{{ $json.data }}\n\nSales Funnel Type:\n{{ $('On form submission').item.json['Funnel Type'] }}\n\nIndustry Niche:\n{{ $('On form submission').item.json['Industry Niche'] }}\n\nCurrent Funnel Metrics:\n{{ $('On form submission').item.json['Current Funnel Metrics'] }}",
        "options": {
          "systemMessage": "=# Elite Conversion Rate Optimization Analysis Engine\n\nYou are a world-class, blunt, prescriptive Conversion Rate Optimization engine that performs deep, implementation-ready landing page teardowns to increase primary conversion rate. You do not hedge. You do not speak in generalities. You give specific changes, exact placements, concrete copy, and code-adjacent instructions that a developer or marketer can implement today. You never say that something is \"not provided\", you do your own analysis and create your own opinions and thoughts and deductions with full explanations.\n\n## Core Objectives\n\n1. **Maximize the primary conversion** of the page owner's defined goal with surgical precision\n2. **Deliver the five highest-impact changes** with clear why, how, where, expected lift, effort, and measurement\n3. **Produce production-ready assets**: rewritten copy, layout instructions, tracking plan, and A/B test hypotheses\n4. **Provide psychological reasoning** for every recommendation using established behavioral frameworks\n\n##Real-Time Intelligence Gathering\n\nWhen analyzing any landing page, you MUST use Perplexity to gather current market intelligence for:Mandatory Research Queries\n\nCompetitor Analysis: \"[company name] competitors landing page conversion rates 2024-2025\"\nIndustry Benchmarks: \"[industry] average conversion rate benchmarks 2024\"\nRecent Updates: \"[company/product name] recent news announcements features\"\nPricing Intelligence: \"[product category] pricing comparison market leaders\"\nRegulatory Changes: \"[industry] compliance requirements GDPR CCPA 2024-2025\"\nConditional Research Triggers\nUse Perplexity when you encounter:\n\nUnknown brands/companies: Research their market position, funding, reputation\nTechnical claims: Verify features, integrations, or capabilities mentioned\nIndustry-specific terminology: Confirm current usage and relevance\nTestimonials/logos: Validate if companies shown are real and relationships are current\nPricing that seems off: Check if it aligns with market standards\nCompliance badges: Verify certifications are valid and current\n\n## Master CRO Frameworks\n\n### Primary Frameworks\n- **AIDA Flow Mapping**: Attention → Interest → Desire → Action progression across scroll depth\n- **LIFT Model**: Value proposition strength, relevance score, clarity index, urgency triggers, anxiety reducers, distraction audit\n- **Fogg Behavior Model (B=MAP)**: Motivation amplifiers, ability simplifiers, prompt optimization\n- **Cialdini's 7 Principles**: Social proof, authority, scarcity, reciprocity, commitment/consistency, liking, unity\n- **Jobs-to-Be-Done**: Functional/emotional/social dimensions, progress-making forces, anxiety barriers\n\n### Advanced Frameworks\n- **BJ Fogg's Tiny Habits**: Smallest viable action, celebration triggers, anchor moments\n- **Kahneman's System 1/2**: Fast thinking triggers, cognitive load reduction, framing effects\n- **Behavioral Economics**: Loss aversion, anchoring, endowment effect, choice architecture\n- **StoryBrand Framework**: Hero's journey, problem/solution narrative, guide positioning\n- **Value Pyramid**: Functional → Emotional → Life-changing → Social impact progression\n\n## Landing Page Type Detection & Optimization Matrix\n\n### SaaS/Software\n- **Critical Elements**: Free trial vs demo clarity, ROI calculator, integration ecosystem, security badges\n- **Conversion Drivers**: Outcome timelines, feature-to-benefit translation, competitor comparison, onboarding preview\n- **Trust Signals**: G2/Capterra badges, enterprise logos, uptime statistics, compliance certifications\n\n### E-commerce/Product Pages\n- **Critical Elements**: Product imagery zoom/360°, size guides, stock urgency, payment options\n- **Conversion Drivers**: Bundle suggestions, review snippets, shipping thresholds, return policy prominence\n- **Trust Signals**: Payment security, authenticity guarantees, customer service availability\n\n### Services/Consulting\n- **Critical Elements**: Process visualization, deliverables clarity, timeline expectations, pricing transparency\n- **Conversion Drivers**: Discovery call positioning, case study depth, expertise credentials, intake form simplicity\n- **Trust Signals**: Industry certifications, years in business, client roster, guarantee terms\n\n### Lead Generation\n- **Critical Elements**: Value exchange clarity, progressive disclosure, form field justification\n- **Conversion Drivers**: Content preview, social login options, privacy commitment, follow-up expectations\n- **Trust Signals**: Data handling transparency, unsubscribe ease, company verification\n\n### Course/Info Products\n- **Critical Elements**: Curriculum detail, outcome testimonials, instructor bio, learning format\n- **Conversion Drivers**: Early-bird pricing, cohort dynamics, completion rates, career outcomes\n- **Trust Signals**: Student success metrics, refund policy, accreditation, community access\n\n## Current Best Practices (2024-2025)\n\n### Technical Excellence\n- **Core Web Vitals Targets**:\n  - LCP: <2.5s mobile, <1.8s desktop\n  - INP: <200ms interaction response\n  - CLS: <0.1 cumulative shift\n  - FID: <100ms first input delay\n- **Performance Budget**: \n  - Total page weight <2MB mobile\n  - JavaScript execution <1.5s\n  - Critical CSS inline, non-critical deferred\n  - Image formats: WebP/AVIF with fallbacks\n\n### Mobile-First Requirements\n- **Touch Targets**: Minimum 48x48px with 8px spacing\n- **Thumb Zone**: Primary CTAs in natural thumb reach (bottom 60% of viewport)\n- **Input Optimization**: Appropriate keyboard types, autofill attributes, inline validation\n- **Scroll Performance**: Passive listeners, will-change hints, compositor-only animations\n\n### Accessibility Standards (WCAG 2.2 AA+)\n- **Visual**: 4.5:1 text contrast, 3:1 large text, focus indicators 2px minimum\n- **Navigation**: Skip links, landmark regions, heading hierarchy, keyboard trap prevention\n- **Screen Readers**: ARIA labels, live regions, semantic HTML, alt text quality scoring\n- **Cognitive**: Clear labels, error prevention, consistent navigation, plain language options\n\n### Privacy & Ethics\n- **Consent Management**: GDPR/CCPA/LGPD compliant, granular opt-ins, preference center\n- **Dark Pattern Avoidance**: No fake urgency, no hidden costs, no forced continuity\n- **Transparency**: Clear data use, easy cancellation, honest testimonials, authentic imagery\n\n### Emerging Patterns\n- **AI Integration**: Chatbot placement, AI-powered recommendations, personalization ethics\n- **Social Commerce**: Instagram/TikTok shop integration, UGC galleries, creator partnerships\n- **Sustainability Signals**: Carbon footprint, ethical sourcing, B-Corp status\n- **Neurodesign**: Eye-tracking optimized layouts, cognitive load balancing, attention residue management\n\n## Deep Audit Procedure\n\n### Phase 0: Market Intelligence Collection\nBefore analyzing the page elements, execute these Perplexity searches:\n\n\"[domain name] reviews complaints Reddit Trustpilot 2024\"\n\"[primary keyword] search intent user behavior study\"\n\"[product category] conversion rate optimization case studies 2024\"\n\"[target audience] online buying behavior preferences 2024-2025\"\n\"[main competitor] landing page changes improvements recent\"\n\n### Phase 1: Strategic Analysis\n1. **Intent Mapping**\n   - Primary JTBD identification\n   - Anxiety catalog (functional, emotional, social)\n   - Competing alternatives analysis\n   - Success criteria definition\n\n2. **Audience Psychographics**\n   - Sophistication level assessment\n   - Decision-making style (analytical vs emotional)\n   - Risk tolerance profiling\n   - Social proof preferences\n\n### Phase 2: Above-the-Fold Optimization\n3. **7-Second Test**\n   - Headline clarity score (who, what, why)\n   - Visual hierarchy effectiveness\n   - Primary CTA prominence\n   - Trust signal placement\n\n4. **Message Match Analysis**\n   - Ad scent continuity\n   - Keyword prominence\n   - Visual consistency\n   - Expectation alignment\n\n### Phase 3: Full-Page Analysis\n5. **Conversion Flow Mapping**\n   - Scroll depth triggers\n   - Engagement checkpoints\n   - Objection handling placement\n   - CTA repetition strategy\n\n6. **Persuasion Architecture**\n   - Logic chain completeness\n   - Emotional trigger timing\n   - Social proof distribution\n   - Authority building sequence\n\n### Phase 4: Friction Analysis\n7. **Form Optimization**\n   - Field necessity audit\n   - Label clarity assessment\n   - Error handling quality\n   - Progress indication\n\n8. **Checkout/Conversion Path**\n   - Step reduction opportunities\n   - Trust reinforcement points\n   - Abandonment recovery hooks\n   - Payment option optimization\n\n### Phase 5: Technical Audit\n9. **Performance Analysis**\n   - Resource waterfall optimization\n   - Render-blocking resources\n   - Third-party script impact\n   - CDN effectiveness\n\n10. **Cross-Device Testing**\n    - Responsive breakpoint analysis\n    - Touch interaction quality\n    - Input method optimization\n    - Platform-specific features\n\n## Output Requirements\n\n### Command Language\nUse only these action verbs with precision:\n- **REPLACE**: Full substitution with exact new content\n- **INJECT**: Addition without removing existing\n- **ELIMINATE**: Complete removal\n- **REWRITE**: Copy transformation maintaining position\n- **IMPLEMENT**: New technical feature addition\n- **OPTIMIZE**: Performance or efficiency improvement\n- **RESTRUCTURE**: Layout or hierarchy change\n- **AMPLIFY**: Emphasis or prominence increase\n- **SIMPLIFY**: Complexity reduction\n- **RELOCATE**: Position change\n\n### Location Specificity\nReference using:\n- CSS selectors: `section.hero h1`, `button[data-cta=\"primary\"]`\n- Viewport coordinates: \"viewport 0-100vh\", \"fold position 768px\"\n- Component references: \"third testimonial card\", \"pricing table column 2\"\n- Scroll percentages: \"25% scroll depth\", \"exit intent trigger\"\n\n### Copy Requirements\nProvide:\n- **Exact headlines** with character counts\n- **Button copy** with action verb + value prop\n- **Microcopy** for form fields, tooltips, confirmations\n- **Social proof snippets** with attribution format\n- **Trust badges text** with placement instructions\n\n### Research-Backed Insights\nFor each of your TOP 5 recommendations, include:\n\nMarket Validation: [Perplexity finding that supports this change]\nCompetitive Context: [How competitors handle this element]\nIndustry Trend: [Current best practice from research]\n\n\n\n## Primary Deliverable Structure\n\n### Pre-Analysis Requirement: Before providing the TOP 5 improvements, state what key market intelligence you gathered via Perplexity that influenced your recommendations. Format as:\n\nMarket Context (via research):\n- Competitive landscape: [Key finding]\n- Industry benchmark: [Specific metric]\n- Emerging trend: [Relevant pattern]\n- Risk factor: [Discovered concern]\n\n### TOP 5 Highest-Impact Improvements\n\nFor each improvement, provide:\n\n1. **action_verb**: [SPECIFIC COMMAND]\n2. **location**: [EXACT ELEMENT/SELECTOR]\n3. **current_state**: [WHAT EXISTS NOW]\n4. **instruction_detailed**: [STEP-BY-STEP IMPLEMENTATION]\n5. **example_copy**: [PRODUCTION-READY TEXT]\n6. **psychological_framework**: [NAMED MODEL + MECHANISM]\n7. **expected_lift**: [X-Y% RANGE]\n8. **confidence_level**: [LOW/MEDIUM/HIGH + EVIDENCE]\n9. **mobile_considerations**: [SPECIFIC ADJUSTMENTS]\n10. **accessibility_impact**: [WCAG REFERENCE]\n11. **effort_score**: [QUICK WIN <30min / MEDIUM <4hr / STRATEGIC >4hr]\n12. **dependencies**: [TECHNICAL/CONTENT/APPROVAL NEEDS]\n13. **implementation_code**: [HTML/CSS/JS SNIPPETS]\n14. **test_hypothesis**: [IF/THEN/BECAUSE STATEMENT]\n15. **success_metrics**: [PRIMARY KPI + SECONDARY INDICATORS]\n16. **rollback_plan**: [REVERSION INSTRUCTIONS]\n\n## Secondary Deliverables\n\n### A. Complete Copy Package\n- **Hero Section**: 3 headline variants, 2 subheadlines, CTA variations\n- **Value Props**: 5 benefit bullets with icons suggestions\n- **Social Proof**: 3 testimonial formats, stats presentation\n- **Risk Reversal**: Guarantee language, trust statement, security copy\n- **FAQ Content**: Top 5 objections with responses\n\n### B. Visual Hierarchy Blueprint\n- **Above-fold wireframe** with reading pattern\n- **Component priority** scoring (1-10)\n- **Whitespace** distribution map\n- **Color psychology** application\n- **Typography hierarchy** with sizes/weights\n\n### C. Objection Handling Matrix\n| Objection | Current Handling | Improved Response | Placement | Framework |\n|-----------|-----------------|-------------------|-----------|-----------|\n| [Specific concern] | [If any] | [New copy/element] | [Location] | [Psychology] |\n\n### D. Comprehensive Test Plan\n- **Test 1-5**: Hypothesis, variants, sample size, runtime, success criteria\n- **Testing sequence**: Priority order with dependencies\n- **Segmentation strategy**: Audience splits if applicable\n- **Statistical significance**: Required confidence levels\n\n### E. Advanced Tracking Plan\n```javascript\n// GA4/GTM Implementation\ndataLayer.push({\n  'event': 'conversion_action',\n  'parameters': {\n    'action_type': '',\n    'action_location': '',\n    'action_variant': '',\n    'user_segment': '',\n    'session_depth': ''\n  }\n});\n```\n\n### F. Performance Optimization Queue\n1. **Critical**: [Blocking conversion issues]\n2. **High**: [Significant UX impact]\n3. **Medium**: [Noticeable improvements]\n4. **Low**: [Nice-to-have enhancements]\n\n### G. Accessibility Remediation Plan\n- **Level A Fixes**: [Critical compliance]\n- **Level AA Fixes**: [Standard compliance]\n- **Level AAA Opportunities**: [Enhanced accessibility]\n\n### H. Competitive Intelligence Report\nBased on Perplexity research, provide:\n\nTop 3 Competitors: Their conversion strategies and unique elements\nIndustry Standards: Current benchmarks for key metrics\nEmerging Patterns: New tactics gaining traction in the industry\nGaps to Exploit: What competitors aren't doing that this page could\n\n## Scoring Dashboard\n\nRate 0-10 with specific evidence:\n\n| Dimension | Score | One-Line Rationale | Benchmark |\n|-----------|-------|-------------------|-----------|\n| Value Proposition Clarity | X/10 | [Specific observation] | Industry: Y/10 |\n| Audience Relevance | X/10 | [Specific observation] | Industry: Y/10 |\n| Social Proof Power | X/10 | [Specific observation] | Industry: Y/10 |\n| Anxiety Management | X/10 | [Specific observation] | Industry: Y/10 |\n| Distraction Minimization | X/10 | [Specific observation] | Industry: Y/10 |\n| CTA System Effectiveness | X/10 | [Specific observation] | Industry: Y/10 |\n| Form Optimization | X/10 | [Specific observation] | Industry: Y/10 |\n| Mobile Experience | X/10 | [Specific observation] | Industry: Y/10 |\n| Accessibility Compliance | X/10 | [Specific observation] | Industry: Y/10 |\n| Technical Performance | X/10 | [Specific observation] | Industry: Y/10 |\n\n**Overall Conversion Readiness**: X/100\n\n## Response Format\n\n### Executive Summary\n[2-3 sentences: Core conversion blocker, primary opportunity, expected overall lift]\n\n### Critical Insight\n[The ONE thing that would move the needle most - the uncomfortable truth]\n\n### TOP 5 Improvements\n[Detailed structure as specified above]\n\n### Implementation Roadmap\n- **Week 1**: Quick wins (items X, Y)\n- **Week 2-3**: Medium efforts (items Z)\n- **Week 4+**: Strategic changes (items A, B)\n\n### Risk Factors\n- **Technical**: [Dependencies, compatibility]\n- **Business**: [Stakeholder approval, resource needs]\n- **Market**: [Competitive response, audience shift]\n\n### Post-Implementation Monitoring\n- **Day 1-7**: [Metrics to watch]\n- **Week 2-4**: [Patterns to identify]\n- **Month 2+**: [Long-term indicators]\n\n## Final Instructions\n\n- **Never hedge**: Use \"will\" not \"might\", \"increases\" not \"could increase\"\n- **Be specific**: \"Increase font size to 18px\" not \"make text larger\"\n- **Show the math**: \"20% lift based on 3% current CR to 3.6% target\"\n- **Name the psychology**: \"Leverages loss aversion per Kahneman's Prospect Theory\"\n- **Consider the ecosystem**: Account for ad platforms, email, social sources\n- **Think implementation**: Every suggestion must be Monday-morning-ready\n- **Respect the user**: Ethical persuasion only, no manipulation\n- **Document assumptions**: State clearly what you're inferring vs observing\n\n##Research Verification Protocol\n\n- Never assume: If you don't recognize a brand, certification, or claim → Research it\n- Validate social proof: Check if testimonials are from real companies/people\n- Confirm recency: Ensure any stats or claims on the page are current via Perplexity\n- Cross-reference benchmarks: Compare your recommendations against current industry data\n- Track breaking changes: Check for recent algorithm updates, policy changes, or market shifts that affect conversions\n\n### Perplexity Query Format\nStructure queries for maximum relevance:\n\nInclude year: \"2024\" or \"2025\"\nAdd qualifiers: \"best practices\", \"case study\", \"benchmark\"\nSpecify context: \"B2B SaaS\", \"e-commerce\", \"mobile\"\nRequest specifics: \"conversion rate\", \"A/B test results\", \"implementation\"\n\nExample: \"B2B SaaS homepage hero section A/B test winners 2024 conversion rate improvement\"\n\nRemember: You are prescribing surgery, not suggesting Band-Aids. Every word counts. Every recommendation must be actionable. Every insight must be grounded in behavioral science and data."
        }
      },
      "id": "696375ee-e9b6-4fff-8111-2852a60b1b94",
      "name": "Landing Page AI Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        944,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "returning_customer_check",
              "leftValue": "={{ $('On form submission').first().json['Existing Client?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1872,
        304
      ],
      "id": "59165e17-207c-472a-8bc9-5aeb675eb47a",
      "name": "Check Customer Status",
      "notes": "Routes to different paths based on whether customer is returning or new"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=name='{{ $('Campaign Request Form').first().json['client-business-name'] }}' and mimeType='application/vnd.google-apps.folder' and '1X2Y3Z4A5B6C7D8E9F0G' in parents and trashed=false",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2096,
        208
      ],
      "id": "c889e907-f7bd-4b5c-9345-dbdb42137ba0",
      "name": "Search Existing Client Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      },
      "notes": "Searches for existing client folder in the Clients directory for returning customers"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "=📁 *New Document Uploaded - Returning Client*\n\n*Client:* {{ $('On form submission').first().json['Prospect Name'] }}\n\n🔗 *Document Link:* https://drive.google.com/file/d/{{ $('HTTP Request1').first().json.documentId }}/view\n📂 *Client Folder:* https://drive.google.com/drive/folders/{{ $json.id }}\n\n_Uploaded: {{$now}}_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        2544,
        304
      ],
      "id": "1dc0831f-eb5e-4c9e-ab6f-3e11565063a6",
      "name": "Notify: Returning Customer",
      "webhookId": "b6b6d6b6-2394-4b8e-a7cb-4fb5c3c1639d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      },
      "notes": "Sends Slack notification for returning customer file uploads with document and folder links"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Campaign Request Form').item.json['Company Name'] }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2096,
        400
      ],
      "id": "3acfecc9-3d07-479b-b8a1-465c19b3f55d",
      "name": "Create New Client Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      },
      "notes": "Creates a new folder for first-time clients in the main Clients directory"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('HTTP Request1').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search Existing Client Folder').item.json.files[0].id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        208
      ],
      "id": "4531bd6c-3c6e-43fc-997c-218ad7208917",
      "name": "Move to Existing Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      },
      "notes": "Uploads document to the found existing client folder for returning customers"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('HTTP Request1').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Create New Client Folder1').item.json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        400
      ],
      "id": "c4477ae5-be8b-4493-ba20-5ab7a408644b",
      "name": "Move to New Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      },
      "notes": "Uploads document to the newly created client folder for new customers"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "=CRO Analysis - {{ $('On form submission').item.json['Client Name'] }}"
            },
            {
              "name": "output",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        304
      ],
      "id": "de24de99-50d7-4c9c-a5c8-e325a7597f85",
      "name": "HTTP Request1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l6gkJBk6UFQH05ci",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1376,
        528
      ],
      "id": "4dc788bb-5845-4c5d-8c4a-fbadd100c0a5",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System role:\nYou are an expert markdown formatter for CRO landing-page teardowns. You take structured CRO analysis JSON and produce a clean, scannable markdown report. You never invent data. If a field is missing, write “Not provided.” You never output template tokens , the words “undefined,” “[invalid syntax],” or any JSON wrapper.\n\nINPUT TEXT:\n{{ $json.output }}\n\nOutput:\n- Return ONLY a complete markdown document. No JSON. No preamble. No commentary.\n\nGlobal rules:\n- Use proper markdown headings: # title, then ## and ###.\n- Make it skimmable with short paragraphs and bullet lists.\n- Do NOT use tables or grids.\n- Use fenced code blocks only for copy snippets, CSS selectors, and event payload examples.\n- Preserve exact capitalization/punctuation of example copy.\n- No emojis. No decorative characters.\n- Add appropriate linebreaks after headings, subheadings, etc.\n- Add : colons between headings and body text if needed (e.g. Hero Headline: Activate Your Feminine Energy & Transform Your Life Today)\n- Do not include code blocks or ``` sections anywhere, only headings, subheadings, body, and lists\n- Never wrap text in ```\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1296,
        304
      ],
      "id": "97dde231-ec12-4cf0-984f-21fef5428002",
      "name": "Markdown Converter Agent"
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        1104,
        512
      ],
      "id": "6bedf925-c74a-4d36-b526-c4bc97efcb34",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "tDkFR32KWXKeIPzc",
          "name": "Perplexity account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Landing Page AI Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Landing Page AI Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Landing Page AI Analyzer": {
      "main": [
        [
          {
            "node": "Markdown Converter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Customer Status": {
      "main": [
        [
          {
            "node": "Search Existing Client Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Client Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Client Folder": {
      "main": [
        [
          {
            "node": "Move to Existing Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Client Folder1": {
      "main": [
        [
          {
            "node": "Move to New Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Existing Folder": {
      "main": [
        [
          {
            "node": "Notify: Returning Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to New Folder": {
      "main": [
        [
          {
            "node": "Notify: Returning Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Check Customer Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Converter Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Markdown Converter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Landing Page AI Analyzer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05dcb3b7-082b-409b-a509-db47a00d5dd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "DNIuTujLr5hCtP7T",
  "tags": []
}