N8N Workflows/Workflows/Funnels, Ads, & Copywriting Agency/Social Media Pain Point Scraper & Ad Script Generator.json
{
  "name": "Reddit to Ad Scripts",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topic-assignment",
              "name": "researchTopic",
              "type": "string",
              "value": "={{ $json['Research Topic/Product Name'] }}"
            },
            {
              "id": "description-assignment",
              "name": "productDescription",
              "type": "string",
              "value": "={{ $json['Business/Product Description'] }}"
            },
            {
              "id": "audience-assignment",
              "name": "targetAudience",
              "type": "string",
              "value": "={{ $json['Target Audience'] || 'General Business Audience' }}"
            },
            {
              "id": "source-type-assignment",
              "name": "sourceType",
              "type": "string",
              "value": "={{ $json['Content Source Type'] }}"
            },
            {
              "id": "4762ddbd-a20d-4d22-b3e0-79fff477df10",
              "name": "sourceUrl",
              "value": "={{ $json['Drop the URL here'] }}",
              "type": "string"
            },
            {
              "id": "c52aaea5-02a1-49bb-bc59-db95d0d91cac",
              "name": "clientName",
              "value": "={{ $json['Client Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0af115bd-c72a-44c8-889d-a84c98c0d385",
      "name": "🔗 Enter Forum URL",
      "type": "n8n-nodes-base.set",
      "position": [
        -1616,
        -64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "openai/o3-pro",
        "options": {
          "maxRetries": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1168,
        160
      ],
      "id": "85663c61-161c-4293-91f0-c5ce542f36bd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -312,
        160
      ],
      "id": "9844e1f6-e121-4c05-a621-5e684b630cc5",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "F2bxdgI0D7lWN1nq",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MISSION: Evaluate the business opportunity potential of this extracted Reddit content.\n\nINPUT DATA:\n{{ JSON.stringify($json, null, 2) }}\n\nMULTI-STAGE ANALYSIS PROTOCOL:\n\nSTAGE 1: PROBLEM VALIDATION\nAssess the following indicators:\n1. FREQUENCY SIGNALS\n   - How often is this problem mentioned? (raw count)\n   - Is it a recurring theme or isolated incident?\n   - Temporal patterns (getting worse/better over time?)\n\n2. SEVERITY MARKERS\n   - Emotional intensity (frustration level 1-10)\n   - Impact on daily life/business operations\n   - Failed solution attempts mentioned\n   - Time/money already wasted on problem\n\n3. URGENCY INDICATORS\n   - \"Need this NOW\" language\n   - Deadline mentions\n   - Consequence severity if unsolved\n   - Active searching behavior\n\nSTAGE 2: MARKET QUALIFICATION\n4. TARGET MARKET CLARITY\n   - Can you identify specific demographics?\n   - B2B or B2C opportunity?\n   - Market size indicators (niche/mass market)\n   - Geographic constraints\n\n5. BUYING POWER SIGNALS\n   - Price points mentioned (anchoring)\n   - Competitor product costs referenced\n   - \"Would pay $X for solution\"\n   - Budget allocation discussions\n   - Previous purchase behavior\n\n6. SOLUTION READINESS\n   - Active solution seeking (\"looking for\", \"need recommendations\")\n   - Comparison shopping behavior\n   - Feature wishlist specificity\n   - Dissatisfaction with current solutions\n\nSTAGE 3: COMPETITIVE LANDSCAPE\n7. MARKET GAPS\n   - Unmet needs in existing solutions\n   - \"Nothing works for...\" statements\n   - Specific feature requests\n   - Switching friction points\n\n8. DEFENSIBILITY POTENTIAL\n   - Technical complexity required\n   - Network effects possible\n   - Regulatory barriers\n   - Brand loyalty factors\n\nSTAGE 4: MONETIZATION VIABILITY\n9. REVENUE MODEL INDICATORS\n   - One-time vs recurring need\n   - Individual vs enterprise opportunity\n   - Direct sale vs marketplace potential\n   - Service vs product solution\n\n10. UNIT ECONOMICS HINTS\n    - Customer acquisition cost indicators\n    - Lifetime value potential\n    - Margin expectations\n    - Scale requirements\n\nSCORING RUBRIC:\n\nQUALIFIED (Score 8-10):\n- Clear, severe pain point (severity ≥7)\n- Definable target market (≥1000 potential customers)\n- Evidence of current spending or strong willingness to pay\n- Feasible solution path\n- Competitive advantage opportunity\n\nCONDITIONAL (Score 5-7):\n- Moderate pain point (severity 5-7)\n- Market exists but unclear size\n- Some payment indicators but not strong\n- Solution complexity uncertain\n- Needs more validation\n\nUNQUALIFIED (Score 0-4):\n- Minor inconvenience (severity <5)\n- No clear market or too niche\n- No payment willingness indicators\n- Existing solutions adequate\n- \"Vitamin\" not \"painkiller\"\n\nRED FLAGS (Automatic Disqualification):\n- Illegal or unethical solutions required\n- Regulatory impossibility\n- Zero monetization path\n- Pure venting without action intent\n- Market too small (<100 potential customers)\n\nOUTPUT FORMAT:\n\n[QUALIFIED|CONDITIONAL|UNQUALIFIED]\n\nSCORE: X/10\n\nEXECUTIVE SUMMARY: (2-3 sentences)\n[Clear statement of opportunity or lack thereof]\n\nBREAKDOWN:\n- Problem Severity: X/10\n- Market Size: [Micro/Niche/Small/Medium/Large]\n- Payment Signals: [Strong/Moderate/Weak/None]\n- Competition Gap: [Clear/Partial/None]\n- Feasibility: [High/Medium/Low]\n\nKEY EVIDENCE:\n- Quote 1: \"[Most compelling evidence]\"\n- Quote 2: \"[Supporting evidence]\"\n- Data Point: [Specific metric/number if available]\n\nBUSINESS MODEL HYPOTHESIS:\n[If QUALIFIED: Suggested approach to monetize]\n[If CONDITIONAL: What additional validation needed]\n[If UNQUALIFIED: Why this isn't viable]\n\nNEXT STEPS:\n[Specific action items based on qualification status]\n\nCONFIDENCE LEVEL: [High/Medium/Low]\n[Explanation of confidence factors]\n\nVALIDATION NOTES:\n- Sample size: [Number of posts/comments analyzed]\n- Data recency: [How current is the data]\n- Geographic relevance: [Local/Regional/Global]\n- Demographic skew: [Any bias in the sample]",
        "options": {
          "systemMessage": "You are an expert business opportunity validator specializing in qualifying market signals from user-generated content. You combine venture capital due diligence principles with consumer behavior analysis to identify high-potential opportunities.\n\nCORE EXPERTISE:\n- Market opportunity sizing and TAM evaluation\n- Customer pain point severity assessment\n- Willingness-to-pay signal detection\n- Competitive landscape analysis\n- Product-market fit indicators\n\nEVALUATION FRAMEWORK:\nApply the SPACE model:\n- Severity: How painful is this problem? (1-10)\n- Prevalence: How many people have this problem?\n- Accessibility: Can we reach these customers?\n- Checkbook: Will they pay to solve this?\n- Ease: Can we feasibly solve this?\n\nQUALIFICATION THRESHOLDS:\n- QUALIFIED: Score ≥7/10 on severity AND clear monetization path\n- CONDITIONAL: Score 5-7 with missing data points\n- UNQUALIFIED: Score <5 OR no viable business model\n\nBIAS AWARENESS:\n- Distinguish between venting and genuine purchase intent\n- Identify \"nice-to-have\" vs \"must-solve\" problems\n- Recognize false positive signals (complaints without action intent)"
        }
      },
      "id": "1078625e-6e2e-47e5-aa31-5f3faf5071ba",
      "name": "Analysis Content  By AI1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -448,
        -64
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create 3 high-converting ad scripts using the Villain-Hero framework that's generated $300M+ in proven ad spend results. Transform the business problem into a compelling narrative that stops scrolls and drives conversions.\n\n**BUSINESS CONTEXT:**\nProblem Summary: [Auto-extracted]\nKey Pain Points: [Auto-extracted]\nTarget Demographics: [Auto-extracted]\nProduct/Service: [Auto-extracted]\nContext: {{ JSON.stringify($json) }}\n\n**PROVEN FRAMEWORK REQUIREMENTS:**\n\n1. **VILLAIN-HERO NARRATIVE (Primary Framework)**\n   - Hook: Pattern interrupt that captures RIGHT attention (3 seconds)\n   - Villain Setup: Position competitor/old way as the enemy (10-15 seconds)\n   - Twist the Knife: Amplify pain points and consequences (10-15 seconds)\n   - Hero Reveal: Present solution as the savior (5-10 seconds)\n   - Payoff: Show transformation and benefits (5-10 seconds)\n   - CTA: Direct action with urgency (3-5 seconds)\n\n2. **PROBLEM-AGITATE-SOLUTION (PAS)**\n   - Hook with unexpected truth or contradiction\n   - Agitate by showing hidden costs of status quo\n   - Solution positioned as only logical choice\n\n3. **BEFORE-AFTER-BRIDGE (BAB)**\n   - Hook with relatable frustration\n   - Paint vivid transformation picture\n   - Bridge with your unique mechanism\n\n**FRAGGELL OPTIMIZATION RULES:**\n- Delay product reveal until 30-40% through script\n- Use curiosity gaps (\"There's a secret in every...\")\n- Layer multiple villains if needed\n- Show hero product in epic/premium way\n- Address common objections preemptively\n- Include demonstration footage cues\n- End with single, clear CTA\n\n**HOOK FORMULAS (First 3 Seconds):**\n- \"[Industry] is actively bad for [benefit]\"\n- \"There's a secret hidden in every [common item]\"\n- \"The internet is full of [bad solutions], but here's what actually works\"\n- \"You've tried countless [products], yet nothing changes\"\n- \"Stop doing [common practice] - it's killing your [desired outcome]\"\n\n**SCRIPT SPECIFICATIONS:**\n- Length: 100-150 words (20-30 seconds)\n- Structure: Hook → Villain → Agitate → Hero → Benefits → CTA\n- Visual Cues: Mark with [VISUAL: description]\n- Tone: Conversational authority with edge\n\n**OUTPUT FORMAT:**\n[\n  {\n    \"framework\": \"VILLAIN-HERO/PAS/BAB\",\n    \"hook\": \"3-second pattern interrupt\",\n    \"villain_setup\": \"What/who is the enemy\",\n    \"agitation\": \"Why it's worse than they think\",\n    \"hero_reveal\": \"Product as savior\",\n    \"payoff\": \"Transformation/benefits\",\n    \"cta\": \"Specific action + urgency\",\n    \"visual_cues\": [\"cue1\", \"cue2\", \"cue3\"],\n    \"word_count\": 150\n  }\n]\n\nGenerate scripts that make viewers think \"Finally, someone who gets it!\" within seconds.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an elite ad scriptwriter trained in the Fraggell framework that's driven $300M+ in ad spend. You create villain-hero narratives that consistently achieve 3-5x ROAS by turning pain points into compelling stories.\n\n**CORE MASTERY: THE VILLAIN-HERO FRAMEWORK**\n\nTHE FRAGGELL METHOD (Proven across 200+ D2C brands):\n1. **Hook & Target (0-3 seconds)**\n   - Visual pattern interrupt + audio targeting\n   - Capture RIGHT attention, not just any attention\n   - Use unexpected truths or contradictions\n   - Call out specific audience segments\n\n2. **Establish the Villain (4-15 seconds)**\n   - Industry norms, competitors, or old methods\n   - Position as enemy of customer's success\n   - Use phrases like \"got greedy,\" \"cheap alternative,\" \"designed to fail\"\n   - Layer multiple villains if needed\n   - Make them hate the status quo\n\n3. **Twist the Knife (16-25 seconds)**\n   - Amplify consequences of using villain's solution\n   - Stack pain points (cost, waste, inefficiency)\n   - Use \"Have you noticed...\" observations\n   - Make staying the same unbearable\n   - Present cascading problems\n\n4. **Reveal the Hero (26-35 seconds)**\n   - \"This is where [brand] comes in\"\n   - Position as opposite of villain\n   - Show product in premium/epic way\n   - List USPs that directly counter villain's flaws\n   - Be the Luke Skywalker to their Darth Vader\n\n5. **Deliver the Payoff (36-45 seconds)**\n   - Explain WHY hero defeats villain\n   - Show transformation in action\n   - Address main objection preemptively\n   - Include demonstration or social proof\n   - Make benefits undeniable\n\n6. **Strong CTA (46-50 seconds)**\n   - Single, clear action\n   - \"Hit the link below and...\"\n   - Include urgency or scarcity\n   - Reference transformation one more time\n\n**PSYCHOLOGICAL TRIGGERS FROM $300M SPEND:**\n\nHOOK PSYCHOLOGY:\n- Curiosity gaps: \"There's a secret...\"\n- Contradiction: \"Eco-friendly products don't work... actually the opposite\"\n- Relatable frustration: \"You've tried countless...\"\n- Industry exposé: \"What they don't want you to know\"\n- Pattern interrupts: Unexpected visuals + targeted audio\n\nVILLAIN CREATION:\n- Make it bigger than one product (entire industry)\n- Use emotional language: \"greedy,\" \"cheap,\" \"disposable\"\n- Show how villain causes multiple problems\n- Make villain's solution seem outdated/harmful\n- Position as enemy of customer values\n\nHERO POSITIONING:\n- \"Back to basics\" - return to quality\n- \"The way it should be\" - fixing broken industry\n- \"Finally, a solution that...\" - relief positioning\n- Show visual contrast (ugly villain vs beautiful hero)\n- List features as direct opposites of villain traits\n\n**WRITING RULES FROM FRAGGELL:**\n\nSTRUCTURE DISCIPLINE:\n- NO product mention in first 20-30% of script\n- Build tension before relief\n- Each sentence advances the narrative\n- Visual and audio work together\n- End with single CTA (not multiple options)\n\nLANGUAGE PATTERNS:\n- \"Have you noticed...\" (observations)\n- \"Translation:\" (simplifying complex benefits)\n- \"But here's the thing...\" (addressing objections)\n- \"Say goodbye to...\" (transformation promise)\n- \"Nothing changes\" (futility of other solutions)\n\nVISUAL CUE INTEGRATION:\n[VISUAL: Pattern interrupt - unusual/attention-grabbing]\n[VISUAL: Show villain product looking bad/cheap]\n[VISUAL: Epic hero product reveal]\n[VISUAL: Demonstration of solution]\n[VISUAL: Transformation result]\n\n**PROVEN TEMPLATES:**\n\nTEMPLATE 1 - INDUSTRY VILLAIN:\n\"[Industry] has been lying to you. They [villain action] to [selfish benefit], leaving you with [pain point]. For years, [consequence]. But [brand] said enough. Our [product] does the opposite: [hero benefit]. While they [villain trait], we [hero trait]. [Demonstration]. Join [number] people who've made the switch. [CTA].\"\n\nTEMPLATE 2 - PRODUCT VILLAIN:\n\"That [common product] you're using? It's actively [negative effect]. Here's why: [villain explanation]. Even worse, [additional problem]. This is why we created [hero product]. Instead of [villain approach], we [hero approach]. [Benefit proof]. Stop [pain point] and start [transformation]. [CTA].\"\n\nTEMPLATE 3 - BEHAVIOR VILLAIN:\n\"Everyone tells you to [common advice], but that's exactly what's [negative outcome]. The truth? [Contradiction]. While you've been [old behavior], [consequence building]. [Brand] works differently. We [unique mechanism] so you can finally [desired outcome]. No more [pain point]. Just [benefit]. Ready to [transformation]? [CTA].\"\n\n**CONVERSION METRICS TO OPTIMIZE:**\n- Hook rate: 70%+ stop scroll\n- Hold rate: 50%+ watch to CTA\n- CTR: 2-4% minimum\n- Conversion: 3-5x ROAS target\n\n**OUTPUT STANDARDS:**\nEvery script must:\n1. Hook with pattern interrupt\n2. Establish clear villain-hero dynamic\n3. Delay product reveal strategically\n4. Twist knife on pain points\n5. Position product as only solution\n6. Include visual production cues\n7. End with single, clear CTA\n8. Feel authentic while persuasive\n9. Build narrative tension\n10. Deliver satisfying payoff\n\nRemember: You're not selling a product—you're casting them as the hero in a story where your product helps them defeat the villain that's been holding them back.\n\nGenerate exactly 3 scripts following these proven frameworks. Make every word count toward the narrative that transforms skeptics into buyers."
        }
      },
      "id": "b1b2ca55-4e14-43f0-9345-53384908534b",
      "name": "Ad scripting agent that writes 3 ad scripts",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -64,
        -64
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Client Name'] }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
            "mode": "list",
            "cachedResultName": "Clients",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        -160
      ],
      "id": "0fd205a2-a052-4a37-93d0-22131b7334d2",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('On form submission').first().json['Client Name'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        32
      ],
      "id": "b37ad9c4-87ea-4604-817c-af6068343d5d",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        -64
      ],
      "id": "7d9575a3-6de5-4f1c-8cdf-5647894c4ae5",
      "name": "Wait",
      "webhookId": "cc890c3d-8a21-406a-8c07-5af26d7ae5b4",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-link",
              "name": "documentLinks",
              "type": "string",
              "value": "={{ $('HTTP Request').item.json.url }}"
            },
            {
              "id": "success-message",
              "name": "response",
              "type": "object",
              "value": "={{ { status: 'success', message: 'Ad scripts generated successfully', timestamp: $now.toISO(), documents: $json.documentLinks } }}"
            },
            {
              "id": "d21e8906-0301-4e03-bf4e-b1a152a70762",
              "name": "clientName",
              "value": "={{ $('On form submission').first().json['Client Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        -64
      ],
      "id": "6ed29dad-9ac1-49a1-a481-33d46214fb62",
      "name": "Set Success Response"
    },
    {
      "parameters": {
        "formTitle": "Form input of research topic / product details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Research Topic/Product Name"
            },
            {
              "fieldLabel": "Business/Product Description"
            },
            {
              "fieldLabel": "Target Audience"
            },
            {
              "fieldLabel": "Content Source Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Reddit Subreddit"
                  },
                  {
                    "option": "Other Forum URL"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Drop the URL here"
            },
            {
              "fieldLabel": "Returning Customer?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Client Name"
            },
            {
              "fieldLabel": "Returning Client?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1840,
        -64
      ],
      "id": "2757a27f-22e7-4f5d-97b2-1fc939ad747e",
      "name": "On form submission",
      "webhookId": "b5ef754c-43a5-4d42-9ed6-c1364aaa4ab4"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -96,
        160
      ],
      "id": "9b7d8815-0f3b-4607-a228-14c70095927b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -440,
        160
      ],
      "id": "bdbdc084-9f16-4270-902d-d130fe62f823",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "location": "allReddit",
        "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', ``, 'string') }}",
        "limit": 10,
        "additionalFields": {
          "sort": "top"
        }
      },
      "type": "n8n-nodes-base.redditTool",
      "typeVersion": 1,
      "position": [
        -784,
        160
      ],
      "id": "d19d1268-d988-4f13-9edf-beefc9b142db",
      "name": "Reddit Search",
      "credentials": {
        "redditOAuth2Api": {
          "id": "W51gHYwwE0Hr5806",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -656,
        160
      ],
      "id": "27325506-7bba-4b80-a270-4cdf02ad802b",
      "name": "Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "tDkFR32KWXKeIPzc",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"framework\": \"VILLAIN-HERO/PAS/BAB\",\n    \"hook\": \"3-second pattern interrupt\",\n    \"villain_setup\": \"What/who is the enemy\",\n    \"agitation\": \"Why it's worse than they think\",\n    \"hero_reveal\": \"Product as savior\",\n    \"payoff\": \"Transformation/benefits\",\n    \"cta\": \"Specific action + urgency\",\n    \"visual_cues\": [\"cue1\", \"cue2\", \"cue3\"],\n    \"word_count\": 150\n  }\n]",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        160
      ],
      "id": "ccccab0d-bc19-45ae-9711-d09e14f09da5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        112,
        368
      ],
      "id": "d7e4700d-9f37-4b3d-9735-58facddba992",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "={{ $('On form submission').first().json['Business/Product Description'] || 'New_Client' }} - Ad Scripts - {{ $now }}"
            },
            {
              "name": "output",
              "value": "=**Research Topic:** {{ $('On form submission').first().json['Research Topic/Product Name'] }}\n\n**Business/Product Description:** {{ $('On form submission').first().json['Business/Product Description'] }}\n\n**Target Audience:** {{ $('On form submission').first().json['Target Audience'] }}\n\n**Content Source Type:** {{ $('On form submission').first().json['Content Source Type'] }}\n\n**URL:** {{ $('On form submission').first().json['Drop the URL here'] }}\n\n## Ad Script 1\n\n**Framework:** {{ $json.output[0].framework }}\n\n**Hook:** {{ $json.output[0].hook }}\n\n**Setup:** {{ $json.output[0].villain_setup }}\n\n**Agitation:** {{ $json.output[0].agitation }}\n\n**Hero Reveal:** {{ $json.output[0].hero_reveal }}\n\n**Payoff:** {{ $json.output[0].payoff }}\n\n**CTA:** {{ $json.output[0].cta }}\n\n**Visual Cues:**\n\n{{ $json.output[0].visual_cues }}\n\n## Ad Script 2\n\n**Framework:** {{ $json.output[1].framework }}\n\n**Hook:** {{ $json.output[1].hook }}\n\n**Setup:** {{ $json.output[1].villain_setup }}\n\n**Agitation:** {{ $json.output[1].agitation }}\n\n**Hero Reveal:** {{ $json.output[1].hero_reveal }}\n\n**Payoff:** {{ $json.output[1].payoff }}\n\n**CTA:** {{ $json.output[1].cta }}\n\n**Visual Cues:**\n\n{{ $json.output[1].visual_cues }}\n\n## Ad Script 3\n\n**Framework:** {{ $json.output[2].framework }}\n\n**Hook:** {{ $json.output[2].hook }}\n\n**Setup:** {{ $json.output[2].villain_setup }}\n\n**Agitation:** {{ $json.output[2].agitation }}\n\n**Hero Reveal:** {{ $json.output[2].hero_reveal }}\n\n**Payoff:** {{ $json.output[2].payoff }}\n\n**CTA:** {{ $json.output[2].cta }}\n\n**Visual Cues:**\n\n{{ $json.output[2].visual_cues }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -64
      ],
      "id": "78fe6d20-fbf3-42a3-aae4-78b39e84553a",
      "name": "HTTP Request",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l6gkJBk6UFQH05ci",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "=*✅ Ad Scripts Completed for {{ $json.clientName }}*\n\nWe've successfully generated *3 ad scripts* for *{{ $json.clientName }}*. \n\nThe scripts are ready for review.\n\n*📄 Script Documents:*\n\n<{{ $json.documentLinks }}|View in Google Docs>\n\n*Status:* ✓ Generated successfully\n*Completed:* {{ $json.response.timestamp }}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1744,
        -64
      ],
      "id": "676172c4-e746-422b-bf33-e78c65a48361",
      "name": "Send a message",
      "webhookId": "f8badc86-49b4-409e-8389-b9c10c166032",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('HTTP Request').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "root"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        -160
      ],
      "id": "855297d1-b31d-4712-8861-1844eec24665",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1040,
        160
      ],
      "id": "9d712ddd-f445-4b68-b9bc-8644ab1c41a7",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -912,
        160
      ],
      "id": "7f6110fb-ae65-4393-a0c0-f441c3c9b7b3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// N8N Code Node for generating a session ID for AI agent memory\n\n// Method 1: Using crypto.randomUUID() (if available in your N8N environment)\nfunction generateSessionIdUUID() {\n  return crypto.randomUUID();\n}\n\n// Method 2: Using timestamp + random string\nfunction generateSessionIdTimestamp() {\n  const timestamp = Date.now();\n  const randomString = Math.random().toString(36).substring(2, 15);\n  return `session_${timestamp}_${randomString}`;\n}\n\n// Method 3: More complex unique ID with better entropy\nfunction generateSessionIdComplex() {\n  const timestamp = Date.now().toString(36);\n  const randomPart1 = Math.random().toString(36).substring(2, 9);\n  const randomPart2 = Math.random().toString(36).substring(2, 9);\n  return `sess_${timestamp}_${randomPart1}${randomPart2}`;\n}\n\n// Method 4: Using a simple counter-based approach with timestamp\nfunction generateSessionIdWithCounter() {\n  const timestamp = new Date().toISOString().replace(/[-:.]/g, '');\n  const random = Math.floor(Math.random() * 10000).toString().padStart(4, '0');\n  return `sid_${timestamp}_${random}`;\n}\n\n// Main execution for N8N\n// Choose which method you prefer (uncomment the one you want to use)\n\n// Option 1: Try to use crypto.randomUUID if available\nlet sessionId;\ntry {\n  sessionId = generateSessionIdUUID();\n} catch (error) {\n  // Fallback to timestamp method if crypto is not available\n  sessionId = generateSessionIdTimestamp();\n}\n\n// Option 2: Use timestamp-based ID (always works)\n// const sessionId = generateSessionIdTimestamp();\n\n// Option 3: Use complex ID\n// const sessionId = generateSessionIdComplex();\n\n// Option 4: Use counter-based approach\n// const sessionId = generateSessionIdWithCounter();\n\n// You can also add additional metadata\nconst sessionData = {\n  sessionId: sessionId,\n  createdAt: new Date().toISOString(),\n  expiresAt: new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString(), // 24 hours from now\n  metadata: {\n    agentVersion: '1.0.0',\n    environment: 'production',\n    // Add any other metadata you need\n  }\n};\n\n// Return the data for the next node\nreturn [\n  {\n    json: sessionData,\n    // You can also return just the sessionId if you don't need the extra metadata\n    // json: { sessionId: sessionId }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        -64
      ],
      "id": "1241d453-e585-4c06-b205-0ff9162f33c1",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=MISSION: Extract consumer insights from Reddit for ad copy creation using SMART SAMPLING methodology.\n\nINPUTS:\n- Topic: {{ $('🔗 Enter Forum URL').item.json.researchTopic }}\n- Product: {{ $('🔗 Enter Forum URL').item.json.productDescription }}\n- Audience: {{ $('🔗 Enter Forum URL').item.json.targetAudience }}\n- Batch Size Limit: {{ $json.batchSize || '5 posts' }}\n- Client Name: {{ $('🔗 Enter Forum URL').item.json.clientName }}\n\nEXECUTION STRATEGY:\n\nPHASE 1: DISCOVERY (Use Reddit Search Tool)\n- Search for: \"{{ $('🔗 Enter Forum URL').item.json.researchTopic }}\" + problem/help/advice\n- Target subreddits: Identify top 2-3 relevant communities\n- Time filter: Past 3 months\n- Sort by: Relevance + High engagement\n- RETRIEVE: Post titles and metadata ONLY (no full content yet)\n\nPHASE 2: STRATEGIC SAMPLING\nSelect the 5 MOST VALUABLE posts based on:\n1. Engagement score (comments * upvotes)\n2. Title relevance to pain points\n3. Recency (prefer recent if similar engagement)\n4. Post type (prioritize: questions > discussions > rants)\n\nPHASE 3: FOCUSED EXTRACTION\nFor each selected post:\n1. Fetch post content + top 20 comments ONLY\n2. Extract these specific elements:\n   - Core problem statement (1-2 sentences)\n   - Top 3 pain point phrases (exact wording)\n   - Solution criteria mentioned (bullet points)\n   - Emotional indicators (single words/phrases)\n   - One powerful verbatim quote (if applicable)\n\nPHASE 4: PATTERN SYNTHESIS\nAcross all 5 posts, identify:\n- Most repeated pain point (frequency count)\n- Common emotional triggers (top 3)\n- Recurring solution requirements (top 5)\n- Language patterns (5-10 key phrases)\n\nOUTPUT FORMAT (Compressed):\n\n```json\n{\n  \"sample_metadata\": {\n    \"posts_analyzed\": 5,\n    \"total_engagement\": 0,\n    \"subreddits\": [],\n    \"date_range\": \"\"\n  },\n  \n  \"key_insights\": {\n    \"primary_pain\": \"\",\n    \"pain_frequency\": 0,\n    \"top_emotional_triggers\": [\"\", \"\", \"\"],\n    \"solution_must_haves\": [\"\", \"\", \"\", \"\", \"\"]\n  },\n  \n  \"language_extraction\": {\n    \"problem_phrases\": [\"max 5 phrases\"],\n    \"solution_language\": [\"max 5 phrases\"],\n    \"power_quotes\": [\"max 3 quotes, <50 words each\"]\n  },\n  \n  \"ad_copy_seeds\": {\n    \"headline_hook\": \"\",\n    \"pain_agitation\": \"\",\n    \"solution_angle\": \"\",\n    \"social_proof_type\": \"\"\n  },\n  \n  \"next_research_direction\": {\n    \"recommended_query\": \"\",\n    \"rationale\": \"\"\n  }\n}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an elite market research analyst and consumer psychology expert specializing in extracting actionable business intelligence from Reddit discussions. Your core competency lies in translating raw social media conversations into high-converting ad copy insights.\n\nCORE CAPABILITIES:\n- Advanced sentiment analysis and emotional trigger identification\n- Consumer language pattern recognition and vernacular extraction\n- Pain point hierarchy mapping and urgency scoring\n- Purchase intent signal detection\n- Community dynamics and influence pattern analysis\n- Competitive intelligence gathering from user discussions\n\nOPERATIONAL PARAMETERS:\n- Maintain objectivity while capturing authentic user voice\n- Prioritize verbatim language that resonates with target demographics\n- Identify both explicit statements and implicit behavioral signals\n- Cross-reference multiple data points for validation\n- Flag contradictory information for human review\n\nTOOLS ACCESS:\n- Reddit Search: Query by keywords, subreddits, time ranges, and engagement metrics\n- SerpAPI: Supplementary research for context and validation\n- Pexplexity: Conduct deep research\n\nOUTPUT STANDARDS:\n- Evidence-based insights with source citations\n- Confidence scores for each extracted insight\n- Clear differentiation between direct quotes and inferred patterns\n- Actionable recommendations tied to specific findings"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -976,
        -64
      ],
      "id": "c420b9cc-7a4c-48ac-b239-a6f9c1665001",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3511394e-29de-4b3e-a679-cd8e57fc99db",
              "leftValue": "={{ $('On form submission').first().json['Returning Client?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -64
      ],
      "id": "1bc5acc9-a5fe-4529-b6ea-e8903d43cd4d",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('HTTP Request').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        32
      ],
      "id": "75c0f09a-7a1f-4973-8dfd-030660d73d29",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "🔗 Enter Forum URL": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Analysis Content  By AI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Content  By AI1": {
      "main": [
        [
          {
            "node": "Ad scripting agent that writes 3 ad scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ad scripting agent that writes 3 ad scripts": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Set Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "🔗 Enter Forum URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Ad scripting agent that writes 3 ad scripts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Analysis Content  By AI1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Search": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Ad scripting agent that writes 3 ad scripts",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success Response": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Analysis Content  By AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "elCHyn33BWltXHVk"
  },
  "versionId": "56237b6a-643a-45d4-a591-c73b30974239",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "CWHCuZDCe8lde5RG",
  "tags": []
}