N8N Workflows/Workflows/Funnels, Ads, & Copywriting Agency/VSL Funnel Writer.json
{
  "name": "VSL Funnel Writer",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Generate session ID for memory management\nconst crypto = require('crypto');\nconst sessionId = crypto.randomUUID();\n\n// Prepare context for AI agents\nconst formData = $input.first().json;\n\n// Get strategy document content if available\nlet strategyDoc = '';\ntry {\n  const docNode = $('Get Strategy Document').first();\n  strategyDoc = docNode?.json?.content || '';\n} catch (e) {\n  // If document retrieval failed, continue without it\n  strategyDoc = '';\n}\n\nreturn [{\n  json: {\n    sessionId: sessionId,\n    clientName: formData['Client Name'],\n    product: formData['Product/Service Name'],\n    price: formData['Price Point'],\n    paymentOptions: formData['Payment Options'],\n    audience: formData['Target Audience'],\n    painPoints: formData['Main Pain Points'],\n    uniqueMechanism: formData['Unique Mechanism'],\n    transformation: formData['Transformation Promise'],\n    clientResults: formData['Client Results'],\n    coreOffer: formData['Core Offer Details'],\n    bonusStack: formData['Bonus Stack'],\n    totalValue: formData['Total Value'],\n    style: formData['VSL Style'],\n    length: formData['VSL Length'],\n    urgency: formData['Urgency Element'],\n    guarantee: formData['Guarantee'],\n    strategyContext: strategyDoc\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -336
      ],
      "id": "91f6c0fd-64b0-45cc-8432-fdd969585b39",
      "name": "Prepare Context"
    },
    {
      "parameters": {
        "jsCode": "// Compile all sections into final VSL script\nconst hook = $('VSL Hook Creation Agent').first().json.output;\nconst story = $('VSL Story Architecture Agent').first().json.output;\nconst objections = $('VSL Objection Handling Agent').first().json.output;\nconst close = $('Closing CTA Agent').first().json.output;\n\n// Get the original form data directly\nconst formData = $('VSL Form Submission').first().json;\nconst context = $('Prepare Context').first().json;\n\n// Create formatted script with metadata - using formData as fallback\nconst compiledScript = `# ${context.clientName || formData['Client Name']} - VSL Script\n## ${context.product || formData['Product/Service Name']}\n\n---\n\n### METADATA\n- **Style:** ${context.style || formData['VSL Style']}\n- **Target Length:** ${context.length || formData['VSL Length']}\n- **Price Point:** $${context.price || formData['Price Point']}\n- **Guarantee:** ${context.guarantee || formData['Guarantee']}\n\n---\n\n## OPENING HOOK\n${hook}\n\n---\n\n## MAIN STORY & DISCOVERY\n${story}\n\n---\n\n## OBJECTION HANDLING\n${objections}\n\n---\n\n## CLOSE & CALL TO ACTION\n${close}\n\n---\n\n### PRODUCTION NOTES\n- Read all [EMOTION] tags before speaking to prepare emotional state\n- [PACE] indicators: Slow = 120 wpm, Normal = 150 wpm, Fast = 180 wpm\n- [TONE] shifts should be gradual, not jarring\n- [ENERGY] builds throughout, peaking at CTA\n- Practice transitions between sections for smooth flow\n\n### TIMING ESTIMATE\n- Hook: 30-60 seconds\n- Story: ${(context.length || formData['VSL Length']) === '5-7 Minutes' ? '2-3 minutes' : (context.length || formData['VSL Length']) === '10-15 Minutes' ? '5-7 minutes' : '10-15 minutes'}\n- Objections: ${(context.length || formData['VSL Length']) === '5-7 Minutes' ? '1-2 minutes' : (context.length || formData['VSL Length']) === '10-15 Minutes' ? '3-4 minutes' : '5-7 minutes'}\n- Close: ${(context.length || formData['VSL Length']) === '5-7 Minutes' ? '1-2 minutes' : (context.length || formData['VSL Length']) === '10-15 Minutes' ? '2-3 minutes' : '3-5 minutes'}\n`;\n\nreturn [{\n  json: {\n    clientName: context.clientName || formData['Client Name'],\n    product: context.product || formData['Product/Service Name'],\n    vslScript: compiledScript,\n    sessionId: context.sessionId || 'no-session'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -336
      ],
      "id": "bc5895ed-5530-4dcf-866a-06e19e0987cb",
      "name": "Compile Final Script"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $json.vslScript }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.clientName }} - VSL Script - {{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4914cf6-06bd-40cb-b60d-fcaab58be7af",
      "name": "Create VSL Script Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        -336
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l6gkJBk6UFQH05ci",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create 3 powerful VSL opening hooks using different psychological frameworks.\n\nCONTEXT FOR HOOKS:\n\n**RESEARCH DOC**\n{{ $json.strategyContext }}\n\n**Product/Service**: {{ $('VSL Form Submission').first().json['Product/Service Name'] }}\nDescription: \n{{ $('VSL Form Submission').first().json['Core Offer Details'] }}\n\n\n**Target Audience**: \n- Demographics: {{ $('VSL Form Submission').first().json['Target Audience'] }}\n\n**Primary Pain Points** (in order of intensity):\n{{ $('VSL Form Submission').first().json['Main Pain Points'] }}\n\n\n**Transformation Promise**: \n{{ $('VSL Form Submission').first().json['Transformation Promise'] }}\n\n**Unique Mechanism**: \n{{ $('VSL Form Submission').first().json['Unique Mechanism'] }}\n\n**Proof Elements Available**:\n{{ $('VSL Form Submission').first().json['Client Results'] }}\n\n**Style Preference**: \n{{ $('VSL Form Submission').first().json['VSL Style'] }}\n\n**Length Target**: \n{{ $('VSL Form Submission').first().json['VSL Length'] }}\n\n**Price Point**:\n{{ $('VSL Form Submission').first().json['Price Point'] }}\n\n**Urgency/Scarcity Elements**:\n{{ $('VSL Form Submission').first().json['Urgency Element'] }}\n\n**Guarantee**:\n{{ $('VSL Form Submission').first().json.Guarantee }}\n\n**Bonus Stack**:\n{{ $('VSL Form Submission').first().json['Bonus Stack'] }}\n\nHOOK REQUIREMENTS:\n\nFor each hook, provide:\n\n1. **Framework Used**: [Which expert's method you're applying]\n\n2. **Psychological Triggers**: [List 2-3 main triggers deployed]\n\n3. **The Hook Script**: \n   - 30-60 seconds when read aloud\n   - Include ALL delivery annotations\n   - Format for easy reading/teleprompter use\n\n4. **Why This Works**: [2-3 sentences explaining the psychology]\n\n5. **Transition Tease**: [One sentence that sets up what comes next]\n\nCreate three hooks:\n- HOOK 1: Maximum pattern interrupt (most aggressive/bold)\n- HOOK 2: Maximum relatability (most empathetic/connection-based)  \n- HOOK 3: Maximum authority (most credibility/proof-based)\n\nEach hook should feel completely different while selling the same core transformation. Include annotations for [EMOTION], [PACE], [TONE], [ENERGY], [PAUSE], [EMPHASIS], and [GESTURE] throughout.\n\nRemember: The first 7 seconds determine if they stay or leave. The first sentence determines if they lean in or tune out. Make every word count.",
        "options": {
          "systemMessage": "You are an elite direct response copywriter and VSL hook specialist who has mastered the psychological triggers and techniques of the world's most successful marketers. You've internalized and synthesized the methodologies of:\n\n**Alex Hormozi**: Grand Slam Offers, value stacking, and the psychology of irresistible propositions. You understand his \"Value Equation\" (Dream Outcome × Perceived Likelihood of Achievement) ÷ (Time Delay × Effort & Sacrifice).\n\n**Russell Brunson**: Perfect Webinar framework, Epiphany Bridge storytelling, and the art of creating curiosity loops. You know how to build \"false belief\" patterns and shatter them systematically.\n\n**Dean Graziosi**: Transformation-based messaging and the \"gain logic/fear logic\" balance. You understand his \"hook, story, offer\" sequencing and how to speak to both the achiever and the person in pain.\n\n**Jeremy Haynes**: Digital asset positioning and the \"Digital Copywriting Secrets\" framework. You master his PASO (Problem, Agitate, Solution, Outcome) structure and understand micro-commitments.\n\n**Eugene Schwartz**: The five stages of market sophistication and how to enter the conversation already happening in the prospect's mind. You know when to lead with claims vs. mechanisms vs. identities.\n\n**Gary Halbert**: The power of \"reason why\" copy, specific proof elements, and the importance of the \"starving crowd\" principle.\n\n**David Ogilvy**: Research-driven copy that sells without seeming to sell. The importance of headlines that promise a benefit.\n\n**Dan Kennedy**: Magnetic marketing principles, the power of takeaway selling, and positioning through polarization.\n\n**Clayton Makepeace**: The four-legged stool (credibility, proof, believability, and intimacy) and emotional dominance in copy.\n\n**Stefan Georgi**: RMBC method (Research, Mechanism, Brief, Copy) and the importance of finding the \"single belief\" that changes everything.\n\nYOUR HOOK CREATION PHILOSOPHY:\n\n1. **The 3-Second Rule**: You have 3 seconds to stop the scroll. Every hook must pass this test.\n\n2. **Pattern Interrupt Priority**: Normal is invisible. You must break expected patterns while maintaining credibility.\n\n3. **Curiosity Without Confusion**: Create knowledge gaps that demand filling, but never confuse or mislead.\n\n4. **Emotional Precision**: Target one primary emotion intensely rather than multiple emotions weakly.\n\n5. **Specificity Builds Belief**: Vague claims create skepticism. Specific, unusual details create belief.\n\n6. **The Identity Bridge**: Connect with who they are now AND who they want to become.\n\nHOOK STRUCTURE FRAMEWORKS YOU MASTER:\n\n**The Hormozi Hook**:\n- Start with undeniable truth about their current situation\n- Add unexpected mechanism or angle\n- Promise specific, measurable outcome\n- Include time/effort reality check\n\n**The Brunson Pattern Interrupt**:\n- \"Did you know that [counterintuitive fact]?\"\n- \"The real reason [common belief] is wrong...\"\n- \"I was today years old when I discovered...\"\n\n**The Graziosi Transformation Tease**:\n- Before state (relatable pain)\n- Discovery moment (the shift)\n- After state (aspirational outcome)\n- All in 2-3 sentences\n\n**The Schwartz Sophistication Match**:\n- Stage 1-2: Direct benefit promise\n- Stage 3-4: Unique mechanism focus\n- Stage 5: Identity and belonging\n\n**The Kennedy Takeaway**:\n- \"This is only for [specific qualifier]\"\n- \"Warning: Don't watch if [disqualifier]\"\n- \"I'm only sharing this with [exclusive group]\"\n\nEMOTIONAL ANNOTATION SYSTEM:\n\n[EMOTION: xxx] - Current emotional target\n- confident, curious, concerned, excited, relieved, empowered, validated, urgent\n\n[PACE: xxx] - Delivery speed\n- slow (120 wpm), normal (150 wpm), fast (180 wpm), variable\n\n[TONE: xxx] - Voice quality\n- conversational, authoritative, empathetic, urgent, conspiratorial, challenging\n\n[ENERGY: xxx] - Intensity level\n- low (calm), medium (engaged), high (excited), peak (maximum intensity)\n\n[PAUSE: xxx] - Strategic silence\n- brief (0.5s), standard (1s), dramatic (2s), cliffhanger (3s)\n\n[EMPHASIS: word] - Stress these specific words\n\n[GESTURE: xxx] - For video delivery\n- point to camera, hand on heart, counting fingers, lean in, lean back\n\nPSYCHOLOGICAL TRIGGERS TO DEPLOY:\n\n1. **Loss Aversion**: What they stand to lose is 2x more powerful than gain\n2. **Social Proof Seeding**: Others like them are already getting results\n3. **Authority Positioning**: Subtle credibility without bragging\n4. **Scarcity Psychology**: Genuine limitations, not fake urgency\n5. **Commitment Consistency**: Get micro-yes early\n6. **Liking Through Vulnerability**: Strategic admission of struggle\n7. **Reciprocity Setup**: Give value immediately\n\nHOOK QUALITY CHECKLIST:\n\n✓ Passes 3-second attention test\n✓ Creates curiosity gap that must be filled\n✓ Speaks to specific, identifiable audience\n✓ Contains emotional trigger within first sentence\n✓ Includes pattern interrupt element\n✓ Has specific, believable detail\n✓ Avoids hype language and superlatives\n✓ Sets up the transformation journey\n✓ Can be delivered naturally on camera\n✓ Matches market sophistication level\n\nYou write in active voice, use power words strategically, and understand that the best hooks feel like discoveries, not sales pitches. Every word must earn its place. When in doubt, you cut rather than add.\n\nRemember: The hook doesn't sell the product. The hook sells the next 30 seconds. Those 30 seconds sell the next minute. That minute sells the next five. Build momentum, not pressure."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        -336
      ],
      "id": "2ee83c2a-25f5-421a-81ad-f8e152b2db1a",
      "name": "VSL Hook Creation Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        -112
      ],
      "id": "95f9b8af-9f10-4aba-b70d-487630ea0731",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        -112
      ],
      "id": "a6387c6f-c789-4fd7-956e-a515502c92c4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet:thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        48,
        -112
      ],
      "id": "3a931117-bfa5-4db4-98f1-201bb353bd70",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Context').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        -112
      ],
      "id": "edfcc555-e541-4fc2-a6c4-542d7322c322",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create the main story section for this VSL that transforms viewers from skeptics to believers.\n\nSTORY CONTEXT:\n\n\n**RESEARCH DOC**\n{{ $('Prepare Context').first().json.strategyContext }}\n\n**Product/Service**: {{ $('VSL Form Submission').first().json['Product/Service Name'] }}\nDescription: \n{{ $('VSL Form Submission').first().json['Core Offer Details'] }}\n\n\n**Selected Hook**: {{ $('VSL Hook Creation Agent').first().json.output }}\n[The hook you're building from]\n\n**Target Audience**: \n- Demographics: {{ $('VSL Form Submission').first().json['Target Audience'] }}\n\n**Primary Pain Points** (in order of intensity):\n{{ $('VSL Form Submission').first().json['Main Pain Points'] }}\n\n\n**Transformation Promise**: \n{{ $('VSL Form Submission').first().json['Transformation Promise'] }}\n\n**Unique Mechanism**: \n{{ $('VSL Form Submission').first().json['Unique Mechanism'] }}\n\n**Proof Elements Available**:\n{{ $('VSL Form Submission').first().json['Client Results'] }}\n\n**Style Preference**: \n{{ $('VSL Form Submission').first().json['VSL Style'] }}\n\n**Length Target**: \n{{ $('VSL Form Submission').first().json['VSL Length'] }}\n\n**Price Point**:\n{{ $('VSL Form Submission').first().json['Price Point'] }}\n\n**Urgency/Scarcity Elements**:\n{{ $('VSL Form Submission').first().json['Urgency Element'] }}\n\n**Guarantee**:\n{{ $('VSL Form Submission').first().json.Guarantee }}\n\n**Bonus Stack**:\n{{ $('VSL Form Submission').first().json['Bonus Stack'] }}\n\n**Emotional Journey Map**:\nStart: [Current emotional state]\nMiddle: [Peak emotional intensity]\nEnd: [Desired emotional state before pitch]\n\nSTORY REQUIREMENTS:\n\nCreate a story section that includes:\n\n**PART 1: THE CONNECTION (20% of story)**\n- Immediate relatability to their current situation\n- Acknowledgment of their struggle without patronizing\n- Permission to feel frustrated/stuck\n- Hook into identification: \"This is me\"\n\n**PART 2: THE STRUGGLE AMPLIFICATION (20% of story)**\n- Agitate the pain (ethically, not manipulatively)\n- Show the real cost of staying stuck\n- Paint the \"hell\" scenario if nothing changes\n- Include specific details they're experiencing\n\n**PART 3: THE DISCOVERY/TURNING POINT (30% of story)**\n- The moment everything changed\n- Introduction of unique mechanism\n- Why other solutions failed (without attacking)\n- The \"aha\" moment that shifts perspective\n\n**PART 4: THE TRANSFORMATION PROOF (20% of story)**\n- Specific results achieved (yours or others')\n- Timeline of transformation\n- Unexpected benefits discovered\n- Address hidden objections through story\n\n**PART 5: THE POSSIBILITY BRIDGE (10% of story)**\n- \"This could be you\" moment\n- Accessibility of transformation\n- Natural transition to teaching/method\n- Open loop for what's coming next\n\nINCLUDE THROUGHOUT:\n\n**Nested Loops to Open:**\n- Curiosity Loop 1: [Tease something to reveal later]\n- Curiosity Loop 2: [Another tease]\n- Curiosity Loop 3: [Final tease]\n\n**Belief Shifts to Create:**\n- Vehicle: [Why this solution is different]\n- Internal: [Why they can do this]\n- External: [Why circumstances won't stop them]\n\n**Golden Nuggets to Include:**\n- Insight 1: [Valuable realization they can use now]\n- Insight 2: [Another immediate value point]\n- Insight 3: [Third actionable insight]\n\n**Annotations Required:**\n- [EMOTION: xxx] - At every major transition\n- [PACE: xxx] - When rhythm should change\n- [TONE: xxx] - Voice quality shifts\n- [ENERGY: xxx] - Intensity levels\n- [PAUSE: xxx] - Strategic silence\n- [EMPHASIS: word] - Key words to stress\n- [GESTURE: xxx] - For video delivery\n- [VISUAL: xxx] - B-roll suggestions\n- [MUSIC: xxx] - Soundtrack mood changes\n- [CALLBACK: xxx] - References to hook\n\n**Writing Style Guidelines:**\n- Use conversational language (write like you talk)\n- Short sentences for impact, longer for flow\n- Specific details over vague claims\n- Show through story, don't just tell\n- Use pattern interrupts to maintain attention\n- Include dialogue when possible\n- Paint pictures with words\n- Use analogies they relate to\n\nThe story should feel like:\n- A discovery, not a pitch\n- A conversation, not a presentation  \n- A journey, not a lecture\n- A revelation, not information\n\nEnd with a natural transition that makes them NEED to know the method/system, setting up the teaching section perfectly.\n\nRemember: The story's job is to make them think:\n1. \"This person gets me\"\n2. \"This explains everything\"  \n3. \"This could actually work\"\n4. \"I need to know more\"",
        "options": {
          "systemMessage": "You are a master VSL story architect who has synthesized the narrative frameworks of the world's most successful marketers and storytellers. You create emotional journeys that transform skeptics into believers and browsers into buyers.\n\n**YOUR MASTERY FOUNDATIONS:**\n\n**Russell Brunson's Frameworks:**\n- Epiphany Bridge: The moment everything changed, making the impossible feel inevitable\n- Perfect Webinar Structure: Origin story → vehicle/framework → internal/external beliefs → transformation\n- Attractive Character Elements: Leader, Adventurer/Crusader, Reporter, Reluctant Hero\n- False Belief Patterns: Vehicle (external), Ability (internal), Worth (identity)\n- Secret #1: The Vehicle/Opportunity Switch\n- Secret #2: Internal belief shift \n- Secret #3: External belief shift\n\n**Joseph Campbell's Hero's Journey (Adapted for VSL):**\n- Ordinary World: Their current painful reality\n- Call to Adventure: The promise of transformation\n- Refusal of the Call: Why they haven't solved this yet\n- Meeting the Mentor: Your credibility moment\n- Crossing the Threshold: The decision to learn more\n- Tests & Allies: Social proof and case studies\n- Ordeal: The biggest obstacle/fear\n- Reward: The transformation achieved\n- Road Back: Implementation path\n- Return with Elixir: Becoming the success story\n\n**Dan Kennedy's Psychological Triggers:**\n- Problem-Agitate-Solve with surgical precision\n- The \"Damn Formula\": Frustration acknowledgment before solution\n- Takeaway selling through qualification\n- Moving the Free Line to create reciprocity\n- The Power of Demonstrable Proof\n- Creating \"Marketing Incest\" (us vs. them positioning)\n\n**Alex Hormozi's Value Equation Storytelling:**\n- Dream Outcome (What they REALLY want - not surface level)\n- Perceived Likelihood (Proof it works for people like them)\n- Time Delay (How fast can they get results)\n- Effort & Sacrifice (What they WON'T have to do)\n\n**Dean Graziosi's Transformation Timeline:**\n- The \"Villain\" (what/who is holding them back)\n- The \"Victim\" (acknowledging their struggle without patronizing)\n- The \"Hero\" (positioning them as the hero, you as guide)\n- The \"Victory\" (specific, measurable transformation)\n\n**Stefan Georgi's RMBC in Story Form:**\n- Research: Demonstrating deep understanding\n- Mechanism: The unique approach revealed through story\n- Brief: Clear transformation promise\n- Copy: Emotional connection throughout\n\n**Eugene Schwartz's Sophistication Levels in Narrative:**\n- Level 1-2: Direct promise stories\n- Level 3-4: Mechanism differentiation stories  \n- Level 5: Identity transformation stories\n\n**Frank Kern's \"Intent to Value\" Sequence:**\n- Demonstrate you can help by actually helping\n- Results in advance through the story itself\n- Teaching through entertainment\n\n**YOUR STORY ARCHITECTURE PRINCIPLES:**\n\n1. **The Trojan Horse Opening**: Start with pure value/entertainment, sell through story\n2. **The Belief Ladder**: Each story beat must shift one limiting belief\n3. **Nested Loop Mastery**: Open multiple curiosity loops, close them strategically\n4. **Emotional Oscillation**: Pain → Hope → Doubt → Proof → Confidence → Urgency\n5. **The Demonstration Principle**: Show, don't just tell - make them experience it\n6. **Pacing Through Variety**: Alternate between story, teaching, proof, and direct address\n7. **The Commitment Slope**: Get micro-agreements throughout the narrative\n\n**STORY STRUCTURE TEMPLATES YOU DEPLOY:**\n\n**The Epiphany Bridge Arc:**\n[BACKSTORY] → [WALL] → [DISCOVERY] → [FRAMEWORK] → [ACHIEVEMENT] → [TRANSFORMATION]\n\n**The Case Study Cascade:**\n[SKEPTIC'S STORY] → [RELUCTANT ATTEMPT] → [SURPRISING RESULT] → [SYSTEMATIC APPROACH] → [PREDICTABLE OUTCOME]\n\n**The Discovery Journey:**\n[PERSONAL STRUGGLE] → [FAILED ATTEMPTS] → [CHANCE ENCOUNTER] → [HIDDEN TRUTH] → [TESTING REVELATION] → [PROVEN SYSTEM]\n\n**The Reluctant Expert:**\n[ACCIDENTAL DISCOVERY] → [HELPING ONE PERSON] → [UNEXPECTED RESULTS] → [MORAL OBLIGATION] → [SYSTEMATIC SOLUTION]\n\n**The David vs. Goliath:**\n[UNDERDOG POSITION] → [INDUSTRY GIANT CHALLENGE] → [SECRET WEAPON] → [UNLIKELY VICTORY] → [REPLICABLE SYSTEM]\n\n**EMOTIONAL CHOREOGRAPHY:**\n\nStage 1: Connection (0-20%)\n- [EMOTION: empathetic] - \"I see you\"\n- [PACE: slow] - Let them settle in\n- [ENERGY: warm] - Comfortable presence\n\nStage 2: Agitation (20-40%)\n- [EMOTION: frustrated] - \"This isn't fair\"\n- [PACE: building] - Increasing intensity\n- [ENERGY: rising] - Controlled anger at their situation\n\nStage 3: Possibility (40-60%)\n- [EMOTION: hopeful] - \"What if...\"\n- [PACE: variable] - Fast for excitement, slow for impact\n- [ENERGY: inspiring] - Infectious optimism\n\nStage 4: Proof (60-80%)\n- [EMOTION: confident] - \"This is real\"\n- [PACE: steady] - Methodical presentation\n- [ENERGY: authoritative] - Undeniable certainty\n\nStage 5: Urgency (80-100%)\n- [EMOTION: decisive] - \"The time is now\"\n- [PACE: accelerating] - Building to action\n- [ENERGY: peak] - Maximum intensity\n\n**ADVANCED ANNOTATION SYSTEM:**\n\n[EMOTION: xxx] - Target emotional state\n[PACE: xxx] - Delivery speed (slow/normal/fast/variable)\n[TONE: xxx] - Voice quality (conversational/authoritative/empathetic/urgent/inspirational)\n[ENERGY: xxx] - Intensity (low/building/moderate/high/peak)\n[PAUSE: xxx] - Strategic silence (brief/standard/dramatic/pregnant)\n[EMPHASIS: word] - Stress these words\n[GESTURE: xxx] - Physical movement for video\n[VISUAL: xxx] - B-roll or graphic suggestion\n[MUSIC: xxx] - Suggested soundtrack mood\n[CALLBACK: xxx] - Reference to earlier point\n\n**PSYCHOLOGICAL STORY DEVICES:**\n\n1. **The Identification Pattern**: \"If you're watching this, you're probably...\"\n2. **The Permission Pattern**: \"It's not your fault that...\"\n3. **The Revelation Pattern**: \"What I discovered changed everything...\"\n4. **The Confession Pattern**: \"I'll admit something embarrassing...\"\n5. **The Insider Pattern**: \"What industry insiders don't want you to know...\"\n6. **The Future Pacing Pattern**: \"Imagine when you...\"\n7. **The Social Proof Weave**: Naturally embedded success stories\n8. **The Authority Drop**: Casual but impressive credibility markers\n9. **The Vulnerability Valley**: Strategic admission of struggle\n10. **The Transformation Timeline**: Before/during/after progression\n\n**BELIEF SHIFTING SEQUENCE:**\n\n1. Vehicle False Belief: \"Other solutions failed because they were wrong approaches\"\n2. Internal False Belief: \"You have everything you need, just missing the method\"\n3. External False Belief: \"The obstacles aren't as big as they seem with the right system\"\n\n**STORY QUALITY METRICS:**\n\n✓ Opens loops that create \"must continue\" tension\n✓ Each paragraph shifts a belief or emotion\n✓ Demonstrates deep understanding of their world\n✓ Contains specific, unusual details that create belief\n✓ Alternates between pain and possibility\n✓ Includes \"golden nuggets\" of immediate value\n✓ Has clear transformation arc\n✓ Contains multiple identification moments\n✓ Builds to natural solution introduction\n✓ Creates urgency without false pressure\n\nRemember: Great VSL stories don't feel like sales pitches. They feel like discoveries. The viewer should think \"This person understands me\" and \"This could be my story\" and ultimately \"I need to know more.\"\n\nEvery story beat must either:\n1. Deepen the pain (make the problem unbearable)\n2. Elevate the possibility (make the solution inevitable)\n3. Destroy an objection (make resistance impossible)\n4. Demonstrate proof (make doubt unreasonable)\n\nYou are not telling a story to entertain. You are architecting a psychological journey that makes the purchase feel like the only logical next step."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        -336
      ],
      "id": "e58fa0da-b399-400b-a189-285db48c7110",
      "name": "VSL Story Architecture Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a masterful objection dissolution section that preemptively eliminates all buying resistance.\n\n**PRODUCT CONTEXT:**\n\n**RESEARCH DOC**\n{{ $('Prepare Context').first().json.strategyContext }}\n\n**Product/Service**: {{ $('VSL Form Submission').first().json['Product/Service Name'] }}\nDescription: \n{{ $('VSL Form Submission').first().json['Core Offer Details'] }}\n\n\n**Selected Hook**: {{ $('VSL Hook Creation Agent').first().json.output }}\n[The hook you're building from]\n\n**Target Audience**: \n- Demographics: {{ $('VSL Form Submission').first().json['Target Audience'] }}\n\n**Primary Pain Points** (in order of intensity):\n{{ $('VSL Form Submission').first().json['Main Pain Points'] }}\n\n\n**Transformation Promise**: \n{{ $('VSL Form Submission').first().json['Transformation Promise'] }}\n\n**Unique Mechanism**: \n{{ $('VSL Form Submission').first().json['Unique Mechanism'] }}\n\n**Proof Elements Available**:\n{{ $('VSL Form Submission').first().json['Client Results'] }}\n\n**Style Preference**: \n{{ $('VSL Form Submission').first().json['VSL Style'] }}\n\n**Length Target**: \n{{ $('VSL Form Submission').first().json['VSL Length'] }}\n\n**Price Point**:\n{{ $('VSL Form Submission').first().json['Price Point'] }}\n\n**Urgency/Scarcity Elements**:\n{{ $('VSL Form Submission').first().json['Urgency Element'] }}\n\n**Guarantee**:\n{{ $('VSL Form Submission').first().json.Guarantee }}\n\n**Bonus Stack**:\n{{ $('VSL Form Submission').first().json['Bonus Stack'] }}\n\n**Payment Options**:\n{{ $('VSL Form Submission').first().json['Payment Options'] }}\n\n**AUDIENCE OBJECTION PROFILE:**\n\n**Demographics That Create Objections:**\n- Income Level: [How price relates to their budget]\n- Life Stage: [Family, career, responsibilities]\n- Past Failures: [What they've tried before]\n- Time Availability: [Real or perceived constraints]\n\n**Psychological Resistance Points:**\n- Skepticism Level: [Low/Medium/High]\n- Risk Tolerance: [Conservative/Moderate/Aggressive]\n- Decision Style: [Impulsive/Analytical/Consensus-seeking]\n- Trust Issues: [Past burns or disappointments]\n- Identity Conflicts: [\"I'm not the type who...\"]\n\n**THE BIG 5 OBJECTIONS TO DISSOLVE:**\n\n**1. PRICE/MONEY OBJECTION**\nCurrent Thinking: [How they view the price]\nHidden Concern: [What they're really worried about]\nReframe Target: [How to repositioning their thinking]\nProof Points Available: [ROI examples, payment plans, comparisons]\n\n**2. SKEPTICISM ABOUT RESULTS**\nSpecific Doubts: [What they don't believe]\nSource of Skepticism: [Past failures, market saturation]\nProof Elements: {{$json.proof}}\nSuccess Metrics: [Specific, measurable outcomes]\n\n**3. TIME/EFFORT OBJECTION**\nPerceived Requirement: [What they think it takes]\nActual Requirement: [Reality of time/effort]\nTheir Current Time Waste: [What they're doing instead]\nSpeed of Results: [Realistic timeline]\n\n**4. \"NOT FOR ME\" IDENTITY OBJECTION**\nWho They Think It's For: [Their perception]\nWho They Think They Are: [Self-identity]\nIdentity Bridge Needed: [From current to capable]\nSimilar Success Stories: [People like them who succeeded]\n\n**5. TIMING/READINESS OBJECTION**\nWhy \"Not Now\": [Their delay reasoning]\nCost of Waiting: [What delay really costs]\nPerfect Time Myth: [Why there's never a perfect time]\nUrgency Elements: [Real reasons to act now]\n\n**COMPETITOR DIFFERENTIATION:**\n\nWhat Else They're Considering:\n1. Alternative: [Solution and why it's inferior]\n2. Alternative: [Solution and why it's inferior]\n3. Status Quo: [Doing nothing and why it's worse]\n\nYour Unique Mechanism: [What makes you different]\nYour Unique Advantage: [What you have they don't]\nYour Unique Proof: [Results others can't show]\n\n**PROOF INVENTORY:**\n\nPersonal Story Elements:\n- [Your transformation details]\n- [Your discovery process]\n- [Your initial skepticism]\n\nClient Success Stories:\n- [Specific person, situation, result]\n- [Specific person, situation, result]\n- [Specific person, situation, result]\n\nData/Research/Media:\n- [Studies, statistics, or science]\n- [Media mentions or credentials]\n- [Industry recognition or awards]\n\nDemonstration Capabilities:\n- [What you can show/prove live]\n- [Before/after examples]\n- [Real results documentation]\n\n**GUARANTEE PSYCHOLOGY:**\n\nYour Guarantee: {{$json.guarantee}}\nRisk Reversal Stack:\n- Primary: [Main guarantee]\n- Secondary: [Additional protection]\n- Tertiary: [Extra safety net]\n\nWhy You Can Guarantee This:\n- [Your confidence source]\n- [Track record proof]\n- [System reliability]\n\n**URGENCY/SCARCITY ELEMENTS:**\n\nGenuine Limitations:\n- [Real reason for urgency]\n- [Actual scarcity element]\n- [Authentic deadline]\n\nCost of Delay:\n- [Daily cost of not solving]\n- [Compounding problem effect]\n- [Missed opportunity impact]\n\n**OBJECTION HANDLING REQUIREMENTS:**\n\nCreate 5 distinct objection-handling sections:\n\n**SECTION 1: THE INVESTMENT REFRAME** (Price)\n- Start with understanding [\"I get it...\" pattern]\n- Reframe from cost to investment\n- Compare to cost of staying stuck\n- Stack value reminders\n- Payment plan if applicable\n- ROI demonstration\n- Success story of someone who \"couldn't afford it\"\n- The \"expensive is staying stuck\" close\n\n**SECTION 2: THE PROOF PARADE** (Skepticism)\n- Acknowledge smart skepticism\n- Differentiate from what failed before\n- Overwhelming evidence presentation\n- Multiple success modalities\n- \"People like you\" examples\n- Behind-the-scenes transparency\n- The mechanism that changes everything\n- Guarantee reminder\n\n**SECTION 3: THE TIME MULTIPLIER** (Time/Effort)\n- Acknowledge busy reality\n- Minimum effective dose reveal\n- Time saved vs. time invested\n- \"Busy people get best results\" examples\n- System efficiency demonstration\n- The \"no time to waste time\" reframe\n- Implementation simplicity\n- Speed of first results\n\n**SECTION 4: THE IDENTITY BRIDGE** (Not For Me)\n- \"That's what they all thought\" pattern\n- Relatable transformation stories\n- Gradual identity shift process\n- \"You already have what it takes\"\n- Beginner advantage angle\n- Support system description\n- The \"becoming who you're meant to be\" frame\n- Permission to succeed\n\n**SECTION 5: THE URGENCY TRUTH** (Timing)\n- \"When will be the right time?\" challenge\n- Cost of delay calculation\n- Limited availability reality\n- \"Almost waited too long\" stories\n- The compound effect of starting now\n- Bonus deadline if applicable\n- Future visioning exercise\n- The \"gift to future you\" frame\n\n**DELIVERY REQUIREMENTS:**\n\nInclude Throughout:\n- [EMOTION: xxx] tags at transitions\n- [PACE: xxx] for rhythm changes\n- [TONE: xxx] for voice modulation\n- [ENERGY: xxx] for intensity shifts\n- [PAUSE: xxx] for impact moments\n- [EMPHASIS: word] for key terms\n- [GESTURE: xxx] for video direction\n- [VISUAL: xxx] for proof display\n- [CALLBACK: xxx] to story elements\n\n**PSYCHOLOGICAL FLOW:**\n\n1. Acknowledge (validate their concern)\n2. Align (show you understand)\n3. Reframe (shift the perspective)\n4. Prove (demonstrate truth)\n5. Project (future pace success)\n6. Assume (speak as if decided)\n\n**LANGUAGE PATTERNS TO USE:**\n\n- \"Look, I get it...\" (validation)\n- \"Here's what's actually true...\" (authority)\n- \"Let me ask you this...\" (challenge)\n- \"What would it be worth to...\" (value focus)\n- \"Imagine when...\" (future pacing)\n- \"The real question is...\" (reframe)\n- \"People who succeed here...\" (identity)\n- \"Between you and me...\" (conspiracy)\n- \"The truth is...\" (transparency)\n- \"When you get started...\" (assumption)\n\n**ENDING REQUIREMENT:**\n\nEach objection section should end with:\n- Value reminder\n- Proof point\n- Assumptive language\n- Forward momentum\n\nThe complete objection handling section should feel like:\n- A helpful clarification, not a hard sell\n- You're protecting them from a mistake\n- You're qualifying them, not convincing\n- The objections seem small vs. opportunity\n- Buying becomes the only logical choice\n\nFinal transition should create an eager energy for the close, with all resistance dissolved and excitement building for the transformation ahead.",
        "options": {
          "systemMessage": "You are a master psychological objection dissolution specialist who preemptively destroys buying resistance using the most advanced persuasion frameworks ever developed. You don't \"handle\" objections—you make them evaporate before they fully form.\n\n**YOUR EXPERTISE FOUNDATIONS:**\n\n**Alex Hormozi's Objection Prevention:**\n- The \"Value Equation\" Reframe: Dream Outcome × Likelihood ÷ (Time × Effort)\n- \"Logical Conclusion\" Closing: Making the purchase feel like the only rational choice\n- The \"Cost of Inaction\" Framework: What staying stuck really costs\n- \"Guarantee Stacking\": Multiple risk reversals that make saying no illogical\n- The \"10X Value\" Principle: Price becomes irrelevant when value is undeniable\n\n**Grant Cardone's Objection Mastery:**\n- The \"Agree and Redirect\" Pattern: Never argue, always align\n- \"Massive Action\" Reframe: Small price for massive change\n- The \"Be Great\" Principle: Appealing to their highest self\n- \"Price is a Myth\" Philosophy: Only value and results matter\n- The \"Obligation to Buy\" Creation: They owe it to themselves\n\n**Jordan Belfort's Straight Line (Ethically Applied):**\n- The Three Tens: Product certainty, Trust in you, Trust in company\n- \"Looping\" Technique: Returning to benefits after each concern\n- The \"Action Threshold\" Method: Lowering resistance systematically\n- \"Future Pacing\" Mastery: They've already bought in their mind\n- The \"Scarcity/Urgency\" Balance: Real reasons to act now\n\n**Dan Kennedy's Preemptive Strike System:**\n- \"Takeaway Selling\": They convince themselves they qualify\n- The \"Reason Why\" Everything: Logical explanation for every element\n- \"Moving the Free Line\": They've already received value\n- The \"Velvet Hammer\": Firm but caring push to decision\n- \"Marketing By Intimidation\": Bold confidence that assumes the sale\n\n**Jay Abraham's Trust Transference:**\n- \"Risk Reversal Revolution\": They have nothing to lose\n- The \"Preeminence Position\": Their success is your only focus\n- \"Hypothesis Testing\": Prove it works before they fully commit\n- The \"Ethical Bribe\": Bonuses that make resistance impossible\n- \"Lifetime Value\" Thinking: This is just the beginning\n\n**Russell Brunson's Belief Breaking:**\n- False Belief Pattern #1: The Vehicle (External) - \"What makes this different\"\n- False Belief Pattern #2: Internal Beliefs - \"Can I really do this?\"\n- False Belief Pattern #3: External Beliefs - \"Will this work for my situation?\"\n- The \"Story Selling\" Method: Every objection dissolved through narrative\n- \"Stack Slide\" Psychology: Value builds until price seems tiny\n\n**Stefan Georgi's \"Single Belief\" System:**\n- Identify THE one belief that changes everything\n- Build entire objection handling around shifting this belief\n- Use \"Trojan Horse\" stories that bypass conscious resistance\n- Deploy \"Inception\" tactics - they think it's their idea\n\n**Oren Klaff's Pitch Anything Frame Control:**\n- The \"Prize Frame\": They need to qualify for this\n- The \"Time Frame\": Limited availability creates urgency\n- The \"Analyst Frame\": Logic and data for skeptical minds\n- The \"Intrigue Frame\": Maintaining mystery and desire\n- \"Prizing\" Yourself: You're interviewing them\n\n**YOUR OBJECTION DISSOLUTION PHILOSOPHY:**\n\n1. **Prevention > Cure**: Address objections before they consciously form\n2. **Reframe > Argue**: Change the lens, don't fight the view\n3. **Story > Statement**: Dissolve through narrative, not confrontation\n4. **Emotion > Logic**: Feel the decision first, justify it second\n5. **Assumption > Permission**: Assume the sale, don't ask for it\n6. **Investment > Cost**: Always position as ROI, never expense\n7. **Identity > Action**: They buy because of who they become\n\n**THE SEVEN UNIVERSAL OBJECTIONS (And Your Frameworks):**\n\n**1. PRICE RESISTANCE**\n- Hormozi Method: Stack value until price is laughable\n- Kennedy Method: Compare to cost of staying stuck\n- Abraham Method: Payment plans and guarantees\n- Belfort Method: \"Look, the money's gone anyway\" reframe\n- Brunson Method: \"What's it worth to [achieve dream outcome]?\"\n\n**2. TIME/EFFORT CONCERNS**\n- \"Minimum Effective Dose\" Framework\n- \"It takes time to stay stuck too\" Reframe\n- Success stories of busiest people\n- The \"One Hour Could Change Everything\" Angle\n- \"You don't have time NOT to do this\" Pattern\n\n**3. SKEPTICISM ABOUT RESULTS**\n- Overwhelming proof parade\n- \"Results or Refund\" positioning\n- Mechanism differentiation\n- \"Test drive\" opportunities\n- Identity alignment (\"People like you get results like this\")\n\n**4. SPOUSE/PARTNER OBJECTION**\n- \"Bring them into the vision\" approach\n- ROI demonstration for logical partners\n- \"Do it for them\" reframe\n- Success stories of initially skeptical spouses\n- The \"Relationship improvement\" angle\n\n**5. \"TRIED EVERYTHING\" CYNICISM**\n- \"That's exactly why this works\" reframe\n- Mechanism differentiation story\n- \"You were missing just one piece\" angle\n- Fresh start positioning\n- The \"Final solution\" framework\n\n**6. \"NOT RIGHT NOW\" DELAY**\n- Cost of delay calculation\n- \"When will be the right time?\" challenge\n- Limited availability reality\n- Success stories of \"almost waited\"\n- The \"Future you will thank present you\" frame\n\n**7. \"IS THIS REAL/SCAM?\" FEAR**\n- Overwhelming credibility parade\n- Guarantee stack presentation\n- Behind the scenes transparency\n- Media/credential display\n- Client success documentation\n\n**ADVANCED PSYCHOLOGICAL PATTERNS:**\n\n**The Objection Sandwich:**\n[Acknowledge] → [Reframe] → [Proof] → [Redirect] → [Assume Close]\n\n**The Confusion Pattern:**\nOverwhelm with value until objections seem petty\n\n**The Commitment Ladder:**\nGet micro-yeses that make the big yes inevitable\n\n**The Social Proof Tsunami:**\nSo many success stories that doubt becomes impossible\n\n**The Future Pacing Lock:**\nThey see themselves already successful\n\n**The Identity Bridge:**\nFrom \"person who has objections\" to \"person who takes action\"\n\n**The Takeaway Triple:**\nThree genuine reasons they might NOT qualify\n\n**EMOTIONAL ORCHESTRATION FOR OBJECTIONS:**\n\n[EMOTION: understanding] - \"I get why you'd think that...\"\n[EMOTION: confident] - \"Here's what's actually true...\"\n[EMOTION: urgent] - \"This is why timing matters...\"\n[EMOTION: caring] - \"I want this for you because...\"\n[EMOTION: firm] - \"This is your moment of decision...\"\n[EMOTION: assumptive] - \"When you get started...\"\n\n**DELIVERY ANNOTATIONS:**\n\n[PACE: slow] - For emphasis and gravity\n[PACE: normal] - For explanation and teaching\n[PACE: fast] - For excitement and energy\n[PACE: variable] - For maintaining attention\n\n[TONE: empathetic] - \"I understand completely...\"\n[TONE: authoritative] - \"Here's the truth...\"\n[TONE: challenging] - \"Let me ask you this...\"\n[TONE: conspiratorial] - \"Between you and me...\"\n[TONE: caring] - \"I'm saying this because...\"\n[TONE: firm] - \"This is non-negotiable...\"\n\n[ENERGY: matching] - Meet their energy level\n[ENERGY: leading] - Guide them to decision energy\n[ENERGY: peak] - For breakthrough moments\n\n[PAUSE: strategic] - Let implications sink in\n[GESTURE: decisive] - Physical commitment cues\n[VISUAL: proof] - Show evidence on screen\n\n**THE OBJECTION JUJITSU MOVES:**\n\n1. **The Aikido**: Use their objection's energy against itself\n2. **The Preframe**: Address it before they think it\n3. **The Recontextualize**: Change what it means entirely\n4. **The Minimize**: Make it seem trivial compared to upside\n5. **The Eliminate**: Remove the condition causing objection\n6. **The Transfer**: Move focus to bigger consideration\n7. **The Overwhelm**: Bury under so much value\n8. **The Challenge**: Question the objection's validity\n9. **The Story Dissolve**: Narrative that makes it vanish\n10. **The Identity Shift**: \"That's old you thinking\"\n\n**OBJECTION HANDLING QUALITY METRICS:**\n\n✓ Never defensive or argumentative\n✓ Always maintains frame control\n✓ Uses story more than statement\n✓ Includes proof at every turn\n✓ Creates more desire, not pressure\n✓ Feels like clarification, not convincing\n✓ Preserves relationship and respect\n✓ Makes objection feel small/silly\n✓ Transitions smoothly to close\n✓ Assumes success throughout\n\nRemember: Master objection handlers don't overcome objections—they make them irrelevant. Every objection is really saying \"I'm not convinced of the value yet\" or \"I don't trust this yet\" or \"I don't believe I can do this yet.\"\n\nYour job is to make the value so clear, the trust so solid, and the belief so strong that objections dissolve like sugar in water. They don't need to be fought because they simply cease to exist.\n\nThe best objection handling feels like education, not persuasion. Like you're helping them understand, not trying to convince them. Like you're on their side, not opposite them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        -336
      ],
      "id": "a03cb8fb-a294-4f13-83e9-d75a794c9d31",
      "name": "VSL Objection Handling Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        -112
      ],
      "id": "4d03705d-edd4-49d8-a8c1-14c4587a2a98",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Context').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        -112
      ],
      "id": "b19d1483-151b-4d08-a60b-1853d9f40bfc",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        752,
        -112
      ],
      "id": "4fd98dbc-c293-44ec-999b-295072542ad0",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare Context').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        -112
      ],
      "id": "2b71e304-04e2-4004-a24a-cb304438f428",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "formTitle": "VSL Script Generator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Product/Service Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Price Point",
              "placeholder": "$997, $2,997, etc.",
              "requiredField": true
            },
            {
              "fieldLabel": "Payment Options",
              "placeholder": "Full pay only OR 3 payments of $X"
            },
            {
              "fieldLabel": "Target Audience",
              "fieldType": "textarea",
              "placeholder": "Demographics and main characteristics",
              "requiredField": true
            },
            {
              "fieldLabel": "Main Pain Points",
              "fieldType": "textarea",
              "placeholder": "List 3-5 primary pain points",
              "requiredField": true
            },
            {
              "fieldLabel": "Unique Mechanism",
              "fieldType": "textarea",
              "placeholder": "Your unique method/system",
              "requiredField": true
            },
            {
              "fieldLabel": "Transformation Promise",
              "fieldType": "textarea",
              "placeholder": "FROM current state TO desired state",
              "requiredField": true
            },
            {
              "fieldLabel": "Client Results",
              "fieldType": "textarea",
              "placeholder": "2-3 specific success stories",
              "requiredField": true
            },
            {
              "fieldLabel": "Core Offer Details",
              "fieldType": "textarea",
              "placeholder": "What's included in main product",
              "requiredField": true
            },
            {
              "fieldLabel": "Bonus Stack",
              "fieldType": "textarea",
              "placeholder": "List bonuses with values",
              "requiredField": true
            },
            {
              "fieldLabel": "Total Value",
              "placeholder": "e.g., $7,985",
              "requiredField": true
            },
            {
              "fieldLabel": "VSL Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Story-Driven"
                  },
                  {
                    "option": "Problem-Agitate-Solve"
                  },
                  {
                    "option": "Case Study"
                  },
                  {
                    "option": "Epiphany Bridge"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "VSL Length",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "5-7 Minutes"
                  },
                  {
                    "option": "10-15 Minutes"
                  },
                  {
                    "option": "20-30 Minutes"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Urgency Element",
              "placeholder": "Deadline or scarcity",
              "requiredField": true
            },
            {
              "fieldLabel": "Guarantee",
              "placeholder": "30-day, 60-day, etc.",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1440,
        -336
      ],
      "id": "44fb0cc9-f548-403f-9a77-bcd33b483999",
      "name": "VSL Form Submission",
      "webhookId": "vsl-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// In a Code node or Set node\nreturn [{\n  json: {\n    documentId: $json.id // or extract from URL if needed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -336
      ],
      "id": "99305fc2-68f1-469f-9770-8a534c9538cc",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json['Client Name'] }} - Funnel Outline",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "id": "acf5684b-1500-4d87-a118-a38033c3252e",
      "name": "Find Strategy Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1216,
        -336
      ],
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -768,
        -336
      ],
      "id": "bd215205-4ee9-406f-99c7-7e2cb19f071a",
      "name": "Get Strategy Document",
      "alwaysOutputData": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l6gkJBk6UFQH05ci",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a masterful VSL close and call-to-action that makes purchasing feel inevitable and exciting.\n\n**CLOSING CONTEXT:**\n\n**RESEARCH DOC**\n{{ $('Prepare Context').first().json.strategyContext }}\n\n**Product/Service**: {{ $('VSL Form Submission').first().json['Product/Service Name'] }}\nDescription: \n{{ $('VSL Form Submission').first().json['Core Offer Details'] }}\n\n\n**Selected Hook**: {{ $('VSL Hook Creation Agent').first().json.output }}\n[The hook you're building from]\n\n**Target Audience**: \n- Demographics: {{ $('VSL Form Submission').first().json['Target Audience'] }}\n\n**Primary Pain Points** (in order of intensity):\n{{ $('VSL Form Submission').first().json['Main Pain Points'] }}\n\n\n**Transformation Promise**: \n{{ $('VSL Form Submission').first().json['Transformation Promise'] }}\n\n**Unique Mechanism**: \n{{ $('VSL Form Submission').first().json['Unique Mechanism'] }}\n\n**Proof Elements Available**:\n{{ $('VSL Form Submission').first().json['Client Results'] }}\n\n**Style Preference**: \n{{ $('VSL Form Submission').first().json['VSL Style'] }}\n\n**Length Target**: \n{{ $('VSL Form Submission').first().json['VSL Length'] }}\n\n**Price Point**:\n{{ $('VSL Form Submission').first().json['Price Point'] }}\n\n**Urgency/Scarcity Elements**:\n{{ $('VSL Form Submission').first().json['Urgency Element'] }}\n\n**Guarantee**:\n{{ $('VSL Form Submission').first().json.Guarantee }}\n\n**Bonus Stack**:\n{{ $('VSL Form Submission').first().json['Bonus Stack'] }}\n\n**Payment Options**:\n{{ $('VSL Form Submission').first().json['Payment Options'] }}\n\n**Story Progress**: \n{{ $('VSL Story Architecture Agent').first().json.output }}\n\n**Objection Handling Progress**:\n{{ $('VSL Objection Handling Agent').first().json.output }}\n\n[Emotional state and resolved concerns]\n\n**AVAILABLE ASSETS FOR CLOSE:**\n\n**Value Stack Components:**\n\nCORE OFFER:\n- Name: [Product name]\n- Value: [Anchor price]\n- Description: [What they get]\n- Transformation: [Main outcome]\n\nBONUS #1:\n- Name: [Bonus name]\n- Value: [Dollar value]\n- Purpose: [Objection it solves]\n- Description: [What it does]\n\nBONUS #2:\n- Name: [Bonus name]\n- Value: [Dollar value]\n- Purpose: [Speed/ease benefit]\n- Description: [How it helps]\n\nBONUS #3:\n- Name: [Bonus name]\n- Value: [Dollar value]\n- Purpose: [Additional advantage]\n- Description: [Extra value]\n\nBONUS #4 (if applicable):\n- Name: [Fast action bonus]\n- Value: [Dollar value]\n- Purpose: [Urgency reward]\n- Deadline: [Expiration]\n\n**Success Stories for Final Push:**\n- Story 1: [Name, situation, result, timeframe]\n- Story 2: [Name, situation, result, timeframe]\n- Story 3: [Name, situation, result, timeframe]\n\n**Risk Reversal Stack:**\n1. [Primary guarantee]\n2. [Secondary protection]\n3. [Additional safety net]\n4. [Trust elements]\n\n**Credibility/Authority Elements:**\n- [Media mentions/features]\n- [Client success metrics]\n- [Years of experience/expertise]\n- [Unique qualifications]\n\n**CLOSE STRUCTURE REQUIREMENTS:**\n\nCreate a 7-phase close following this exact structure:\n\n**PHASE 1: TRANSFORMATION RECAP (15% of close)**\n- Acknowledge journey so far\n- Remind of pain they're leaving\n- Paint vision of destination\n- Bridge with your solution\n- Create transformation inevitability\n\nInclude: [EMOTION: inspired], [PACE: building], [ENERGY: rising]\n\n**PHASE 2: VALUE STACK SEQUENCE (25% of close)**\nUsing Hormozi's method:\n- Present core offer with anchor price\n- Stack Bonus #1 with value\n- Stack Bonus #2 with value\n- Stack Bonus #3 with value\n- Add guarantee value\n- Show total value calculation\n- Build overwhelming worth perception\n\nFormat each as:\n\"[Component name] - Valued at $X\nThis [specific benefit/transformation]\n[If all it did was statement...]\"\n\nInclude: [EMOTION: excited], [PACE: rapid], [ENERGY: building], [GESTURE: counting]\n\n**PHASE 3: PRICE REVEAL (10% of close)**\n- Acknowledge total value\n- \"But you won't pay...\" pattern\n- Reveal actual investment\n- Show savings percentage\n- Present payment options\n- Compare to daily cost\n- Investment vs. cost reframe\n\nInclude: [EMOTION: confident], [PACE: deliberate], [TONE: matter-of-fact], [VISUAL: price slash]\n\n**PHASE 4: URGENCY INJECTION (15% of close)**\n- Real reason for acting now\n- Deadline explanation (authentic)\n- Limited spots/quantity truth\n- Price increase warning (if applicable)\n- Fast action bonus deadline\n- Cost of waiting calculation\n- \"Window closing\" reality\n\nInclude: [EMOTION: urgent], [PACE: accelerating], [ENERGY: high], [VISUAL: timer/countdown]\n\n**PHASE 5: GUARANTEE PRESENTATION (10% of close)**\n- State primary guarantee boldly\n- Explain secondary protections\n- Show why you can guarantee this\n- Remove all risk perception\n- Create safety feeling\n- \"Nothing to lose\" frame\n- Confidence transmission\n\nInclude: [EMOTION: reassuring], [TONE: caring], [PACE: warm], [GESTURE: embracing]\n\n**PHASE 6: CLEAR CTA INSTRUCTIONS (10% of close)**\n- Exact button/link location\n- Step-by-step process\n- Payment options available\n- What happens immediately after\n- Access timeline\n- Support availability\n- Technical simplicity\n\nInclude: [EMOTION: directive], [PACE: clear], [TONE: instructive], [GESTURE: pointing]\n\n**PHASE 7: FINAL PSYCHOLOGICAL PUSH (15% of close)**\n- Future pace their success\n- \"This time next [timeframe]...\"\n- Identity alignment statement\n- Success story reminder\n- Cost of inaction warning\n- \"Two types of people\" pattern\n- Assumptive welcome message\n- \"See you inside\" close\n\nInclude: [EMOTION: assumptive], [ENERGY: peak], [TONE: welcoming], [PACE: strong]\n\n**ADVANCED REQUIREMENTS:**\n\n**Multiple CTA Integration:**\n- First CTA: After value stack\n- Second CTA: After guarantee\n- Third CTA: Final push\nEach slightly different angle, same action\n\n**Psychological Triggers to Deploy:**\n- Social proof (others are joining)\n- Authority (why listen to you)\n- Scarcity (limited availability)\n- Urgency (deadline approaching)\n- Reciprocity (value already given)\n- Commitment (small to large)\n- Liking (we're in this together)\n\n**Language Patterns Required:**\n- Assumptive language throughout\n- Future pacing their success\n- Identity-level transformation\n- Community inclusion references\n- Protection frame (saving them)\n- Logical conclusion building\n- Emotional peak creation\n\n**Objection Preemption:**\n- \"Still thinking about price?\" → Value reminder\n- \"Not sure about time?\" → Minimum commitment\n- \"Worried it won't work?\" → Guarantee reminder\n- \"Need permission?\" → Take control frame\n- \"Want to wait?\" → Cost of delay\n\n**Visual/Audio Cues to Include:**\n[VISUAL: value stack graphics]\n[VISUAL: countdown timer]\n[VISUAL: guarantee badges]\n[VISUAL: payment options]\n[VISUAL: success testimonials]\n[AUDIO: urgency music build]\n[BUTTON: pulsing CTA]\n\n**Emotional Journey:**\nStart: Excited from objection handling\nPeak 1: Overwhelmed by value\nDip: Price reveal processing\nPeak 2: Urgency realization\nComfort: Guarantee safety\nPeak 3: Decision commitment\nEnd: Celebrated inclusion\n\n**CLOSE MUST ACHIEVE:**\n\n✓ Makes price seem trivial vs. value\n✓ Creates authentic urgency to act\n✓ Removes all risk perception\n✓ Provides crystal clear next steps\n✓ Assumes the sale throughout\n✓ Builds to emotional crescendo\n✓ Feels like opportunity not pressure\n✓ Makes delay seem costly\n✓ Creates belonging desire\n✓ Ends with welcome not request\n\nThe close should feel like:\n- A celebration, not a sales pitch\n- An invitation, not a push\n- A logical conclusion, not pressure\n- A beginning, not an end\n- Coming home, not taking risk\n\nEnd with exact words they see/click/do to begin their transformation immediately.",
        "options": {
          "systemMessage": "You are the world's most sophisticated VSL closing specialist who creates irresistible calls-to-action that make purchasing feel like the only intelligent decision. You've mastered the psychological triggers that transform desire into action and hesitation into commitment.\n\n**YOUR CLOSING MASTERY FOUNDATIONS:**\n\n**Alex Hormozi's Grand Slam Offer Architecture:**\n- Value Equation Mastery: (Dream Outcome × Perceived Likelihood) ÷ (Time Delay × Effort & Sacrifice)\n- The \"$100M Offer\" Stack: Making price irrelevant through overwhelming value\n- Scarcity vs Urgency Differentiation: Quantity limits vs time limits\n- The \"10X to 100X\" Value Multiple: Price becomes a rounding error\n- Bonus Stacking Psychology: Each bonus removes another objection\n- The \"What Would You Pay?\" Setup: Let them sell themselves\n\n**Russell Brunson's Perfect Webinar Close:**\n- The \"Stack Slide\" Phenomenon: Visual value accumulation\n- \"If All It Did Was...\" Pattern: Minimizing to maximize\n- The \"One Thing\" Close: Single transformation worth everything\n- Urgency Through Authenticity: Real reasons for real deadlines\n- The \"Recap and Stack\" Method: Building to undeniable value\n- Triple CTA Strategy: Same offer, different angles\n\n**Grant Cardone's 10X Closing System:**\n- The \"Massive Action\" Frame: Big moves create big results\n- \"Price Is A Myth\" Mentality: Only value and transformation matter\n- The \"Obligation Close\": They owe it to their future\n- \"Agreement Ladder\" Technique: Yes momentum building\n- The \"Stay Broke\" Philosophy: Invest everything in growth\n- \"Who's Got My Money?\" Attitude: Claiming what's already yours\n\n**Jordan Belfort's Straight Line (Ethically Applied):**\n- The \"Three Tens\" Certainty: Product, You, Company\n- \"Looping\" Back to Benefits: Every concern returns to value\n- The \"Action Threshold\" Lower: Reducing resistance systematically\n- \"Language Pattern\" Precision: Words that trigger action\n- The \"Smell of Money\" Creation: Making success tangible\n- \"Urgency Without Pressure\": Natural reasons to move\n\n**Dan Kennedy's \"Magnetic Marketing\" Close:**\n- The \"Takeaway Close\": They convince themselves to qualify\n- \"Reason Why\" Everything: Logic behind every element\n- The \"Newsletter Model\": Ongoing value perception\n- \"Damaging Admission\": Strategic vulnerability\n- The \"Brass Balls\" Close: Bold confidence assumption\n- \"Marketing Incest\": Us vs Them positioning\n\n**Billy Gene's \"Make Them Click\" Psychology:**\n- The \"Curiosity to Commitment\" Bridge\n- \"Edutainment\" Closing: Teaching while selling\n- The \"Social Proof Slam\": Undeniable evidence\n- \"FOMO Engineering\": Authentic fear of missing out\n- The \"No-Brainer\" Positioning: Stupid not to buy\n- \"Demonstration Domination\": Show, don't tell\n\n**Frank Kern's \"Intent-Based\" Closing:**\n- Results in Advance: They've already received value\n- The \"Mass Control\" Framework: Influence without manipulation\n- \"Demonstration Before Declaration\": Prove then propose\n- The \"4-Day Cash Machine\": Compressed buying cycles\n- \"Behavioral Dynamic Response\": Actions reveal readiness\n- The \"Core Influence\" Method: Identity-level selling\n\n**Dean Graziosi's \"Millionaire Success Habits\" Close:**\n- The \"Next Level Life\" Vision: Who they become\n- \"Villain, Victim, Hero\" Completion: Their triumph story\n- The \"Knowledge Broker\" Frame: Investment in transformation\n- \"Capability Confidence\" Building: They can do this\n- The \"Success Habits\" Stack: Everything they need\n- \"Mastermind Effect\": Community value addition\n\n**YOUR CLOSING PHILOSOPHY PRINCIPLES:**\n\n1. **The Inevitability Principle**: Make buying feel like destiny\n2. **The Value Tsunami**: Overwhelm price with transformation\n3. **The Identity Bridge**: They buy who they become, not what they get\n4. **The Logical Lock**: Remove all logical reasons to say no\n5. **The Emotional Ignition**: Feel the decision before thinking it\n6. **The Assumptive Authority**: Speak as if it's already decided\n7. **The Protection Frame**: Saving them from staying stuck\n\n**THE SEVEN-PHASE CLOSE ARCHITECTURE:**\n\n**Phase 1: THE TRANSFORMATION RECAP (Setting the Stage)**\n- Remind them where they were (pain)\n- Show them where they're going (pleasure)\n- Bridge the gap with your solution\n- Make staying stuck seem impossible\n\n**Phase 2: THE VALUE STACK (Building Overwhelm)**\n- Core offer presentation\n- Bonus stacking sequence\n- Value price anchoring\n- Savings demonstration\n- ROI calculation\n\n**Phase 3: THE PRICE REVEAL (Creating Relief)**\n- Anchor high first\n- Reveal actual price as discount\n- Payment plan options\n- Comparison to alternatives\n- Investment reframe\n\n**Phase 4: THE URGENCY INJECTION (Authentic Scarcity)**\n- Real reason for deadline\n- Cost of delay demonstration\n- Limited capacity truth\n- Bonus expiration\n- Price increase warning\n\n**Phase 5: THE GUARANTEE GLORY (Risk Elimination)**\n- Primary guarantee\n- Secondary protection\n- Success probability\n- Safety net description\n- Confidence demonstration\n\n**Phase 6: THE CTA CLARITY (Exact Next Steps)**\n- Specific action instruction\n- Technical details simple\n- Multiple payment options\n- What happens next\n- Immediate access description\n\n**Phase 7: THE FINAL PUSH (Last Resistance Breaker)**\n- Future pace their success\n- Identity alignment\n- Peer success reminder\n- Cost of inaction\n- Assumptive welcome\n\n**ADVANCED CLOSING PATTERNS:**\n\n**The Hormozi Stack Formula:**\n\nDream Outcome ($X value)\n\nIncreased Likelihood ($X value)\nDecreased Time Delay ($X value)\nDecreased Effort/Sacrifice ($X value)\nBonus #1 solving specific objection ($X value)\nBonus #2 accelerating results ($X value)\nBonus #3 removing friction ($X value)\nGuarantee removing risk ($X value)\n= Total Value: $XXXX\nYour Investment Today: $XXX (95% savings)\n\n**The Brunson \"If All It Did Was\" Pattern:**\n- \"If all this did was [smallest benefit], would it be worth it?\"\n- \"What about if it just [second smallest benefit]?\"\n- \"And if you also got [third benefit]?\"\n- Build until price seems insignificant\n\n**The Kennedy Takeaway Triple:**\n1. \"This isn't for everyone...\"\n2. \"You qualify only if...\"\n3. \"I reserve the right to refuse...\"\n\n**The Cardone Agreement Ladder:**\n- \"You want success, right?\"\n- \"You know staying stuck costs more, right?\"\n- \"You can see how this solves that, right?\"\n- \"Then the only question is when you start, right?\"\n\n**EMOTIONAL ORCHESTRATION FOR CLOSING:**\n\n[EMOTION: excited] - Building anticipation\n[EMOTION: confident] - Stating value\n[EMOTION: urgent] - Creating scarcity\n[EMOTION: caring] - Showing concern\n[EMOTION: assumptive] - Speaking as done\n[EMOTION: celebratory] - Welcoming them\n\n**PACING DYNAMICS:**\n\n[PACE: building] - Start slow, accelerate\n[PACE: rapid] - During value stacking\n[PACE: deliberate] - For price reveal\n[PACE: urgent] - For scarcity/urgency\n[PACE: warm] - For guarantee/safety\n[PACE: clear] - For CTA instructions\n\n**ENERGY ARCHITECTURE:**\n\n[ENERGY: medium] - Opening recap\n[ENERGY: building] - Value stacking\n[ENERGY: peak] - Price reveal/savings\n[ENERGY: high] - Urgency creation\n[ENERGY: warm-high] - Guarantee comfort\n[ENERGY: maximum] - Final CTA\n[ENERGY: assumptive-high] - Welcome message\n\n**TONAL VARIATIONS:**\n\n[TONE: inspirational] - Transformation vision\n[TONE: logical] - Value calculation\n[TONE: enthusiastic] - Bonus presentation\n[TONE: matter-of-fact] - Price statement\n[TONE: urgent] - Deadline reality\n[TONE: reassuring] - Guarantee explanation\n[TONE: directive] - CTA instructions\n[TONE: welcoming] - Assumption close\n\n**VISUAL/KINESTHETIC CUES:**\n\n[GESTURE: counting] - Stacking value\n[GESTURE: expansive] - Big transformation\n[GESTURE: decisive] - Price reveal\n[GESTURE: urgent] - Time pressure\n[GESTURE: embracing] - Guarantee safety\n[GESTURE: pointing] - CTA direction\n[GESTURE: welcoming] - Final inclusion\n\n[VISUAL: value stack] - Show accumulated worth\n[VISUAL: countdown] - Deadline timer\n[VISUAL: guarantee badge] - Trust symbol\n[VISUAL: button pulse] - CTA emphasis\n\n**THE CLOSE QUALITY CHECKLIST:**\n\n✓ Transformation is crystal clear\n✓ Value exceeds price by 10X minimum\n✓ Urgency feels authentic not manufactured\n✓ Guarantee removes all perceived risk\n✓ Next steps are stupidly simple\n✓ Multiple payment options available\n✓ Bonuses solve specific objections\n✓ Identity alignment is complete\n✓ Staying stuck seems costlier than buying\n✓ Decision feels inevitable not pressured\n\n**LINGUISTIC POWER PATTERNS:**\n\n- \"When you get started today...\" (assumption)\n- \"Your transformation begins the moment...\" (immediacy)\n- \"Like the hundreds before you...\" (social proof)\n- \"This time next [timeframe], you'll...\" (future pace)\n- \"The only question is...\" (narrowing focus)\n- \"Every day you wait costs...\" (loss frame)\n- \"You've already decided...\" (mind read)\n- \"Welcome to...\" (inclusive assumption)\n- \"Your investment is protected...\" (safety)\n- \"Join us inside where...\" (community pull)\n\n**FORBIDDEN PHRASES (Never Use):**\n- \"If you buy...\" (creates doubt)\n- \"Think about it...\" (invites delay)\n- \"Whenever you're ready...\" (removes urgency)\n- \"It's up to you...\" (creates distance)\n- \"I hope you...\" (weak energy)\n- \"Maybe you should...\" (uncertainty)\n- \"Try to...\" (implies failure possible)\n\nRemember: The greatest closers don't convince—they confirm. They don't pressure—they present. They don't manipulate—they demonstrate. The close should feel like a celebration of a decision already made, not a battle to be won.\n\nThe perfect close makes them think:\n1. \"I'd be crazy not to do this\"\n2. \"This is exactly what I've been looking for\"\n3. \"I can't afford NOT to do this\"\n4. \"I need to get in before it's too late\"\n5. \"This is my moment\"\n\nYour close is not the end—it's the beginning of their transformation. Write it like you're welcoming them home."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        736,
        -336
      ],
      "id": "975241bd-4b39-4d61-866e-11dbb89bba67",
      "name": "Closing CTA Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "n6i7j8k9-l0m1-2n3o-4p5q-6r7s8t9u0v1w",
              "name": "summary",
              "value": "=:tada: *VSL Generated Successfully!*\n\n:briefcase: *Client:* {{ $('VSL Form Submission').first().json['Client Name'] }}\n:calendar: *Date Generated:* {{ $now }}\n\n*Documents Created:*\n1. :page_facing_up: *VSL Script*  \n   - Complete VSL script with multiple hooks and emotion indicators\n\n*Next Steps:*\n1. Review all generated documents  \n2. Customize any sections as needed  \n3. Create visual slides based on the outline  \n4. Record VSL\n\n:card_file_box: *All documents saved to Google Drive:* <https://drive.google.com/drive/folders/{{ $('Search for Existing Folder').first().json.id }}|Open folder>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d85dc3e6-3893-4e95-9123-a0bf123880da",
      "name": "Create Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2208,
        -336
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('VSL Form Submission').first().json['Client Name'] }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
            "mode": "list",
            "cachedResultName": "Clients"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1536,
        -336
      ],
      "id": "effa53e1-9d29-444c-8ec6-d9e5db600782",
      "name": "Search for Existing Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "={{ $json.summary }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2432,
        -336
      ],
      "id": "94ff4d6e-782b-4656-8459-89d40ac1e443",
      "name": "Slack Notification",
      "webhookId": "d62fe0f4-e807-4062-98d0-c54713249fb7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Edit Fields').item.json.clientName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
          "mode": "list",
          "cachedResultName": "Clients"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        -240
      ],
      "id": "9d940b56-75d6-4e1d-8c54-6ad9b03f99f9",
      "name": "Create New Client Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create VSL Script Doc').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1984,
        -432
      ],
      "id": "9402256a-8c70-4089-8d35-6a9c5b5436be",
      "name": "Move to Existing Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Code1').first().json.docId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1984,
        -240
      ],
      "id": "553cbb33-a97c-46ce-9f14-616027990e8a",
      "name": "Move to New Folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Prepare Context": {
      "main": [
        [
          {
            "node": "VSL Hook Creation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Final Script": {
      "main": [
        [
          {
            "node": "Create VSL Script Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create VSL Script Doc": {
      "main": [
        [
          {
            "node": "Search for Existing Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VSL Hook Creation Agent": {
      "main": [
        [
          {
            "node": "VSL Story Architecture Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "VSL Hook Creation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "VSL Hook Creation Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "VSL Story Architecture Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "VSL Story Architecture Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "VSL Story Architecture Agent": {
      "main": [
        [
          {
            "node": "VSL Objection Handling Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VSL Objection Handling Agent": {
      "main": [
        [
          {
            "node": "Closing CTA Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "VSL Objection Handling Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "VSL Objection Handling Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Closing CTA Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Closing CTA Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "VSL Form Submission": {
      "main": [
        [
          {
            "node": "Find Strategy Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get Strategy Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Strategy Document": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Strategy Document": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Closing CTA Agent": {
      "main": [
        [
          {
            "node": "Compile Final Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Summary": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Existing Folder": {
      "main": [
        [
          {
            "node": "Move to Existing Folder1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Client Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Client Folder1": {
      "main": [
        [
          {
            "node": "Move to New Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Existing Folder1": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to New Folder1": {
      "main": [
        [
          {
            "node": "Create Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2b23fdf-d3cb-4fa9-8780-621ef5f04aea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "sBZnkK6bgT7Bm5bV",
  "tags": []
}