N8N Workflows/Workflows/Cold Email Lead Generation Agency/Booked Meeting Alert + Prospect Research.json
{
  "name": "Booked Meeting Alert + Prospect Research",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "scope": "organization",
        "events": [
          "invitee.created",
          "invitee.canceled"
        ]
      },
      "id": "9276d266-d827-4bd0-92d4-d2d22aa129ef",
      "name": "Calendly Events",
      "type": "n8n-nodes-base.calendlyTrigger",
      "position": [
        -256,
        -864
      ],
      "webhookId": "ab054f51-87a1-4371-9b4e-d3f5beb0cc1d",
      "typeVersion": 1,
      "credentials": {
        "calendlyOAuth2Api": {
          "id": "7Kyej5y8nMeusoRQ",
          "name": "Calendly account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332ac717-6d9e-4bb1-a29c-415f2519f7d0",
              "name": "title",
              "type": "string",
              "value": "={{ $json.scheduled_event.name }}"
            },
            {
              "id": "f94cd637-1254-4d50-af94-7a1d5e9b135f",
              "name": "description",
              "type": "string",
              "value": "={{ $json.questions_and_answers[0].answer }}"
            },
            {
              "id": "c527097e-949d-4a34-a1bd-ef47105c064f",
              "name": "eventUrl",
              "type": "string",
              "value": "={{ $json.scheduled_event.uri }}"
            },
            {
              "id": "ceb36c00-ced6-49a6-8fd5-81feebb62cc9",
              "name": "status",
              "type": "string",
              "value": "={{ $json.status }}"
            },
            {
              "id": "fee35065-650b-4b94-96f9-6dcf4306fc69",
              "name": "name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "0372c2d0-abe2-42c0-8a3e-45be7e802e1d",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            },
            {
              "id": "4afed284-dc20-450a-85bb-3a676a382411",
              "name": "startTime",
              "type": "string",
              "value": "={{ $json.scheduled_event.start_time }}"
            },
            {
              "id": "4ba399f9-3df0-4437-86e8-f2bf5a67aa61",
              "name": "endTime",
              "type": "string",
              "value": "={{ $json.scheduled_event.end_time }}"
            },
            {
              "id": "7a3906b4-0fd1-4629-bc1d-090203ac13b0",
              "name": "prospectCompany",
              "value": "={{ $json.questions_and_answers[0].answer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8395432d-63f5-4a58-9732-1ccaa2416d69",
      "name": "Map needed fields",
      "type": "n8n-nodes-base.set",
      "position": [
        192,
        -864
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.payload }}",
        "options": {}
      },
      "id": "68976691-a227-4237-aa36-095b70dd2ca0",
      "name": "create json",
      "type": "n8n-nodes-base.set",
      "position": [
        -32,
        -864
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0eb19b6-7dec-40ad-8ccb-7fc1e1ebdd85",
              "name": "name",
              "type": "string",
              "value": "={{ $('Explorium Enrich Profiles').item.json.data[0].data.full_name }}"
            },
            {
              "id": "3a213d32-a17d-46d1-848a-64b759677ca3",
              "name": "city",
              "type": "string",
              "value": "={{ $('Merge').item.json.data[0].data.city }}"
            },
            {
              "id": "1273634d-efd2-4fc0-a821-df9d3fea06a8",
              "name": "country",
              "type": "string",
              "value": "={{ $('Explorium Enrich Profiles').item.json.data[0].data.country_name }}"
            },
            {
              "id": "08485677-973e-438a-a9f3-8b62d64a0ff4",
              "name": "position",
              "type": "string",
              "value": "={{ $('Explorium Enrich Profiles').item.json.data[0].data.experience[3].title.name }}"
            },
            {
              "id": "c15f6f1e-11cf-40fb-b9ac-e216fc3760d7",
              "name": "about",
              "type": "string",
              "value": "={{ $('Explorium Enrich Profiles').item.json.data[0].data.experience[3].summary }}"
            },
            {
              "id": "49ea1e20-a376-4d67-9b2c-19371ea23174",
              "name": "current_company",
              "type": "string",
              "value": "={{ $('Explorium Enrich Profiles').item.json.data[0].data.experience[0].company.name }}"
            },
            {
              "id": "68ca9297-4b0e-45de-8a09-5e9a4ed1bfac",
              "name": "experience",
              "type": "string",
              "value": "={{ $json.data }}"
            },
            {
              "id": "8b2d2663-b254-43f1-b11a-3d5f3e76140b",
              "name": "url",
              "type": "string",
              "value": "={{ $('Merge').item.json.data[0].data.linkedin }}"
            },
            {
              "id": "58086e21-6200-4afb-9588-fd5fafffa807",
              "name": "educations_details",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d799bca8-6847-463b-abcf-3376aa673df0",
      "name": "Edit bio",
      "type": "n8n-nodes-base.set",
      "position": [
        3328,
        -864
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "sendTo": "=stopmoclay@gmail.com",
        "subject": "=New Meeting Prep Email -  {{ $('create json').first().json.name }} - {{ $('create json').first().json.scheduled_event.start_time }}",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "id": "7dbe2ac4-0863-448f-9315-2decf6da9fc7",
      "name": "Notify admin",
      "type": "n8n-nodes-base.gmail",
      "position": [
        4128,
        -960
      ],
      "webhookId": "409d2278-a1bb-4d6f-980a-c9206a3c4f21",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "mujg3kF2eeeQPJ3x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "id": "60079f02-3d34-4ac4-83f5-fed83d6b3097",
      "name": "create HTML",
      "type": "n8n-nodes-base.markdown",
      "position": [
        3904,
        -960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.explorium.ai/v1/prospects/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prospects_to_match\": [\n    {\n      \"full_name\": \"{{ $json.opportunity.name }}\",\n      \"company_name\": \"{{ $('Map needed fields').item.json.prospectCompany }}\",\n      \"email\": \"{{ $json.opportunity.contact.email }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "57fbdb81-447c-4189-89ab-63b25f72d9fe",
      "name": "Explorium Match Prospects",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1536,
        -864
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "VximGC8LJeVqBGJA",
          "name": "Explorium"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst prospectIds = allItems.map(item => \n  item.json.matched_prospects.map(prospect => prospect.prospect_id)\n).flat();\n\nreturn [{\n  json: {\n    prospect_ids: prospectIds\n  }\n}];"
      },
      "id": "de0915df-fc5a-4c9f-ac0e-e7e93ab60433",
      "name": "Extract Prospect IDs from Matched Results",
      "type": "n8n-nodes-base.code",
      "position": [
        1984,
        -864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.explorium.ai/v1/prospects/contacts_information/bulk_enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ { \"prospect_ids\": $json.prospect_ids } }}",
        "options": {}
      },
      "id": "0fbbd7cd-adbf-40c8-bacc-f60348ac6194",
      "name": "Explorium Enrich Contacts Information",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2208,
        -960
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "VximGC8LJeVqBGJA",
          "name": "Explorium"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "=data[0].prospect_id",
        "options": {}
      },
      "id": "93a3e7f6-85f6-4154-8609-e7158fb6684c",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2432,
        -864
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.explorium.ai/v1/prospects/profiles/bulk_enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ { \"prospect_ids\": $json.prospect_ids } }}",
        "options": {}
      },
      "id": "26cef918-2055-4d2d-a37a-32faabdf23c9",
      "name": "Explorium Enrich Profiles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2208,
        -768
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "VximGC8LJeVqBGJA",
          "name": "Explorium"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => \n  item.json.data.map(prospect => ({\n    prospect_id: prospect.prospect_id,\n    ...prospect.data\n  }))\n).flat()\n"
      },
      "id": "b390cb61-cc5d-4071-b219-fdede27e3200",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        2656,
        -864
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2e6a50ae-51e9-4fd8-ba2d-0c82f83cae6e",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.matched_prospects.some(prospect => prospect.prospect_id !== null).toBoolean() }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "157ebed1-9e2f-4195-b1fa-0792c2e660ef",
      "name": "Filter non-matched",
      "type": "n8n-nodes-base.filter",
      "position": [
        1760,
        -864
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "email": "={{ $json.email }}",
        "additionalFields": {
          "name": "={{ $json.firstName }} {{ $json.contactName }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        864,
        -960
      ],
      "id": "9afe0a40-27f1-4aee-996b-74b4ec6c6d20",
      "name": "Create or update a contact",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "0hWODSO7k62v5bkn",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant specializing in generating meeting preparation documents for business professionals. Your goal is to analyze provided data (specifically LinkedIn profiles and meeting agendas) and synthesize it into actionable insights to facilitate productive introductory calls. You are detail-oriented, organized, and capable of extracting key information and identifying relevant connections.\n\n**Task:**\n\nGenerate a comprehensive meeting preparation document for an introductory call with a prospect, based on the LinkedIn profile data and meeting agenda provided. The output should follow the format described below and be tailored to the specific information in the input data.\n\n**Input Format:**\n\nYou will receive a JSON object containing a LinkedIn profile and a string containing the meeting agenda. The LinkedIn profile will contain fields such as `name`, `position`, `about`, `experience`, `activity` and other relevant details.  The `experience` field is an array of job objects, each containing `title`, `company`, `description`, etc. The `activity` field is an array of the users' recent LinkedIn likes.\n\n**Output Format:**\n\nThe output should be a well-formatted document, easily readable and actionable, adhering to the following structure:\n\n**Prospect Information**\n\nName: {{ $json.name }}\nLinkedIn Profile: {{ $json.url }}\nCity: {{ $json.city }}\nCountry: {{ $json.country }}\nPosition: {{ $json.position }}\nCompany: {{ $json.current_company }}\nAbout: {{ $json.about }}\nExperience: {{ $json.experience }}\nEducation: {{ $json.educations_details }}",
        "options": {
          "systemMessage": "=You are MPIA (Meeting Preparation Intelligence Agent), an advanced AI assistant specializing in generating comprehensive meeting preparation documents for business professionals. Your primary mission is to transform raw data from LinkedIn profiles and meeting agendas into strategic, actionable intelligence that enables productive and meaningful business conversations.\nCore Capabilities\n1. Data Analysis & Synthesis\n\nProfile Analysis: Extract and interpret key information from LinkedIn profiles including professional history, skills, achievements, and activity patterns\nPattern Recognition: Identify career trajectories, industry movements, and professional interests\nConnection Mapping: Discover relevant mutual connections, shared experiences, or common ground\nActivity Analysis: Interpret LinkedIn engagement patterns to understand current interests and priorities\n\n2. Research Integration (Perplexity Tool)\nYou have access to the Perplexity research tool, which you should leverage to:\n\nCompany Intelligence: Research the prospect's current company for recent news, initiatives, challenges, and market position\nIndustry Context: Gather relevant industry trends, challenges, and opportunities\nCompetitive Landscape: Understand the competitive environment the prospect operates in\nTechnology Stack: Identify tools, platforms, or solutions the company currently uses\nRecent Developments: Find recent funding rounds, acquisitions, product launches, or strategic announcements\nPain Points: Research common challenges faced by similar companies or roles\nMarket Dynamics: Understand regulatory changes, market shifts, or emerging opportunities\n\n3. Strategic Insight Generation\n\nConversation Starters: Identify natural entry points for meaningful dialogue\nValue Proposition Alignment: Match potential solutions to identified needs\nRisk Assessment: Flag potential sensitivities or areas to approach carefully\nOpportunity Identification: Highlight potential areas for collaboration or value creation\n\nProcessing Methodology\nPhase 1: Data Ingestion & Validation\n\nParse the JSON LinkedIn profile data\nExtract the meeting agenda string\nValidate data completeness and identify any gaps\nFlag any inconsistencies or unusual patterns\n\nPhase 2: Profile Deep Dive\n\nCurrent Role Analysis\n\nTenure and progression\nScope of responsibilities\nTeam size and structure (if available)\nKey achievements or initiatives\n\n\nCareer Journey Mapping\n\nCareer progression patterns\nIndustry transitions\nSkill evolution\nLeadership development\n\n\nEducation & Credentials\n\nAcademic background\nProfessional certifications\nContinuous learning indicators\n\n\nActivity & Engagement Analysis\n\nContent themes from liked posts\nProfessional interests\nIndustry focus areas\nThought leaders they follow\n\n\n\nPhase 3: Research Enhancement (via Perplexity)\nExecute targeted research queries to gather:\n\nCompany-Specific Intelligence\n\nRecent press releases or news\nFinancial performance indicators\nStrategic initiatives or transformations\nTechnology investments or partnerships\nOrganizational changes or restructuring\n\n\nIndustry & Market Context\n\nSector-specific challenges\nRegulatory environment\nCompetitive pressures\nEmerging technologies or trends\nMarket growth projections\n\n\nRole-Specific Insights\n\nCommon priorities for similar positions\nTypical KPIs or success metrics\nIndustry best practices\nPeer benchmarking data\n\n\n\nPhase 4: Synthesis & Document Generation\nOutput Document Structure\nMEETING PREPARATION BRIEF\n\nI. PROSPECT PROFILE\nPersonal Information\n\nName: [Full name with preferred pronunciation if non-standard]\nLinkedIn: [URL]\nLocation: [City, State/Country] [Time zone if relevant]\nCurrent Role: [Title] at [Company]\nTenure: [Time in current role]\n\nProfessional Summary\n[2-3 sentence synthesis of their professional identity and focus areas based on their About section and experience]\n\nII. PROFESSIONAL BACKGROUND\nCurrent Position\n\nCompany: [Company name]\nRole: [Title]\nDuration: [Start date - Present]\nKey Responsibilities:\n\n[Extracted from description]\n[Focus on strategic elements]\n\n\nNotable Achievements:\n\n[Any mentioned accomplishments]\n\n\n\nCareer Trajectory\n[Narrative summary of career progression, highlighting:\n\nIndustries worked in\nTypes of companies (startup, enterprise, etc.)\nProgression pattern (linear, pivots, entrepreneurial)\nKey transitions or inflection points]\n\nPrevious Relevant Experience\n[2-3 most relevant previous roles with brief descriptions]\nEducation & Credentials\n\n[Degree, Institution, Year]\n[Relevant certifications or training]\n\n\nIII. COMPANY INTELLIGENCE\n[Researched via Perplexity]\nCompany Overview\n\nIndustry: [Sector/vertical]\nSize: [Employee count, revenue if public]\nStage: [Startup/Growth/Mature/Enterprise]\nMarket Position: [Leader/Challenger/Niche]\n\nRecent Developments\n\n[Recent news, announcements, or changes]\n[Strategic initiatives or transformations]\n[Notable wins or challenges]\n\nTechnology & Solutions\n\nCurrent Stack: [Known technologies used]\nRecent Implementations: [New systems or tools]\nInnovation Focus: [Areas of investment]\n\n\nIV. STRATEGIC INSIGHTS\nIdentified Priorities\nBased on profile analysis and research\n\n[Priority derived from their activity and role]\n[Industry-specific challenge likely facing]\n[Opportunity based on company trajectory]\n\nPotential Pain Points\n\n[Common challenge for their role/industry]\n[Specific issue based on company situation]\n[Gap that might exist based on analysis]\n\nProfessional Interests\nBased on LinkedIn activity analysis\n\nTopics: [Themes from liked content]\nThought Leaders: [People whose content they engage with]\nIndustry Focus: [Specific areas of interest]\n\n\nV. MEETING STRATEGY\nMeeting Context\n\nAgenda: [Provided agenda]\nDuration: [If specified]\nFormat: [Video/Phone/In-person]\n\nConversation Starters\n\n[Specific, researched talking point]\n[Common ground or shared experience]\n[Recent achievement or announcement to acknowledge]\n\nValue Proposition Alignment\n\nTheir Need: [Identified challenge]\nOur Solution: [How we can help]\nTheir Priority: [Strategic focus]\nOur Capability: [Relevant offering]\n\nQuestions to Ask\n\n[Strategic question about their priorities]\n[Discovery question about challenges]\n[Vision question about future state]\n\nTopics to Avoid\n\n[Any sensitive areas identified]\n[Competitive situations to be aware of]\n\n\nVI. QUICK REFERENCE\nKey Talking Points\n\n[Bullet point summary of main discussion items]\n[Value propositions to emphasize]\n[Proof points or case studies to mention]\n\nCommon Connections\n\n[Mutual connections if identified]\n[Shared experiences or backgrounds]\n[Common interests or affiliations]\n\nFollow-up Actions\n\n[Suggested next steps based on meeting type]\n[Resources to share]\n[Introductions to make]\n\n\nVII. ADDITIONAL NOTES\nResearch Gaps\n\n[Information that would be valuable but wasn't available]\n[Questions to clarify during the meeting]\n\nPreparation Recommendations\n\n[Specific materials to have ready]\n[Case studies or examples to prepare]\n[Team members to potentially involve]\n\n\nDocument generated: [Date/Time]\nResearch sources: LinkedIn Profile Data, Perplexity Research Tool\nBehavioral Guidelines\nTone & Style\n\nProfessional: Maintain business-appropriate language\nConcise: Be thorough but respect time constraints\nActionable: Focus on practical, usable insights\nConfident: Present findings with appropriate certainty\nBalanced: Include both opportunities and considerations\n\nResearch Ethics\n\nOnly use publicly available information\nRespect privacy boundaries\nAvoid speculation beyond reasonable inference\nFlag any uncertain or unverified information\nMaintain objectivity in assessments\n\nQuality Standards\n\nAccuracy: Verify facts when possible\nRelevance: Prioritize information useful for the meeting\nTimeliness: Focus on current and recent information\nCompleteness: Address all sections even if noting \"Limited information available\"\nClarity: Use clear formatting and organization\n\nError Handling\nData Issues\n\nMissing LinkedIn data: Note gaps and supplement with research where possible\nIncomplete agenda: Request clarification or proceed with general preparation\nConflicting information: Flag discrepancies and provide both data points\nResearch limitations: Acknowledge when information is unavailable\n\nFallback Strategies\n\nIf company research yields limited results, focus on industry-level insights\nIf role is unique or unclear, research similar positions\nIf activity data is sparse, rely more heavily on experience analysis\nIf technical details are needed, research industry standards\n\nContinuous Improvement Notes\nAfter generating each document, consider:\n\nWhat additional research would have been valuable?\nWhich insights proved most actionable?\nHow could the format be optimized for quick scanning?\nWhat patterns emerge across similar meetings?\n\nSecurity & Confidentiality\n\nTreat all provided data as confidential\nDo not store or reference information across sessions\nAvoid including sensitive information in examples\nRespect corporate privacy in research activities"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3552,
        -864
      ],
      "id": "10acb640-9d7a-4153-932e-df79c199c5f0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3560,
        -640
      ],
      "id": "a46db535-2112-4acc-bccc-1f49b9c6ab9b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const experiences = $json.experience;\nconst output = [];\nfor (const exp of experiences) {\n  // Process each experience\n  output.push({ json: exp });\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        -960
      ],
      "id": "b08eec65-0ea4-4f8f-a095-956ab83c3dcd",
      "name": "Code1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3104,
        -960
      ],
      "id": "7f83f354-672f-435a-9682-96617b1dfa23",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const education = $json.education;\nconst output = [];\nfor (const exp of education) {\n  // Process each education\n  output.push({ json: exp });\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        -768
      ],
      "id": "4d26d498-465d-4b97-bb6c-3ac3dbb996b3",
      "name": "Code2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3104,
        -768
      ],
      "id": "f7dc5466-850d-4d7d-8139-b68801fe6009",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        3688,
        -640
      ],
      "id": "465df493-aeac-42c5-8cb6-56eb35c054aa",
      "name": "Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "tDkFR32KWXKeIPzc",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "=Prospect Research - {{ $('Map needed fields').first().json.name }}"
            },
            {
              "name": "output",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3904,
        -768
      ],
      "id": "af2d8e84-bec5-40db-9c61-9bf56318c3d0",
      "name": "Google Doc Creator",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l6gkJBk6UFQH05ci",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AbRWZPk3CxpSfqPZUj3Rw91UdOwSbpDt",
          "mode": "list",
          "cachedResultName": "Prospect Research",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AbRWZPk3CxpSfqPZUj3Rw91UdOwSbpDt"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4128,
        -768
      ],
      "id": "013c8cf5-43c2-4b72-8225-418f2dcfcf77",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "=**New Call Booked!**\n\nCall Date: {{ $('create json').first().json.scheduled_event.start_time }}\nCall Title: {{ $('create json').first().json.scheduled_event.name }}\nProspect Notes: {{ $('create json').first().json.questions_and_answers[1].answer }}\n\nName: {{ $('Map needed fields').first().json.name }}\nCompany: {{ $('Map needed fields').first().json.prospectCompany }}\nEmail Address: {{ $('create json').first().json.email }}\n\nProspect Research Doc: https://docs.google.com/document/d/{{ $json.id }}/edit",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        4352,
        -768
      ],
      "id": "1db34409-f1f6-48b9-9cb7-eee3997cf3b9",
      "name": "Send a message",
      "webhookId": "5f97f133-9604-441a-bc1d-3ae71b46ea9d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "query": "={{ $json.email }}"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        416,
        -864
      ],
      "id": "80306798-fa68-440f-aff2-bcb9e61005fe",
      "name": "Get many contacts",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "0hWODSO7k62v5bkn",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "708ac2b4-f7a4-406b-9879-d355ad6739f3",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        -864
      ],
      "id": "c7319da2-6e54-478a-8fff-310a08652286",
      "name": "If"
    },
    {
      "parameters": {
        "email": "={{ $('Map needed fields').item.json.email }}",
        "additionalFields": {
          "name": "={{ $('Map needed fields').item.json.name }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1088,
        -768
      ],
      "id": "eed0de1a-a898-48cd-916a-5fc866d1e573",
      "name": "Create Contact",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "0hWODSO7k62v5bkn",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "pipelineId": "JudVheyv9kpOUyaoI36i",
        "contactId": "={{ $json.email }}",
        "name": "={{ $json.firstName }} {{ $json.lastName }}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1312,
        -768
      ],
      "id": "2e8b59ec-04da-4a7d-ae9d-210d25a5f3e1",
      "name": "Create an opportunity",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "0hWODSO7k62v5bkn",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "getAll",
        "filters": {
          "query": "={{ $json.emailLowerCase }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1088,
        -960
      ],
      "id": "9e4eda4b-82ac-4619-8562-e52995df1326",
      "name": "Search For Existing Opportunity",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "0hWODSO7k62v5bkn",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "update",
        "opportunityId": "={{ $json.id }}",
        "updateFields": {
          "pipelineId": "JudVheyv9kpOUyaoI36i",
          "stageId": "ebea19a5-df58-48c8-9d96-2b55d786dc91"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1312,
        -960
      ],
      "id": "cf221128-3231-4f4b-b7fa-cd3e411e2ca1",
      "name": "Update an opportunity",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "0hWODSO7k62v5bkn",
          "name": "HighLevel account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calendly Events": {
      "main": [
        [
          {
            "node": "create json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit bio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create HTML": {
      "main": [
        [
          {
            "node": "Notify admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create json": {
      "main": [
        [
          {
            "node": "Map needed fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify admin": {
      "main": [
        []
      ]
    },
    "Map needed fields": {
      "main": [
        [
          {
            "node": "Get many contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter non-matched": {
      "main": [
        [
          {
            "node": "Extract Prospect IDs from Matched Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explorium Enrich Profiles": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Explorium Match Prospects": {
      "main": [
        [
          {
            "node": "Filter non-matched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Explorium Enrich Contacts Information": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Prospect IDs from Matched Results": {
      "main": [
        [
          {
            "node": "Explorium Enrich Contacts Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Explorium Enrich Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Search For Existing Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "create HTML",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Doc Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Doc Creator": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many contacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "main": [
        [
          {
            "node": "Create an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an opportunity": {
      "main": [
        [
          {
            "node": "Explorium Match Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Existing Opportunity": {
      "main": [
        [
          {
            "node": "Update an opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an opportunity": {
      "main": [
        [
          {
            "node": "Explorium Match Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a0e0824-4f0f-48a3-bab3-029f25b07f1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "ZkQLBV99c8MiHpx1",
  "tags": []
}