N8N Workflows/Workflows/Cold Email Lead Generation Agency/Cold Email Scriptwriter.json
{
  "name": "Cold Email Scriptwriter",
  "nodes": [
    {
      "parameters": {
        "binaryPropertyName": "Upload_Lead_List_CSV__for_multiple_campaigns_",
        "options": {
          "delimiter": ",",
          "enableBOM": false,
          "headerRow": true
        }
      },
      "id": "69cea318-e340-4bf6-82fe-fb6bb3357b17",
      "name": "Process CSV Upload",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2176,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "trigger_type",
              "name": "trigger_type",
              "value": "list_upload",
              "type": "string"
            },
            {
              "id": "prospect_name",
              "name": "prospect_name",
              "value": "={{ $json['First Name'] }} {{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "prospect_title",
              "name": "prospect_title",
              "value": "={{ $json['prospect_title'] || $json['title'] || $json['Title'] || $json['Job Title'] || 'Unknown Title' }}",
              "type": "string"
            },
            {
              "id": "company_name",
              "name": "company_name",
              "value": "={{ $json.Company }}",
              "type": "string"
            },
            {
              "id": "industry",
              "name": "industry",
              "value": "={{ $json['industry'] || $json['Industry'] || $json['Industry Vertical'] || 'Unknown Industry' }}",
              "type": "string"
            },
            {
              "id": "objective",
              "name": "objective",
              "value": "={{ $json['objective'] || $json['Objective'] || $json['Outreach Objective'] || 'Generate Interest' }}",
              "type": "string"
            },
            {
              "id": "company_size",
              "name": "company_size",
              "value": "={{ $json['company_size'] || $json['Company Size'] || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "product_service",
              "name": "product_service",
              "value": "={{ $json['product_service'] || $json['Product/Service'] || 'Our solution' }}",
              "type": "string"
            },
            {
              "id": "value_proposition",
              "name": "value_proposition",
              "value": "={{ $json['value_proposition'] || $json['Value Proposition'] || 'Significant business value' }}",
              "type": "string"
            },
            {
              "id": "personalization_notes",
              "name": "personalization_notes",
              "value": "={{ $json.Notes || 'No specific notes provided' }}",
              "type": "string"
            },
            {
              "id": "sender_name",
              "name": "sender_name",
              "value": "={{ $json['Lead Owner'] }}",
              "type": "string"
            },
            {
              "id": "sender_title",
              "name": "sender_title",
              "value": "={{ $json.senderTitle || '' }}",
              "type": "string"
            },
            {
              "id": "company_website",
              "name": "company_website",
              "value": "={{ $json.Website || '' }}",
              "type": "string"
            },
            {
              "id": "737ece88-683c-422c-8073-bf6bca1092b0",
              "name": "prospect_email",
              "value": "={{ $json['Email 1'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1356de1-266e-4cfd-b9e4-cf4cf0437801",
      "name": "Normalize CSV Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        432
      ]
    },
    {
      "parameters": {},
      "id": "6d279333-ddc0-4d94-943a-278e3f873a43",
      "name": "Merge Normalized Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1728,
        576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert B2B sales researcher and fact checker. Your goal is to generate high-signal insights and a single personalized first line for a cold email based on verifiable facts. You must use the Perplexity tool for all prospect research. Never invent facts. Return ONLY valid JSON per the schema at the end. No markdown, no preamble, no explanations.\n\nContext\nTrigger Type: {{ $('Merge Normalized Data').first().json.trigger_type }}\n\nProspect Details:\n- Name: {{ $('Merge Normalized Data').first().json.prospect_name }}\n- Title: {{ $('Merge Normalized Data').first().json.prospect_title }}\n- Company: {{ $('Merge Normalized Data').first().json.company_name }}\n- Industry: {{ $('Merge Normalized Data').first().json.industry }}\n- Company Size: {{ $('Merge Normalized Data').first().json.company_size }}\n- Personalization Notes: {{ $('Merge Normalized Data').first().json.personalization_notes }}\n- Optional: Domain: {{ $('Merge Normalized Data').first().json.company_domain }}\n- Optional: Prospect LinkedIn: {{ $('Merge Normalized Data').first().json.prospect_linkedin_url }}\n\nProduct/Service Context:\n- Offering: {{ $('Campaign Request Form').first().json['Your Product/Service'] }}\n- Value Proposition: {{ $('Campaign Request Form').first().json['Value Proposition'] }}\n\n\nResearch protocol using Perplexity tool\n1. Identify the correct person and company.\n   - Queries:\n     - \"site:linkedin.com/in [prospect name] [company_name]\"\n     - \"site:linkedin.com [prospect_name] [company_name] [prospect_title]\"\n     - \"[company_name] site:about [company_domain]\"\n     - \"[company_name] news\" and \"site:news.ycombinator.com [company_name]\" if tech.\n   - Cross-check title and company. If ambiguous, prefer exact title + current company match.\n\n2. Collect verifiable signals in this priority order:\n   - Recent company news or announcements less than 12 months old.\n   - Prospect’s own posts, interviews, talks, podcasts, patents, repos, press quotes.\n   - Company blog posts authored by the prospect or directly tied to their team.\n   - Role-relevant KPIs, product launches, geographic expansions, funding, partnerships.\n   - Tech stack clues from job posts and engineering pages when role-relevant.\n\n3. Extract 1 to 3 candidate facts for personalization.\n   - Each fact must be precise, attributable to a single source, and recent or evergreen.\n   - Store the exact wording and its source URL. Do not paraphrase into something untrue.\n\n4. Select the strongest fact.\n   - Relevance to role, specificity, and recency decide strength.\n   - Reject facts that are generic, stale, or unverifiable.\n\n5. Fallback logic when no strong individual fact exists:\n   - Use a company-level concrete, recent update tied to the prospect’s scope of work.\n   - If even that fails, reference a recent product, feature, or hiring signal tied to the role.\n\nConstraints for the personalized first line\n- Exactly one sentence, 8–22 words.\n- Include a specific, verifiable detail. Prefer dates, metrics, titles, launches, or named assets.\n- No praise fluff, no “I,” no selling, no questions, no emojis.\n- Do not reveal the source. Do not use bracketed variables. Plain text only.\n- If using fallback, it must still be specific and role-relevant.\n- Anchor the personalized first line opener to one fresh artifact, extract a business insight, and state it in 12–20 words with no fluff.\n- Find one recent signal, job post, product changelog, funding news, LinkedIn post, G2 reviews, roadmap notes.\n- Translate that signal into an outcome they care about, revenue, churn, speed, risk, efficiency.\n- Write one sentence, no praise, no “I,” no questions, just observation plus implied value.\n\nPersonalized first line examples you can use as models\n\n- \"I noticed you recently spoke at TechCon about sustainable AI infrastructure—your point about reducing computational waste by 40% really challenged how I think about model optimization.\"\n\n- \"Your LinkedIn post about the challenges of scaling a remote team from 10 to 100 people resonated with me, especially since we just hit similar growing pains at [Your Company].\"\n\n- \"Congratulations on the Series B! I saw TechCrunch mentioned you're planning to expand into the European market—that's exactly the journey we helped [Similar Company] navigate last year.\"\n\n- \"I've been following [Their Company]'s journey since your pivot from B2C to B2B last quarter, and your approach to repositioning the brand without losing core users was impressive.\"\n\n- \"Just listened to your interview on the Marketing Masters podcast where you mentioned struggling to find good attribution models for PLG companies—we actually just cracked this problem for a similar SaaS.\"\n\nTasks\n1. Identify likely pain points for this role and industry using researched signals.\n2. Determine the key business priorities they likely face.\n3. Suggest 3 conversation starters grounded in the research, not generic.\n4. List likely objections based on role constraints and market conditions.\n5. Recommend timing considerations based on public cycles, seasonality, or news cadence.\n6. Create a personalization angle tied to the verified fact you selected.\n7. Write the personalized first line per constraints above, derived from the strongest verified fact.\n\nAnti-hallucination rules\n- Never invent data, names, dates, or metrics.\n- If a detail is uncertain, do not use it in the first line.\n- Prefer silence over speculation; rely on the fallback hierarchy.\n\nOutput specification\nReturn your analysis in this exact JSON format. Do not include markdown or code fences.\n\n{\n  \"pain_points\": [\"specific pain point 1\", \"specific pain point 2\", \"specific pain point 3\"],\n  \"business_priorities\": [\"priority 1\", \"priority 2\", \"priority 3\"],\n  \"conversation_starters\": [\"starter 1\", \"starter 2\", \"starter 3\"],\n  \"likely_objections\": [\"objection 1\", \"objection 2\"],\n  \"best_timing\": \"timing recommendation\",\n  \"personalization_angle\": \"specific angle based on the verified fact\",\n  \"industry_insights\": \"relevant industry trends or challenges with brief rationale\",\n  \"personalized_first_line\": \"one sentence, 8–22 words, includes a verifiable detail, no fluff\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "677fed43-0492-4462-aabe-aa65182417b2",
      "name": "Prospect Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -512,
        224
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"pain_points\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"business_priorities\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"conversation_starters\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"personalized_first_line\": {\n      \"type\": \"string\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"likely_objections\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"best_timing\": { \"type\": \"string\" },\n    \"personalization_angle\": { \"type\": \"string\" },\n    \"industry_insights\": { \"type\": \"string\" }\n  },\n  \"required\": [\"pain_points\", \"business_priorities\", \"conversation_starters\", \"likely_objections\", \"best_timing\", \"personalization_angle\", \"industry_insights\"]\n}",
        "autoFix": true
      },
      "id": "057b923c-7331-494d-b6d2-47570f62efde",
      "name": "Research Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1,
      "position": [
        -304,
        448
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Cold Email Writer Agent Prompt\n\nYou are an expert cold email copywriter trained on Christian Bonnier's \"30 Scripts That Won\" methodology. You craft hyper-focused, conversational emails that achieve >10% response rates by following proven patterns from successful campaigns. You create just the email body, prospect personalization data will be added as a first line before the email body\n\n### Your Offering\n- **Service/Product:** {{ $('Process Form Data').first().json.product_service }}\n- **Value Proposition:** {{ $('Process Form Data').first().json.value_proposition }}\n\n\n## PROVEN EMAIL PATTERNS\n\n### Pattern A: Problem + Social Proof + Soft Ask\n1. **Opening:** Direct acknowledgment of their specific situation/pain\n2. **Social Proof:** Concrete result from similar company (numbers preferred)\n3. **Bridge:** How you achieve this outcome\n4. **CTA:** Low-commitment question (\"Open to...\" / \"Mind if I...\")\n\n### Pattern B: Observation + Value + Permission\n1. **Opening:** Specific observation about their business\n2. **Value Tease:** \"I noticed/found/spotted X issues/opportunities\"\n3. **Format:** \"I recorded a quick video explaining...\"\n4. **CTA:** \"Mind if I send/share it?\"\n\n### Pattern C: Direct Value Proposition\n1. **Opening:** Clear statement of what you can do\n2. **Proof:** Specific client result with metrics\n3. **Relevance:** Why this matters to them now\n4. **CTA:** Direct but soft ask\n\n### Pattern D: Local/Industry Connection\n1. **Opening:** Shared geography or industry acknowledgment\n2. **Compliment:** Brief, genuine praise\n3. **Value:** Specific help you provide\n4. **CTA:** Location-specific meeting or industry-relevant ask\n\n## WRITING RULES\n\n### Subject Lines\n- **Length:** 2-5 words maximum\n- **Formats that work:**\n  - \"quick question\"\n  - \" company_name  + [topic]\"\n  - \"[specific observation]\"\n  - \"found your [store/site/profile]\"\n  - Direct benefit statement\n- **Never use:** Spam triggers, ALL CAPS, excessive punctuation\n\n### Email Structure\n- **Word count:** 50-125 words (mobile-optimized)\n- **Paragraphs:** 2-4 short blocks, 1-2 sentences each\n- **Opening:** Skip pleasantries, go straight to relevance\n- **Body:** One clear idea, one supporting proof point\n- **CTA:** Single, specific, low-commitment ask\n\n### Language Guidelines\n- **Tone:** Conversational, like texting a colleague\n- **Avoid:** \n  - Corporate jargon (\"synergy\", \"leverage\", \"best-in-class\")\n  - Weak qualifiers (\"maybe\", \"perhaps\", \"if possible\")\n  - Multiple benefits (pick ONE main value)\n  - Feature lists (focus on outcome)\n- **Use:**\n  - Specific numbers and timeframes\n  - Client names or \"similar company\" references\n  - Direct but respectful language\n  - Questions that assume interest\n\n### CTA Formulas That Convert\n- \"Mind if I send/share [specific thing]?\"\n- \"Open to [specific conversation/action]?\"\n- \"Worth exploring?\"\n- \"Would you be interested?\"\n- \"Can I send a [video/guide] showing how?\"\n- \"Want to see [specific result/example]?\"\n\n## SEQUENCE STRUCTURE\n\nGenerate a 3-email sequence following this cadence:\n\n### EMAIL 1: Initial Outreach (Day 0)\n- **Pattern:** Choose A, B, or C based on available intel\n- **Personalization:** Use strongest research insight\n- **Social Proof:** Include if available\n- **CTA:** Lowest possible commitment\n\n### EMAIL 2: Value Add (Day 3-4)\n- **Opening:** Brief callback, no guilt\n- **New Angle:** Different pain point or benefit\n- **Proof:** Different case study or specific insight\n- **CTA:** Slightly stronger ask or same video/resource offer\n\n### EMAIL 3: Break Up (Day 7-10)\n- **Opening:** \"One last note\" or \"Quick follow-up\"\n- **Value:** Final unique insight or offer\n- **CTA:** Direct meeting ask or \"Should I close your file?\"\n\n## OUTPUT FORMAT\n\n```json\n{\n  \"campaign_analysis\": {\n    \"pattern_selected\": \"A/B/C/D with rationale\",\n    \"personalization_strength\": \"specific elements used\",\n    \"industry_alignment\": \"how language matches their sector\"\n  },\n  \"email_sequence\": [\n    {\n      \"email_number\": 1,\n      \"send_day\": \"Day 0\",\n      \"subject_line\": {\n        \"primary\": \"main subject\",\n        \"alternative\": \"A/B test option\"\n      },\n      \"greeting\": \"Hey/Hi {{ $('Merge Normalized Data').item.json.prospect_name.split(\" \")[0] }} or skip\",\n      \"body\": \"complete email text\",\n      \"cta\": \"specific call to action\",\n      \"pattern_used\": \"A/B/C/D\",\n      \"word_count\": \"XX words\",\n      \"personalization_elements\": [\"element 1\", \"element 2\"],\n      \"social_proof\": \"specific example if used\"\n    },\n    {\n      \"email_number\": 2,\n      \"send_day\": \"Day 3-4\",\n      \"subject_line\": {\n        \"primary\": \"main subject\",\n        \"alternative\": \"RE: original or new\"\n      },\n      \"body\": \"complete email text\",\n      \"cta\": \"specific call to action\",\n      \"pattern_used\": \"A/B/C/D\",\n      \"word_count\": \"XX words\",\n      \"angle_shift\": \"how this differs from email 1\"\n    },\n    {\n      \"email_number\": 3,\n      \"send_day\": \"Day 7-10\",\n      \"subject_line\": {\n        \"primary\": \"main subject\",\n        \"alternative\": \"break up angle\"\n      },\n      \"body\": \"complete email text\",\n      \"cta\": \"specific call to action\",\n      \"pattern_used\": \"break up pattern\",\n      \"word_count\": \"XX words\",\n      \"urgency_element\": \"if applicable\"\n    }\n  ],\n  \"video_loom_script\": {\n    \"if_referenced\": \"30-second script for video mentioned\",\n    \"hook\": \"opening line\",\n    \"points\": [\"point 1\", \"point 2\", \"point 3\"],\n    \"cta\": \"video ending ask\"\n  }\n}\n```\n\n## CRITICAL REMINDERS\n\n1. **Brevity wins:** If you can cut a word, cut it\n2. **One idea only:** Don't dilute with multiple benefits\n3. **Assume the sale:** Write like they're already interested\n4. **Mobile first:** First 50 characters must hook\n5. **Test everything:** Always provide A/B options\n6. **Video offers work:** ~40% of winning scripts offer video\n7. **Specificity sells:** Vague claims get ignored\n8. **Local connection:** Geography/industry mentions boost response\n9. **No education:** Don't explain what they already know\n10. **Direct is respectful:** Get to the point fast\n\nGenerate the sequence now, channeling the exact style and approach from the winning scripts.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional cold email writer. You use the document below as your singular reference for how to write effective cold emails.\n\n----------------\n\n{\n  \"title\": \"30 Scripts That Won\",\n  \"author\": \"Christian Bonnier\",\n  \"schema_version\": \"1.0.0\",\n  \"notes\": \"Cleaned for programmatic use in N8N. Fixed encoding artifacts, standardized placeholders, extracted subject lines, split spintax into arrays, and grouped by industry and offer. Keep this as the single source of truth.\",\n  \"placeholders\": [\n    {\"name\": \"first_name\", \"description\": \"Prospect first name\"},\n    {\"name\": \"company_name\", \"description\": \"Prospect company name\"}\n  ],\n  \"selection_rules\": {\n    \"by_industry\": \"Select scripts where industry matches target.\",\n    \"by_offer\": \"Then choose offer within industry.\",\n    \"variant\": \"If variants exist, pick one deterministically or at random.\",\n    \"spintax\": \"If greetings or subjects include options, select one at runtime.\"\n  },\n  \"scripts\": [\n    {\n      \"id\": \"MKT-001-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Amazon Marketing for eCom\",\n      \"subject\": \"found your store\",\n      \"body\": \"Hey {{first_name}},\\n\\nStruggling with slow sales growth or high ACoS on Amazon?\\n\\nWe recently helped {{company_name}} achieve 142% YoY growth over 4 years. We handle everything from SEO to brand health to reduce ad waste and increase sales.\\n\\nOpen to a quick chat about your Amazon goals?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to a quick chat about your Amazon goals?\"\n    },\n    {\n      \"id\": \"MKT-001-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Amazon Marketing for eCom\",\n      \"subject\": \"{{company_name}} on Amazon\",\n      \"body\": \"Hey {{first_name}},\\n\\nI came across your store on Amazon and had a few ideas to increase sales.\\n\\nWe just helped a brand hit $1M in sales in under a year and I’m confident you could see similar results.\\n\\nOpen to hearing the ideas?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to hearing the ideas?\"\n    },\n\n    {\n      \"id\": \"MKT-002-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Video Production for Dallas Businesses\",\n      \"subject\": \"Quick question\",\n      \"body\": \"Hey {{first_name}},\\n\\nAlways great seeing other businesses thrive in Dallas. Keep up the great work at {{company_name}}.\\n\\nAre you looking for a local video production agency to create short-form content that drives conversions from your marketing campaigns?\\n\\nOpen to meeting over a cup of coffee to discuss a few strategies? Otto's is a favorite of mine.\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to a coffee to discuss strategies?\"\n    },\n    {\n      \"id\": \"MKT-002-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Video Production for Dallas Businesses\",\n      \"subject\": \"Otto's for a coffee?\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nLove connecting with fellow Dallas business owners. We can help {{company_name}} create studio-quality short-form videos that lift conversions across your campaigns.\\n\\nWe helped a Texas team add $50k in 2022 with better video assets. I have a strategy in mind for you.\\n\\nWould you be open to a quick coffee at Otto's so I can share it?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to a quick coffee at Otto's?\"\n    },\n\n    {\n      \"id\": \"MKT-003\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Viral Short Form for eCom\",\n      \"subject\": \"Viral short-form for {{company_name}}\",\n      \"body\": \"We can drive millions of eyeballs for {{company_name}} with Organic Viral Storytelling across social media, even if TikTok gets banned.\\n\\nYou’ll reach Gen Z with a format few businesses use. We keep a tight client roster.\\n\\nInterested in a quick Loom explainer? Last year we helped a brand generate hundreds of millions of views with revenue to match.\\n\\nIf consistent viral video sales would help, want to see a quick video explaining the approach?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Interested in a quick Loom explainer?\"\n    },\n\n    {\n      \"id\": \"MKT-004-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Email Marketing for eCom\",\n      \"subject\": \"Quick video on email revenue leaks\",\n      \"body\": \"I signed up for your list and spotted a few issues that are likely hurting email revenue.\\n\\nI recorded a short video explaining what I found and how to fix it.\\n\\nMind if I send it over?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I send the video?\"\n    },\n    {\n      \"id\": \"MKT-004-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Email Marketing for eCom\",\n      \"subject\": \"We’ll add $40k–$200k in 60 days or refund\",\n      \"body\": \"I won’t waste your time with AI ‘personalization’. Here’s the pitch.\\n\\nWe will add $40k to $200k to your monthly revenue in 60 days or less using email, or you get a complete refund.\\n\\nOpen to discuss? I recorded a video showing a few issues in {{company_name}}’s email strategy that may be hurting conversions.\\n\\nMind if I share it here?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to discuss and see the video?\"\n    },\n\n    {\n      \"id\": \"MKT-005-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Meta Ads for eCom\",\n      \"subject\": \"Increase ROAS by 30% monthly\",\n      \"body\": \"We can help {{company_name}} increase Meta ROAS by 30% every month using our ad creative frameworks.\\n\\nWe just helped a similar company reduce cost per purchase by 30%, enabling more spend at lower CAC.\\n\\nOpen to a few ideas for {{company_name}}?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to ideas?\"\n    },\n    {\n      \"id\": \"MKT-005-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Meta Ads for eCom\",\n      \"subject\": \"Short video on higher ROAS\",\n      \"body\": \"I put together a short video showing how new ad frameworks and stronger hook visuals can lift ROAS in your account every month.\\n\\nMind if I share it?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I share the video?\"\n    },\n\n    {\n      \"id\": \"MKT-006-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Lead Generation for Roofers\",\n      \"subject\": \"Quick question on lead follow-up speed\",\n      \"body\": \"Just curious. How fast is your team following up with new leads?\\n\\nRoofing owners using our software capture 2x more deals by automating follow-ups. A similar company boosted close rate from 27% to 64%, doubling revenue in two years.\\n\\nCan I send a quick video on how this works?\",\n      \"variables\": [],\n      \"cta\": \"Can I send a quick video?\"\n    },\n    {\n      \"id\": \"MKT-006-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Lead Generation for Roofers\",\n      \"subject\": \"Win more contracts and collect reviews on autopilot\",\n      \"body\": \"Figured you might oversee new jobs at {{company_name}}. Roofers using our software win more contracts and collect reviews without extra effort.\\n\\nBrian generated 20+ Google reviews while freeing 12 hours a week in admin.\\n\\nShould I send a short video covering how your team benefits?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Should I send the video?\"\n    },\n\n    {\n      \"id\": \"MKT-007\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"SEO for SaaS\",\n      \"subject\": \"Turn content into SQLs\",\n      \"body\": \"As a decision maker at {{company_name}}, you need more qualified pipeline. We specialize in SaaS SEO that converts existing content into SQL-generating assets.\\n\\nWe recently helped a client lift SQLs 30% in 90 days.\\n\\nOpen to us writing an SEO-optimized blog on the house?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to a free SEO blog?\"\n    },\n\n    {\n      \"id\": \"MKT-008-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Web Design / Video Content\",\n      \"subject\": \"Quick question\",\n      \"body\": \"Hey {{first_name}},\\n\\nI checked your website and noticed a few tweaks to increase conversions and improve first impressions.\\n\\nI recorded a quick video explaining. Mind if I share it?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Mind if I share the video?\"\n    },\n    {\n      \"id\": \"MKT-008-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Web Design / Video Content\",\n      \"subject\": \"{{company_name}} x our studio\",\n      \"body\": \"Hey {{first_name}},\\n\\nAre you looking for a video production company to make multimedia content for {{company_name}}?\\n\\nWe helped a nonprofit raise millions by creating studio-quality event content and adding it to their site.\\n\\nI recorded a quick video with ideas for your site. Mind if I share?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Mind if I share the video?\"\n    },\n\n    {\n      \"id\": \"MKT-009-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"SEO for Property Management\",\n      \"subject\": \"Question about your website\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nI searched for {{company_name}} on Google and noticed a few competitors outranking you.\\n\\nI recorded a quick video outlining a local SEO plan to get you to the top.\\n\\nMind if I send it?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Mind if I send the video?\"\n    },\n    {\n      \"id\": \"MKT-009-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"SEO for Property Management\",\n      \"subject\": \"quick question\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nI checked {{company_name}}’s site and noticed a few ways to convert more customers.\\n\\nMind if I share a quick video explaining?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Mind if I share the video?\"\n    },\n\n    {\n      \"id\": \"MKT-010-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Marketing App Marketplace\",\n      \"subject\": \"All your marketing apps in one hub\",\n      \"body\": \"Saw your role and thought this would be relevant.\\n\\nWe have an AI marketing tool that combines 45+ apps and agents into one central hub to host all your marketing material.\\n\\nThis can accelerate content creation up to 70%, run effective campaigns, and cut costs by replacing outsourced services with AI tools.\\n\\nCan I send a video showing how it works?\",\n      \"variables\": [],\n      \"cta\": \"Can I send a video?\"\n    },\n    {\n      \"id\": \"MKT-010-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Marketing App Marketplace\",\n      \"subject\": \"Tool that could help {{company_name}}\",\n      \"body\": \"We have an AI tool that’s useful for SMBs like {{company_name}}.\\n\\nWe’re already helping businesses accelerate content creation, run better campaigns, and reduce costs.\\n\\nCan I show you a video?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Can I show you a video?\"\n    },\n\n    {\n      \"id\": \"COACH-001-a\",\n      \"industry\": \"Coaching & Consulting\",\n      \"offer\": \"Fractional CMO Coaching\",\n      \"subject\": \"Are you taking on more clients?\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nSaw you’re the owner at {{company_name}}. Would you be interested in turning your agency into a Fractional CMO business with higher-paying clients who don’t ghost invoices?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Interested in switching to a Fractional CMO model?\"\n    },\n    {\n      \"id\": \"COACH-001-b\",\n      \"industry\": \"Coaching & Consulting\",\n      \"offer\": \"Fractional CMO Coaching\",\n      \"subject\": \"2 things // checking in\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}}, two quick things.\\n\\n1) Our program helps you build a $500k/year Fractional CMO business using the marketing expertise you already have.\\n2) We’ll connect you with businesses already in-market for a Fractional CMO.\\n\\nWant a short video on how it works?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Want the short video?\"\n    },\n    {\n      \"id\": \"COACH-002\",\n      \"industry\": \"Coaching & Consulting\",\n      \"offer\": \"First Aid Training\",\n      \"subject\": \"Quick question\",\n      \"body\": \"Have you invested in first aid training for your employees?\\n\\nWe provide on-site and blended CPR and First Aid certification taught by experienced first responders. Classes support 6 to 106 participants, in English or Spanish.\\n\\nWorth exploring?\",\n      \"variables\": [],\n      \"cta\": \"Worth exploring?\"\n    },\n\n    {\n      \"id\": \"PHYS-001\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Industrial Vehicles\",\n      \"subject\": \"Looking for minute misers?\",\n      \"body\": \"Hey {{first_name}},\\n\\nAre you currently looking for minute misers or tugs?\\n\\nWe carry refurbished Taylor-Dunn and Cushman vehicles that match new performance at 50% of the cost and are typically available sooner.\\n\\nInterested in inventory details?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Interested in current inventory?\"\n    },\n    {\n      \"id\": \"PHYS-002-a\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Healthcare Privacy Screens\",\n      \"subject\": \"Quick question\",\n      \"body\": \"Hallway beds don’t have to mean a lack of privacy. Over 800 ERs trust us for instant, retractable privacy screens that work on demand.\\n\\nThey’re easy to clean, reduce HAIs, and cost less than traditional curtains.\\n\\nDoes this sound valuable to your team right now?\",\n      \"variables\": [],\n      \"cta\": \"Valuable to your team right now?\"\n    },\n    {\n      \"id\": \"PHYS-002-b\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Healthcare Privacy Screens\",\n      \"subject\": \"Privacy screens for {{company_name}}\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nWe offer fully customizable privacy screens for teams like {{company_name}} and their patients. Choose materials, finishes, and branding options.\\n\\nOver 1,175 healthcare facilities, including VA hospitals, trust us for infection control and privacy.\\n\\nWant to see if this fits your facility?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Want to see if it fits your facility?\"\n    },\n    {\n      \"id\": \"PHYS-003\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Decorative Plaster\",\n      \"subject\": \"Eliminate plaster callbacks\",\n      \"body\": \"I came across your profile at {{company_name}}. Are cracks in plaster jobs causing headaches?\\n\\nWe offer a resin-based plaster suitable for walls, floors, wet areas, pool decks, and pool interiors. It gives you an edge with clients and eliminates callbacks.\\n\\nInstant ROI: install directly over existing tiles or materials. No demolition, no permits.\\n\\nWe also have subcontractor opportunities in your area.\\n\\nInterested in a product demo video?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Interested in a demo video?\"\n    },\n    {\n      \"id\": \"PHYS-004\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Stone and Paver Deck Surfaces\",\n      \"subject\": \"Offer maintenance-free stone decks\",\n      \"body\": \"I noticed you’re in charge at {{company_name}}.\\n\\nWe can help you offer stone and paver deck surfaces that never need maintenance at pricing comparable to high-end composite.\\n\\nA contractor increased average project value from $25k to $250k by switching from wood/composite to stone.\\n\\nOpen to how this helps you land bigger projects?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to discuss?\"\n    },\n    {\n      \"id\": \"PHYS-005\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Spray Polyurethane Foam Roof System\",\n      \"subject\": \"Category 5 wind warranty\",\n      \"body\": \"Most roofs fail in hurricane-force winds and insurance often won’t cover. Our SPF Roof System is the only one with a Category 5 Hurricane Wind Warranty.\\n\\nIt’s seamless, leak-proof, and carries a renewable manufacturer warranty for the life of the building. The foam creates an energy-efficient, tapered system that handles ponding water.\\n\\nWe’re trusted on critical projects because of reliability and results.\\n\\nAny chance I can send a short explainer video?\",\n      \"variables\": [],\n      \"cta\": \"Can I send a short video?\"\n    },\n\n    {\n      \"id\": \"STAFF-001\",\n      \"industry\": \"Staffing\",\n      \"offer\": \"Staffing with Meta Ads — Dutch Market\",\n      \"subject\": \"{{company_name}} // Social promotion — intro\",\n      \"greeting_options\": [\"Hi\", \"Hello\", \"Hey\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nHaving trouble filling vacancies at {{company_name}}?\\n\\nWe helped a company get 120 applicants for a logistics role in one month without placement fees or fixed contracts using local social ads and a branded application form.\\n\\nYou’ll get at least 10 applicants in 30 days or your money back.\\n\\nMay I send more info?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"May I send more info?\"\n    },\n    {\n      \"id\": \"STAFF-002-a\",\n      \"industry\": \"Staffing\",\n      \"offer\": \"VA Salespeople for Real Estate\",\n      \"subject\": \"Pre-vetted SDRs for your pipeline\",\n      \"body\": \"Hi {{first_name}},\\n\\nHow are you managing time across contacting leads, showings, follow-ups, contracts, and paperwork?\\n\\nWe provide skilled, pre-vetted real estate SDRs to handle outreach and follow-ups so you can focus on client experience.\\n\\nWould you be interested?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Would you be interested?\"\n    },\n    {\n      \"id\": \"STAFF-002-b\",\n      \"industry\": \"Staffing\",\n      \"offer\": \"VA Salespeople for Real Estate\",\n      \"subject\": \"Need efficient salespeople for follow-ups?\",\n      \"body\": \"Hey {{first_name}},\\n\\nDo you struggle to find efficient salespeople to make follow-ups and calls? Too many leads with too little time?\\n\\nWe’ll help you find SDRs who convert.\\n\\nInterested?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Interested?\"\n    },\n\n    {\n      \"id\": \"FIN-001\",\n      \"industry\": \"Financial Services / Lending\",\n      \"offer\": \"Annuities Presentations\",\n      \"subject\": \"Question about your annuities?\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nWe can help you generate more annuity sales with Annuities Genius. Choose products from 100+ carriers in seconds, walk clients through structured presentations, and close faster.\\n\\nAdvisors report $70k commissions in 2 months.\\n\\nCan I send a quick video showing how {{company_name}} can scale sales?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Can I send a quick video?\"\n    },\n    {\n      \"id\": \"FIN-002-a\",\n      \"industry\": \"Financial Services / Lending\",\n      \"offer\": \"0% Funding for Roofers\",\n      \"subject\": \"Quick question\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nWe can offer up to $250k in 0% business financing so you can reinvest in tools, fleet, inventory, and hires.\\n\\nWe’ve helped hundreds of roofing businesses. I have a 2-minute video that breaks it down.\\n\\nWant me to share it here?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Want me to share the video?\"\n    },\n    {\n      \"id\": \"FIN-002-b\",\n      \"industry\": \"Financial Services / Lending\",\n      \"offer\": \"0% Funding for Roofers\",\n      \"subject\": \"Question for {{first_name}}\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nWe’re offering up to $250k at 0% for roofers like {{company_name}} looking to grow this year.\\n\\nReinvest into tools, fleet, inventory, and hires.\\n\\nWant to watch a quick video to see if you qualify?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Want to watch the video?\"\n    },\n\n    {\n      \"id\": \"CORP-001-a\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Corporate Swag — Custom Merch\",\n      \"subject\": \"Custom swag for {{company_name}}\",\n      \"body\": \"You have a strong brand. We build standout swag.\\n\\nCaps, tees, polos, bags, mugs, and more. Fast turns, best-in-class quality and service. We’re in Texas, so shipping and delivery are easy.\\n\\nI made a few design mockups for {{company_name}}. Open to seeing them?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to seeing the mockups?\"\n    },\n    {\n      \"id\": \"CORP-001-b\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Corporate Swag — Custom Merch\",\n      \"subject\": \"Quick question\",\n      \"body\": \"We love working with Texas companies. I’m sure you already have branded merch.\\n\\nWe focus on ROI. I have top cap and shirt suggestions that move the needle.\\n\\nOpen to seeing a few mockups with the {{company_name}} logo?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to seeing mockups?\"\n    },\n    {\n      \"id\": \"CORP-002-a\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Brass Band for Corporate Events\",\n      \"subject\": \"Quick question\",\n      \"body\": \"As a key player at {{company_name}}, you’re always looking for standout entertainment at field events.\\n\\nWe’re a high-energy brass band active in 40+ US cities, with musicians who’ve played with Drake and Stevie Wonder.\\n\\nMind if I share how we can elevate your next event?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Mind if I share details?\"\n    },\n    {\n      \"id\": \"CORP-002-b\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Brass Band for Corporate Events\",\n      \"subject\": \"Question about your events\",\n      \"body\": \"Hey {{first_name}},\\n\\nHave you considered using a brass band to lead attendees between venues or kick off your next event?\\n\\nWe’ve performed for major brands with a mix of jazz, funk, and pop that gets people moving.\\n\\nOpen to exploring this for {{company_name}}’s next event?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to explore for your next event?\"\n    },\n    {\n      \"id\": \"CORP-003\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Corporate Gifting\",\n      \"subject\": \"Why sustainable give-back gifts work\",\n      \"body\": \"I put together a quick guide on why sustainable and give-back gifts improve employee engagement, client relationships, and brand image.\\n\\nIf you’re curious about options that align with your values, let’s connect.\\n\\nMind if I share it here?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I share the guide?\"\n    },\n\n    {\n      \"id\": \"INS-001-a\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Truckers\",\n      \"subject\": \"Lower down payments and instant COIs\",\n      \"body\": \"As a trucking company owner, you know high insurance down payments cut into profits.\\n\\nWe offer the lowest down payments in the industry and instant COIs via our website, saving clients about $5,000 per year.\\n\\nOpen to a quick quote?\",\n      \"variables\": [],\n      \"cta\": \"Open to a quick quote?\"\n    },\n    {\n      \"id\": \"INS-001-b\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Truckers\",\n      \"subject\": \"Question about costs at {{company_name}}\",\n      \"body\": \"Are expensive trucking insurance and slow COI processes an issue at {{company_name}}?\\n\\nWe provide instant COIs and the lowest down payments. Clients save about $5,000 per year.\\n\\nInterested in seeing potential savings with A-rated carriers?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Interested in seeing savings?\"\n    },\n    {\n      \"id\": \"INS-002-a\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Manufacturers\",\n      \"subject\": \"Bonus compliance and communication services\",\n      \"body\": \"As a bonus, clients get access to OSHA compliance, employee handbooks, and industry-specific communications.\\n\\nMind if I share a PDF summarizing these solutions?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I share the PDF?\"\n    },\n    {\n      \"id\": \"INS-002-b\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Manufacturers\",\n      \"subject\": \"Any questions on coverage?\",\n      \"body\": \"Reaching out one last time. We’re here to help safeguard your manufacturing business.\\n\\nWould you like to schedule a call this week?\",\n      \"variables\": [],\n      \"cta\": \"Would you like to schedule a call?\"\n    },\n    {\n      \"id\": \"INS-002-c\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Manufacturers\",\n      \"subject\": \"Carrier lineup and savings overview\",\n      \"body\": \"I recorded a quick video showing the carriers we work with and approximate savings versus market rates.\\n\\nWould it be helpful if I shared it here?\",\n      \"variables\": [],\n      \"cta\": \"Would it be helpful if I shared the video?\"\n    },\n    {\n      \"id\": \"INS-003\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Lead Generation for Insurance Agents (ACA)\",\n      \"subject\": \"Generate more ACA enrollments\",\n      \"body\": \"I noticed you’re a local agent looking to generate more ACA enrollments.\\n\\nWe helped David generate 537+ ACA policies in under 30 days without paying for low-intent leads or chasing referrals, using our ACA automated enrollment generator system.\\n\\nInterested in seeing how we can help you too?\",\n      \"variables\": [],\n      \"cta\": \"Interested in seeing how we can help?\"\n    },\n\n    {\n      \"id\": \"SALES-001-a\",\n      \"industry\": \"Sales\",\n      \"offer\": \"Sales Training for Manufacturers\",\n      \"subject\": \"Cut dealer ramp-up 55%\",\n      \"body\": \"We’ve helped manufacturers like {{company_name}} cut new dealer ramp-up time by 55% with our mobile sales tool.\\n\\nIt ensures reps know your entire product line, not just the easy sellers.\\n\\nGiven your role in dealer development, this can transform order-takers into high-performing pros. Mind if I share a short video?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Mind if I share a short video?\"\n    },\n    {\n      \"id\": \"SALES-001-b\",\n      \"industry\": \"Sales\",\n      \"offer\": \"Sales Training for Manufacturers\",\n      \"subject\": \"How our app halves time to quota\",\n      \"body\": \"I recorded a short video on how our mobile app helps manufacturers create knowledgeable distributor reps, even offline.\\n\\nIt shows how we cut time to quota in half and arm reps with unique insights.\\n\\nMind if I share it?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I share it?\"\n    }\n  ]\n}"
        }
      },
      "id": "8eaf3a06-a941-4b4d-8498-245273b958aa",
      "name": "Email Sequence Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1248,
        576
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"email_sequence\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"email_number\": { \"type\": \"number\" },\n          \"timing\": { \"type\": \"string\" },\n          \"subject_suggestion\": { \"type\": \"string\" },\n          \"body\": { \"type\": \"string\" },\n          \"cta\": { \"type\": \"string\" },\n          \"framework\": { \"type\": \"string\" },\n          \"key_elements\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"personalization_used\": { \"type\": \"string\" }\n        },\n        \"required\": [\"email_number\", \"timing\", \"subject_suggestion\", \"body\", \"cta\", \"framework\", \"key_elements\", \"personalization_used\"]\n      }\n    }\n  },\n  \"required\": [\"email_sequence\"]\n}",
        "autoFix": true
      },
      "id": "4834e042-1e52-40b6-a506-45d1bd01477a",
      "name": "Sequence Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1,
      "position": [
        -1152,
        800
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert A/B testing specialist for cold email campaigns. Create alternative versions of the first email for split testing.\n\nOriginal Campaign Data:\n{{ JSON.stringify($('Merge Normalized Data').first().json) }}\n\nResearch Context:\n{{ JSON.stringify($('Prospect Research Agent').first().json) }}\n\nOriginal Email Sequence:\n{{ JSON.stringify($('Email Sequence Generator').first().json) }}\n\nPersonalized First Line:\n{{ $json.output }}\n\nMy Service: {{ $('Campaign Request Form').first().json['Your Product/Service'] }}\nValue Proposition: {{ $('Campaign Request Form').first().json['Value Proposition'] }}\n\nGenerate 3 A/B/C variants of Email #1 using different approaches:\n\n**VARIANT A**: Before/After/Bridge framework\n- Paint current state problem (before)\n- Show desired outcome (after) \n- Position solution as bridge\n- Different hook than original\n- Use different pain point from research\n\n**VARIANT B**: Curiosity + Value framework\n- Lead with intriguing question/stat\n- Build curiosity about solution\n- Reveal value proposition\n- Different CTA approach\n- Use industry insights from research\n\nRequirements:\n- Same core message, different presentation\n- Test different psychological triggers\n- Maintain professional tone\n- 150-200 words each\n- Different subject line approaches\n- Leverage research insights differently\n\nReturn JSON format:\n{\n  \"ab_variants\": [\n    {\n      \"variant\": \"A\",\n      \"framework\": \"Before/After/Bridge\",\n      \"subject_line\": \"alternative subject\",\n      \"body\": \"email body text\",\n      \"first_line\": \"personalized first line variant\",\n      \"cta\": \"call to action\",\n      \"test_hypothesis\": \"what this tests\",\n      \"research_angle\": \"which research insight used\"\n    },\n    {\n      \"variant\": \"B\",\n      \"framework\": \"Curiosity + Value\", \n      \"subject_line\": \"alternative subject\",\n      \"body\": \"email body text\",\n      \"first_line\": \"personalized first line variant\",\n      \"cta\": \"call to action\",\n      \"test_hypothesis\": \"what this tests\",\n      \"research_angle\": \"which research insight used\"\n    }\n  ]\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional cold email writer. You use the document below as your singular reference for how to write effective cold emails.\n\n----------------\n\n{\n  \"title\": \"30 Scripts That Won\",\n  \"author\": \"Christian Bonnier\",\n  \"schema_version\": \"1.0.0\",\n  \"notes\": \"Cleaned for programmatic use in N8N. Fixed encoding artifacts, standardized placeholders, extracted subject lines, split spintax into arrays, and grouped by industry and offer. Keep this as the single source of truth.\",\n  \"placeholders\": [\n    {\"name\": \"first_name\", \"description\": \"Prospect first name\"},\n    {\"name\": \"company_name\", \"description\": \"Prospect company name\"}\n  ],\n  \"selection_rules\": {\n    \"by_industry\": \"Select scripts where industry matches target.\",\n    \"by_offer\": \"Then choose offer within industry.\",\n    \"variant\": \"If variants exist, pick one deterministically or at random.\",\n    \"spintax\": \"If greetings or subjects include options, select one at runtime.\"\n  },\n  \"scripts\": [\n    {\n      \"id\": \"MKT-001-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Amazon Marketing for eCom\",\n      \"subject\": \"found your store\",\n      \"body\": \"Hey {{first_name}},\\n\\nStruggling with slow sales growth or high ACoS on Amazon?\\n\\nWe recently helped {{company_name}} achieve 142% YoY growth over 4 years. We handle everything from SEO to brand health to reduce ad waste and increase sales.\\n\\nOpen to a quick chat about your Amazon goals?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to a quick chat about your Amazon goals?\"\n    },\n    {\n      \"id\": \"MKT-001-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Amazon Marketing for eCom\",\n      \"subject\": \"{{company_name}} on Amazon\",\n      \"body\": \"Hey {{first_name}},\\n\\nI came across your store on Amazon and had a few ideas to increase sales.\\n\\nWe just helped a brand hit $1M in sales in under a year and I’m confident you could see similar results.\\n\\nOpen to hearing the ideas?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to hearing the ideas?\"\n    },\n\n    {\n      \"id\": \"MKT-002-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Video Production for Dallas Businesses\",\n      \"subject\": \"Quick question\",\n      \"body\": \"Hey {{first_name}},\\n\\nAlways great seeing other businesses thrive in Dallas. Keep up the great work at {{company_name}}.\\n\\nAre you looking for a local video production agency to create short-form content that drives conversions from your marketing campaigns?\\n\\nOpen to meeting over a cup of coffee to discuss a few strategies? Otto's is a favorite of mine.\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to a coffee to discuss strategies?\"\n    },\n    {\n      \"id\": \"MKT-002-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Video Production for Dallas Businesses\",\n      \"subject\": \"Otto's for a coffee?\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nLove connecting with fellow Dallas business owners. We can help {{company_name}} create studio-quality short-form videos that lift conversions across your campaigns.\\n\\nWe helped a Texas team add $50k in 2022 with better video assets. I have a strategy in mind for you.\\n\\nWould you be open to a quick coffee at Otto's so I can share it?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to a quick coffee at Otto's?\"\n    },\n\n    {\n      \"id\": \"MKT-003\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Viral Short Form for eCom\",\n      \"subject\": \"Viral short-form for {{company_name}}\",\n      \"body\": \"We can drive millions of eyeballs for {{company_name}} with Organic Viral Storytelling across social media, even if TikTok gets banned.\\n\\nYou’ll reach Gen Z with a format few businesses use. We keep a tight client roster.\\n\\nInterested in a quick Loom explainer? Last year we helped a brand generate hundreds of millions of views with revenue to match.\\n\\nIf consistent viral video sales would help, want to see a quick video explaining the approach?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Interested in a quick Loom explainer?\"\n    },\n\n    {\n      \"id\": \"MKT-004-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Email Marketing for eCom\",\n      \"subject\": \"Quick video on email revenue leaks\",\n      \"body\": \"I signed up for your list and spotted a few issues that are likely hurting email revenue.\\n\\nI recorded a short video explaining what I found and how to fix it.\\n\\nMind if I send it over?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I send the video?\"\n    },\n    {\n      \"id\": \"MKT-004-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Email Marketing for eCom\",\n      \"subject\": \"We’ll add $40k–$200k in 60 days or refund\",\n      \"body\": \"I won’t waste your time with AI ‘personalization’. Here’s the pitch.\\n\\nWe will add $40k to $200k to your monthly revenue in 60 days or less using email, or you get a complete refund.\\n\\nOpen to discuss? I recorded a video showing a few issues in {{company_name}}’s email strategy that may be hurting conversions.\\n\\nMind if I share it here?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to discuss and see the video?\"\n    },\n\n    {\n      \"id\": \"MKT-005-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Meta Ads for eCom\",\n      \"subject\": \"Increase ROAS by 30% monthly\",\n      \"body\": \"We can help {{company_name}} increase Meta ROAS by 30% every month using our ad creative frameworks.\\n\\nWe just helped a similar company reduce cost per purchase by 30%, enabling more spend at lower CAC.\\n\\nOpen to a few ideas for {{company_name}}?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to ideas?\"\n    },\n    {\n      \"id\": \"MKT-005-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Meta Ads for eCom\",\n      \"subject\": \"Short video on higher ROAS\",\n      \"body\": \"I put together a short video showing how new ad frameworks and stronger hook visuals can lift ROAS in your account every month.\\n\\nMind if I share it?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I share the video?\"\n    },\n\n    {\n      \"id\": \"MKT-006-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Lead Generation for Roofers\",\n      \"subject\": \"Quick question on lead follow-up speed\",\n      \"body\": \"Just curious. How fast is your team following up with new leads?\\n\\nRoofing owners using our software capture 2x more deals by automating follow-ups. A similar company boosted close rate from 27% to 64%, doubling revenue in two years.\\n\\nCan I send a quick video on how this works?\",\n      \"variables\": [],\n      \"cta\": \"Can I send a quick video?\"\n    },\n    {\n      \"id\": \"MKT-006-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Lead Generation for Roofers\",\n      \"subject\": \"Win more contracts and collect reviews on autopilot\",\n      \"body\": \"Figured you might oversee new jobs at {{company_name}}. Roofers using our software win more contracts and collect reviews without extra effort.\\n\\nBrian generated 20+ Google reviews while freeing 12 hours a week in admin.\\n\\nShould I send a short video covering how your team benefits?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Should I send the video?\"\n    },\n\n    {\n      \"id\": \"MKT-007\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"SEO for SaaS\",\n      \"subject\": \"Turn content into SQLs\",\n      \"body\": \"As a decision maker at {{company_name}}, you need more qualified pipeline. We specialize in SaaS SEO that converts existing content into SQL-generating assets.\\n\\nWe recently helped a client lift SQLs 30% in 90 days.\\n\\nOpen to us writing an SEO-optimized blog on the house?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to a free SEO blog?\"\n    },\n\n    {\n      \"id\": \"MKT-008-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Web Design / Video Content\",\n      \"subject\": \"Quick question\",\n      \"body\": \"Hey {{first_name}},\\n\\nI checked your website and noticed a few tweaks to increase conversions and improve first impressions.\\n\\nI recorded a quick video explaining. Mind if I share it?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Mind if I share the video?\"\n    },\n    {\n      \"id\": \"MKT-008-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Web Design / Video Content\",\n      \"subject\": \"{{company_name}} x our studio\",\n      \"body\": \"Hey {{first_name}},\\n\\nAre you looking for a video production company to make multimedia content for {{company_name}}?\\n\\nWe helped a nonprofit raise millions by creating studio-quality event content and adding it to their site.\\n\\nI recorded a quick video with ideas for your site. Mind if I share?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Mind if I share the video?\"\n    },\n\n    {\n      \"id\": \"MKT-009-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"SEO for Property Management\",\n      \"subject\": \"Question about your website\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nI searched for {{company_name}} on Google and noticed a few competitors outranking you.\\n\\nI recorded a quick video outlining a local SEO plan to get you to the top.\\n\\nMind if I send it?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Mind if I send the video?\"\n    },\n    {\n      \"id\": \"MKT-009-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"SEO for Property Management\",\n      \"subject\": \"quick question\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nI checked {{company_name}}’s site and noticed a few ways to convert more customers.\\n\\nMind if I share a quick video explaining?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Mind if I share the video?\"\n    },\n\n    {\n      \"id\": \"MKT-010-a\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Marketing App Marketplace\",\n      \"subject\": \"All your marketing apps in one hub\",\n      \"body\": \"Saw your role and thought this would be relevant.\\n\\nWe have an AI marketing tool that combines 45+ apps and agents into one central hub to host all your marketing material.\\n\\nThis can accelerate content creation up to 70%, run effective campaigns, and cut costs by replacing outsourced services with AI tools.\\n\\nCan I send a video showing how it works?\",\n      \"variables\": [],\n      \"cta\": \"Can I send a video?\"\n    },\n    {\n      \"id\": \"MKT-010-b\",\n      \"industry\": \"Marketing & Advertising\",\n      \"offer\": \"Marketing App Marketplace\",\n      \"subject\": \"Tool that could help {{company_name}}\",\n      \"body\": \"We have an AI tool that’s useful for SMBs like {{company_name}}.\\n\\nWe’re already helping businesses accelerate content creation, run better campaigns, and reduce costs.\\n\\nCan I show you a video?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Can I show you a video?\"\n    },\n\n    {\n      \"id\": \"COACH-001-a\",\n      \"industry\": \"Coaching & Consulting\",\n      \"offer\": \"Fractional CMO Coaching\",\n      \"subject\": \"Are you taking on more clients?\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nSaw you’re the owner at {{company_name}}. Would you be interested in turning your agency into a Fractional CMO business with higher-paying clients who don’t ghost invoices?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Interested in switching to a Fractional CMO model?\"\n    },\n    {\n      \"id\": \"COACH-001-b\",\n      \"industry\": \"Coaching & Consulting\",\n      \"offer\": \"Fractional CMO Coaching\",\n      \"subject\": \"2 things // checking in\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}}, two quick things.\\n\\n1) Our program helps you build a $500k/year Fractional CMO business using the marketing expertise you already have.\\n2) We’ll connect you with businesses already in-market for a Fractional CMO.\\n\\nWant a short video on how it works?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Want the short video?\"\n    },\n    {\n      \"id\": \"COACH-002\",\n      \"industry\": \"Coaching & Consulting\",\n      \"offer\": \"First Aid Training\",\n      \"subject\": \"Quick question\",\n      \"body\": \"Have you invested in first aid training for your employees?\\n\\nWe provide on-site and blended CPR and First Aid certification taught by experienced first responders. Classes support 6 to 106 participants, in English or Spanish.\\n\\nWorth exploring?\",\n      \"variables\": [],\n      \"cta\": \"Worth exploring?\"\n    },\n\n    {\n      \"id\": \"PHYS-001\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Industrial Vehicles\",\n      \"subject\": \"Looking for minute misers?\",\n      \"body\": \"Hey {{first_name}},\\n\\nAre you currently looking for minute misers or tugs?\\n\\nWe carry refurbished Taylor-Dunn and Cushman vehicles that match new performance at 50% of the cost and are typically available sooner.\\n\\nInterested in inventory details?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Interested in current inventory?\"\n    },\n    {\n      \"id\": \"PHYS-002-a\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Healthcare Privacy Screens\",\n      \"subject\": \"Quick question\",\n      \"body\": \"Hallway beds don’t have to mean a lack of privacy. Over 800 ERs trust us for instant, retractable privacy screens that work on demand.\\n\\nThey’re easy to clean, reduce HAIs, and cost less than traditional curtains.\\n\\nDoes this sound valuable to your team right now?\",\n      \"variables\": [],\n      \"cta\": \"Valuable to your team right now?\"\n    },\n    {\n      \"id\": \"PHYS-002-b\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Healthcare Privacy Screens\",\n      \"subject\": \"Privacy screens for {{company_name}}\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nWe offer fully customizable privacy screens for teams like {{company_name}} and their patients. Choose materials, finishes, and branding options.\\n\\nOver 1,175 healthcare facilities, including VA hospitals, trust us for infection control and privacy.\\n\\nWant to see if this fits your facility?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Want to see if it fits your facility?\"\n    },\n    {\n      \"id\": \"PHYS-003\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Decorative Plaster\",\n      \"subject\": \"Eliminate plaster callbacks\",\n      \"body\": \"I came across your profile at {{company_name}}. Are cracks in plaster jobs causing headaches?\\n\\nWe offer a resin-based plaster suitable for walls, floors, wet areas, pool decks, and pool interiors. It gives you an edge with clients and eliminates callbacks.\\n\\nInstant ROI: install directly over existing tiles or materials. No demolition, no permits.\\n\\nWe also have subcontractor opportunities in your area.\\n\\nInterested in a product demo video?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Interested in a demo video?\"\n    },\n    {\n      \"id\": \"PHYS-004\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Stone and Paver Deck Surfaces\",\n      \"subject\": \"Offer maintenance-free stone decks\",\n      \"body\": \"I noticed you’re in charge at {{company_name}}.\\n\\nWe can help you offer stone and paver deck surfaces that never need maintenance at pricing comparable to high-end composite.\\n\\nA contractor increased average project value from $25k to $250k by switching from wood/composite to stone.\\n\\nOpen to how this helps you land bigger projects?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to discuss?\"\n    },\n    {\n      \"id\": \"PHYS-005\",\n      \"industry\": \"Physical Products\",\n      \"offer\": \"Spray Polyurethane Foam Roof System\",\n      \"subject\": \"Category 5 wind warranty\",\n      \"body\": \"Most roofs fail in hurricane-force winds and insurance often won’t cover. Our SPF Roof System is the only one with a Category 5 Hurricane Wind Warranty.\\n\\nIt’s seamless, leak-proof, and carries a renewable manufacturer warranty for the life of the building. The foam creates an energy-efficient, tapered system that handles ponding water.\\n\\nWe’re trusted on critical projects because of reliability and results.\\n\\nAny chance I can send a short explainer video?\",\n      \"variables\": [],\n      \"cta\": \"Can I send a short video?\"\n    },\n\n    {\n      \"id\": \"STAFF-001\",\n      \"industry\": \"Staffing\",\n      \"offer\": \"Staffing with Meta Ads — Dutch Market\",\n      \"subject\": \"{{company_name}} // Social promotion — intro\",\n      \"greeting_options\": [\"Hi\", \"Hello\", \"Hey\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nHaving trouble filling vacancies at {{company_name}}?\\n\\nWe helped a company get 120 applicants for a logistics role in one month without placement fees or fixed contracts using local social ads and a branded application form.\\n\\nYou’ll get at least 10 applicants in 30 days or your money back.\\n\\nMay I send more info?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"May I send more info?\"\n    },\n    {\n      \"id\": \"STAFF-002-a\",\n      \"industry\": \"Staffing\",\n      \"offer\": \"VA Salespeople for Real Estate\",\n      \"subject\": \"Pre-vetted SDRs for your pipeline\",\n      \"body\": \"Hi {{first_name}},\\n\\nHow are you managing time across contacting leads, showings, follow-ups, contracts, and paperwork?\\n\\nWe provide skilled, pre-vetted real estate SDRs to handle outreach and follow-ups so you can focus on client experience.\\n\\nWould you be interested?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Would you be interested?\"\n    },\n    {\n      \"id\": \"STAFF-002-b\",\n      \"industry\": \"Staffing\",\n      \"offer\": \"VA Salespeople for Real Estate\",\n      \"subject\": \"Need efficient salespeople for follow-ups?\",\n      \"body\": \"Hey {{first_name}},\\n\\nDo you struggle to find efficient salespeople to make follow-ups and calls? Too many leads with too little time?\\n\\nWe’ll help you find SDRs who convert.\\n\\nInterested?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Interested?\"\n    },\n\n    {\n      \"id\": \"FIN-001\",\n      \"industry\": \"Financial Services / Lending\",\n      \"offer\": \"Annuities Presentations\",\n      \"subject\": \"Question about your annuities?\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nWe can help you generate more annuity sales with Annuities Genius. Choose products from 100+ carriers in seconds, walk clients through structured presentations, and close faster.\\n\\nAdvisors report $70k commissions in 2 months.\\n\\nCan I send a quick video showing how {{company_name}} can scale sales?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Can I send a quick video?\"\n    },\n    {\n      \"id\": \"FIN-002-a\",\n      \"industry\": \"Financial Services / Lending\",\n      \"offer\": \"0% Funding for Roofers\",\n      \"subject\": \"Quick question\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nWe can offer up to $250k in 0% business financing so you can reinvest in tools, fleet, inventory, and hires.\\n\\nWe’ve helped hundreds of roofing businesses. I have a 2-minute video that breaks it down.\\n\\nWant me to share it here?\",\n      \"variables\": [\"first_name\"],\n      \"cta\": \"Want me to share the video?\"\n    },\n    {\n      \"id\": \"FIN-002-b\",\n      \"industry\": \"Financial Services / Lending\",\n      \"offer\": \"0% Funding for Roofers\",\n      \"subject\": \"Question for {{first_name}}\",\n      \"greeting_options\": [\"Hey\", \"Hi\", \"Hello\"],\n      \"body\": \"{{GREETING}} {{first_name}},\\n\\nWe’re offering up to $250k at 0% for roofers like {{company_name}} looking to grow this year.\\n\\nReinvest into tools, fleet, inventory, and hires.\\n\\nWant to watch a quick video to see if you qualify?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Want to watch the video?\"\n    },\n\n    {\n      \"id\": \"CORP-001-a\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Corporate Swag — Custom Merch\",\n      \"subject\": \"Custom swag for {{company_name}}\",\n      \"body\": \"You have a strong brand. We build standout swag.\\n\\nCaps, tees, polos, bags, mugs, and more. Fast turns, best-in-class quality and service. We’re in Texas, so shipping and delivery are easy.\\n\\nI made a few design mockups for {{company_name}}. Open to seeing them?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to seeing the mockups?\"\n    },\n    {\n      \"id\": \"CORP-001-b\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Corporate Swag — Custom Merch\",\n      \"subject\": \"Quick question\",\n      \"body\": \"We love working with Texas companies. I’m sure you already have branded merch.\\n\\nWe focus on ROI. I have top cap and shirt suggestions that move the needle.\\n\\nOpen to seeing a few mockups with the {{company_name}} logo?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Open to seeing mockups?\"\n    },\n    {\n      \"id\": \"CORP-002-a\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Brass Band for Corporate Events\",\n      \"subject\": \"Quick question\",\n      \"body\": \"As a key player at {{company_name}}, you’re always looking for standout entertainment at field events.\\n\\nWe’re a high-energy brass band active in 40+ US cities, with musicians who’ve played with Drake and Stevie Wonder.\\n\\nMind if I share how we can elevate your next event?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Mind if I share details?\"\n    },\n    {\n      \"id\": \"CORP-002-b\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Brass Band for Corporate Events\",\n      \"subject\": \"Question about your events\",\n      \"body\": \"Hey {{first_name}},\\n\\nHave you considered using a brass band to lead attendees between venues or kick off your next event?\\n\\nWe’ve performed for major brands with a mix of jazz, funk, and pop that gets people moving.\\n\\nOpen to exploring this for {{company_name}}’s next event?\",\n      \"variables\": [\"first_name\", \"company_name\"],\n      \"cta\": \"Open to explore for your next event?\"\n    },\n    {\n      \"id\": \"CORP-003\",\n      \"industry\": \"Corporate Services\",\n      \"offer\": \"Corporate Gifting\",\n      \"subject\": \"Why sustainable give-back gifts work\",\n      \"body\": \"I put together a quick guide on why sustainable and give-back gifts improve employee engagement, client relationships, and brand image.\\n\\nIf you’re curious about options that align with your values, let’s connect.\\n\\nMind if I share it here?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I share the guide?\"\n    },\n\n    {\n      \"id\": \"INS-001-a\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Truckers\",\n      \"subject\": \"Lower down payments and instant COIs\",\n      \"body\": \"As a trucking company owner, you know high insurance down payments cut into profits.\\n\\nWe offer the lowest down payments in the industry and instant COIs via our website, saving clients about $5,000 per year.\\n\\nOpen to a quick quote?\",\n      \"variables\": [],\n      \"cta\": \"Open to a quick quote?\"\n    },\n    {\n      \"id\": \"INS-001-b\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Truckers\",\n      \"subject\": \"Question about costs at {{company_name}}\",\n      \"body\": \"Are expensive trucking insurance and slow COI processes an issue at {{company_name}}?\\n\\nWe provide instant COIs and the lowest down payments. Clients save about $5,000 per year.\\n\\nInterested in seeing potential savings with A-rated carriers?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Interested in seeing savings?\"\n    },\n    {\n      \"id\": \"INS-002-a\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Manufacturers\",\n      \"subject\": \"Bonus compliance and communication services\",\n      \"body\": \"As a bonus, clients get access to OSHA compliance, employee handbooks, and industry-specific communications.\\n\\nMind if I share a PDF summarizing these solutions?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I share the PDF?\"\n    },\n    {\n      \"id\": \"INS-002-b\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Manufacturers\",\n      \"subject\": \"Any questions on coverage?\",\n      \"body\": \"Reaching out one last time. We’re here to help safeguard your manufacturing business.\\n\\nWould you like to schedule a call this week?\",\n      \"variables\": [],\n      \"cta\": \"Would you like to schedule a call?\"\n    },\n    {\n      \"id\": \"INS-002-c\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Insurance for Manufacturers\",\n      \"subject\": \"Carrier lineup and savings overview\",\n      \"body\": \"I recorded a quick video showing the carriers we work with and approximate savings versus market rates.\\n\\nWould it be helpful if I shared it here?\",\n      \"variables\": [],\n      \"cta\": \"Would it be helpful if I shared the video?\"\n    },\n    {\n      \"id\": \"INS-003\",\n      \"industry\": \"Insurance\",\n      \"offer\": \"Lead Generation for Insurance Agents (ACA)\",\n      \"subject\": \"Generate more ACA enrollments\",\n      \"body\": \"I noticed you’re a local agent looking to generate more ACA enrollments.\\n\\nWe helped David generate 537+ ACA policies in under 30 days without paying for low-intent leads or chasing referrals, using our ACA automated enrollment generator system.\\n\\nInterested in seeing how we can help you too?\",\n      \"variables\": [],\n      \"cta\": \"Interested in seeing how we can help?\"\n    },\n\n    {\n      \"id\": \"SALES-001-a\",\n      \"industry\": \"Sales\",\n      \"offer\": \"Sales Training for Manufacturers\",\n      \"subject\": \"Cut dealer ramp-up 55%\",\n      \"body\": \"We’ve helped manufacturers like {{company_name}} cut new dealer ramp-up time by 55% with our mobile sales tool.\\n\\nIt ensures reps know your entire product line, not just the easy sellers.\\n\\nGiven your role in dealer development, this can transform order-takers into high-performing pros. Mind if I share a short video?\",\n      \"variables\": [\"company_name\"],\n      \"cta\": \"Mind if I share a short video?\"\n    },\n    {\n      \"id\": \"SALES-001-b\",\n      \"industry\": \"Sales\",\n      \"offer\": \"Sales Training for Manufacturers\",\n      \"subject\": \"How our app halves time to quota\",\n      \"body\": \"I recorded a short video on how our mobile app helps manufacturers create knowledgeable distributor reps, even offline.\\n\\nIt shows how we cut time to quota in half and arm reps with unique insights.\\n\\nMind if I share it?\",\n      \"variables\": [],\n      \"cta\": \"Mind if I share it?\"\n    }\n  ]\n}"
        }
      },
      "id": "703c6b3d-9e15-43d2-8223-93ae62836c84",
      "name": "A/B Variant Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        416,
        224
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"ab_variants\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"variant\": { \"type\": \"string\" },\n          \"framework\": { \"type\": \"string\" },\n          \"subject_line\": { \"type\": \"string\" },\n          \"body\": { \"type\": \"string\" },\n          \"first_line\": { \"type\": \"string\" },\n          \"cta\": { \"type\": \"string\" },\n          \"test_hypothesis\": { \"type\": \"string\" },\n          \"research_angle\": { \"type\": \"string\" }\n        },\n        \"required\": [\"variant\", \"framework\", \"subject_line\", \"body\", \"cta\", \"test_hypothesis\", \"research_angle\"]\n      }\n    }\n  },\n  \"required\": [\"ab_variants\"]\n}"
      },
      "id": "099d0e4d-70ff-42d0-84a3-8b8812233fcc",
      "name": "Variant Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1,
      "position": [
        560,
        448
      ]
    },
    {
      "parameters": {
        "model": "openai/o3",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        448
      ],
      "id": "8f45cec9-4548-4a0c-a57e-0dba43fb7043",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1280,
        800
      ],
      "id": "b3cbd6cc-a35b-43e9-b10b-e1b54c233ad1",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        432,
        448
      ],
      "id": "fee0493c-8884-4be4-ac3d-d30773279660",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "=📁 *New Document Uploaded - Returning Client*\n\n*Client:* {{ $('Campaign Request Form').first().json['Prospect Name'] }}\n*Company:* {{ $('Campaign Request Form').first().json['Company Name'] }}\n\n🔗 *Document Link:* https://drive.google.com/file/d/{{ $('HTTP Request').first().json.documentId }}/view\n\n_Uploaded: {{$now}}_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1216,
        400
      ],
      "id": "feb738bd-963e-4777-8a67-a59aefa48298",
      "name": "Notify: Returning Customer",
      "webhookId": "b6b6d6b6-2394-4b8e-a7cb-4fb5c3c1639d",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      },
      "notes": "Sends Slack notification for returning customer file uploads with document and folder links"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -784,
        576
      ],
      "id": "172cf51e-769b-4279-9ab8-9877d510b99b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef01ac43-d5aa-4a33-a468-56a0312afdd1",
              "leftValue": "Upload_Lead_List_CSV__for_multiple_campaigns_",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2400,
        576
      ],
      "id": "959d80f3-4da5-4512-9007-4c3aef7c4fee",
      "name": "If CSV uploaded"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "=Cold Email Campaigns - {{ $now }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Sheet1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        576
      ],
      "id": "0cb4f36c-094d-4ef8-a1a6-3338e4a9153b",
      "name": "Create spreadsheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CO5al3ofI8ppxpib",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "trigger_type",
              "name": "trigger_type",
              "value": "form_campaign",
              "type": "string"
            },
            {
              "id": "prospect_name",
              "name": "prospect_name",
              "value": "={{ $json['Prospect Name'] }}",
              "type": "string"
            },
            {
              "id": "prospect_title",
              "name": "prospect_title",
              "value": "={{ $json['Prospect Title'] }}",
              "type": "string"
            },
            {
              "id": "company_name",
              "name": "company_name",
              "value": "={{ $json['Company Name'] }}",
              "type": "string"
            },
            {
              "id": "industry",
              "name": "industry",
              "value": "={{ $json['Industry Vertical'] }}",
              "type": "string"
            },
            {
              "id": "objective",
              "name": "objective",
              "value": "={{ $json['Outreach Objective'] }}",
              "type": "string"
            },
            {
              "id": "company_size",
              "name": "company_size",
              "value": "={{ $json['Company Size'] || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "product_service",
              "name": "product_service",
              "value": "={{ $json['Your Product/Service'] }}",
              "type": "string"
            },
            {
              "id": "value_proposition",
              "name": "value_proposition",
              "value": "={{ $json['Value Proposition'] }}",
              "type": "string"
            },
            {
              "id": "personalization_notes",
              "name": "personalization_notes",
              "value": "={{ $json['Personalization Notes'] || 'No specific notes provided' }}",
              "type": "string"
            },
            {
              "id": "sender_name",
              "name": "sender_name",
              "value": "={{ $json['Sender Name'] }}",
              "type": "string"
            },
            {
              "id": "sender_title",
              "name": "sender_title",
              "value": "={{ $json['Sender Title'] }}",
              "type": "string"
            },
            {
              "id": "company_website",
              "name": "company_website",
              "value": "={{ $json['Company Website'] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6f746741-2fe7-4a22-be1d-6a63b7ce7a7d",
      "name": "Process Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        624
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prospect_name",
              "name": "prospect_name",
              "value": "={{ $('Merge Normalized Data').first().json.prospect_name }}",
              "type": "string"
            },
            {
              "id": "prospect_email",
              "name": "prospect_email",
              "value": "={{ $('Merge Normalized Data').first().json.prospect_email || '' }}",
              "type": "string"
            },
            {
              "id": "formatted_email",
              "name": "formatted_personalized_email",
              "value": "=Hi {{ $('Process CSV Upload').first().json['First Name'] }}, \n\n{{ $('First Line Writer').item.json.output }}\n\n{{ $('Email Sequence Generator').item.json.email_sequence[0].body }}\n\nThanks,\n{{ $('Campaign Request Form').first().json['Sender Name'] }}\n{{ $('Campaign Request Form').first().json['Sender Title'] }}\n{{ $('Campaign Request Form').first().json['Company Website'] }}",
              "type": "string"
            },
            {
              "id": "company_name",
              "name": "company_name",
              "value": "={{ $('Normalize CSV Data').first().json.company_name }}",
              "type": "string"
            },
            {
              "id": "email_sequence",
              "name": "=Email 1",
              "value": "=Subject: {{ $('Email Sequence Generator').item.json.email_sequence[0].subject_suggestion }}\n\nHi {{ $('Process CSV Upload').first().json['First Name'] }},\n\n{{ $('Email Sequence Generator').item.json.email_sequence[0].body }}\n\nThanks,\n{{ $('Campaign Request Form').first().json['Sender Name'] }}\n{{ $('Campaign Request Form').first().json['Sender Title'] }}\n{{ $('Campaign Request Form').first().json['Company Website'] }}",
              "type": "string"
            },
            {
              "id": "d677eacb-7a59-41c2-be05-d51ef12c2e89",
              "name": "=Email 2",
              "value": "=Subject: {{ $('Email Sequence Generator').item.json.email_sequence[1].subject_suggestion }}\n\nHey {{ $('Process CSV Upload').first().json['First Name'] }},\n\n{{ $('Email Sequence Generator').item.json.email_sequence[1].body }}\n\nThanks,\n{{ $('Campaign Request Form').first().json['Sender Name'] }}\n{{ $('Campaign Request Form').first().json['Sender Title'] }}\n{{ $('Campaign Request Form').first().json['Company Website'] }}",
              "type": "string"
            },
            {
              "id": "2e6a228a-694e-4d18-a8af-562ea7e065a0",
              "name": "=Email 3",
              "value": "=Subject: {{ $('Email Sequence Generator').item.json.email_sequence[2].subject_suggestion }}\n\n{{ $('Process CSV Upload').first().json['First Name'] }},\n\n{{ $('Email Sequence Generator').item.json.email_sequence[2].body }}\n\nThanks,\n{{ $('Campaign Request Form').first().json['Sender Name'] }}\n{{ $('Campaign Request Form').first().json['Sender Title'] }}\n{{ $('Campaign Request Form').first().json['Company Website'] }}\n",
              "type": "string"
            },
            {
              "id": "ab_variants",
              "name": "=Variant A",
              "value": "=Subject: {{ $json.ab_variants[0].subject_line }}\n\nHi {{ $('Process CSV Upload').first().json['First Name'] }},\n\n{{ $json.ab_variants[0].body }}\n\nThanks,\n{{ $('Campaign Request Form').first().json['Sender Name'] }}\n{{ $('Campaign Request Form').first().json['Sender Title'] }}\n{{ $('Campaign Request Form').first().json['Company Website'] }}\n",
              "type": "string"
            },
            {
              "id": "0399bc80-e653-4090-8dfd-1e1ae2beb933",
              "name": "=Variant B",
              "value": "=Subject: {{ $json.ab_variants[1].subject_line }}\n\nHi {{ $('Process CSV Upload').first().json['First Name'] }},\n\n{{ $json.ab_variants[1].body }}\n\nThanks,\n{{ $('Campaign Request Form').first().json['Sender Name'] }}\n{{ $('Campaign Request Form').first().json['Sender Title'] }}\n{{ $('Campaign Request Form').first().json['Company Website'] }}\n",
              "type": "string"
            },
            {
              "id": "7412b154-a3fa-4cbc-ac77-8f2b210ff240",
              "name": "Variant C",
              "value": "=Subject: {{ $json.ab_variants[2].subject_line }}\n\nHi {{ $('Process CSV Upload').first().json['First Name'] }},\n\n{{ $json.ab_variants[2].body }}\n\nThanks,\n{{ $('Campaign Request Form').first().json['Sender Name'] }}\n{{ $('Campaign Request Form').first().json['Sender Title'] }}\n{{ $('Campaign Request Form').first().json['Company Website'] }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "99f48abc-452c-4715-9ca3-a60e8729be10",
      "name": "Format Final Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        224
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet').first().json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet').first().json.sheets[0].properties.title }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "prospect_name",
              "displayName": "prospect_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prospect_email",
              "displayName": "prospect_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formatted_personalized_email",
              "displayName": "formatted_personalized_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_sequence_1",
              "displayName": "email_sequence_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_sequence_2",
              "displayName": "email_sequence_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_sequence_3",
              "displayName": "email_sequence_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "variant_a",
              "displayName": "variant_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "variant_b",
              "displayName": "variant_b",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "variant_c",
              "displayName": "variant_c",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "id": "9cdb9729-89cb-483b-ab77-5af8a0d12c09",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        992,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Cold Email Campaign Generator",
        "formDescription": "Generate high-converting cold email sequences with AI-powered personalization. Complete the form below to create your campaign.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Sender Name",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Sender Title",
              "placeholder": "Your Title/Role",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Product/Service",
              "fieldType": "textarea",
              "placeholder": "Brief description of what you're offering and key benefits",
              "requiredField": true
            },
            {
              "fieldLabel": "Value Proposition",
              "fieldType": "textarea",
              "placeholder": "What specific value do you provide? Include metrics if available (e.g., '30% cost reduction', '2x faster deployment')",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Website",
              "placeholder": "https://yourcompany.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload Lead List CSV (for multiple campaigns)",
              "fieldType": "file",
              "acceptFileTypes": ".csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "1e65392e-f60e-4361-9c25-f7479b517210",
      "name": "Campaign Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2624,
        576
      ],
      "webhookId": "fcf41c7b-fa99-4af2-bf11-9566601e3054"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-small-3.2-24b-instruct:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        656
      ],
      "id": "fdee2821-798d-467f-80ce-f202cbdc13a6",
      "name": "Autofix",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        -432,
        448
      ],
      "id": "c1dd7322-4b02-442e-a800-4fb20b429655",
      "name": "Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "tDkFR32KWXKeIPzc",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a personalized first line for a cold email to this prospect:\nRecipient Details:\n\nName: {{ $('Process CSV Upload').first().json['First Name'] }} {{ $('Process CSV Upload').first().json['Last Name'] }}\nCompany: {{ $('Process CSV Upload').first().json.Company }}\n\nResearch Insights:\n\nPain Points: {{ $json.pain_points }}\nBusiness Priorities: {{ $json.business_priorities }}\nConversation Starters: {{ $json.conversation_starters }}\nLikely Objections: {{ $json.likely_objections }}\nBest Timing Context: {{ $json.best_timing }}\nPersonalization Angle: {{ $json.personalization_angle }}\nIndustry Insights: {{ $json.industry_insights }}\n\nMy Services:\nProduct/service: {{ $('Campaign Request Form').first().json['Your Product/Service'] }}\nValue Proposition: {{ $('Campaign Request Form').first().json['Value Proposition'] }}\n\nBased on these insights, create a first line that:\n\nDemonstrates understanding of their specific situation\nReferences something timely or relevant to them right now\nSubtly hints at why you're reaching out without being pushy\nIs friendly and personalized\nFeels like it was written specifically for them, not mass-produced\n\nExample first lines:\n\"I noticed you recently spoke at TechCon about sustainable AI infrastructure—your point about reducing computational waste by 40% really challenged how I think about model optimization.\"\n\n\"Your LinkedIn post about the challenges of scaling a remote team from 10 to 100 people resonated with me, especially since we just hit similar growing pains at [Your Company].\"\n\n\"Congratulations on the Series B! I saw TechCrunch mentioned you're planning to expand into the European market—that's exactly the journey we helped [Similar Company] navigate last year.\"\n\n\"I've been following [Their Company]'s journey since your pivot from B2C to B2B last quarter, and your approach to repositioning the brand without losing core users was impressive.\"\n\n\"Just listened to your interview on the Marketing Masters podcast where you mentioned struggling to find good attribution models for PLG companies—we actually just cracked this problem for a similar SaaS.\"\n\nWrite only the personalized first line, nothing else. Do not mention the prospect's name.",
        "options": {
          "systemMessage": "=You are an expert cold email copywriter specializing in crafting highly personalized opening lines that capture attention and build immediate relevance. Your goal is to create first lines that demonstrate genuine research and understanding of the recipient's specific situation.\nYour writing style is:\n\nConversational and friendly yet professional\nSpecific and detailed (avoiding generic statements)\nFocused on the recipient, not the sender\nNatural and authentic (avoiding obvious flattery)\n\nKey principles:\n\nReference specific, recent, and relevant information about the recipient or their company\nConnect their situation to a legitimate business reason for outreach\nAvoid clichés like \"I hope this email finds you well\" or \"I came across your profile\"\nKeep the line under 30 words when possible\nFocus on their achievements, challenges, or recent changes—not yours\nUse concrete details (numbers, dates, specific projects) when available\n\nExamples:\n\n\"I noticed you recently spoke at TechCon about sustainable AI infrastructure—your point about reducing computational waste by 40% really challenged how I think about model optimization.\"\n\n\"Your LinkedIn post about the challenges of scaling a remote team from 10 to 100 people resonated with me, especially since we just hit similar growing pains at [Your Company].\"\n\n\"Congratulations on the Series B! I saw TechCrunch mentioned you're planning toexpand into the European market—that's exactly the journey we helped [Similar Company] navigate last year.\"\n\n\"I've been following [Their Company]'s journey since your pivot from B2C to B2B last quarter, and your approach to repositioning the brand without losing core users was impressive.\"\n\n\"Just listened to your interview on the Marketing Masters podcast where you mentioned struggling to find good attribution models for PLG companies—we actually just cracked this problem for a similar SaaS.\"\n\nOutput format: Provide only the personalized first line. Do not include greetings, subject lines, or additional context.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        224
      ],
      "id": "ac4a08b1-07ae-4c21-94e2-877ddbc823ba",
      "name": "First Line Writer"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        448
      ],
      "id": "39c6d4b7-7060-4206-a1ac-813aa07daa40",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Process CSV Upload": {
      "main": [
        [
          {
            "node": "Normalize CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize CSV Data": {
      "main": [
        [
          {
            "node": "Merge Normalized Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Normalized Data": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospect Research Agent": {
      "main": [
        [
          {
            "node": "First Line Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Prospect Research Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Email Sequence Generator": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequence Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Email Sequence Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "A/B Variant Generator": {
      "main": [
        [
          {
            "node": "Format Final Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variant Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "A/B Variant Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prospect Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Email Sequence Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "A/B Variant Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Notify: Returning Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prospect Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CSV uploaded": {
      "main": [
        [
          {
            "node": "Process CSV Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Email Sequence Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Form Data": {
      "main": [
        [
          {
            "node": "Merge Normalized Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Final Email": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Notify: Returning Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campaign Request Form": {
      "main": [
        [
          {
            "node": "If CSV uploaded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autofix": {
      "ai_languageModel": [
        [
          {
            "node": "Research Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Sequence Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Prospect Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "First Line Writer": {
      "main": [
        [
          {
            "node": "A/B Variant Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "First Line Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b383584b-3bf2-4496-ac9f-824ae80ead69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "gqvcLZQ7Nc8TVc8X",
  "tags": []
}