N8N Workflows/Workflows/Cold Email Lead Generation Agency/Daily Campaign Reports, Health Metrics & Bounce Rate Alerts.json
{
  "name": "Daily Campaign Reports, Health Metrics & Bounce Rate Alerts",
  "nodes": [
    {
      "parameters": {
        "url": "https://server.smartlead.ai/api/v1/analytics/mailbox/domain-wise-health-metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "f7e2f1f7-b40e-4915-83bf-e71a7bd48c1d_115e16a"
            },
            {
              "name": "start_date",
              "value": "2024-11-18"
            },
            {
              "name": "end_date",
              "value": "=2025-{{ $now.format('MM')}}-{{ $json['Day of month'] }}"
            },
            {
              "name": "full_data",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "47252b99-b0fb-4363-b8ad-59316edca0a9",
      "name": "HTTP Request5",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -432,
        368
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.domain_health_metrics",
        "options": {}
      },
      "id": "6718640b-4aa8-481c-a05f-0f5f172a5c10",
      "name": "Split Out5",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -208,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://server.smartlead.ai/api/v1/analytics/mailbox/name-wise-health-metrics",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "f7e2f1f7-b40e-4915-83bf-e71a7bd48c1d_115e16a"
            },
            {
              "name": "start_date",
              "value": "2024-11-18"
            },
            {
              "name": "end_date",
              "value": "=2025-{{ $now.format('MM')}}-{{ $json['Day of month'] }}"
            },
            {
              "name": "full_data",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "6f9a603d-2580-4c4a-9e95-3d7e6b8e6f41",
      "name": "HTTP Request6",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -432,
        752
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.email_health_metrics",
        "options": {}
      },
      "id": "d58695f7-6079-4aca-b2c7-5086717d0ed2",
      "name": "Split Out6",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -208,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "id": "a466f407-31d2-4e40-9b6c-48908dad4966",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -832,
        368
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://server.smartlead.ai/api/v1/analytics/day-wise-overall-stats-by-sent-time?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "f7e2f1f7-b40e-4915-83bf-e71a7bd48c1d_115e16a"
            },
            {
              "name": "start_date",
              "value": "=2024-11-18"
            },
            {
              "name": "end_date",
              "value": "=2025-{{ $now.format('MM')}}-{{ $json['Day of month'] }}"
            },
            {
              "name": "timezone",
              "value": "5:30"
            }
          ]
        },
        "options": {}
      },
      "id": "4ffdd4c6-2694-4244-a3e0-237c2a32b731",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -432,
        -448
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.day_wise_stats",
        "options": {}
      },
      "id": "387707b6-c3fe-4c53-96db-bdec10864c0e",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -208,
        -448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "977ab189-e1aa-4711-ac11-c334954c7ff3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -832,
        -448
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://server.smartlead.ai/api/v1/analytics/campaign/overall-stats",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "f7e2f1f7-b40e-4915-83bf-e71a7bd48c1d_115e16a"
            },
            {
              "name": "start_date",
              "value": "2024-11-18"
            },
            {
              "name": "end_date",
              "value": "=2025-{{ $now.format('MM')}}-{{ $json['Day of month'] }}"
            },
            {
              "name": "full_data",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "6cd8756f-2fb5-4efa-b267-586722a47eac",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -432,
        -48
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A",
          "mode": "list",
          "cachedResultName": "Email Analytics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 334119608,
          "mode": "list",
          "cachedResultName": "CampaignWise",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A/edit#gid=334119608"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "sent": "={{ $json.sent }}",
            "opened": "={{ $json.opened }}",
            "bounced": "={{ $json.bounced }}",
            "replied": "={{ $json.replied }}",
            "open_rate": "={{ $json.open_rate }}",
            "reply_rate": "={{ $json.reply_rate }}",
            "bounce_rate": "={{ $json.bounce_rate }}",
            "campaign_name": "={{ $json.campaign_name }}",
            "positive_replied": "={{ $json.positive_reply_rate }}",
            "unique_lead_count": "={{ $json.unique_lead_count }}",
            "unique_open_count": "={{ $json.unique_open_count }}",
            "positive_reply_rate": "={{ $json.bounce_rate }}",
            "Updated at": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Updated at",
              "displayName": "Updated at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaign_name",
              "displayName": "campaign_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opened",
              "displayName": "opened",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replied",
              "displayName": "replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bounced",
              "displayName": "bounced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "open_rate",
              "displayName": "open_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reply_rate",
              "displayName": "reply_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bounce_rate",
              "displayName": "bounce_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "positive_reply_rate",
              "displayName": "positive_reply_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "positive_replied",
              "displayName": "positive_replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unique_lead_count",
              "displayName": "unique_lead_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unique_open_count",
              "displayName": "unique_open_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "79fce864-82f9-411f-9d6f-8d4d5beaefd3",
      "name": "Append or update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        16,
        -48
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.campaign_wise_performance",
        "options": {}
      },
      "id": "d4a72437-7d75-49f2-af47-282d8d57296d",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -208,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A",
          "mode": "list",
          "cachedResultName": "Email Analytics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 934278238,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A/edit#gid=934278238"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "day": "={{ $json.day_name }}",
            "date": "={{ $json.date }}",
            "sent": "={{ $json.email_engagement_metrics.sent }}",
            "opened": "={{ $json.email_engagement_metrics.opened }}",
            "bounced": "={{ $json.email_engagement_metrics.bounced }}",
            "replied": "={{ $json.email_engagement_metrics.replied }}",
            "unsubscribed": "={{ $json.email_engagement_metrics.unsubscribed }}",
            "unique_lead_reached": "={{ $json.email_engagement_metrics.unique_lead_reached }}"
          },
          "matchingColumns": [
            "date"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "day",
              "displayName": "day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opened",
              "displayName": "opened",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replied",
              "displayName": "replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bounced",
              "displayName": "bounced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unsubscribed",
              "displayName": "unsubscribed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unique_lead_reached",
              "displayName": "unique_lead_reached",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "035bffba-2c19-4f51-8b41-6bd1e08b84b3",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        16,
        -448
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SDaLQfMWVyk619jhj4BCTx-ac3PSyEglQMR1t8lk1Nc",
          "mode": "list",
          "cachedResultName": "Email Analytics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SDaLQfMWVyk619jhj4BCTx-ac3PSyEglQMR1t8lk1Nc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 12981159,
          "mode": "list",
          "cachedResultName": "EmailHealth",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SDaLQfMWVyk619jhj4BCTx-ac3PSyEglQMR1t8lk1Nc/edit#gid=12981159"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sent": "={{ $json.sent }}",
            "opened": "={{ $json.opened }}",
            "bounced": "={{ $json.bounced }}",
            "replied": "={{ $json.replied }}",
            "open_rate": "={{ $json.open_rate }}",
            "from_email": "={{ $json.from_email }}",
            "reply_rate": "={{ $json.reply_rate }}",
            "Last_update": "={{ $('Schedule Trigger1').item.json[\"Day of month\"] }}-{{ $('Schedule Trigger1').item.json.Month }} ",
            "bounce_rate": "={{ $json.bounce_rate }}",
            "positive_replied": "={{ $json.positive_reply_rate }}",
            "unique_lead_count": "={{ $json.unique_lead_count }}",
            "unique_open_count": "={{ $json.unique_open_count }}",
            "positive_reply_rate": "={{ $json.positive_reply_rate }}"
          },
          "matchingColumns": [
            "from_email"
          ],
          "schema": [
            {
              "id": "from_email",
              "displayName": "from_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last_update",
              "displayName": "Last_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opened",
              "displayName": "opened",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replied",
              "displayName": "replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "positive_replied",
              "displayName": "positive_replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bounced",
              "displayName": "bounced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unique_lead_count",
              "displayName": "unique_lead_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unique_open_count",
              "displayName": "unique_open_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "open_rate",
              "displayName": "open_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reply_rate",
              "displayName": "reply_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "positive_reply_rate",
              "displayName": "positive_reply_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bounce_rate",
              "displayName": "bounce_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "93f25ccd-03ba-4ef0-8e60-ac12b243da7a",
      "name": "Append or update row in sheet6",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        16,
        752
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A",
          "mode": "list",
          "cachedResultName": "Email Analytics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DomainHealth",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HzUw_9PT2B6Jy1pcmep2di2Zy3-cuhKyB8AIGvyA47A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sent": "={{ $json.sent }}",
            "domain": "={{ $json.domain }}",
            "opened": "={{ $json.opened }}",
            "bounced": "={{ $json.bounced }}",
            "replied": "={{ $json.replied }}",
            "open_rate": "={{ $json.open_rate }}",
            "reply_rate": "={{ $json.reply_rate }}",
            "Last_update": "={{ $('Schedule Trigger1').item.json[\"Day of month\"] }}-{{ $('Schedule Trigger1').item.json.Month }} ",
            "bounce_rate": "={{ $json.bounce_rate }}",
            "positive_replied": "={{ $json.positive_reply_rate }}",
            "unique_lead_count": "={{ $json.unique_lead_count }}",
            "unique_open_count": "={{ $json.unique_open_count }}",
            "positive_reply_rate": "={{ $json.bounce_rate }}"
          },
          "matchingColumns": [
            "domain"
          ],
          "schema": [
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last_update",
              "displayName": "Last_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sent",
              "displayName": "sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opened",
              "displayName": "opened",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replied",
              "displayName": "replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "positive_replied",
              "displayName": "positive_replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bounced",
              "displayName": "bounced",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unique_lead_count",
              "displayName": "unique_lead_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unique_open_count",
              "displayName": "unique_open_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "open_rate",
              "displayName": "open_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reply_rate",
              "displayName": "reply_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "positive_reply_rate",
              "displayName": "positive_reply_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bounce_rate",
              "displayName": "bounce_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dd7a3d9d-4d14-4e7f-a1a3-cee231f08367",
      "name": "Append or update row in sheet5",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        16,
        368
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rsm8dEpymM5HO4tt",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "id"
        },
        "text": "=Date: 6/9/25\nCampaign Name: {{ $json.campaign_name }}\nEmails Sent: {{ $json.sent }}\nEmails Opened: {{ $json.opened }}\nReplies: {{ $json.replied }}\nBounced: {{ $json.bounced }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        240,
        -48
      ],
      "id": "eb143dd4-f2d3-40c2-9a8c-4b75ef0f931a",
      "name": "Send a message",
      "webhookId": "5cdcb593-baca-4407-a22c-a4f5e7b868a4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "57986ade-6ba4-4669-b568-f3bf5c937af3",
              "leftValue": "={{ parseFloat($json.bounce_rate) }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        368
      ],
      "id": "3982ac99-6b48-4fae-879c-8cbd06551969",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "=:rotating_light: *CRITICAL BOUNCE RATE ALERT* :rotating_light:\n\n*Domain:* {{ $json.domain }}\n*Bounce Rate:* `{{ $json.bounce_rate }}` \n*Severity:* {{ parseFloat($json.bounce_rate) >= 15 ? ':red_circle: CRITICAL - Immediate action required!' : parseFloat($json.bounce_rate) >= 10 ? ':large_orange_circle: HIGH - Investigate urgently' : ':large_yellow_circle: WARNING - Monitor closely' }}\n\n*:chart_with_upwards_trend: Impact Analysis:*\n- Total Emails Sent: `{{ $json.sent }}`\n- Total Bounced: `{{ $json.bounced }}`\n- Affected Recipients: `{{ $json.unique_lead_count }}`\n- Current Open Rate: `{{ $json.open_rate }}`\n- Current Reply Rate: `{{ $json.reply_rate }}`\n\n*:warning: IMMEDIATE ACTIONS REQUIRED:*\n1. :octagonal_sign: *STOP* all campaigns on this domain NOW\n2. :mag: Check for domain blacklisting immediately\n3. :email: Contact email service provider\n4. :lock: Verify all authentication records (SPF/DKIM/DMARC)\n\n*:chart_with_downwards_trend: Potential Impact:*\n- Email deliverability is severely compromised\n- ISPs may be blocking or filtering your emails\n- Sender reputation damage accumulating\n\n*:bulb: Quick Diagnostic Checks:*\n- Run domain through <https://mxtoolbox.com/blacklists.aspx|MXToolbox blacklist checker>\n- Verify DNS records are properly configured\n- Check if recent list imports had proper validation\n- Review content for spam trigger words\n\n*:clock2: Response Timeline:*\n- *Within 1 hour:* Pause all campaigns\n- *Within 4 hours:* Complete blacklist check\n- *Within 24 hours:* Full diagnostic report required\n\n_Timestamp: {{ $json.Last_update }}_\n_Threshold: 10% | Current: `{{ $json.bounce_rate }}`_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        464,
        272
      ],
      "id": "f993bf7a-f633-496e-9d96-7cd702306a66",
      "name": "BOUNCE ALERT",
      "webhookId": "71261918-9538-4297-8f14-b3aa52f88562",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "023a01cd-77b4-4dbc-b085-22d2a136051a",
              "name": "bounceRate",
              "value": "acceptable",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        464
      ],
      "id": "6fe7a5c1-06a1-49c9-8a96-5a7c72b8a0e2",
      "name": "Bounce Ok"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "=:rotating_light: *CRITICAL BOUNCE RATE ALERT* :rotating_light:\n\n*Domain:* {{ $json.from_email }}\n*Bounce Rate:* `{{ $json.bounce_rate }}` \n*Severity:* {{ parseFloat($json.bounce_rate) >= 15 ? ':red_circle: CRITICAL - Immediate action required!' : parseFloat($json.bounce_rate) >= 10 ? ':large_orange_circle: HIGH - Investigate urgently' : ':large_yellow_circle: WARNING - Monitor closely' }}\n\n*:chart_with_upwards_trend: Impact Analysis:*\n- Total Emails Sent: `{{ $json.sent }}`\n- Total Bounced: `{{ $json.bounced }}`\n- Affected Recipients: `{{ $json.unique_lead_count }}`\n- Current Open Rate: `{{ $json.open_rate }}`\n- Current Reply Rate: `{{ $json.reply_rate }}`\n\n*:warning: IMMEDIATE ACTIONS REQUIRED:*\n1. :octagonal_sign: *STOP* all campaigns on this domain NOW\n2. :mag: Check for domain blacklisting immediately\n3. :email: Contact email service provider\n4. :lock: Verify all authentication records (SPF/DKIM/DMARC)\n\n*:chart_with_downwards_trend: Potential Impact:*\n- Email deliverability is severely compromised\n- ISPs may be blocking or filtering your emails\n- Sender reputation damage accumulating\n\n*:bulb: Quick Diagnostic Checks:*\n- Run domain through <https://mxtoolbox.com/blacklists.aspx|MXToolbox blacklist checker>\n- Verify DNS records are properly configured\n- Check if recent list imports had proper validation\n- Review content for spam trigger words\n\n*:clock2: Response Timeline:*\n- *Within 1 hour:* Pause all campaigns\n- *Within 4 hours:* Complete blacklist check\n- *Within 24 hours:* Full diagnostic report required\n\n_Timestamp: {{ $json.Last_update }}_\n_Threshold: 10% | Current: `{{ $json.bounce_rate }}`_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        464,
        656
      ],
      "id": "34180337-0917-4e0c-b112-a0dcef615222",
      "name": "BOUNCE ALERT1",
      "webhookId": "71261918-9538-4297-8f14-b3aa52f88562",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "023a01cd-77b4-4dbc-b085-22d2a136051a",
              "name": "bounceRate",
              "value": "acceptable",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        848
      ],
      "id": "92bb6cec-0ef1-40b7-940d-ad75e5b90677",
      "name": "Bounce Ok1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "57986ade-6ba4-4669-b568-f3bf5c937af3",
              "leftValue": "={{ parseFloat($json.bounce_rate) }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        752
      ],
      "id": "cdf67c56-321e-4df4-9744-c534e80030ff",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Campaign Health",
        "height": 368,
        "width": 1600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        640
      ],
      "id": "93029c89-d780-4dbc-8a99-d75e189d6aeb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Domain Health\n",
        "height": 384,
        "width": 1600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        224
      ],
      "id": "0d395855-187e-47de-bbb7-4fc103cc3440",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Domain Metrics",
        "height": 384,
        "width": 1392,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -560
      ],
      "id": "a671004e-1c6c-47c9-88a8-567beaaca2a2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Campaign Metrics\n",
        "height": 368,
        "width": 1392,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -160
      ],
      "id": "300c777e-9bc5-48bf-af5d-733bf8c6dbf6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "7e06e2c9-047b-4817-a50b-84a9be3793d5",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -832,
        -48
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Split Out5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out5": {
      "main": [
        [
          {
            "node": "Append or update row in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "Append or update row in sheet6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet5": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "BOUNCE ALERT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bounce Ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet6": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "BOUNCE ALERT1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bounce Ok1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d5af897-53a5-4ef1-8b60-dfbff92111c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "xMQGtdqiq2aTQCBq",
  "tags": []
}