N8N Workflows/Workflows/Content Marketing Agency/RSS-to-Content Pipeline.json
{
  "name": "RSS-to-Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "id": "b57b761d-cb2c-4d64-b6ed-386d5591ea2c",
      "name": "TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -928,
        -208
      ]
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "id": "4747cdc8-c42d-4bd9-90a3-c5a6954af584",
      "name": "Hacker News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -928,
        -16
      ]
    },
    {
      "parameters": {
        "url": "https://news.crunchbase.com/feed/",
        "options": {}
      },
      "id": "2cb4bb92-5c0f-42be-b459-37eee2a3fb38",
      "name": "CrunchBase",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -928,
        176
      ]
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/category/business/latest/rss",
        "options": {}
      },
      "id": "ef666f9b-b916-4f96-bd2c-cbe873dde223",
      "name": "AI Business",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -928,
        560
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "62acffbb-8fe1-4d08-8752-aabf881092e8",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -480,
        -208
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "51dd1bbe-b7e4-4b54-884c-5d31bf655292",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -480,
        -16
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "1e6ba50f-0ef8-4337-9ca6-7a64ac631c09",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -480,
        176
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "4ecc90ea-f8e0-408b-b011-0f5727227bdc",
      "name": "Aggregate3",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -480,
        368
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ab862d29-0305-460d-a253-764368fc13b7",
      "name": "Aggregate4",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -480,
        560
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "e8d0684a-05db-4d12-9e2e-cc201fc04691",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -32,
        80
      ],
      "webhookId": "6d65d0b1-082d-4b7c-b034-9b1c45c792ab"
    },
    {
      "parameters": {
        "url": "https://aitrends.com/feed/",
        "options": {}
      },
      "id": "a3f35787-eb18-4601-a42d-82478f300ae0",
      "name": "AI Trends",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -928,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "contains",
              "value2": "AI"
            }
          ]
        }
      },
      "name": "Keyword Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -704,
        -208
      ],
      "id": "d96c32d1-6a25-433b-87a1-95bb1c06c716"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        16
      ],
      "id": "3914a688-e717-4df3-99a1-76928e18707b",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        192,
        80
      ],
      "id": "8b2398d3-1a81-428c-93ad-c92cc41b5ab8",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "contains",
              "value2": "AI"
            }
          ]
        }
      },
      "name": "Keyword Filter1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -704,
        -16
      ],
      "id": "19d735a9-1965-4da0-955d-939216b155c2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "contains",
              "value2": "AI"
            }
          ]
        }
      },
      "name": "Keyword Filter2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -704,
        176
      ],
      "id": "9f1f293b-b025-4f2f-a1c2-dcff64c86e81"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "contains",
              "value2": "AI"
            }
          ]
        }
      },
      "name": "Keyword Filter3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -704,
        368
      ],
      "id": "bab80e3a-6785-4bf9-b1f8-b198cef2c130"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "contains",
              "value2": "AI"
            }
          ]
        }
      },
      "name": "Keyword Filter4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -704,
        560
      ],
      "id": "43d468e6-64d4-40f2-b0aa-bcf0d7c41f31"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "message": "=Hey, new LinkedIn post ready for approval, check it out\n\nPost:\n\n{{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        880,
        80
      ],
      "id": "43cacd34-0a7b-488e-a720-28e56ba2d6fb",
      "name": "Send message and wait for response",
      "webhookId": "7d2bd234-3f94-4e8a-8d9d-bc1585486fa3",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL:\nTake the news information and turn it into a 1500 - 2000 character LinkedIn post. Remember that I am Lucas Synnott and I'm writing in the first person.\n\nUse the contents of that articles, combined with your system knowledge, to create a high-performing LinkedIn post.\n\nFORMATTING:\nFormat the output according to the LinkedIn frameworks provided, including a strong hook, clear structure, and engaging conclusion.\n\nThe post should be purely text based.\n\nWARNINGS:\nWrite the copy in the voice and character that myself, Lucas Synnott, would have when writing content. It sounds real, natural, and like something that I would use in a real human-to-human conversation as the owner of a marketing agency.\n\nIn your response, don’t include ANY formatting or odd characters, just text only. Don’t include any of the following in your response, unless it is part of the text of the script: #, *, **\n\nIn your response, be sure to ONLY reply with the post copy, don’t include other text or explanations.\n\nArticles:\n{{ $json.data[0].data[0].content }}\n\n{{ $json.data[0].data[1].content }}\n\n{{ $json.data[0].data[2].content }}\n\n{{ $json.data[0].data[3].content }}\n\n{{ $json.data[1].data[0]['content:encodedSnippet'] }}\n\n{{ $json.data[1].data[0].contentSnippet }}\n\n{{ $json.data[1].data[1]['content:encodedSnippet'] }}\n\n{{ $json.data[1].data[1].content }}\n\n{{ $json.data[1].data[2]['content:encodedSnippet'] }}\n\n{{ $json.data[1].data[2].content }}\n\n{{ $json.data[1].data[3]['content:encodedSnippet'] }}\n\n{{ $json.data[1].data[3].contentSnippet }}\n\n{{ $json.data[2].data[0]['content:encodedSnippet'] }}\n\n{{ $json.data[2].data[1]['content:encodedSnippet'] }}\n\n{{ $json.data[2].data[2]['content:encodedSnippet'] }}\n\n{{ $json.data[2].data[3].contentSnippet }}\n\n{{ $json.data[4].data[0].contentSnippet }}\n\n{{ $json.data[4].data[1].contentSnippet }}",
        "options": {
          "systemMessage": "=You are a persuasive LinkedIn content strategist working for a high-performance AI automation and agency consulting brand.\n\nUse the following internal reference documents as your creative foundation. These documents contain internal knowledge and frameworks from Lucas Synnott and the AI Agency Academy. Use them to guide your tone, structure, positioning, and strategic thinking — but do not summarize or restate the documents. Instead, apply their insights naturally to create content optimized for LinkedIn.\n\nREFERENCE DOCUMENT 1: Lucas Synnott & AI Agency Academy – Project Knowledge Base\n\nAbout Lucas Synnott\nName: Lucas Synnott\nLocation: Dublin, Ireland\nRoles: Founder, Instructor, Automation Expert, Agency Consultant\nBackground: Business strategist and performance marketer with deep expertise in AI automation, funnel optimization, email marketing, and scaling agencies through systems. Lucas has built and exited multiple service businesses and now focuses on helping other agency owners do the same through automation-first education.\n\nAbout AI Agency Academy\nCompany Overview:\nAI Agency Academy is a training platform and community designed to help digital agency owners and their virtual assistants automate operations, increase profitability, and scale intelligently—without needing to be technical. Built on Skool, the academy delivers a structured curriculum, pre-built templates, and expert coaching to help members productize their internal systems and turn AI tools into revenue engines.\n\nCore Services:\n\nPrimary: AI automation training for agency workflows\n\nSecondary: Virtual assistant enablement and delegation systems\n\nAdditional: Lead generation, outbound sales, content creation, and fulfillment automations\n\nOur Unique Approach:\n\nAutomation-First: Systems replace headcount.\n\nVA-Centric: Train your assistant, not just yourself.\n\nAI-Native: Everything is built using real tools—no theory, just working systems.\n\nProductization-Driven: Internal tools become lead magnets, offers, or micro-SaaS.\n\nMethodology:\n\nDesign offers and fulfillment around automation from day one\n\nUse tools like N8N, Zapier, and Make.com to eliminate manual tasks\n\nTrain VAs to build, run, and improve operations using SOPs and AI tools\n\nProductize backend systems into scalable assets\n\nUse AI-generated content and outreach for audience growth and lead flow\n\n\nREFERENCE DOCUMENT 2: LinkedIn Post Writing Masterclass – Complete Guide\n\nLinkedIn Post Writing Masterclass\nComplete Strategy Guide for High-Performing LinkedIn Content\nThe LinkedIn Content Landscape in 2025\nPlatform Evolution\nLinkedIn has undergone massive changes in 2025:\n\nVideo-first algorithm: Short-form videos getting 5× more exposure than text posts\n\nNew video feed: Similar to TikTok/YouTube Shorts\n\nEnhanced engagement metrics: Focus on dwell time and retention\n\nAlgorithm updates: Prioritizing authentic, value-driven content\n\nContent Performance Benchmarks\nHigh-performing posts typically achieve:\n\n100,000+ views for viral content\n\n35.4% of total engagement from quality hooks\n\n3–4× higher conversion rates from video content\n\n91.2% retention when value is consistently delivered\n\nThe 5-Step LinkedIn Post Framework\nStep 1: Find the Right Insight\nCore Principle: Everything starts with a unique, fresh, and interesting insight.\n\nSources for Insights:\n\nClient/Audience Research\n\nAnalyze questions they ask\n\nIdentify pain points and problems\n\nUnderstand dreams and objectives\n\nStep 2: Develop One Clear Idea\nGolden Rule: One post = One idea\n\nIdea Development Process:\n\nTake your insight from Step 1\n\nGive it a specific angle like a journalist\n\nFrame it as a story, lesson, or solution\n\nEnsure it's focused and not scattered\n\nExample Transformation:\n\nInsight: \"Client retention improved when we started doing X\"\n\nAngle: \"The counterintuitive strategy that increased our client retention by 40%\"\n\nIdea: A post about that specific strategy with actionable steps\n\nStep 3: Structure and Format\nKey Truth: People don’t read posts, they skim them.\n\nEffective Post Structures:\n\nProblem–Agitate–Solution (PAS)\nIdentify a problem your audience faces\n\nAgitate the pain points\n\nPresent your solution\n\nBefore–After–Bridge\nShow the \"before\" state\n\nReveal the \"after\" transformation\n\nBridge with your method/story\n\nStorytelling Framework\nSet the scene\n\nIntroduce conflict/challenge\n\nShow resolution/lesson learned\n\nList/Framework Structure\nPromise specific number of insights\n\nDeliver each point with examples\n\nSummarize key takeaways\n\nFormatting Best Practices:\n\nUse bullet points for easy scanning\n\nAdd white space between sections\n\nInclude visual elements (emojis, line breaks)\n\nKeep paragraphs short (1–3 sentences)\n\nStep 4: Write a Killer Hook\nCritical Truth: The hook makes or breaks your post.\n\nHook Functions:\n\nTrigger Interest: Make them want to know more\n\nClear Communication: Tell them what the post is about\n\nPersonal Relevance: Make them feel it’s for them\n\n12 Proven Hook Types:\nUnique Transformation\n\n“In 2022 I started posting short-form content. In 2023 I added long form and this happened…”\n\nTemplate: “In [timeframe] I was [situation]. Now I’m [result]. Here’s what changed…”\n\nFailure Story\n\n“I lost $50K in my first business. Here’s what I learned…”\n\nTemplate: “I failed at [thing] and here’s the lesson that saved me…”\n\nMake People Feel Seen\n\n“Most founders lack clarity on marketing problems”\n\nTemplate: “If you're struggling with [specific problem], you're not alone…”\n\nStrong Disagreement\n\n“Everyone says [common belief]. I think they’re wrong. Here’s why…”\n\nTemplate: “Unpopular opinion: [controversial take]”\n\nOpinion as Fact\n\n“Great marketing is rooted in silent groundwork”\n\nTemplate: “[Bold statement] and here’s the proof…”\n\nRebellion Story\n\n“I was told not to [action] but I did it anyway”\n\nTemplate: “They said [thing] was impossible. I proved them wrong…”\n\nTrigger FOMO\n\n“The strategy that 90% of marketers ignore”\n\nTemplate: “What [successful group] knows that others don’t…”\n\nContrarian Post\n\n“Everyone’s doing [thing]. Here’s why you shouldn’t…”\n\nTemplate: “While everyone else [common action], smart people [different action]”\n\nSet a Goal: Show Your Process\n\n“I’m going to [specific goal] in [timeframe]. Here’s my plan…”\n\nTemplate: “Watch me [achieve something] in real time…”\n\nSubject Masterclass\n\n“How to [achieve result] in 60 seconds”\n\nTemplate: “[Number] steps to [desired outcome]”\n\nGolden Advice\n\n“The best advice I ever received about [topic]”\n\nTemplate: “Here’s the [number]-word advice that changed everything…”\n\nLeverage FOFO (Fear of F*ing Up)**\n\n“This is the worst advice I see everywhere”\n\nTemplate: “Stop doing [common mistake]. Do this instead…”\n\nStep 5: Deliver the Promise (Body Content)\nKey Principles:\n\nRespect the structure you created\n\nAnswer what you promised in the hook\n\nUse simple, clear language\n\nInclude specific examples\n\nEnd with engagement driver\n\nBody Content Structure:\n\nExpand on the hook promise\n\nProvide supporting details/examples\n\nShare actionable insights\n\nInclude personal anecdotes when relevant\n\nEnd with call to action or question\n\nLanguage Optimization:\n\nWrite at 8th grade reading level\n\nUse active voice\n\nInclude specific numbers and data\n\nAvoid jargon unless explaining it\n\nMake every sentence add value"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        80
      ],
      "id": "697a412f-6c6d-4bea-a846-b5cc0b0b2a96",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        304
      ],
      "id": "d1d36fb3-c03a-4e68-a2e1-4d599df9f8c7",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        544,
        304
      ],
      "id": "57a0d6eb-200e-4fb8-a035-c647de6be321",
      "name": "Think"
    },
    {
      "parameters": {
        "model": "sonar-deep-research",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify_Output', ``, 'boolean') }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        672,
        304
      ],
      "id": "17fc67bf-3f2b-42e5-b097-18c0663f9425",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "tDkFR32KWXKeIPzc",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "platform": "linkedin",
        "accountId": {
          "__rl": true,
          "value": "4636",
          "mode": "list",
          "cachedResultName": "Lucas Synnott",
          "cachedResultUrl": "https://backend.blotato.com/v2/accounts/4636"
        },
        "postContentText": "={{ $json.output }}",
        "options": {}
      },
      "type": "@blotato/n8n-nodes-blotato.blotato",
      "typeVersion": 2,
      "position": [
        1328,
        -16
      ],
      "id": "b9a2922e-8762-4443-b7fe-305e59f3ce72",
      "name": "Create post",
      "credentials": {
        "blotatoApi": {
          "id": "Oeu0HToqHVBpFyFq",
          "name": "Blotato account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e4cd35f-ac7c-4697-b954-c408feba73be",
              "name": "postNotApproved",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        176
      ],
      "id": "422f0695-d804-422b-b43f-00283b5bb246",
      "name": "Workflow Finished"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e4c83c9-6d61-40c2-9c7a-029595720cac",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        80
      ],
      "id": "f397e008-c1dc-4f86-a129-287813214e31",
      "name": "If"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "e6ba9066-523e-4c9e-b142-e42388c19169",
      "name": "Aggregate6",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -480,
        -400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "contains",
              "value2": "AI"
            }
          ]
        }
      },
      "name": "Keyword Filter5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -704,
        -400
      ],
      "id": "6a101456-06ab-43b4-91b6-d3080cc839ea"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/_YWkMuLMD9hMlJokq.xml",
        "options": {}
      },
      "id": "12c314c3-5660-4aee-925e-477bc6b451e7",
      "name": "RSS.app",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -928,
        -400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1152,
        80
      ],
      "id": "3d9d72f5-5dc4-4af5-ae2e-e46bca4369b4",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "TechCrunch": {
      "main": [
        [
          {
            "node": "Keyword Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "main": [
        [
          {
            "node": "Keyword Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CrunchBase": {
      "main": [
        [
          {
            "node": "Keyword Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Business": {
      "main": [
        [
          {
            "node": "Keyword Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Trends": {
      "main": [
        [
          {
            "node": "Keyword Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter3": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter4": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create post": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter5": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS.app": {
      "main": [
        [
          {
            "node": "Keyword Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS.app",
            "type": "main",
            "index": 0
          },
          {
            "node": "TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "CrunchBase",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Business",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "elCHyn33BWltXHVk"
  },
  "versionId": "2eed8f7c-1f78-4efc-ac15-bf886947fba9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "mJAaFltgSBreugXn",
  "tags": []
}