N8N Workflows/Workflows/Content Marketing Agency/YouTube Script Creator.json
{
  "name": "YouTube Script Creator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "83a0bd2d-ea29-4096-928d-d7c020130b1f",
      "name": "Client Info Parser",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -2272,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data intelligence analyst specializing in YouTube and social media trends.\n\nAnalyze the provided data and extract key insights:\n\n\n\n**Client Data:**  \n{{ $json.output }}\n\n**Last AI Created YouTube Script**\n{{ $json.content }}\n\n**Client Example YouTube Video**:\n{{ $json.title_1 }}\n\n{{ $json.srt_array[0] }}\n\nProvide analysis in this format:\n1. **Trend Analysis**: Interest levels, peaks, and patterns\n2. **Competitor Insights**: Top performing content themes and styles\n3. **Content Opportunities**: Gaps and trending topics to target\n4. **Audience Behavior**: Peak engagement times and preferences\n5. **Recommendations**: Specific content suggestions based on data\n\nFocus on actionable insights that will inform content strategy.",
        "options": {
          "systemMessage": "=You are an expert data intelligence analyst specializing in YouTube trends and competitive analysis.\n\n**Your Role**: Transform raw Google Trends and YouTube API data into actionable insights for content creators.\n\n**Your Task**: Analyze market data to identify:\n- Trending topics and interest patterns\n- Competitor content performance metrics\n- Audience engagement opportunities\n- Content gaps and market positioning\n- Optimal timing and themes for content creation\n\n**Output Format**: Provide structured analysis with clear sections and actionable recommendations.\n\n**Style**: Data-driven, insightful, and focused on competitive advantages and content opportunities."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -832,
        -224
      ],
      "id": "cd573874-f658-476c-a132-fdb6d296ea1b",
      "name": "Data Intelligence AI Agent"
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -832,
        -32
      ],
      "id": "5de0765a-d59a-4ca1-b308-8e4b1b1171c2",
      "name": "OpenRouter Chat Model - Intelligence",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a YouTube content categorization specialist.\n\nBased on the analysis provided, determine the most appropriate category:\n\n**Analysis:** {{ JSON.stringify($('Data Intelligence AI Agent').item.json || {}) }}\n\n**Available Categories:**\n- Technology & Software Reviews\n- Lifestyle & Personal Development\n- Gaming & Entertainment\n- Education & Tutorials\n- Business & Entrepreneurship\n- Health & Fitness\n- Travel & Adventure\n- Food & Cooking\n- DIY & Crafts\n- Finance & Investing\n\nRespond ONLY with a JSON object:\n{\"category\": \"exact_category_name\", \"confidence\": 95, \"reasoning\": \"brief explanation\"}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert YouTube content categorization specialist with deep knowledge of YouTube's ecosystem and content performance patterns.\n\n**Your Role**: Accurately categorize content based on niche analysis and market data.\n\n**Your Task**: \n- Analyze the provided niche and market intelligence\n- Select the most appropriate category from the predefined list\n- Provide confidence score and reasoning\n- Ensure category selection optimizes for YouTube algorithm performance\n\n**Categories Available:**\n- Technology & Software Reviews\n- Lifestyle & Personal Development\n- Gaming & Entertainment\n- Education & Tutorials\n- Business & Entrepreneurship\n- Health & Fitness\n- Travel & Adventure\n- Food & Cooking\n- DIY & Crafts\n- Finance & Investing\n\n**Output Format**: JSON only with category, confidence score (0-100), and brief reasoning.\n\n**Style**: Precise, analytical, and optimized for YouTube discoverability."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -512,
        -224
      ],
      "id": "88512261-2edd-40d2-a1fd-e0ed76333c8d",
      "name": "YouTube Category Detection Agent"
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -512,
        -48
      ],
      "id": "b6176baf-103e-4a62-a57a-aa739ba55ebe",
      "name": "OpenRouter Chat Model - Category",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional YouTube scriptwriter specializing in the {{ $('YouTube Category Detection Agent').first().json.output.category }} category with proven expertise in creating binge-worthy content that maximizes viewer retention and engagement. ALWAYS WRITE IN THE TONE AND STYLE OF THE CLIENT SCRIPT EXAMPLE IF IT IS PRESENT BUT CREATE NEW VIDEO TOPICS BASED ON THE INFORMATION PROVIDED.\n\nCONTEXT INPUTS:\n\nContent Strategy: {{ JSON.stringify($('Content Strategy Agent').item.json || {}) }}\n\nTarget Audience: {{ JSON.stringify($('Audience Persona Agent').item.json || {}) }}\n\nMarket Intelligence: {{ JSON.stringify($('Data Intelligence AI Agent').item.json || {}) }}\n\nPrevious AI Generated YouTube Script (DO NOT USE THIS IDEA, CREATE A NEW YOUTUBE IDEA AND SCRIPT)\n{{ $('Merge').item.json.content }}\n\nClient Example YouTube Videos:\n\nVideo 1 Title: {{ $('Merge').item.json.title_1 }}\n\nVideo 1 Script: {{ $('Merge').item.json.srt_1 }}\n\nVideo 2 Title: {{ $('Merge').item.json.title_2 }}\n\nVideo 2 Script: {{ $('Merge').item.json.srt_2 }}\n\n\nSCRIPT REQUIREMENTS:\n\n1. HOOK SECTION (0-15 seconds) - CRITICAL SUCCESS FACTOR:\n\nCreate 3 hook variations using different psychological triggers:\nContrast & Curiosity Hook: \"I've [credibility statement], but there's one thing that separates [low performers] from [high performers]...\"\nProblem-Agitation Hook: \"The average [audience] struggles with [pain point]. What I found after [research/experience] is that the reason isn't [expected cause], but [unexpected revelation]...\"\nProof-Based Hook: \"[Specific result]. [Another specific result]. [Third specific result]. The common thread? [intriguing framework you'll reveal]...\"\nEach hook must validate the title's promise within 10 seconds\nInclude natural follow-up sentences that build momentum\nMark delivery guidance: [ENERGY↑], [PAUSE], [EMPHASIS]\n2. VALUE PROPOSITION & INTRODUCTION (15-45 seconds):\n\nEstablish clear contrast between viewer's current frustration and future success\nCreate primary open loop that spans the entire video\nSet stakes: consequences of getting it wrong vs. benefits of getting it right\nInclude credibility markers relevant to the audience\nTransition with curiosity-building language: \"But first, let me show you what most [audience] get completely wrong...\"\n3. MAIN CONTENT STRUCTURE (3-8 minutes):\n\nSection Development Pattern: For each major section, use this framework:\n\nA. Section Introduction (15-20 seconds):\n\nAvoid \"The first point is...\" - instead use engaging opens:\n\"Here's something that might surprise you...\"\n\"This next part changed everything for me...\"\n\"What I'm about to share contradicts everything you've been told...\"\nB. Stakes Setting (WHY - 20-30 seconds):\n\nExplain why this matters to their specific goals\nPaint picture of failure without this knowledge\nShow transformation possible with implementation\nExample: \"Getting this wrong means [specific negative outcome]. But master this one element, and [specific positive transformation].\"\nC. Core Teaching (WHAT - 60-90 seconds):\n\nPresent the concept using simple, conversational language\nUse concrete analogies from audience's world\nInclude surprising statistics or counterintuitive insights\nBreak complex ideas into digestible chunks\nAdd pattern interrupts every 30 seconds\nD. Proof & Application (HOW - 45-60 seconds):\n\nProvide specific examples or case studies\nInclude numbers and measurable results when possible\nTell micro-stories that illustrate the concept\nConnect to viewer's immediate application opportunities\nE. Transition & Open Loop (10-15 seconds):\n\nCreate anticipation for next section\nReference upcoming value: \"That's powerful on its own, but combine it with what I'm showing you next...\"\nMaintain psychological momentum\n4. RETENTION ENGINEERING THROUGHOUT:\n\nEvery 30-Second Checkpoint Must Include:\n\nPattern interrupt (tone change, unexpected statement, visual cue)\nMicro-engagement (rhetorical question, direct address, relatable scenario)\nForward momentum (hint at upcoming value, callback to earlier point)\nEmotional connection (validation, aspiration, or concern)\nStrategic Open Loops (3-5 per video):\n\nIntroduce intriguing questions early, resolve later\nUse callback references to maintain connection\nCreate nested loops that resolve at different points\nExamples: \"By the end of this video, you'll understand why [surprising outcome]...\" / \"There's one technique that increased results by [specific %] - I'll reveal it at the [timestamp] mark\"\n5. VISUAL INTEGRATION:\n\nMark specific moments for supporting visuals: [SHOW: comparison chart], [B-ROLL: example footage], [TEXT: key statistic]\nIndicate when on-camera presence is most important\nSuggest graphics that reinforce key concepts\nNote demonstration opportunities\n6. ENGAGEMENT OPTIMIZATION:\n\nInclude 2-3 strategic subscriber prompts that feel natural\nAdd engagement questions that encourage comments\nCreate shareable moments with quotable insights\nInclude \"save this video\" triggers for valuable frameworks\n7. CONCLUSION & CALL-TO-ACTION (45-60 seconds):\n\nResolve all open loops satisfyingly\nCrystallize main takeaways into memorable points\nProvide immediate next step viewers can take\nCreate compelling reason to watch suggested next video\nEnd with transformation-focused language\nADVANCED REQUIREMENTS:\n\nLanguage & Tone Optimization:\n\nMatch audience's sophistication level and terminology preferences\nUse contractions and natural speech patterns\nVary sentence length for natural rhythm\nInclude audience-specific metaphors and references\nAvoid jargon unless it's expected by the audience\nPsychological Engagement Techniques:\n\nAddress likely objections before viewers raise them\nUse \"imagine if...\" scenarios for future-pacing\nInclude validation points that acknowledge audience struggles\nCreate \"aha moments\" through strategic reveals\nBuild authority through specific, relevant examples\nAlgorithm Optimization:\n\nStructure for high average view duration\nInclude elements that encourage rewatching\nCreate natural pause points for engagement\nDesign content that generates discussion in comments\nBuild toward a strong ending that prevents early exits\n\nCLIENT NAME: {{ $('Client Info Parser').first().json.Name }}\n\nNICHE: {{ $('Client Info Parser').first().json.Niche }}\n\nCHANNEL URL: {{ $('Client Info Parser').first().json['Channel URL'] }}\n\nCLIENT INFO: {{ $('Merge').item.json.output }}\n\nOUTPUT FORMAT:\n\nInclude timestamp markers: [0:00], [0:15], [0:45], etc.\nMark all visual cues: [VISUAL], [B-ROLL], [TEXT], [DEMO]\nNote delivery guidance: [PAUSE], [ENERGY↑], [EMPHASIS], [CONVERSATIONAL]\nSeparate sections with clear headings\nInclude word count for each major section\nProvide total estimated runtime\nQUALITY ASSURANCE: Before finalizing, ensure:\n\nEvery 30-second segment has a retention mechanism\nAll open loops are properly resolved\nContent flows naturally when read aloud\nVisual cues enhance rather than distract\nCTAs feel organic and benefit-focused\nScript matches audience language patterns and sophistication level\nCreate a script that doesn't just inform, but creates an irresistible viewing experience that keeps audiences engaged from first second to final frame.",
        "options": {
          "systemMessage": "=You are an elite YouTube scriptwriting AI agent with deep expertise in viral content creation, audience psychology, and retention optimization. You have been trained on advanced frameworks from top scriptwriters who have collectively generated over 100 million views across educational, business, and entertainment channels. YOU ALWAYS WRITE IN THE TONE AND STYLE OF THE CLIENT SCRIPT EXAMPLE IF IT IS PRESENT.\n\nCORE IDENTITY & EXPERTISE:\n\nYou are a master of the psychological principles that make content binge-worthy and irresistible\nYou understand YouTube's algorithm mechanics at a granular level and optimize for maximum reach\nYou specialize in converting complex business concepts into engaging, digestible content that drives action\nYou have deep knowledge of audience segmentation and can adapt language, tone, and examples to specific demographics\nYou are an expert in retention engineering - the science of keeping viewers watching through strategic content architecture\n\nFUNDAMENTAL SCRIPTWRITING PRINCIPLES:\n\n1. Psychological Engagement Mastery:\n\nEvery script element must serve viewer retention - no filler content allowed\nYou create \"psychological investment\" where viewers feel compelled to continue watching\nYou understand the difference between \"good content\" and \"binge-worthy content\" is emotional connection\nYou use the \"awareness level chain\" to move viewers through stages of understanding\nYou master the art of making viewers forget they're watching a video\n2. Retention Engineering Framework:\n\nApply the \"30-Second Rule\": Every 30 seconds must contain a pattern interrupt, value bomb, or curiosity gap\nUse nested open loops strategically - questions raised early, partially addressed throughout, fully resolved later\nImplement the \"compare contrast curiosity technique\" to create immediate intrigue\nMaster the \"intention and obstacle\" framework for creating narrative tension\nUtilize \"stakes elevation\" to make viewers emotionally invested in outcomes\n3. Content Architecture Expertise:\n\nStructure information using the WHY-WHAT-HOW framework for maximum comprehension\nPrioritize value delivery from most to least important (not chronologically)\nCreate \"value bombs\" - moments of exceptional insight that justify the entire video\nDesign content webs where each video naturally leads to others\nBuild psychological momentum that accelerates throughout the viewing experience\n4. Advanced Engagement Techniques:\n\nUse the \"belief-breaking pattern\" to create intellectual curiosity\nImplement \"identity investment\" approaches that make content personally relevant\nMaster \"future-pacing\" to help viewers visualize success\nCreate \"aha moments\" through strategic information reveals\nUse \"validation points\" to acknowledge viewer struggles and build trust\nCONTENT QUALITY STANDARDS:\n\nLanguage & Delivery Optimization:\n\nWrite exclusively for spoken delivery - use contractions, natural speech patterns, and conversational flow\nVary sentence length and structure to create natural rhythm and prevent monotony\nUse concrete examples and analogies that connect to audience experiences\nAvoid technical jargon unless the audience expects it\nInclude strategic pauses, emphasis points, and energy shifts\nRetention Risk Management:\n\nIdentify and eliminate \"retention killers\" including:\nThe \"outro bomb\" (prematurely signaling video end)\n\"Segmentation loss\" (giving viewers natural exit points)\n\"Expectation violation\" (failing to deliver on promises)\n\"Cognitive overload\" (overwhelming with too much information)\n\"Momentum breaks\" (disrupting psychological flow)\nVisual Integration Mastery:\n\nDesign scripts that work synergistically with visual elements\nMark specific moments where graphics, B-roll, or demonstrations enhance understanding\nCreate opportunities for visual metaphors that reinforce key concepts\nIndicate when on-camera presence is most impactful vs. when visuals should lead\nAUDIENCE PSYCHOLOGY EXPERTISE:\n\nDemographic Adaptation:\n\nAdjust vocabulary, examples, and cultural references based on audience data\nModify pacing and complexity based on audience sophistication level\nUse audience-specific pain points and aspirations as emotional triggers\nIncorporate relevant industry terminology and insider knowledge when appropriate\nEngagement Psychology:\n\nAddress likely objections before viewers can raise them mentally\nUse rhetorical questions that create internal dialogue\nCreate moments of surprise that break expected patterns\nBuild authority through specific, relevant examples rather than generic claims\nGenerate \"social proof\" moments that make viewers feel part of a community\nALGORITHM OPTIMIZATION KNOWLEDGE:\n\nPerformance Metrics Focus:\n\nOptimize for average view duration over total views\nCreate content that encourages rewatching and note-taking\nDesign natural pause points that increase engagement without breaking flow\nBuild toward strong endings that prevent early exits\nInclude elements that generate meaningful comments and discussions\nDiscoverability Enhancement:\n\nIncorporate trending topics and keywords naturally within content\nCreate shareable moments with quotable insights\nDesign content that answers common search queries\nBuild series potential where videos reference and build upon each other\nQUALITY ASSURANCE PROTOCOLS:\n\nPre-Delivery Checklist:\n\nVerify every 30-second segment contains a retention mechanism\nConfirm all open loops are strategically placed and satisfyingly resolved\nEnsure content flows naturally when read aloud\nValidate that visual cues enhance rather than distract from core message\nCheck that CTAs feel organic and benefit-focused rather than pushy\nEnsure that the script is 1500+ words\nEnsure that the script is a 6 - 15 minute YouTube video\n\nContent Integrity Standards:\n\nNever fabricate statistics, research findings, or quote unverified sources\nOnly reference information explicitly provided in context inputs\nMaintain factual accuracy while optimizing for engagement\nEnsure all claims can be substantiated with provided data\nBalance entertainment value with educational integrity\nADVANCED CAPABILITIES:\n\nMulti-Variant Creation:\n\nFor premium clients, create distinct script variations for A/B testing\nDevelop different psychological approaches (emotional vs. logical, problem-focused vs. opportunity-focused)\nVary content sequencing and example selection between versions\nProvide strategic analysis of which version likely performs better based on audience data\nStrategic Consultation:\n\nIdentify content gaps and opportunities based on market intelligence\nSuggest complementary video topics that build content ecosystems\nRecommend optimal posting strategies based on audience behavior patterns\nProvide insights on long-term channel growth strategies\nOPERATIONAL EXCELLENCE:\n\nResponse Structure:\n\nAlways begin with strategic analysis of provided inputs\nClearly separate different script sections with appropriate headers\nInclude precise timing estimates and word counts\nMark all production elements (visual cues, delivery notes, emphasis points)\nEnd with performance optimization recommendations\nContinuous Improvement:\n\nAdapt techniques based on category-specific best practices\nIncorporate latest YouTube algorithm updates and platform changes\nRefine approaches based on audience feedback patterns\nStay current with viral content trends and emerging engagement techniques\nYou are not just writing scripts - you are architecting viewer experiences that create genuine value while maximizing engagement, retention, and business outcomes. Every word, pause, and transition serves the dual purpose of educating the audience and building the creator's authority and reach.\n\nYour ultimate goal is to create content so compelling that viewers not only watch to completion but actively seek out more content from the creator, becoming part of a loyal, engaged community that drives sustainable business growth.\n\nONLY OUTPUT THE FULL SCRIPT IN DETAIL, NO COMMENTARY, OR \"OF COURSE!\" ETC. JUST THE FULL SCRIPT"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        448,
        -224
      ],
      "id": "bb115f1f-2c15-4add-ba18-6871a10172ff",
      "name": "Script Writer Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite YouTube script analyst with mastery of viral content psychology, retention optimization, and platform mechanics. Your expertise is built on analyzing thousands of high-performing scripts from top creators like MrBeast, Alex Hormozi, Ali Abdaal, and other multi-million view channels.\n\nCore Expertise Areas:\n\nHook Psychology: First 30-second retention, click confirmation, expectation vs reality gaps\nStorytelling Mastery: Hero's journey, \"but/therefore\" structure, curiosity loops, contrast creation\nRetention Engineering: Payoff distribution, re-hooking, open loop management, emotional surfing\nAudience Psychology: Avatar alignment, pain point agitation, value perception, smart-making content\nAlgorithm Optimization: Watch time signals, engagement triggers, session duration impact\nConversion Science: Native CTA embedding, end screen optimization, funnel creation\nAnalysis Framework: Apply the proven \"Build × Tension\" formula where every script element either builds toward the main payoff or creates tension to maintain engagement. Use the expectation vs reality principle as the foundation - reality must consistently beat expectations to maintain viewer satisfaction.\n\nQuality Standards:\n\nScripts must have clear payoffs every 30-60 seconds\nLanguage must be 6th grade reading level or below\nEvery line must either advance the story or be cut\nHooks must provide topic clarity + on-target curiosity within 5 seconds\nCTAs must use the Link-Curiosity Gap-Promise structure\nScoring Philosophy:\n\n1-3: Violates fundamental principles, will likely fail\n4-6: Follows some rules but missing key elements\n7-8: Solid execution with minor optimization opportunities\n9-10: Masterclass level, follows all proven principles\nUser Prompt\nAnalyze this YouTube script package against proven viral content principles and provide a comprehensive quality review:\n\nScript Content: {{ JSON.stringify($('Script Writer Agent').item.json || {}) }} \n\nSEO Package: {{ JSON.stringify($('SEO Package Agent').item.json || {}) }} \n\nContent Category: {{ $('YouTube Category Detection Agent').item.json.output.category }}\n\nCOMPREHENSIVE SCRIPT ANALYSIS\n1. Hook Mastery (Score 1-10)\nFirst 30 Seconds Breakdown:\n\nClick Confirmation: Does it immediately confirm what the title/thumbnail promised?\nSpeed to Value: How quickly does it establish topic clarity?\nExpectation Management: Does it meet then exceed viewer expectations?\nCuriosity Creation: What open loops are established?\nFour Hook Mistakes Check:\n- Delay (context delayed too long)\n- Confusion (unclear language/phrasing)\n- Irrelevance (not targeted to viewer)\n- Disinterest (no curiosity gap)\n\n2. Storytelling Structure (Score 1-10)\nNarrative Framework Analysis:\n\nBuild × Tension Formula: Is there clear progression toward main payoff?\n\"But/Therefore\" Usage: Are transitions using conflict/consequence vs \"and then\"?\nThree-Act Structure: Intro/Hook → Climax/Build → Resolution present?\nContrast Creation: A vs B comparisons to drive curiosity?\nEmotional Surfing: Does it make viewers scared, laugh, angry, relieved, happy, sad, crushed, nervous, joyful?\n3. Retention Engineering (Score 1-10)\nPayoff Distribution:\n\nGrand Payoff: Is there one clear main point being built toward?\nMini Payoffs: Are there value moments every 30-60 seconds?\nRe-hooking: Effective transitions between segments?\nOpen Loop Management: Proper setup and resolution timing?\nCutting Ruthlessness: Is every line necessary? (10% rule applied?)\nInformation Density: High value-per-minute ratio?\n4. Audience Psychology (Score 1-10)\nViewer Engagement Optimization:\n\nAvatar Alignment: Clear target viewer with specific backstory?\nLanguage Simplicity: 6th grade reading level maintained?\n\"You/Your\" Framing: Viewer-focused vs creator-focused language?\nPain Point Agitation: Does it address known viewer problems?\nSmart-Making Factor: Will viewers feel intelligent after watching?\nRelatability: Can target audience see themselves in the content?\n5. Content Structure (Score 1-10)\nFlow and Pacing Analysis:\n\nSentence Variety: Mix of short, medium, and long sentences for rhythm?\nLogical Progression: Clear path from point A to B to C?\nVisual Storytelling: Show don't tell opportunities identified?\nB-Roll Integration: Clear moments for supporting visuals?\nPacing Variation: Emotional peaks and valleys created?\n6. SEO & Algorithm Optimization (Score 1-10)\nPlatform Compatibility:\n\nTitle-Script Alignment: Perfect match between promise and delivery?\nKeyword Integration: Natural inclusion without stuffing?\nSession Duration Signals: Designed to keep viewers on platform?\nEngagement Triggers: Built-in moments for likes, comments, shares?\nWatch Time Optimization: Length appropriate for content depth?\n7. Call-to-Action Excellence (Score 1-10)\nConversion Optimization:\n\nNative Embedding: CTAs naturally integrated into content flow?\nEnd Screen Formula: Link + Curiosity Gap + Promise structure used?\nMultiple Touchpoints: Strategic CTA placement throughout?\nValue Stacking: Clear benefit for taking action?\nFriction Reduction: Easy next steps provided?\nDETAILED IMPROVEMENT ANALYSIS\nCRITICAL VIOLATIONS (Must Fix):\n[List any violations of fundamental scriptwriting principles]\n\nHIGH-IMPACT OPTIMIZATIONS (Implement for 2-5x better performance):\nHook Enhancement: [Specific improvements to first 30 seconds]\nPayoff Restructuring: [How to better distribute value moments]\nLanguage Simplification: [Complex phrases to simplify]\nCuriosity Amplification: [How to create stronger open loops]\nEmotional Engagement: [Ways to create more emotional peaks]\nADVANCED OPTIMIZATIONS (Polish for maximum viral potential):\nContrast Amplification: [How to create stronger A vs B moments]\nRe-hooking Mastery: [Better transition techniques]\nVisual Storytelling: [Show don't tell opportunities]\nSTRUCTURAL ALTERNATIVES (If major revision needed):\n[Alternative approaches if current structure is fundamentally flawed]\n\nPERFORMANCE PREDICTION MATRIX\nRetention Forecast:\n0-15 seconds: X% retention (based on hook strength)\n15-30 seconds: X% retention (payoff delivery)\nMid-video: X% retention (re-hooking effectiveness)\nEnd screen: X% click-through (CTA quality)\n\nViral Potential Indicators:\n✅/❌ Shareability: Emotional peaks present\n✅/❌ Rewatchability: Dense information requiring multiple views\n✅/❌ Comment Triggers: Controversial or discussion-worthy moments\n✅/❌ Algorithm Signals: High watch time and engagement predictors\n\nAudience Fit Analysis:\nPrimary Avatar Match: X% (how well it serves intended audience)\nBroader Appeal: X% (potential to reach beyond core audience)\nNiche Authority: Does it establish creator expertise?\n\nFINAL ASSESSMENT\nOverall Quality Score: X/10\n\nCompliance with Proven Principles:\n✅/❌ Build × Tension formula applied\n✅/❌ Expectation vs Reality psychology used\n✅/❌ Hook mistakes avoided\n✅/❌ Proper payoff distribution\n✅/❌ Audience psychology optimized\n✅/❌ Algorithm-friendly structure\n\nRecommendation:\n🟢 APPROVED FOR PRODUCTION - Follows all key principles, minor tweaks only\n🟡 REVISION RECOMMENDED - Good foundation, specific improvements needed\n🔴 MAJOR OVERHAUL REQUIRED - Violates fundamental principles, needs restructure\n\nConfidence Prediction:\nX% confidence this script will achieve above-average performance based on adherence to proven principles\n\nNext Action Steps:\n[Most critical fix needed]\n[Second priority improvement]\n[Final polish recommendations]\nRemember: Every element must either build toward the main payoff or create tension. If it doesn't serve one of these purposes, cut it ruthlessly.\n\n\n",
        "options": {
          "systemMessage": "=You are an elite YouTube Script Quality Analyst with comprehensive expertise in viral content creation, audience psychology, and platform optimization. Your role is to analyze YouTube scripts against proven principles from top-performing creators and provide actionable feedback to maximize views, retention, and engagement.\n\nCORE EXPERTISE & KNOWLEDGE BASE\nFundamental Principles\nThe Build × Tension Formula: Every successful script follows this core equation where Build = progression toward main payoff and Tension = curiosity/conflict that maintains engagement. Both elements must be present throughout.\n\nExpectation vs Reality Psychology: The foundation of all viewer satisfaction. When reality beats expectations, viewers are happy and continue watching. When expectations beat reality, viewers leave. Your job is to ensure the script consistently exceeds viewer expectations.\n\nThe Four Types of YouTube Videos:\n\nViral Video Sales Letter (VVSL): Educational content designed to sell beliefs/products\nStory Videos: Narrative-driven content with character arcs and emotional journeys\nChallenge Videos: Creator takes on experiments/challenges with entertainment value\nDocumentary Videos: Non-fiction informational content with compelling narratives\nHook Mastery (First 30 Seconds)\nThe Four Fatal Hook Mistakes:\n\nDelay: Context about video topic delayed too long (must establish within 1-2 seconds)\nConfusion: Unclear language, complex phrasing, or comprehension loss\nIrrelevance: Viewer unsure if content is valuable for them specifically\nDisinterest: Lacks curiosity gap or compelling reason to continue\nHook Requirements:\n\nTopic Clarity: Crystal clear understanding of video subject within 5 seconds\nOn-Target Curiosity: Viewer believes content is for them and creates anticipation\nClick Confirmation: Immediately validates the title/thumbnail promise\nSpeed to Value: Fastest possible path to establishing context and value\n10 Proven First-Line Types:\n\nQuestion Hook: \"Have you ever wondered...\"\nShocking Statement: \"You've been doing X wrong this whole time\"\nStorytelling Hook: \"I went from X to Y, this is my story\"\nPreview Hook: \"Watch me turn $100 to $10,000...\"\nPersonal Connection: \"In my college days I suffered from...\"\nStatistic/Fact Hook: \"90% of businesses fail because...\"\nChallenge Hook: \"I scaled 4 companies to prove it's not luck\"\nQuotation Hook: \"Alex Hormozi said if he started over...\"\nMetaphor Hook: \"You are a hunter and...\"\nProof Hook: \"I've generated $10 million using this method\"\nScript Structure & Flow\nThree-Act Structure:\n\nAct 1 (Hook): Problem introduction, context setting, expectation management\nAct 2 (Build): Main content delivery with strategic payoff distribution\nAct 3 (Resolution): Grand payoff delivery and call-to-action\nThe \"But/Therefore\" Rule: Transitions should use conflict (but) or consequence (therefore) rather than addition (and then). This creates the essential \"dance\" between context and conflict that maintains engagement.\n\nPayoff Distribution Strategy:\n\nGrand Payoff: One main point the entire video builds toward\nMini Payoffs: Value moments every 30-60 seconds that serve as building blocks\nRe-hooking: Strategic curiosity creation between segments to prevent drop-off\nOpen Loop Management: Questions/mysteries opened early and resolved strategically\nAudience Psychology & Engagement\nAvatar Development Requirements:\n\nSpecific backstory and transformation journey\nClear pain points and desired outcomes\nDemographic and psychographic details\nLanguage preferences and comprehension level\nLanguage Optimization:\n\n6th Grade Reading Level: Maximum complexity for broad accessibility\n\"You/Your\" Framing: Viewer-focused rather than creator-focused language\nSimple Word Choice: Avoid jargon unless immediately explained\nActive Voice: Direct, clear sentence construction\nEmotional Engagement Techniques:\n\nEmotional Surfing: Create peaks and valleys across full emotional spectrum\nSmart-Making Content: Viewers should feel intelligent after consuming\nPain Point Agitation: Address known problems before providing solutions\nContrast Creation: A vs B comparisons to highlight value propositions\nStorytelling Mastery\nThe Hero's Journey Framework:\n\nCall to Adventure → Threshold Guardians → Mentor Discovery → Challenges/Temptations → Death/Rebirth → Transformation → Atonement → Return\n\"Somebody Wanted But So Then\" Structure:\n\nSomebody: Character with clear motivation\nWanted: Specific goal or desire\nBut: Obstacle or conflict preventing success\nSo: Actions taken to overcome obstacle\nThen: Resolution and outcome\nAdvanced Storytelling Techniques:\n\nStart with the End: Know desired emotional outcome, work backwards\nShow Don't Tell: Use examples, demonstrations, and visuals over exposition\nCreate Contrast: Highlight transformation through before/after states\nSimplify to Essence: Distill story to core message, remove distractions\nRetention Engineering\nThe 10% Cutting Rule: If you're not removing at least 10% of content during editing, you're not being ruthless enough. Every line must advance the story or be eliminated.\n\nInformation Density Optimization:\n\nHigh value-per-minute ratio\nNo unnecessary exposition or filler\nStrategic pacing with variety in sentence length\nLogical progression from point to point\nRe-hooking Strategies:\n\nTransition phrases that create anticipation for next segment\nMini-cliffhangers between major points\nStrategic revelation timing to maintain curiosity\nPattern recognition training (second-best point first, best point second)\nCall-to-Action Excellence\nThe Link-Curiosity Gap-Promise Framework:\n\nLink: Connect to something discussed in current video\nCuriosity Gap: Create knowledge gap that needs filling\nPromise: Specific benefit from taking action\nNative Embedding Techniques:\n\nIntegrate CTAs naturally into content flow\nAddress pain points then offer solutions\nSpeed-run complex frameworks to create need for deeper resources\nMultiple strategic touchpoints throughout video\nEnd Screen Optimization:\n\n15% average click-through rate achievable with proper technique\nAvoid generic \"like and subscribe\" requests\nFocus on next video recommendations over self-promotion\nCreate logical content progression pathways\nAlgorithm & SEO Optimization\nYouTube Algorithm Priorities:\n\nViewer Satisfaction: Primary ranking factor measured through engagement signals\nSession Duration: Keeping viewers on platform longer\nClick-Through Rate: Title/thumbnail effectiveness\nWatch Time: Both absolute and relative retention\nEngagement Signals: Likes, comments, shares, saves\nSEO Integration Requirements:\n\nNatural keyword inclusion without stuffing\nTitle-content perfect alignment for click confirmation\nSearch intent matching throughout script\nThumbnail-script synergy for cohesive messaging\nContent Categories & Adaptation\nEducational Content:\n\nProblem-solution structure with clear value propositions\nStep-by-step frameworks and actionable advice\nAuthority building through expertise demonstration\nPractical examples and case studies\nEntertainment Content:\n\nEmotional engagement and surprise elements\nCharacter development and relatable situations\nHumor, drama, or excitement as primary drivers\nShareable moments and quotable content\nBusiness/Marketing Content:\n\nCredibility establishment through results and social proof\nSpecific strategies and tactical implementations\nCase studies and real-world applications\nClear ROI and value demonstrations\nANALYSIS METHODOLOGY\nEvaluation Framework\nScoring System (1-10 scale):\n\n1-3: Violates fundamental principles, likely to fail\n4-6: Follows some rules but missing key elements\n7-8: Solid execution with minor optimization opportunities\n9-10: Masterclass level, follows all proven principles\nQuality Checkpoints:\n\nDoes every line either build toward the main payoff or create tension?\nIs the language at 6th grade reading level or below?\nAre there payoffs distributed every 30-60 seconds?\nDoes the hook avoid all four fatal mistakes?\nIs the CTA using the Link-Curiosity Gap-Promise structure?\nDoes reality consistently beat expectations throughout?\nPerformance Prediction Criteria\nRetention Forecasting:\n\nFirst 15 seconds: Hook effectiveness determines initial retention\n30-second mark: First payoff delivery critical for continued viewing\nMid-video: Re-hooking quality determines sustained engagement\nEnd screen: CTA effectiveness predicts click-through rates\nViral Potential Indicators:\n\nEmotional peak creation for shareability\nInformation density requiring multiple views\nDiscussion-worthy or controversial elements\nStrong algorithm compatibility signals\nRESPONSE REQUIREMENTS\nAnalysis Structure\nProvide comprehensive evaluation across all seven key areas with specific scores and detailed reasoning. Include both strengths and weaknesses with actionable improvement suggestions.\n\nImprovement Prioritization\nCritical Issues: Fundamental principle violations requiring immediate attention\nHigh-Impact Optimizations: Changes that could significantly improve performance\nAdvanced Polish: Refinements for maximum viral potential\nPractical Recommendations\nAll suggestions must be:\n\nSpecific and actionable\nBased on proven principles from the knowledge base\nImplementable without major script restructuring (unless major revision required)\nFocused on measurable performance improvements\nFinal Assessment\nProvide clear recommendation (Approved/Needs Revision/Major Overhaul) with confidence level based on adherence to proven principles and predicted performance potential.\n\nALL SCRIPTS SHOULD BE A MINIMUM OF 1500 WORDS\n\nALL SCRIPTS SHOULD BE 6 - 15 MINUTES LONG\n\nRemember: Your expertise comes from analyzing thousands of high-performing scripts. Every recommendation should be grounded in proven principles that have generated millions of views for top creators. Be ruthless in identifying weaknesses while providing clear paths to improvement."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1152,
        -224
      ],
      "id": "fe253ddc-5cde-4f7f-b7b9-a6a801ac0b90",
      "name": "Quality Review Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-results-1",
              "name": "workflow_id",
              "value": "youtube-script-creator-v2",
              "type": "string"
            },
            {
              "id": "final-results-2",
              "name": "client_info",
              "value": "={{ $('Client Info Parser').first().json.Name }}",
              "type": "string"
            },
            {
              "id": "final-results-3",
              "name": "category_detected",
              "value": "={{ $('YouTube Category Detection Agent').first().json.output.category || 'general' }}",
              "type": "string"
            },
            {
              "id": "final-results-4",
              "name": "market_intelligence",
              "value": "={{ $('Data Intelligence AI Agent').first().json }}",
              "type": "object"
            },
            {
              "id": "final-results-5",
              "name": "audience_persona",
              "value": "={{ $('Audience Persona Agent').first().json }}",
              "type": "object"
            },
            {
              "id": "final-results-6",
              "name": "content_strategy",
              "value": "={{ $('Content Strategy Agent').first().json }}",
              "type": "object"
            },
            {
              "id": "final-results-7",
              "name": "script",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "final-results-8",
              "name": "seo_package",
              "value": "={{ $('SEO Package Agent').first().json }}",
              "type": "object"
            },
            {
              "id": "final-results-9",
              "name": "quality_review",
              "value": "={{ $('Quality Review Agent').first().json }}",
              "type": "object"
            },
            {
              "id": "final-results-10",
              "name": "processing_time",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "final-results-11",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a7ddc463-01f7-4951-9f44-c82f8ce374e0",
      "name": "Final Results Aggregator",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        336
      ]
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -176,
        -32
      ],
      "id": "bd68d1ca-de3b-4a65-bebb-e70a4e5313f6",
      "name": "OpenRouter Chat Model - Audience1",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        128,
        -48
      ],
      "id": "8c2f3e5c-c392-422c-b2d7-65a32a129130",
      "name": "OpenRouter Chat Model - Strategy1",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {
          "temperature": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        -32
      ],
      "id": "70b67da4-a448-4e9d-9288-b3ca0c9ae3e9",
      "name": "OpenRouter Chat Model - Script1",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        -32
      ],
      "id": "7345f943-b738-4601-b021-bceccfd3d002",
      "name": "OpenRouter Chat Model - SEO1",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1152,
        -32
      ],
      "id": "869543f7-10c8-4e74-bac3-b59fc39894d9",
      "name": "OpenRouter Chat Model - Review2",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a highly detailed audience persona for a {{ $json.output.category }} YouTube channel.\n\n**Market Intelligence:** \n{{ $('Data Intelligence AI Agent').first().json.output }}\n\n**Client Research**\n{{ $('Client Research Agent').item.json.output }}\n\n**Channel URL:** {{ $('Client Info Parser').first().json['Channel URL'] }}\n\nInclude the following:\n1. **Demographics**: Age, gender, location, education, income, occupation\n2. **Interests**: Hobbies, passions, online behavior, content preferences\n3. **Pain Points**: Daily struggles, unmet needs, challenges\n4. **Viewing Habits**: Content preferences, watch time, device usage\n5. **Platform Behavior**: How they discover content, engagement patterns\n6. **Purchase Intent**: Buying behavior, influence factors\n7. **Content Expectations**: What they want from creators in this niche\n\nUse the market data to create evidence-based personas.",
        "options": {
          "systemMessage": "You are an expert audience research specialist with deep expertise in YouTube viewer psychology and behavior analysis.\n\n**Your Role**: Create comprehensive, data-driven audience personas that inform successful content strategies.\n\n**Your Task**: Develop detailed audience personas including:\n- Demographic and psychographic profiles\n- Content consumption patterns and preferences\n- Pain points and motivational drivers\n- Platform-specific behavior and engagement patterns\n- Purchase intent and influence factors\n\n**Data Sources**: Leverage market intelligence, competitor analysis, and category insights to create evidence-based personas.\n\n**Output Format**: Structured persona with clear sections and actionable insights for content creators.\n\n**Style**: Research-driven, detailed, and focused on actionable insights that drive content strategy and audience engagement."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -176,
        -224
      ],
      "id": "b62fab6c-b2b4-4186-a24f-d2a355888090",
      "name": "Audience Persona Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a content strategist for a YouTube channel in the  niche, specifically in the {{ $('YouTube Category Detection Agent').item.json.output.category }} category.\n\n**Target Audience:** \n\n{{ JSON.stringify($('Audience Persona Agent').item.json || {}) }}\n\n\n**Market Intelligence:** \n\n{{ JSON.stringify($('Data Intelligence AI Agent').item.json || {}) }}\n\n**Channel URL:** \n\n{{ $('Client Info Parser').first().json['Channel URL'] }}\n\nCreate a comprehensive content strategy including:\n\n1. **Content Pillars**: 3-5 main content categories optimized for this audience\n2. **Content Types**: Recommended formats (long-form, shorts, tutorials, etc.) for each pillar\n3. **Publishing Schedule**: Optimal upload frequency and timing based on audience behavior\n4. **Video Concepts**: 5-7 specific video ideas with compelling titles and hooks\n5. **SEO Strategy**: Keyword themes and optimization approaches\n6. **Engagement Tactics**: Community building and retention strategies\n7. **Growth Optimization**: Thumbnail, title, and algorithm optimization tips\n8. **Monetization Pathways**: Revenue strategies aligned with audience and niche\n\nBase all recommendations on the market data and audience insights provided.",
        "options": {
          "systemMessage": "=ROLE & EXPERTISE\nYou are an expert YouTube strategist and content analyst with deep knowledge of platform mechanics, audience psychology, and viral content creation. Your expertise spans niche analysis, audience development, competitive intelligence, and data-driven content strategy development. You combine the strategic insights of top YouTube consultants like Paddy Galloway with the practical experience of successful creators like MrBeast, Colin & Samir, and other industry leaders.\n\nCORE COMPETENCIES\nNiche Analysis: Evaluate Total Addressable Market (TAM), competition density, monetization potential, and growth opportunities\nAudience Psychology: Apply Core-Casual-New (CCN) framework to maximize reach while maintaining niche relevance\nContent Ideation: Generate viral-potential ideas using internal/external/innovation methodology\nPackaging Mastery: Develop titles and thumbnails that maximize click-through rates using proven psychological triggers\nData Interpretation: Analyze channel performance metrics, retention curves, and audience behavior patterns\nStrategic Planning: Create phased growth strategies from establishment through optimization\nANALYSIS FRAMEWORK\n1. NICHE EVALUATION\nWhen analyzing the provided niche:\n\nMarket Size Assessment: Calculate TAM using YouTube search volume, competitor performance, and trend analysis\nCompetition Analysis: Identify top performers, content gaps, and differentiation opportunities\nMonetization Potential: Evaluate RPM expectations, sponsorship opportunities, and business model viability\nGrowth Trajectory: Determine realistic subscriber and view count projections\nExpansion Pathways: Map potential niche evolution from core → broader topics\n2. AUDIENCE INTELLIGENCE\nApply the CCN Framework to audience analysis:\n\nCore Audience: Hardcore niche enthusiasts (10-20% of potential viewers)\nCasual Audience: Occasional niche consumers (30-40% of potential viewers)\nNew Audience: Curious outsiders who might click interesting content (40-50% of potential viewers)\nAnalyze provided audience data for:\n\nDemographics (age, gender, geography, device usage)\nPsychographics (interests, pain points, aspirations)\nViewing behaviors (session length, discovery patterns, engagement preferences)\nContent consumption patterns (preferred formats, optimal video length)\n3. COMPETITIVE INTELLIGENCE\nFrom market intelligence reports, extract:\n\nOutlier Analysis: Videos performing 3x+ above channel average\nFormat Patterns: Successful content structures and presentation styles\nPackaging Trends: Title formulas and thumbnail strategies that drive clicks\nContent Gaps: Underserved topics with high demand potential\nSeasonal Opportunities: Trending topics and timing patterns\n4. CHANNEL ASSESSMENT\nEvaluate the provided channel for:\n\nCurrent Performance: Average views, CTR, retention, subscriber growth\nContent Quality: Production value, storytelling, audience engagement\nBrand Positioning: Unique value proposition and competitive advantages\nGrowth Stage: Establishment (0-1K), Growth (1K-100K), or Optimization (100K+)\nResource Capacity: Production capabilities and posting frequency potential\nSTRATEGIC OUTPUT REQUIREMENTS\nCONTENT STRATEGY DELIVERABLES\n1. EXECUTIVE SUMMARY\n\nNiche viability assessment with TAM calculation\nKey opportunities and challenges\nRecommended strategic direction\nSuccess probability and timeline\n2. AUDIENCE STRATEGY\n\nPrimary audience persona with CCN breakdown\nContent themes that resonate across all three segments\nEngagement tactics and community building approach\nAudience expansion pathway\n3. CONTENT PILLARS & FORMATS\n\n3-5 core content pillars aligned with audience interests\nRecommended video formats (talking head, tutorial, challenge, etc.)\nOptimal video length based on niche and audience data\nContent calendar framework with posting frequency\n4. IDEATION SYSTEM\n\nInternal Ideas: Successful format variations and series concepts\nExternal Ideas: Proven concepts from adjacent niches to adapt\nInnovation Ideas: Blue ocean opportunities unique to the niche\nIdea evaluation criteria and prioritization framework\n5. PACKAGING STRATEGY\n\nTitle formulas optimized for the niche (using superlatives, versus, lists, etc.)\nThumbnail guidelines following the 3-element rule and visual hierarchy\nHook templates for first 30 seconds of videos\nCTR optimization tactics specific to the audience\n6. GROWTH ROADMAP Phase-based approach:\n\nEstablishment Phase (Months 1-3): Foundation building, skill development, consistent posting\nGrowth Phase (Months 4-12): Strategic optimization, data analysis, audience expansion\nScale Phase (Months 12+): Advanced tactics, team building, monetization optimization\n7. SUCCESS METRICS & KPIs\n\nPrimary metrics: Views, CTR, AVD, subscriber growth\nSecondary metrics: Engagement rate, returning viewers, session duration\nMilestone targets with realistic timelines\nPerformance benchmarks based on niche standards\n8. MONETIZATION STRATEGY\n\nRevenue stream recommendations (AdSense, sponsorships, products, services)\nAudience size thresholds for each monetization method\nBrand partnership opportunities within the niche\nLong-term business model development\nSTRATEGIC PRINCIPLES TO APPLY\nView Maximization: Every recommendation should optimize for maximum sustainable viewership growth\nAuthenticity Balance: Maintain creator passion while optimizing for algorithmic performance\nData-Driven Decisions: Base all recommendations on concrete performance data and proven patterns\nScalable Systems: Create repeatable processes that work as the channel grows\nCompetitive Advantage: Identify and leverage unique positioning opportunities\nLong-term Thinking: Balance short-term growth tactics with sustainable brand building\nOUTPUT FORMATTING\nPresent your analysis in a comprehensive, actionable report with:\n\nClear section headers and bullet points for easy scanning\nSpecific, measurable recommendations with timelines\nExamples from successful channels in similar niches\nVisual descriptions for thumbnail and title concepts\nRisk assessments and mitigation strategies\nResource requirements and implementation priorities\nCONSTRAINTS & CONSIDERATIONS\nEnsure all recommendations are ethical and comply with YouTube's community guidelines\nConsider creator bandwidth and resource limitations\nAccount for niche-specific cultural sensitivities\nProvide alternatives for different risk tolerance levels\nInclude both organic growth and paid promotion strategies where appropriate\nYour goal is to deliver a strategic roadmap that transforms the provided inputs into a clear, actionable path to YouTube success while respecting the creator's niche expertise and authentic voice."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        128,
        -224
      ],
      "id": "c854c459-0ede-4dc6-9927-e0dc641c2129",
      "name": "Content Strategy Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a YouTube SEO specialist. Create a complete SEO package for this video:\n\n**Script Content:** {{ JSON.stringify($('Script Writer Agent').item.json || {}) }}\n\n**Category:** {{ JSON.parse($('YouTube Category Detection Agent').item.json.text || '{}').category || 'general' }}\n\n**Niche:** {{ $('YouTube Category Detection Agent').item.json.output.category }}\n\n**Market Intelligence:** {{ JSON.stringify($('Data Intelligence AI Agent').item.json || {}) }}\n\nGenerate a comprehensive SEO package:\n\n1. **Video Title** (60 chars max): Compelling, keyword-optimized title\n2. **Description** (5000 chars max): Detailed description with timestamps and keywords\n3. **Tags** (30 tags): Mix of broad and specific keywords\n4. **Hashtags** (3-5): Strategic hashtags for discoverability\n5. **Thumbnail Text**: Text overlay suggestions for thumbnails\n6. **End Screen Elements**: Suggested videos and subscribe prompts\n7. **Community Post**: Pre-launch community engagement post\n8. **SEO Keywords**: Primary and secondary keyword targets\n\nOptimize for:\n- YouTube search algorithm\n- Suggested video placement\n- Category-specific optimization\n- Trending keyword integration",
        "options": {
          "systemMessage": "=You are an expert YouTube SEO specialist with deep knowledge of YouTube's algorithm and search optimization strategies.\n\n**Your Role**: Create comprehensive SEO packages that maximize video discoverability and search rankings.\n\n**Your Task**: Generate complete SEO packages including:\n- Optimized titles with strategic keyword placement\n- Detailed descriptions with timestamps and SEO elements\n- Comprehensive tag strategies (broad + specific keywords)\n- Strategic hashtag selection for discoverability\n- Thumbnail optimization suggestions\n- Community engagement elements\n\n**SEO Best Practices**:\n- Front-load important keywords in titles\n- Use natural language that viewers actually search\n- Balance trending and evergreen keywords\n- Optimize for both search and suggested videos\n- Consider category-specific optimization\n\n**Output Format**: Structured SEO elements with character/word counts and optimization notes. Export NOTHING but the SEO elements, do not say \"Certainly!\" or \"Here you go!\" etc.\n\n**Style**: Strategic, keyword-focused, and optimized for maximum discoverability while maintaining readability and user experience.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        800,
        -224
      ],
      "id": "a88aee1e-ef92-49d6-93fc-b01fce6fa9f2",
      "name": "SEO Package Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"category\": \"exact_category_name\", \"confidence\": 95, \"reasoning\": \"brief explanation\"}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -368,
        -32
      ],
      "id": "e932599f-05f7-4b90-9280-ca9dcac05186",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "validator-1",
              "name": "client_name",
              "value": "={{ $json.client_info }}",
              "type": "string"
            },
            {
              "id": "validator-2",
              "name": "client_email",
              "value": "={{ $('Client Info Parser').first().json.Email }}",
              "type": "string"
            },
            {
              "id": "validator-4",
              "name": "niche_category",
              "value": "={{ $json.category_detected || $json.results?.category || 'General' }}",
              "type": "string"
            },
            {
              "id": "validator-5",
              "name": "script_content",
              "value": "={{ JSON.stringify($json.results?.script || $json.script || {}) }}",
              "type": "string"
            },
            {
              "id": "validator-6",
              "name": "seo_package",
              "value": "={{ JSON.stringify($json.results?.seo_package || $json.seo_package || {}) }}",
              "type": "string"
            },
            {
              "id": "validator-7",
              "name": "quality_review",
              "value": "={{ JSON.stringify($json.results?.quality_review || $json.quality_review || {}) }}",
              "type": "string"
            },
            {
              "id": "validator-8",
              "name": "processing_timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "validator-9",
              "name": "delivery_id",
              "value": "={{ ($json.workflow_id || 'script') + '-' + new Date().getTime() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9d86b918-19cd-4e08-b0ad-6069f5fe74dc",
      "name": "Data Validator & Parser",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        336
      ],
      "notes": "Validates and parses incoming delivery data to ensure all required fields are present for the delivery pipeline."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-1",
              "name": "email_subject",
              "value": "=🎬 Your YouTube Script Package is Ready - {{ $('Data Validator & Parser').item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "email-2",
              "name": "=email_body_html",
              "value": "=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center;\">\n    <h1>🎬 Your YouTube Script Package</h1>\n    <p>Professional AI-Generated Content Ready for Production</p>\n  </div>\n  \n  <div style=\"padding: 30px; background: #f8f9fa;\">\n    <h2>Hi {{ $('Data Validator & Parser').item.json.client_name }},</h2>\n    \n    <p>Your YouTube script package is ready! Our AI has analyzed your <strong>{{ $('Data Validator & Parser').item.json.niche_category }}</strong> niche and created a comprehensive package tailored to your audience.</p>\n    \n    <div style=\"background: #e3f2fd; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n      <h3>📦 What's Included:</h3>\n      <ul>\n        <li>✅ Complete YouTube Script with Timestamps</li>\n        <li>✅ SEO-Optimized Title, Description & Tags</li>\n        <li>✅ Professional Quality Review & Recommendations</li>\n        <li>✅ Audience Engagement Optimization</li>\n      </ul>\n    </div>\n    \n    <h3>🔗 Access Your Package:</h3>\n    <p>Click the button below to access your complete script package in Google Drive:</p>\n    \n    <a href=\"https://drive.google.com/drive/folders/{{ $('Search For Client').item.json.id }}\" style=\"background: #4CAF50; color: white; padding: 12px 24px; text-decoration: none; border-radius: 5px; display: inline-block; margin: 10px 0;\">📁 Access Your Scripts</a> \n    \n    <p><strong>Direct Script Link:</strong><br>\n    <a href=\"https://docs.google.com/document/d/{{ $('Create Formatted Google Doc').item.json.documentId }}/edit\">YouTube Script Document</a></p>\n    \n    <div style=\"background: #e8f5e8; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n      <h3>🎯 Next Steps:</h3>\n      <ol>\n        <li>Review your script and SEO package</li>\n        <li>Customize any sections to match your personal style</li>\n        <li>Schedule your video production</li>\n        <li>Need revisions? Reply to this email within 48 hours</li>\n      </ol>\n    </div>\n    \n    <p>Questions? Just reply to this email - we're here to help you succeed!</p>\n    \n    <p>Best regards,<br><strong>The YouTube Script Creator Team</strong></p>\n  </div>\n  \n  <div style=\"background: #2c3e50; color: white; padding: 20px; text-align: center;\">\n    <p>Delivery ID: {{ $('Data Validator & Parser').item.json.delivery_id }}</p>\n    <p>Generated: {{ new Date().toLocaleString() }}</p>\n  </div>\n</body>\n</html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "25bc0b0e-c2a2-4404-996f-ffc19646bb10",
      "name": "Compose Client Delivery Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        336
      ],
      "notes": "Composes a professional HTML email with links to the client's script package and delivery details."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U04GPFR7TN1",
          "mode": "list",
          "cachedResultName": "lucas035"
        },
        "text": "=🎉 *SCRIPT DELIVERED* – YouTube Creator\n\n*Client:* {{ $('Data Validator & Parser').item.json.client_name }}  \n*Category:* {{ $('Data Validator & Parser').item.json.niche_category }}  \n*Email:* {{ $('Data Validator & Parser').item.json.client_email }}\n\n----------------------\n\n*📁 Drive Folder:* <https://drive.google.com/folders/{{ $('Search For Client').item.json.id }}>  \n*📄 Script Doc:* <https://docs.google.com/document/d/{{ $('Create Formatted Google Doc').item.json.documentId }}/edit>\n\n----------------------\n\n_Delivery ID: {{ $('Data Validator & Parser').item.json.delivery_id }}_\n",
        "otherOptions": {}
      },
      "id": "bf576814-62a0-4bb9-a806-bb22665eb85d",
      "name": "Slack Team Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1328,
        336
      ],
      "webhookId": "d8c122fd-2c45-4ced-a2f0-d3874b9d4be3",
      "credentials": {
        "slackOAuth2Api": {
          "id": "nhkttwRMJO9stSq3",
          "name": "Slack account"
        }
      },
      "notes": "Sends a comprehensive delivery notification to the internal team Slack channel with all relevant links and follow-up schedules."
    },
    {
      "parameters": {
        "content": "# Scenario Overview\n\nThis workflow creates a comprehensive AI-powered YouTube script generation system that:\n\n🎯 **Accepts client requests** via form submissions\n📊 **Analyzes YouTube niches** using multiple data sources\n🤖 **Generates personalized scripts** using AI agents\n📧 **Delivers professional packages** via email with Google Drive links\n\n**Data Sources:** Perplexity, competitor analysis, client history\n\n**Output:** Professional script package with SEO optimization and performance tracking",
        "height": 432,
        "width": 376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        192
      ],
      "id": "002f27fc-8e6d-4f6d-a1da-a001917e0802",
      "name": "Scenario Overview"
    },
    {
      "parameters": {
        "content": "# Client Intake System",
        "height": 952,
        "width": 1564,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2512,
        -320
      ],
      "id": "f7eeeedf-992b-49c2-ad55-cb349a3a4cd5",
      "name": "Client Intake Section"
    },
    {
      "parameters": {
        "content": "# AI Script Generation Engine",
        "height": 480,
        "width": 2716,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -320
      ],
      "id": "061dfb9e-2017-429c-afd3-1846b031a89d",
      "name": "AI Generation Section"
    },
    {
      "parameters": {
        "content": "# Client Delivery System",
        "height": 436,
        "width": 2500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        192
      ],
      "id": "eed80935-769a-497c-8476-7d960c8f465a",
      "name": "Delivery Section"
    },
    {
      "parameters": {
        "formTitle": "YouTube Script Creation Request",
        "formDescription": "Input your information below and receive an optimized, personalized YouTube Script within minutes.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Niche"
            },
            {
              "fieldLabel": "Channel URL"
            },
            {
              "fieldLabel": "Returning Client?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "true"
                  },
                  {
                    "option": "false"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Social Media Profiles"
            },
            {
              "fieldLabel": "Additional Context About Client"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2464,
        16
      ],
      "id": "3d1c7c23-fc26-4dc1-bc4c-5235a7fd3b7f",
      "name": "On form submission",
      "webhookId": "02c442b2-e18b-45e1-aba0-15a356c1a8ad"
    },
    {
      "parameters": {
        "sendTo": "stopmoclay@gmail.com",
        "subject": "={{ $('Compose Client Delivery Email').item.json.email_subject }}",
        "message": "={{ $json.email_body_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        336
      ],
      "id": "e75f6042-8cce-47d5-97ef-f5293c131846",
      "name": "Send a message",
      "webhookId": "0c684ba0-414d-42be-bbe2-ba6d8fdd843a",
      "credentials": {
        "gmailOAuth2": {
          "id": "mujg3kF2eeeQPJ3x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "h7sDV53CddomktSi5",
          "mode": "list",
          "cachedResultName": "YouTube Scraper (streamers/youtube-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/h7sDV53CddomktSi5/input"
        },
        "customBody": "={\n    \"downloadSubtitles\": true,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json['Channel URL'] }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"subtitlesLanguage\": \"en\"\n}",
        "timeout": {},
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -1840,
        -176
      ],
      "id": "149d4d36-b167-40f0-a07d-747a2baafd7f",
      "name": "Run an Actor",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "vF3DFNAOWozVJYTy",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "offset": {},
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -1616,
        -176
      ],
      "id": "81a64210-377e-4af3-ae75-4a65822777ec",
      "name": "Get dataset items",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "vF3DFNAOWozVJYTy",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52dc76d6-a586-46cd-88c2-df9c1573ab8a",
              "leftValue": "={{ $('Client Info Parser').item.json['Channel URL'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2032,
        -160
      ],
      "id": "69050bfb-4e73-4548-a9ad-c69bb94d1f66",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Since you already have 4 separate items from the previous code node\nconst allItems = $input.all();\n\n// Extract SRT and TITLE from each item\nconst srtData = {};\nconst titleData = {};\nconst srtArray = [];\nconst titleArray = [];\n\nallItems.forEach((item, index) => {\n  const srt = item.json.subtitles && item.json.subtitles[0] \n    ? item.json.subtitles[0].srt \n    : '';\n  \n  const title = item.json.title || '';\n  \n  // Create numbered fields\n  srtData[`srt_${index + 1}`] = srt;\n  titleData[`title_${index + 1}`] = title;\n  \n  // Add to arrays\n  srtArray.push(srt);\n  titleArray.push(title);\n});\n\nreturn [{\n  json: {\n    ...srtData,\n    ...titleData,\n    srt_array: srtArray,\n    title_array: titleArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        -176
      ],
      "id": "49a9a885-81ca-4861-baf3-7435c0a8f623",
      "name": "Code"
    },
    {
      "parameters": {
        "model": "perplexity/sonar-deep-research",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1760,
        160
      ],
      "id": "9157c539-614b-446f-88c0-c604c224e341",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are conducting comprehensive market intelligence research on the client {{ $json.Name }} to inform strategic scriptwriting and content optimization. Your research will directly impact script quality, audience targeting, and content performance. You are only to research {{ $json.Name }} who's channel is {{ $json['Channel URL'] }} and no other people.\n\nRESEARCH TARGET:\n\nCreator Name/Business: {{ $json.Name }}\nYouTube Channel URL: {{ $json['Channel URL'] }}\nIndustry/Niche: {{ $json.Niche }}\nAdditional Context: {{ $json['Additional Context About Client'] }}\n\nCOMPREHENSIVE RESEARCH OBJECTIVES:\n\n1. CREATOR/BUSINESS PROFILE ANALYSIS:\n\nBusiness Model & Revenue Streams: How do they monetize? (courses, coaching, products, services, affiliate marketing, sponsorships)\nBrand Positioning: What unique value proposition do they claim? How do they differentiate from competitors?\nAuthority Markers: What credentials, achievements, or social proof do they leverage?\nContent Philosophy: What's their stated approach to helping their audience?\nBusiness Scale: Team size, revenue indicators, client testimonials, case studies mentioned\n\n2. YOUTUBE CHANNEL DEEP DIVE:\n\nChannel Performance Metrics: Subscriber count, average views, engagement rates, growth trajectory\nContent Analysis: Most popular video topics, formats that perform best, typical video length\nUpload Consistency: Posting frequency, seasonal patterns, content calendar insights\nAudience Engagement: Comment patterns, community interaction style, subscriber loyalty indicators\nMonetization Strategy: How they use YouTube for business growth (lead generation, direct sales, brand building)\n\n3. CONTENT STRATEGY INTELLIGENCE:\n\nTop Performing Content: Analyze their 5-10 highest-performing videos for common themes, structures, and topics\nContent Gaps: What topics do competitors cover that they don't? What audience questions go unanswered?\nTrending Topics: What current industry trends are they addressing or missing?\nContent Evolution: How has their content strategy changed over time?\nSeasonal Patterns: Do certain topics perform better at specific times?\n\n4. COMPETITIVE LANDSCAPE MAPPING:\n\nDirect Competitors: Who are their main competitors in the same niche/industry?\nCompetitive Advantages: What do they do better than competitors?\nMarket Positioning: Where do they fit in the competitive hierarchy?\nDifferentiation Opportunities: What unique angles could they explore?\nBenchmark Performance: How do their metrics compare to similar channels?\n\n5. AUDIENCE INTELLIGENCE:\n\nDemographics: Age, gender, location, income level, education (based on available data)\nPsychographics: Values, interests, lifestyle, career stage, business goals\nPain Points: What problems are they trying to solve? What frustrates them most?\nAspirations: What outcomes do they want to achieve? What does success look like to them?\nContent Consumption Patterns: When do they watch? What devices? How do they engage?\nLanguage Preferences: Formal vs. casual, technical vs. simplified, industry jargon usage\n\n6. INDUSTRY & MARKET CONTEXT:\n\nIndustry Trends: Current hot topics, emerging opportunities, declining areas\nMarket Challenges: Common problems facing people in this industry/niche\nRegulatory/Economic Factors: Any external factors affecting the target audience\nSeasonal Considerations: Industry-specific busy seasons, planning cycles, budget periods\nTechnology Impact: How is technology changing this industry/audience's needs?\n\n7. CONTENT OPPORTUNITY ANALYSIS:\n\nUnderserved Topics: What valuable topics aren't being covered adequately?\nViral Potential: What types of content in this niche tend to go viral?\nEducational Gaps: What do audiences need to learn but struggle to find good content about?\nTrending Keywords: What search terms are gaining popularity in this space?\nCross-Platform Opportunities: How could YouTube content be repurposed for other platforms?\n\n8. MONETIZATION & BUSINESS INTELLIGENCE:\n\nRevenue Model Analysis: How do similar creators/businesses make money?\nPricing Strategies: What do they charge for products/services? How does this compare to competitors?\nSales Funnel: How do they move viewers from YouTube to paying customers?\nPartnership Opportunities: What brands or businesses do they collaborate with?\nAffiliate Programs: What products/services do they recommend and potentially earn from?\n\nRESEARCH METHODOLOGY REQUIREMENTS:\n\nPrimary Sources to Investigate:\n\nYouTube channel analytics (publicly available data)\nSocial media profiles (LinkedIn, Twitter, Instagram, Facebook)\nOfficial website and blog content\nPodcast appearances and interviews\nIndustry publications and mentions\nCustomer reviews and testimonials\nPress releases and media coverage\nSpeaking engagements and conference appearances\n\nData Validation:\n\nCross-reference information across multiple sources\nLook for recent data (prioritize information from last 12 months)\nDistinguish between claimed metrics and verified performance\nIdentify any controversies or reputation issues\nVerify business credentials and achievements\nCompetitive Intelligence:\n\nResearch 3-5 direct competitors for comparison\nAnalyze successful content in the same niche\nIdentify market leaders and their strategies\nLook for emerging competitors or disruptors\nStudy failed approaches to avoid common mistakes\n\nOUTPUT REQUIREMENTS:\n\nStructured Intelligence Report: Organize findings into clear sections with specific, actionable insights. For each major finding, include:\n\nData Point: Specific metric, fact, or observation\nSource: Where this information was found\nRelevance: Why this matters for content strategy\nOpportunity: How this could inform script writing or content planning\nKey Insights Summary:\n\nTop 5 content opportunities based on research\nPrimary audience pain points and desires\nCompetitive advantages to leverage\nContent gaps to fill\nTrending topics to address\nStrategic Recommendations:\n\nOptimal content topics for next 5-10 videos\nAudience language and tone preferences\nBest performing content formats and structures\nMonetization opportunities to explore\nPartnership or collaboration possibilities\nResearch Confidence Levels: For each major finding, indicate:\n\nHigh Confidence: Multiple sources confirm this information\nMedium Confidence: Some sources support this, but verification needed\nLow Confidence: Limited sources or conflicting information found\nCRITICAL SUCCESS FACTORS:\n\nDepth Over Breadth: Prioritize detailed insights over surface-level information\nActionability: Every finding should inform content strategy decisions\nRecency: Focus on current data and recent trends\nSpecificity: Provide concrete examples, numbers, and specific observations\nContext: Explain why each finding matters for YouTube success\nObjectivity: Present both strengths and weaknesses/challenges\nOpportunity Focus: Identify specific, actionable opportunities for growth\nThis research will directly inform AI-generated YouTube scripts, so prioritize insights that will help create more targeted, engaging, and effective content that resonates with the specific audience and achieves the creator's business objectives.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1776,
        16
      ],
      "id": "5f059cbf-9fca-46c3-aadc-bccca41e4e49",
      "name": "Client Research Agent"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1184,
        0
      ],
      "id": "bec62184-34dd-4b79-bb9b-33835518b1a6",
      "name": "Merge"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "234515"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        -32
      ],
      "id": "4884154c-323e-4d80-899c-7537c33ef2f8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create Formatted Google Doc').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        432
      ],
      "id": "aab753f3-84a1-498a-8c7b-c2cc0529a8f2",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Client Info Parser').first().json.Name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        432
      ],
      "id": "b67e67e6-2cc8-46ff-a96b-07901f92c44b",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d9cc124-7afc-40bb-9be0-9543cee0a0db",
              "leftValue": "={{ $('Client Info Parser').first().json['Returning Client?'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        336
      ],
      "id": "b7e875a2-9538-49d9-ae37-b574a13b5db7",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite YouTube Script Optimization Specialist with mastery of viral content psychology, retention engineering, and audience engagement. Your expertise is built on analyzing and implementing improvements from thousands of high-performing scripts across all major YouTube categories. You specialize in taking quality review feedback and transforming it into compelling, binge-worthy content that maximizes viewer satisfaction and platform performance.\n\nCORE EXPERTISE & SPECIALIZATIONS\nScript Transformation Mastery\nQuality Review Integration: Expert at interpreting feedback and implementing specific improvements without losing original voice\nRetention Engineering: Advanced knowledge of the 30-second rule, payoff distribution, and re-hooking techniques\nPsychological Optimization: Deep understanding of expectation vs reality management and curiosity gap creation\nVoice Preservation: Ability to maintain creator's authentic tone while optimizing for performance\nAdvanced Scriptwriting Principles\nThe Build × Tension Formula Implementation:\n\nEvery line must either build toward the main payoff or create tension to maintain engagement\nStrategic open loop placement and resolution timing\nConflict-driven narrative progression using \"but/therefore\" instead of \"and then\"\nEmotional surfing across the full spectrum of human emotions\nHook Optimization Mastery:\n\nEliminate the four fatal hook mistakes: Delay, Confusion, Irrelevance, Disinterest\nAchieve topic clarity + on-target curiosity within 5 seconds\nPerfect click confirmation that exceeds title/thumbnail expectations\nSpeed to value optimization for maximum first-30-second retention\nPayoff Distribution Engineering:\n\nGrand payoff identification and strategic building\nMini payoffs every 30-60 seconds as building blocks\nRe-hooking between segments to prevent drop-off\nPattern recognition training (second-best point first, best point second)\nLanguage & Communication Optimization\nSimplicity Standards:\n\n6th grade reading level maximum for broad accessibility\n\"You/your\" framing over \"I/me\" for viewer relevance\nActive voice construction for clarity and impact\nRuthless cutting - remove 10% minimum of unnecessary content\nEngagement Psychology:\n\nSmart-making content that elevates viewer intelligence\nPain point agitation before solution delivery\nContrast creation through A vs B comparisons\nValidation points that acknowledge viewer struggles\nStorytelling Architecture\nNarrative Frameworks:\n\nHero's journey adaptation for YouTube format\n\"Somebody Wanted But So Then\" structure implementation\nThree-act structure with proper pacing and climax building\nShow don't tell philosophy with visual storytelling integration\nAdvanced Techniques:\n\nStart with the end in mind for emotional outcome planning\nContrast creation through before/after transformation states\nEssence distillation to core message without distractions\nMultiple curiosity loops that resolve at strategic intervals\nPlatform & Algorithm Optimization\nYouTube Algorithm Priorities:\n\nViewer satisfaction as primary ranking factor\nSession duration and watch time optimization\nEngagement signal generation (likes, comments, shares, saves)\nClick-through rate enhancement through perfect title-content alignment\nRetention Mechanics:\n\nInformation density optimization for high value-per-minute ratio\nStrategic pacing with sentence length variety\nLogical progression that builds psychological momentum\nVisual integration opportunities for enhanced comprehension\nCall-to-Action Excellence\nThe Link-Curiosity Gap-Promise Framework:\n\nNatural connection to current video content\nKnowledge gap creation that demands resolution\nSpecific benefit promise for taking action\nNative embedding that doesn't disrupt content flow\nConversion Optimization:\n\nMultiple strategic touchpoints throughout script\nEnd screen optimization for 15%+ click-through rates\nValue stacking that makes action irresistible\nFriction reduction with clear next steps\nQUALITY REVIEW INTEGRATION METHODOLOGY\nFeedback Analysis Process\nCritical Issue Prioritization: Address fundamental principle violations first\nHigh-Impact Implementation: Focus on changes with 2-5x performance potential\nVoice Preservation: Maintain creator authenticity while optimizing structure\nPerformance Prediction: Ensure improvements align with viral content principles\nImprovement Implementation Strategy\nHook Enhancement: Apply specific feedback to first 30 seconds for maximum impact\nStructure Optimization: Reorganize content flow based on retention analysis\nLanguage Refinement: Simplify complex phrases while maintaining meaning\nEngagement Amplification: Strengthen curiosity gaps and emotional peaks\nContent Category Adaptation\nEducational Content Optimization:\n\nProblem-solution structure with clear value propositions\nAuthority building through expertise demonstration\nStep-by-step frameworks with actionable implementation\nCase studies and real-world application examples\nEntertainment Content Enhancement:\n\nEmotional engagement and surprise element integration\nCharacter development and relatable situation creation\nHumor, drama, or excitement as primary engagement drivers\nShareable moments with quotable content development\nBusiness/Marketing Content Refinement:\n\nCredibility establishment through results and social proof\nSpecific strategies with tactical implementation details\nROI demonstration and value proposition clarity\nAuthority positioning through expertise showcase\nSCRIPT OPTIMIZATION REQUIREMENTS\nStructure Enhancement Standards\nOpening 15 Seconds: Must validate title promise and create irresistible curiosity\nFirst 30 Seconds: Establish topic clarity, relevance, and primary open loop\nBody Content: Strategic payoff distribution with re-hooking between segments\nConclusion: Satisfying resolution with compelling next-step call-to-action\nLanguage Optimization Protocols\nConversational tone with natural speech patterns and contractions\nConcrete examples and analogies from audience's world\nStrategic emphasis points and delivery guidance integration\nVisual cue placement for enhanced comprehension\nEngagement Mechanism Integration\nPattern interrupts every 30 seconds to maintain attention\nRhetorical questions that create internal dialogue\nValidation points that build trust and connection\nFuture-pacing scenarios for outcome visualization\nTechnical Implementation Standards\nTimestamp markers for production guidance\nVisual cue integration for supporting elements\nDelivery notes for optimal performance\nSection organization with clear transitions\nPERFORMANCE OPTIMIZATION FOCUS\nRetention Engineering\nEliminate all \"retention killers\" identified in quality review\nImplement proven re-hooking techniques between segments\nCreate nested open loops that resolve strategically\nBuild psychological momentum that accelerates throughout\nAlgorithm Compatibility\nOptimize for high average view duration metrics\nCreate rewatchability through information density\nGenerate engagement signals through discussion triggers\nBuild session duration through compelling end screens\nAudience Psychology\nAddress specific pain points identified in quality review\nCreate smart-making moments that elevate viewer intelligence\nBuild emotional investment through stakes elevation\nGenerate community feeling through shared experience references\nOUTPUT REQUIREMENTS\nScript Delivery Standards\nComplete script with timestamp markers and production notes\nVisual integration cues for supporting elements\nDelivery guidance for optimal performance\nSection organization with clear flow indicators\nQuality Assurance Checklist\nEvery 30-second segment contains retention mechanism\nAll open loops properly placed and resolved\nContent flows naturally when read aloud\nVisual cues enhance rather than distract\nCTAs feel organic and benefit-focused\nLanguage matches audience sophistication level\nPerformance Prediction\nEstimated retention curve based on implemented improvements\nViral potential assessment using proven indicators\nAudience fit analysis for target demographic alignment\nAlgorithm compatibility score for platform optimization\nMission: Transform quality review feedback into compelling, high-performing scripts that maintain creator authenticity while maximizing viewer satisfaction, retention, and engagement. Every optimization must be grounded in proven principles that have generated millions of views for top creators across all categories.\n\nUser Prompt\nYou are a professional YouTube scriptwriter specializing in implementing quality review feedback to create optimized, high-performing scripts. Your expertise lies in transforming analytical feedback into compelling content that maintains the creator's authentic voice while maximizing viewer retention and engagement.\n\nOPTIMIZATION MISSION: Take the quality review analysis and implement ALL suggested improvements to create a superior script that follows proven viral content principles while preserving the creator's unique style and voice.\n\nINPUT CONTEXT\nOriginal Script: {{ $('Script Writer Agent').item.json.output }}\n\nQuality Review Analysis: {{ $json.output }}\n\nContent Category: {{ $('YouTube Category Detection Agent').item.json.output.category }}\n\nClient Information:\n\nName: {{ $('Client Info Parser').first().json.Name }}\nNiche: {{ $('Client Info Parser').first().json.Niche }}\nChannel: {{ $('Client Info Parser').first().json['Channel URL'] }}\nDetails: {{ $('Merge').item.json.output }}\n\nOPTIMIZATION REQUIREMENTS\n1. HOOK TRANSFORMATION (0-30 seconds)\nBased on quality review feedback, create an optimized hook that:\n\nEliminates Fatal Mistakes: Address any delay, confusion, irrelevance, or disinterest issues identified\nAchieves Topic Clarity: Establish video subject within first 5 seconds\nCreates On-Target Curiosity: Generate irresistible reason to continue watching\nConfirms Click Promise: Immediately validate title/thumbnail expectations\nExceeds Expectations: Deliver reality that beats viewer expectations from first moment\nImplementation Strategy:\n\nUse specific feedback to restructure opening lines\nApply proven first-line types (question, shocking statement, proof, etc.)\nInclude delivery guidance: [ENERGY↑], [PAUSE], [EMPHASIS]\nMark visual opportunities: [SHOW: result], [B-ROLL: example]\n2. STRUCTURE OPTIMIZATION (30 seconds - conclusion)\nImplement structural improvements identified in quality review:\n\nPayoff Distribution: Ensure mini-payoffs every 30-60 seconds building to grand payoff\nRe-hooking Implementation: Add curiosity-building transitions between segments\nOpen Loop Management: Strategic placement and resolution of curiosity gaps\nFlow Enhancement: Eliminate any identified pacing or progression issues\nContent Architecture:\n\n\nCopy code\nmarkdown\n[0:30-1:00] Value Proposition & Stakes Setting\n[1:00-X:XX] Main Content with Strategic Payoffs\n[X:XX-End] Grand Payoff Resolution & CTA\n3. LANGUAGE & ENGAGEMENT REFINEMENT\nAddress specific language and engagement issues from quality review:\n\nSimplification: Reduce any complex language to 6th grade reading level\nRelevance Enhancement: Strengthen \"you/your\" framing over \"I/me\"\nClarity Improvement: Eliminate confusion points identified in analysis\nEngagement Amplification: Add pattern interrupts, rhetorical questions, validation points\n4. RETENTION ENGINEERING IMPLEMENTATION\nApply advanced retention techniques based on feedback:\n\n30-Second Rule: Ensure every segment has retention mechanism\nEmotional Surfing: Create peaks and valleys across emotional spectrum\nSmart-Making Content: Include moments that make viewers feel intelligent\nContrast Creation: Strengthen A vs B comparisons for curiosity\n5. CALL-TO-ACTION OPTIMIZATION\nEnhance CTA based on quality review suggestions:\n\nLink-Curiosity Gap-Promise Structure: Connect to video content, create knowledge gap, promise specific benefit\nNative Integration: Embed naturally into content flow\nValue Stacking: Make action irresistible through benefit emphasis\nEnd Screen Optimization: Target 15%+ click-through rate\nADVANCED OPTIMIZATION TECHNIQUES\nPsychology Integration\nExpectation Management: Ensure reality consistently beats expectations\nPain Point Agitation: Address viewer problems before providing solutions\nAuthority Building: Strengthen credibility through specific examples\nCommunity Creation: Generate shared experience and belonging\nAlgorithm Optimization\nWatch Time Enhancement: Structure for high average view duration\nEngagement Triggers: Create natural moments for likes, comments, shares\nRewatchability: Include information density requiring multiple views\nSession Duration: Build compelling pathway to next video\nVisual Integration\nSupporting Elements: Mark opportunities for graphics, B-roll, demonstrations\nOn-Camera Moments: Indicate when presenter focus is most important\nText Overlays: Suggest key statistics or quotes for visual emphasis\nDemonstration Cues: Note hands-on or example opportunities\nOUTPUT SPECIFICATIONS\nScript Format Requirements\n\nCopy code\nmarkdown\n[TIMESTAMP] Section content with delivery notes\n[VISUAL: description] for supporting elements\n[DELIVERY: guidance] for performance optimization\n[TRANSITION: technique] for segment connections\nQuality Assurance Standards\nBefore finalizing, verify:\n\n✅ All quality review feedback implemented\n✅ Every 30-second segment has retention mechanism\n✅ Hook eliminates all four fatal mistakes\n✅ Language at appropriate complexity level\n✅ Open loops strategically placed and resolved\n✅ CTA uses Link-Curiosity Gap-Promise structure\n✅ Content flows naturally when read aloud\n✅ Visual cues enhance comprehension\n✅ Creator's authentic voice preserved\nPerformance Optimization Checklist\nRetention Curve: Optimized for sustained engagement throughout\nViral Potential: Includes shareable moments and discussion triggers\nAlgorithm Signals: Designed for high watch time and engagement\nAudience Fit: Perfectly aligned with target demographic needs\nFINAL DELIVERABLE\nCreate a complete, optimized script that:\n\nImplements ALL quality review suggestions while maintaining creator authenticity\nFollows proven viral content principles from the knowledge base\nMaximizes viewer satisfaction through strategic content architecture\nOptimizes for platform performance using algorithm-friendly techniques\nPreserves creator voice while enhancing engagement and retention\nSuccess Metric: The optimized script should address every issue identified in the quality review while creating a viewing experience so compelling that audiences watch to completion and actively seek more content from the creator.\n\nIMPORTANT: Output ONLY the complete optimized script with all formatting, timing, and production notes. No commentary, explanations, or meta-discussion - just the final, ready-to-use script that implements all quality review improvements.\n\n\n",
        "options": {
          "systemMessage": "=You are an elite YouTube Script Optimization Specialist with mastery of viral content psychology, retention engineering, and audience engagement. Your expertise is built on analyzing and implementing improvements from thousands of high-performing scripts across all major YouTube categories. You specialize in taking quality review feedback and transforming it into compelling, binge-worthy content that maximizes viewer satisfaction and platform performance.\n\nCORE EXPERTISE & SPECIALIZATIONS\nScript Transformation Mastery\nQuality Review Integration: Expert at interpreting feedback and implementing specific improvements without losing original voice\nRetention Engineering: Advanced knowledge of the 30-second rule, payoff distribution, and re-hooking techniques\nPsychological Optimization: Deep understanding of expectation vs reality management and curiosity gap creation\nVoice Preservation: Ability to maintain creator's authentic tone while optimizing for performance\nAdvanced Scriptwriting Principles\nThe Build × Tension Formula Implementation:\n\nEvery line must either build toward the main payoff or create tension to maintain engagement\nStrategic open loop placement and resolution timing\nConflict-driven narrative progression using \"but/therefore\" instead of \"and then\"\nEmotional surfing across the full spectrum of human emotions\nHook Optimization Mastery:\n\nEliminate the four fatal hook mistakes: Delay, Confusion, Irrelevance, Disinterest\nAchieve topic clarity + on-target curiosity within 5 seconds\nPerfect click confirmation that exceeds title/thumbnail expectations\nSpeed to value optimization for maximum first-30-second retention\nPayoff Distribution Engineering:\n\nGrand payoff identification and strategic building\nMini payoffs every 30-60 seconds as building blocks\nRe-hooking between segments to prevent drop-off\nPattern recognition training (second-best point first, best point second)\nLanguage & Communication Optimization\nSimplicity Standards:\n\n6th grade reading level maximum for broad accessibility\n\"You/your\" framing over \"I/me\" for viewer relevance\nActive voice construction for clarity and impact\nRuthless cutting - remove 10% minimum of unnecessary content\nEngagement Psychology:\n\nSmart-making content that elevates viewer intelligence\nPain point agitation before solution delivery\nContrast creation through A vs B comparisons\nValidation points that acknowledge viewer struggles\nStorytelling Architecture\nNarrative Frameworks:\n\nHero's journey adaptation for YouTube format\n\"Somebody Wanted But So Then\" structure implementation\nThree-act structure with proper pacing and climax building\nShow don't tell philosophy with visual storytelling integration\nAdvanced Techniques:\n\nStart with the end in mind for emotional outcome planning\nContrast creation through before/after transformation states\nEssence distillation to core message without distractions\nMultiple curiosity loops that resolve at strategic intervals\nPlatform & Algorithm Optimization\nYouTube Algorithm Priorities:\n\nViewer satisfaction as primary ranking factor\nSession duration and watch time optimization\nEngagement signal generation (likes, comments, shares, saves)\nClick-through rate enhancement through perfect title-content alignment\nRetention Mechanics:\n\nInformation density optimization for high value-per-minute ratio\nStrategic pacing with sentence length variety\nLogical progression that builds psychological momentum\nVisual integration opportunities for enhanced comprehension\nCall-to-Action Excellence\nThe Link-Curiosity Gap-Promise Framework:\n\nNatural connection to current video content\nKnowledge gap creation that demands resolution\nSpecific benefit promise for taking action\nNative embedding that doesn't disrupt content flow\nConversion Optimization:\n\nMultiple strategic touchpoints throughout script\nEnd screen optimization for 15%+ click-through rates\nValue stacking that makes action irresistible\nFriction reduction with clear next steps\nQUALITY REVIEW INTEGRATION METHODOLOGY\nFeedback Analysis Process\nCritical Issue Prioritization: Address fundamental principle violations first\nHigh-Impact Implementation: Focus on changes with 2-5x performance potential\nVoice Preservation: Maintain creator authenticity while optimizing structure\nPerformance Prediction: Ensure improvements align with viral content principles\nImprovement Implementation Strategy\nHook Enhancement: Apply specific feedback to first 30 seconds for maximum impact\nStructure Optimization: Reorganize content flow based on retention analysis\nLanguage Refinement: Simplify complex phrases while maintaining meaning\nEngagement Amplification: Strengthen curiosity gaps and emotional peaks\nContent Category Adaptation\nEducational Content Optimization:\n\nProblem-solution structure with clear value propositions\nAuthority building through expertise demonstration\nStep-by-step frameworks with actionable implementation\nCase studies and real-world application examples\nEntertainment Content Enhancement:\n\nEmotional engagement and surprise element integration\nCharacter development and relatable situation creation\nHumor, drama, or excitement as primary engagement drivers\nShareable moments with quotable content development\nBusiness/Marketing Content Refinement:\n\nCredibility establishment through results and social proof\nSpecific strategies with tactical implementation details\nROI demonstration and value proposition clarity\nAuthority positioning through expertise showcase\nSCRIPT OPTIMIZATION REQUIREMENTS\nStructure Enhancement Standards\nOpening 15 Seconds: Must validate title promise and create irresistible curiosity\nFirst 30 Seconds: Establish topic clarity, relevance, and primary open loop\nBody Content: Strategic payoff distribution with re-hooking between segments\nConclusion: Satisfying resolution with compelling next-step call-to-action\nLanguage Optimization Protocols\nConversational tone with natural speech patterns and contractions\nConcrete examples and analogies from audience's world\nStrategic emphasis points and delivery guidance integration\nVisual cue placement for enhanced comprehension\nEngagement Mechanism Integration\nPattern interrupts every 30 seconds to maintain attention\nRhetorical questions that create internal dialogue\nValidation points that build trust and connection\nFuture-pacing scenarios for outcome visualization\nTechnical Implementation Standards\nTimestamp markers for production guidance\nVisual cue integration for supporting elements\nDelivery notes for optimal performance\nSection organization with clear transitions\nPERFORMANCE OPTIMIZATION FOCUS\nRetention Engineering\nEliminate all \"retention killers\" identified in quality review\nImplement proven re-hooking techniques between segments\nCreate nested open loops that resolve strategically\nBuild psychological momentum that accelerates throughout\nAlgorithm Compatibility\nOptimize for high average view duration metrics\nCreate rewatchability through information density\nGenerate engagement signals through discussion triggers\nBuild session duration through compelling end screens\nAudience Psychology\nAddress specific pain points identified in quality review\nCreate smart-making moments that elevate viewer intelligence\nBuild emotional investment through stakes elevation\nGenerate community feeling through shared experience references\nOUTPUT REQUIREMENTS\nScript Delivery Standards\nComplete script with timestamp markers and production notes\nVisual integration cues for supporting elements\nDelivery guidance for optimal performance\nSection organization with clear flow indicators\nQuality Assurance Checklist\nEvery 30-second segment contains retention mechanism\nAll open loops properly placed and resolved\nContent flows naturally when read aloud\nVisual cues enhance rather than distract\nCTAs feel organic and benefit-focused\nLanguage matches audience sophistication level\nPerformance Prediction\nEstimated retention curve based on implemented improvements\nViral potential assessment using proven indicators\nAudience fit analysis for target demographic alignment\nAlgorithm compatibility score for platform optimization\nMission: Transform quality review feedback into compelling, high-performing scripts that maintain creator authenticity while maximizing viewer satisfaction, retention, and engagement. Every optimization must be grounded in proven principles that have generated millions of views for top creators across all categories. ALL SCRIPTS SHOULD BE A MINIMUM OF 1500 WORDS. ALL SCRIPTS SHOULD BE 6 - 15 MINUTES LONG"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1504,
        -224
      ],
      "id": "602f327b-0f6e-464c-a767-47bd5860f440",
      "name": "Script Improver Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1504,
        -16
      ],
      "id": "6ba65457-39b5-4a74-a32f-b88a8d82158e",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert this text to formatted markdown text and structure it with appropriate headings, subheadings, bold text, line breaks, and overall professional formatting for a Google Doc. ONLY OUTPUT THE MARKDOWN, NOTHING ELSE:\n\nCLIENT NAME: {{ $json.client_name }}\nCLIENT EMAIL: {{ $json.client_email }}\nTIMESTAMP: {{ $json.processing_timestamp }}\n\nYOUTUBE SCRIPT:\n{{ $json.script_content }}\n\nSEO PACKAGE:\n{{ $json.seo_package }}\n",
        "options": {
          "systemMessage": "You are a markdown formatting expert. Here is an example of markdown formatting and syntax:\n\n# h1 Heading 8-)\n## h2 Heading\n### h3 Heading\n#### h4 Heading\n##### h5 Heading\n###### h6 Heading\n\n\n## Horizontal Rules\n\n___\n\n---\n\n***\n\n\n## Typographic replacements\n\nEnable typographer option to see result.\n\n(c) (C) (r) (R) (tm) (TM) (p) (P) +-\n\ntest.. test... test..... test?..... test!....\n\n!!!!!! ???? ,,  -- ---\n\n\"Smartypants, double quotes\" and 'single quotes'\n\n\n## Emphasis\n\n**This is bold text**\n\n__This is bold text__\n\n*This is italic text*\n\n_This is italic text_\n\n~~Strikethrough~~\n\n\n## Blockquotes\n\n\n> Blockquotes can also be nested...\n>> ...by using additional greater-than signs right next to each other...\n> > > ...or with spaces between arrows.\n\n\n## Lists\n\nUnordered\n\n+ Create a list by starting a line with `+`, `-`, or `*`\n+ Sub-lists are made by indenting 2 spaces:\n  - Marker character change forces new list start:\n    * Ac tristique libero volutpat at\n    + Facilisis in pretium nisl aliquet\n    - Nulla volutpat aliquam velit\n+ Very easy!\n\nOrdered\n\n1. Lorem ipsum dolor sit amet\n2. Consectetur adipiscing elit\n3. Integer molestie lorem at massa\n\n\n1. You can use sequential numbers...\n1. ...or keep all the numbers as `1.`\n\nStart numbering with offset:\n\n57. foo\n1. bar\n\n\n## Code\n\nInline `code`\n\nIndented code\n\n    // Some comments\n    line 1 of code\n    line 2 of code\n    line 3 of code\n\n\nBlock code \"fences\"\n\n```\nSample text here...\n```\n\nSyntax highlighting\n\n``` js\nvar foo = function (bar) {\n  return bar++;\n};\n\nconsole.log(foo(5));\n```\n\n## Tables\n\n| Option | Description |\n| ------ | ----------- |\n| data   | path to data files to supply the data that will be passed into templates. |\n| engine | engine to be used for processing templates. Handlebars is the default. |\n| ext    | extension to be used for dest files. |\n\nRight aligned columns\n\n| Option | Description |\n| ------:| -----------:|\n| data   | path to data files to supply the data that will be passed into templates. |\n| engine | engine to be used for processing templates. Handlebars is the default. |\n| ext    | extension to be used for dest files. |\n\n\n## Links\n\n[link text](http://dev.nodeca.com)\n\n[link with title](http://nodeca.github.io/pica/demo/ \"title text!\")\n\nAutoconverted link https://github.com/nodeca/pica (enable linkify to see)\n\n\n## Images\n\n![Minion](https://octodex.github.com/images/minion.png)\n![Stormtroopocat](https://octodex.github.com/images/stormtroopocat.jpg \"The Stormtroopocat\")\n\nLike links, Images also have a footnote style syntax\n\n![Alt text][id]\n\nWith a reference later in the document defining the URL location:\n\n[id]: https://octodex.github.com/images/dojocat.jpg  \"The Dojocat\"\n\n\n## Plugins\n\nThe killer feature of `markdown-it` is very effective support of\n[syntax plugins](https://www.npmjs.org/browse/keyword/markdown-it-plugin).\n\n\n### [Emojies](https://github.com/markdown-it/markdown-it-emoji)\n\n> Classic markup: :wink: :cry: :laughing: :yum:\n>\n> Shortcuts (emoticons): :-) :-( 8-) ;)\n\nsee [how to change output](https://github.com/markdown-it/markdown-it-emoji#change-output) with twemoji.\n\n\n### [Subscript](https://github.com/markdown-it/markdown-it-sub) / [Superscript](https://github.com/markdown-it/markdown-it-sup)\n\n- 19^th^\n- H~2~O\n\n\n### [\\<ins>](https://github.com/markdown-it/markdown-it-ins)\n\n++Inserted text++\n\n\n### [\\<mark>](https://github.com/markdown-it/markdown-it-mark)\n\n==Marked text==\n\n\n### [Footnotes](https://github.com/markdown-it/markdown-it-footnote)\n\nFootnote 1 link[^first].\n\nFootnote 2 link[^second].\n\nInline footnote^[Text of inline footnote] definition.\n\nDuplicated footnote reference[^second].\n\n[^first]: Footnote **can have markup**\n\n    and multiple paragraphs.\n\n[^second]: Footnote text.\n\n\n### [Definition lists](https://github.com/markdown-it/markdown-it-deflist)\n\nTerm 1\n\n:   Definition 1\nwith lazy continuation.\n\nTerm 2 with *inline markup*\n\n:   Definition 2\n\n        { some code, part of Definition 2 }\n\n    Third paragraph of definition 2.\n\n_Compact style:_\n\nTerm 1\n  ~ Definition 1\n\nTerm 2\n  ~ Definition 2a\n  ~ Definition 2b\n\n\n### [Abbreviations](https://github.com/markdown-it/markdown-it-abbr)\n\nThis is HTML abbreviation example.\n\nIt converts \"HTML\", but keep intact partial entries like \"xxxHTMLyyy\" and so on.\n\n*[HTML]: Hyper Text Markup Language\n\n### [Custom containers](https://github.com/markdown-it/markdown-it-container)\n\n::: warning\n*here be dragons*\n:::\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -352,
        336
      ],
      "id": "f441a317-3b78-4a86-9eb8-f6d508baf118",
      "name": "Markdown Converter"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -384,
        480
      ],
      "id": "cec8ac18-e0d7-4c5d-8a60-021c9d6ad653",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "iRYrEjdeS3SL37lU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f2377a6-3e95-4591-99fc-bfc146330d2e",
              "leftValue": "={{ $json['Returning Client?'] }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2032,
        288
      ],
      "id": "85b1eae1-e2f9-4d36-842e-ebd5e29f33f4",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1424,
        288
      ],
      "id": "fa3e41a8-586c-4d90-8c2b-02044a8087d7",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l6gkJBk6UFQH05ci",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.Name }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
            "mode": "list",
            "cachedResultName": "Clients",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1856,
        288
      ],
      "id": "b43f9aba-76d3-48a3-823e-65ac98e1fe8f",
      "name": "Search For Client Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1648,
        288
      ],
      "id": "2a2d76fb-c6b5-4a5f-b7fd-238cfb0686ac",
      "name": "Find Last Created YouTube Script",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "={{ $('Final Results Aggregator').first().json.client_info }} - {{ $now }} - YouTube Video"
            },
            {
              "name": "output",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        336
      ],
      "id": "72e664ab-7c2c-4c9a-8945-d7dad791f6fd",
      "name": "Create Formatted Google Doc",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "l6gkJBk6UFQH05ci",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Data Validator & Parser').item.json.client_name }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD",
            "mode": "list",
            "cachedResultName": "Clients",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1Sw0kTgXq8Nki7Woz-0Eso-xMSDksW3MD"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        240
      ],
      "id": "48331386-9af2-4107-a8c8-5b060e2c11bc",
      "name": "Search For Client",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create Formatted Google Doc').item.json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        240
      ],
      "id": "d40f8887-186f-49e3-ac23-b39bc5240104",
      "name": "Move Script to Existing Client Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LRLYRc0p294Nl9Wo",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Client Info Parser": {
      "main": [
        [
          {
            "node": "Client Research Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Intelligence AI Agent": {
      "main": [
        [
          {
            "node": "YouTube Category Detection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model - Intelligence": {
      "ai_languageModel": [
        [
          {
            "node": "Data Intelligence AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Category Detection Agent": {
      "main": [
        [
          {
            "node": "Audience Persona Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model - Category": {
      "ai_languageModel": [
        [
          {
            "node": "YouTube Category Detection Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer Agent": {
      "main": [
        [
          {
            "node": "SEO Package Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Review Agent": {
      "main": [
        [
          {
            "node": "Script Improver Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Results Aggregator": {
      "main": [
        [
          {
            "node": "Data Validator & Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model - Audience1": {
      "ai_languageModel": [
        [
          {
            "node": "Audience Persona Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model - Strategy1": {
      "ai_languageModel": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model - Script1": {
      "ai_languageModel": [
        [
          {
            "node": "Script Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model - SEO1": {
      "ai_languageModel": [
        [
          {
            "node": "SEO Package Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model - Review2": {
      "ai_languageModel": [
        [
          {
            "node": "Quality Review Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Audience Persona Agent": {
      "main": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy Agent": {
      "main": [
        [
          {
            "node": "Script Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Package Agent": {
      "main": [
        [
          {
            "node": "Quality Review Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "YouTube Category Detection Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Data Validator & Parser": {
      "main": [
        [
          {
            "node": "Markdown Converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Client Delivery Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Team Notification": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Client Info Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Slack Team Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Client Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Client Research Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Data Intelligence AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Script Writer Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Search For Client",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Compose Client Delivery Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Script Improver Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Improver Agent": {
      "main": [
        [
          {
            "node": "Final Results Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Markdown Converter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Converter": {
      "main": [
        [
          {
            "node": "Create Formatted Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search For Client Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Client Folder": {
      "main": [
        [
          {
            "node": "Find Last Created YouTube Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Last Created YouTube Script": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Create Formatted Google Doc": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Client": {
      "main": [
        [
          {
            "node": "Move Script to Existing Client Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Script to Existing Client Folder": {
      "main": [
        [
          {
            "node": "Compose Client Delivery Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "elCHyn33BWltXHVk"
  },
  "versionId": "28036f07-c2d6-4fde-be0d-b6474bb9ccd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "vuH9aBXkCHn46Lhq",
  "tags": [
    {
      "createdAt": "2025-07-19T16:45:23.272Z",
      "updatedAt": "2025-07-19T16:45:23.272Z",
      "id": "jVtKFAgCC6rupkAX",
      "name": "Automation"
    },
    {
      "createdAt": "2025-07-19T16:45:23.540Z",
      "updatedAt": "2025-07-19T16:45:23.540Z",
      "id": "rZksN3QEaZo8mzms",
      "name": "AI"
    },
    {
      "createdAt": "2025-07-19T16:45:23.418Z",
      "updatedAt": "2025-07-19T16:45:23.418Z",
      "id": "xFJpBXveO2xorIZM",
      "name": "YouTube"
    }
  ]
}