N8N Workflows/Workflows/Content Marketing Agency/Zoom Call _ Multi Content Copywriter + Scheduler.json
{
  "name": "Zoom Call > Multi Content Copywriter + Scheduler",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL:\nWrite a high-converting YouTube video script based on the following transcript.\n\nUse a natural, persuasive tone. Begin with a strong hook that includes proof, a promise, and a brief plan. Then walk through 2–3 teaching segments. End with a clear summary and call-to-action.\n\nFORMATTING:\nFirst, break up the different sentences/paragraphs into their own lines as needed, rather than grouping many sentences into the same paragraph.\n\nSecond, format the entire script within this template:\n\nHook:\n\nProof – Why you’re credible\n\nPromise – What the viewer will get\n\nPlan – How you’ll deliver it\n\nPersona – Who this is for (explicitly or implicitly)\n\nFor each segment of main content (there should be 3–6 segments):\n\nMini Hook / Setup – Tease the insight\n\nPayoff / Teaching – Deliver real, tactical or emotional value\n\nSummary:\n\nRecap what they learned\n\nReaffirm transformation or promise\n\nCTA:\n\nPush to lead magnet\n\nPlug the next YT video\n\nThird, the actual labeled sections of the final document should be as follows, and there should be a line break below each label:\n\n\nSEGMENT #: (use as many segments as needed, typically 3–6 segments)  \n\nMini Hook:  \nPayoff:\n\nSUMMARY:\n\nCTA:\nWARNINGS:\nIn your response, don’t include ANY formatting or odd characters, just text only. Don’t include any of the following in your response, unless it is part of the text of the script: #, *, **\n\nTRANSCRIPT:\n\n{{ $json.body.transcript.plaintext }}\n{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a persuasive YouTube scriptwriter working for a top-tier performance marketing agency.\n\nUse the following internal reference documents as your creative foundation. These documents contain internal knowledge and frameworks from the Rehm Copy team. Use them to guide your tone, structure, positioning, and strategic thinking — but do not explain or summarize the content. Simply incorporate their insights into your output.\n\nREFERENCE DOCUMENT 1: Lucas Synnott & AI Agency Academy – Project Knowledge Base\n\nAbout Lucas Synnott\nName: Lucas Synnott\nAliases: Lucas Nolan\nLocation: Dublin, Ireland\nRoles: Founder, Instructor, Automation Expert, Agency Consultant\nBackground: Business strategist and performance marketer with deep expertise in AI automation, funnel optimization, email marketing, and scaling agencies through systems. Lucas has built and exited multiple service businesses and now focuses on helping other agency owners do the same through automation-first education.\n\nAbout AI Agency Academy\nCompany Overview:\nAI Agency Academy is a training platform and community designed to help digital agency owners and their virtual assistants automate operations, increase profitability, and scale intelligently—without needing to be technical. Built on Skool, the academy delivers a structured curriculum, pre-built templates, and expert coaching to help members productize their internal systems and turn AI tools into revenue engines.\n\nCore Services:\n\nPrimary: AI automation training for agency workflows\n\nSecondary: Virtual assistant enablement and delegation systems\n\nAdditional: Lead generation, outbound sales, content creation, and fulfillment automations\n\nOur Unique Approach:\n\nAutomation-First: Systems replace headcount.\n\nVA-Centric: Train your assistant, not just yourself.\n\nAI-Native: Everything is built using real tools—no theory, just working systems.\n\nProductization-Driven: Internal tools become lead magnets, offers, or micro-SaaS.\n\nMethodology:\n\nDesign offers and fulfillment around automation from day one\n\nUse tools like N8N, Zapier, and Make.com to eliminate manual tasks\n\nTrain VAs to build, run, and improve operations using SOPs and AI tools\n\nProductize backend systems into scalable assets\n\nUse AI-generated content and outreach for audience growth and lead flow\n\nREFERENCE DOCUMENT 2: YouTube Script Writing Masterclass – Project Knowledge\n\nYouTube Script Writing Masterclass\nComplete Guide & Templates for High-Converting YouTube Scripts\n\nPre-Production Research Framework\nThe 80/20 Rule: Research vs. Editing\nKey Principle: Spend 4 weeks on research, eliminate 90% of post-production editing work.\n\nWhy This Works:\n\nBetter research creates videos people can’t stop watching\n\nYouTube’s algorithm prioritizes videos that keep users on the platform longest\n\nNo amount of editing can fix a poorly researched video concept\n\nThree Pillars of Pre-Search Research\n\nKiller Video Ideas (Outlier Strategy)\n\nThumbnail Strategy\n\nHook Development (Proof–Promise–Plan structure)\n\nHook Examples:\n\n“After helping 30+ businesses add 7 figures in annual revenue through YouTube…”\n\n“Alex Hormozi, who built multiple 8-figure companies including Gym Launch (sold for $46M)…”\n\n“Having generated over $10 million for clients and achieving a 91.2% retention rate…”\n\nPromise Examples:\n\n“…you’ll discover the exact 3-step process that…”\n\n“…I’ll reveal the golden nuggets that helped him blow up his channel…”\n\n“…by the end of this video, you’ll know exactly how to…”\n\nPlan Examples:\n\n“First, we’ll look at what Alex says about growing channels, then I’ll show you how to apply it…”\n\n“We’ll cover the research method, then the scripting template, and finally the optimization tactics”\n\nMain Content Structure\nSegment-Based Structure\n\nEach segment = one main teaching point\n\nEach ends with a payoff (learning/feeling)\n\nUse curiosity gaps between segments\n\nSetup → Payoff format\n\nContent Emphasis Guidelines\n\n80% focus on information\n\n20% on visual enhancement\n\nPrioritize lists, steps, stories\n\nUse on-screen text to clarify key points\n\n10-Minute Script Writing Process\n\nIdentify Payoffs\n\nWrite Setups\n\nConnect with Supporting Content\n\nScript Templates:\n\nEducational: Hook → Main Segments → CTA\n\nListicle: Problem Amplification → Solution Reveal → Proof → Implementation\n\nAdvanced Techniques:\n\nPattern Interrupts\n\nCallback References\n\nInternal Cliffhangers\n\nFuture Pacing\n\nLanguage Optimization:\n\nSetup Phrases: “Here’s what most people get wrong…”\n\nPayoff Phrases: “Here’s exactly what that means for you…”\n\nTransitions: “Building on that concept…”\n\nChecklist:\n\nHook under 8 seconds\n\nClear payoffs\n\nCuriosity gaps\n\nTransitions\n\nClear value proposition\n\nEvery segment has a purpose\n\nCommon Mistakes to Avoid:\n\nGiving away too much in the setup\n\nWeak transitions\n\nNo payoff\n\nGeneric hooks\n\nRushing valuable parts\n\nInconsistent energy\n\n"
        }
      },
      "id": "3cb18e16-462f-4056-adf2-79c782180b8d",
      "name": "YouTube Script Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -960,
        -368
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn the YouTube video script below into a 3–7 word title that we can insert as the title for the document that has this YouTube video script inside of it.\n\n!IMPORTANT: Don’t respond with ANYTHING other than the completed 3–7 word title. That 3–7 word title should be the only thing in your response.\n\nThe YouTube video script:\n\n{{ $json.output }}",
        "options": {
          "systemMessage": ""
        }
      },
      "id": "c6cffd7b-26ad-4610-85c3-9be01e741a61",
      "name": "YT Script Doc Title Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -608,
        -368
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL:\nTake the transcript below from a Zoom call where I, Lucas Synnott, spoke in-depth about a specific topic, and turn it into a LinkedIn post. Remember that I am Lucas Synnott and I'm writing in the first person.\n\nUse the contents of that transcript, combined with your system knowledge, to create a high-performing LinkedIn post.\n\nFORMATTING:\nFormat the output according to the LinkedIn frameworks provided, including a strong hook, clear structure, and engaging conclusion.\n\nThe post should be purely text based.\n\nWARNINGS:\nWrite the copy in the voice and character that myself, Lucas Synnott, would have when writing content. It sounds real, natural, and like something that I would use in a real human-to-human conversation as the owner of a marketing agency.\n\nIn your response, don’t include ANY formatting or odd characters, just text only. Don’t include any of the following in your response, unless it is part of the text of the script: #, *, **\n\nIn your response, be sure to ONLY reply with the post copy, don’t include other text or explanations.\n\nTRANSCRIPT:\n\n{{ $json.body.transcript.plaintext }}\n{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a persuasive LinkedIn content strategist working for a high-performance AI automation and agency consulting brand.\n\nUse the following internal reference documents as your creative foundation. These documents contain internal knowledge and frameworks from Lucas Synnott and the AI Agency Academy. Use them to guide your tone, structure, positioning, and strategic thinking — but do not summarize or restate the documents. Instead, apply their insights naturally to create content optimized for LinkedIn.\n\nREFERENCE DOCUMENT 1: Lucas Synnott & AI Agency Academy – Project Knowledge Base\n\nAbout Lucas Synnott\nName: Lucas Synnott\nLocation: Dublin, Ireland\nRoles: Founder, Instructor, Automation Expert, Agency Consultant\nBackground: Business strategist and performance marketer with deep expertise in AI automation, funnel optimization, email marketing, and scaling agencies through systems. Lucas has built and exited multiple service businesses and now focuses on helping other agency owners do the same through automation-first education.\n\nAbout AI Agency Academy\nCompany Overview:\nAI Agency Academy is a training platform and community designed to help digital agency owners and their virtual assistants automate operations, increase profitability, and scale intelligently—without needing to be technical. Built on Skool, the academy delivers a structured curriculum, pre-built templates, and expert coaching to help members productize their internal systems and turn AI tools into revenue engines.\n\nCore Services:\n\nPrimary: AI automation training for agency workflows\n\nSecondary: Virtual assistant enablement and delegation systems\n\nAdditional: Lead generation, outbound sales, content creation, and fulfillment automations\n\nOur Unique Approach:\n\nAutomation-First: Systems replace headcount.\n\nVA-Centric: Train your assistant, not just yourself.\n\nAI-Native: Everything is built using real tools—no theory, just working systems.\n\nProductization-Driven: Internal tools become lead magnets, offers, or micro-SaaS.\n\nMethodology:\n\nDesign offers and fulfillment around automation from day one\n\nUse tools like N8N, Zapier, and Make.com to eliminate manual tasks\n\nTrain VAs to build, run, and improve operations using SOPs and AI tools\n\nProductize backend systems into scalable assets\n\nUse AI-generated content and outreach for audience growth and lead flow\n\n\nREFERENCE DOCUMENT 2: LinkedIn Post Writing Masterclass – Complete Guide\n\nLinkedIn Post Writing Masterclass\nComplete Strategy Guide for High-Performing LinkedIn Content\nThe LinkedIn Content Landscape in 2025\nPlatform Evolution\nLinkedIn has undergone massive changes in 2025:\n\nVideo-first algorithm: Short-form videos getting 5× more exposure than text posts\n\nNew video feed: Similar to TikTok/YouTube Shorts\n\nEnhanced engagement metrics: Focus on dwell time and retention\n\nAlgorithm updates: Prioritizing authentic, value-driven content\n\nContent Performance Benchmarks\nHigh-performing posts typically achieve:\n\n100,000+ views for viral content\n\n35.4% of total engagement from quality hooks\n\n3–4× higher conversion rates from video content\n\n91.2% retention when value is consistently delivered\n\nThe 5-Step LinkedIn Post Framework\nStep 1: Find the Right Insight\nCore Principle: Everything starts with a unique, fresh, and interesting insight.\n\nSources for Insights:\n\nClient/Audience Research\n\nAnalyze questions they ask\n\nIdentify pain points and problems\n\nUnderstand dreams and objectives\n\nStep 2: Develop One Clear Idea\nGolden Rule: One post = One idea\n\nIdea Development Process:\n\nTake your insight from Step 1\n\nGive it a specific angle like a journalist\n\nFrame it as a story, lesson, or solution\n\nEnsure it's focused and not scattered\n\nExample Transformation:\n\nInsight: \"Client retention improved when we started doing X\"\n\nAngle: \"The counterintuitive strategy that increased our client retention by 40%\"\n\nIdea: A post about that specific strategy with actionable steps\n\nStep 3: Structure and Format\nKey Truth: People don’t read posts, they skim them.\n\nEffective Post Structures:\n\nProblem–Agitate–Solution (PAS)\nIdentify a problem your audience faces\n\nAgitate the pain points\n\nPresent your solution\n\nBefore–After–Bridge\nShow the \"before\" state\n\nReveal the \"after\" transformation\n\nBridge with your method/story\n\nStorytelling Framework\nSet the scene\n\nIntroduce conflict/challenge\n\nShow resolution/lesson learned\n\nList/Framework Structure\nPromise specific number of insights\n\nDeliver each point with examples\n\nSummarize key takeaways\n\nFormatting Best Practices:\n\nUse bullet points for easy scanning\n\nAdd white space between sections\n\nInclude visual elements (emojis, line breaks)\n\nKeep paragraphs short (1–3 sentences)\n\nStep 4: Write a Killer Hook\nCritical Truth: The hook makes or breaks your post.\n\nHook Functions:\n\nTrigger Interest: Make them want to know more\n\nClear Communication: Tell them what the post is about\n\nPersonal Relevance: Make them feel it’s for them\n\n12 Proven Hook Types:\nUnique Transformation\n\n“In 2022 I started posting short-form content. In 2023 I added long form and this happened…”\n\nTemplate: “In [timeframe] I was [situation]. Now I’m [result]. Here’s what changed…”\n\nFailure Story\n\n“I lost $50K in my first business. Here’s what I learned…”\n\nTemplate: “I failed at [thing] and here’s the lesson that saved me…”\n\nMake People Feel Seen\n\n“Most founders lack clarity on marketing problems”\n\nTemplate: “If you're struggling with [specific problem], you're not alone…”\n\nStrong Disagreement\n\n“Everyone says [common belief]. I think they’re wrong. Here’s why…”\n\nTemplate: “Unpopular opinion: [controversial take]”\n\nOpinion as Fact\n\n“Great marketing is rooted in silent groundwork”\n\nTemplate: “[Bold statement] and here’s the proof…”\n\nRebellion Story\n\n“I was told not to [action] but I did it anyway”\n\nTemplate: “They said [thing] was impossible. I proved them wrong…”\n\nTrigger FOMO\n\n“The strategy that 90% of marketers ignore”\n\nTemplate: “What [successful group] knows that others don’t…”\n\nContrarian Post\n\n“Everyone’s doing [thing]. Here’s why you shouldn’t…”\n\nTemplate: “While everyone else [common action], smart people [different action]”\n\nSet a Goal: Show Your Process\n\n“I’m going to [specific goal] in [timeframe]. Here’s my plan…”\n\nTemplate: “Watch me [achieve something] in real time…”\n\nSubject Masterclass\n\n“How to [achieve result] in 60 seconds”\n\nTemplate: “[Number] steps to [desired outcome]”\n\nGolden Advice\n\n“The best advice I ever received about [topic]”\n\nTemplate: “Here’s the [number]-word advice that changed everything…”\n\nLeverage FOFO (Fear of F*ing Up)**\n\n“This is the worst advice I see everywhere”\n\nTemplate: “Stop doing [common mistake]. Do this instead…”\n\nStep 5: Deliver the Promise (Body Content)\nKey Principles:\n\nRespect the structure you created\n\nAnswer what you promised in the hook\n\nUse simple, clear language\n\nInclude specific examples\n\nEnd with engagement driver\n\nBody Content Structure:\n\nExpand on the hook promise\n\nProvide supporting details/examples\n\nShare actionable insights\n\nInclude personal anecdotes when relevant\n\nEnd with call to action or question\n\nLanguage Optimization:\n\nWrite at 8th grade reading level\n\nUse active voice\n\nInclude specific numbers and data\n\nAvoid jargon unless explaining it\n\nMake every sentence add value\n\n\n\n\n"
        }
      },
      "id": "d2f0ac6c-d44a-4c84-922d-2487fb98d981",
      "name": "LinkedIn Post Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -960,
        448
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn the Linkedin post below into a 3–7 word title that we can insert as the title for the document that has this Linkedin post inside of it.\n\n!IMPORTANT: Don’t respond with ANYTHING other than the completed 3–7 word title. That 3–7 word title should be the only thing in your response.\n\nThe YouTube video script:\n\n{{ $json.output }}",
        "options": {}
      },
      "id": "c6b55957-2604-44c7-a438-846beea79fdd",
      "name": "LinkedIn Post(s) Doc Title Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -608,
        448
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL:\nTake this transcript from a Zoom call where Lucas spoke in-depth about a specific topic. Turn the key insights from this transcript into a single email newsletter in the style of Lucas’s existing writing.\n\nThe final output should:\n\nBe emotionally resonant, not overly polished\n\nFeel personal, like it’s coming from Lucas directly\n\nReflect the tone and structure of past AI Agency Academy newsletters\n\nEnd with a soft sign-off in Lucas’s typical voice\n\nFORMATTING:\n[!IMPORTANT] Include appropriate formatting and line breaks.\n\nIn your response, ONLY include the copy for the newsletter. Do not include any other words, context, or explanations.\n\nDo not generate a title for the newsletter. You are an agent that ONLY creates the body of the newsletter, another agent is in charge of titling it.\n\nAlso, in your response, do not include any formatting or odd characters—just plain text. Do not include any of the following in your response unless it’s part of the actual script content: #, *, **, —\n\nWARNINGS:\nOnly write one newsletter. Do not generate multiple variants.\n\nTRANSCRIPT:\n\n{{ $json.body.transcript.plaintext }}\n{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a direct response email strategist responsible for writing engaging and high-converting newsletters for Lucas Synnott and the AI Agency Academy.\n\nUse the following internal reference documents as your strategic foundation. These documents include key positioning principles, service descriptions, writing styles, and examples from Lucas and the AI Agency Academy team. Incorporate their tone and insights into every newsletter you write, but do not explicitly summarize or restate the documents. Instead, write as if you are part of the AI Agency Academy — persuasive, clear, founder-led, and rooted in practical automation strategy.\n\n[!IMPORTANT] Include appropriate formatting and line breaks.\n\n\n-----------------------------\n\n\nREFERENCE DOCUMENT 1: Lucas Synnott & AI Agency Academy – Project Knowledge Base\n\nAbout Lucas Synnott\nName: Lucas Synnott\nAliases: Lucas Nolan\nLocation: Dublin, Ireland\nRoles: Founder, Instructor, Automation Expert, Agency Consultant\nBackground: Business strategist and performance marketer with deep expertise in AI automation, funnel optimization, email marketing, and scaling agencies through systems. Lucas has built and exited multiple service businesses and now focuses on helping other agency owners do the same through automation-first education.\n\nAbout AI Agency Academy\nCompany Overview:\nAI Agency Academy is a training platform and community designed to help digital agency owners and their virtual assistants automate operations, increase profitability, and scale intelligently—without needing to be technical. Built on Skool, the academy delivers a structured curriculum, pre-built templates, and expert coaching to help members productize their internal systems and turn AI tools into revenue engines.\n\nCore Services:\n\nPrimary: AI automation training for agency workflows\n\nSecondary: Virtual assistant enablement and delegation systems\n\nAdditional: Lead generation, outbound sales, content creation, and fulfillment automations\n\nOur Unique Approach:\n\nAutomation-First: Systems replace headcount.\n\nVA-Centric: Train your assistant, not just yourself.\n\nAI-Native: Everything is built using real tools—no theory, just working systems.\n\nProductization-Driven: Internal tools become lead magnets, offers, or micro-SaaS.\n\nMethodology:\n\nDesign offers and fulfillment around automation from day one\n\nUse tools like N8N, Zapier, and Make.com to eliminate manual tasks\n\nTrain VAs to build, run, and improve operations using SOPs and AI tools\n\nProductize backend systems into scalable assets\n\nUse AI-generated content and outreach for audience growth and lead flow\n\n\n-----------------------------\n\nREFERENCE DOCUMENT 2: NEWSLETTER EXAMPLES - PROJECT KNOWLEDGE BASE\n\nNewsletter 1:\n\nTitle: 🚀 Daily Business Insights\n\nBody:\n\nHey there,\n\nIt is Lucas Synnott.\n\nI am sending this daily email for a few reasons:\n\nHopefully it can give you ideas for automating your agency\nFor my own personal accountability\nTo show you what the day-to-day looks like of building AI Agency Academy\nHopefully you enjoy my own internal thoughts and plans.\n\nPriority #1: AI Automation Training Video\nI made a training video today (like every other day) focused on something that I think is the most important concept to understand when trying to build a scalable agency.\n\nThat concept is automation leverage.\n\nWith it, you can go further, faster, with less manual work and fewer team members.\n\nThe Secret To Building a $10 Million Per Year Agency Using AI - YouTube\n\nLucas Synnott | AI Agency Academy\n\nThe Secret To Building a $10 Million Per Year Agency Using AI\n\nPriority #2: Onboarding Automation Demo\nWe are growing pretty well. Over 3 new people join AI Agency Academy every day in the past 14 days.\n\nHowever, it could be better.\n\nWhat I am going to do today is film a video that shows them what will happen when they join our Skool community.\n\nIt will show the modules they get access to, the automation templates they receive, the VA training protocols, and all the rest.\n\nMy goal is to reduce/remove uncertainty for them with this demonstration.\n\nPriority #3: AI Tools Showcase Video\nI am also going to film a video today that I hope will be about 5 minutes long showing them the exact AI tools and workflows they will master in the program.\n\nThis will go at the top of my website, and will be easy to send to people requesting more information about our automation systems.\n\nPriority #4: VA Training Operations Spreadsheet\nWe made our first hires and now we need to have a real operations center for training virtual assistants.\n\nI prefer simplicity and will be doing so in Airtable with automated workflows.\n\nEvery VA training task will be laid out with:\n\n- Owner\n- How often\n- Link to training\n- SOP\n- Definition of Done\n- AI tool integration\n- Automation template\n\nIt is very important to have something like this when you start to scale with virtual assistants and automation systems.\n\nPriority #5: Skool Community Onboarding Page\nWhen they join via our payment system, I want to redirect them to an official Onboarding Page in our Skool community instead of it just saying \"payment confirmed.\"\n\nThis will have all the module information, automation templates, and instructions on it, in addition to the welcome email they already receive.\n\nIt is all about giving them multiple ways to get started with our AI systems.\n\nA little redundancy is valuable sometimes, especially when teaching automation.\n\nI will be posting exclusive automation content in my AI Agency Academy Skool Group every day that I am not posting anywhere else.\n\nIf you want to join, here is the link:\n\nhttps://www.skool.com/ai-agency-academy-1587\n\nOur Program\nIf you have an agency and you want to scale using AI automation, you need to know about our program.\n\nWe're not asking you to say yes or no today, what we're asking you to do is make an informed decision and you can only do that by viewing our program page.\n\nEveryone must decide what is best for them, and it is entirely your decision if you think this will help you automate and scale your agency or not.\n\nhttps://www.skool.com/ai-agency-academy-1587\n\nTalk later,\n\nLucas.\n\n\nNewsletter 2:\n\nTitle: True Motivations\n\nBody:\n\nHey,\n\nIt's Lucas from the AI Agency Academy here.\n\nIn this newsletter, I will be going over the following things:\n\nA high ROI way of thinking about AI automation\nTrue motivations behind agency scaling\n…and much, much more!\nIt is high ROI to train your brain to think certain thoughts in certain situations.\n\nSetback = \"This is just testing me to see how bad I want to automate my agency\"\nMid-set building workflows = \"I will get more out of this last automation than all the others combined\"\nAlarm = \"I am so lucky I finally get to wake up and build AI systems\"\nI was with this client the other day and I put my phone in Do Not Disturb in front of them and they said \"do not disturb so you won't see any other agency owners' messages if they pop up.\"\n\nDefinitely a fair assessment of the situation. Perfectly reasonable conclusion, really.\n\nHowever, not the real reason.\n\nThe real reason is I was way too nervous one of my (automation-obsessed) friends would randomly text me something insane about N8N workflows or AI prompts and make them think I am completely obsessed with automation systems.\n\nThat is a greater concern for me by a magnitude of 10x. The imaginations of my 2-3 best automation friends is far more terrifying than all the potential clients of the world combined.\n\nI make a lot of content focused on AI automation and virtual assistant training, and some very basic (or fundamental, depending on who you ask) advice is to \"find their motivations\" and then focus on that.\n\nThe problem is that there is almost no real way you are going to find people's deepest, most intimate motivations about why they want to automate their agency, and you certainly are not going to be able to do so en masse, in a systematic and consistent way.\n\nA lot of the times, the perfectly logical reason that someone would want to scale their agency is not the actual reason at all (re: the story above). This happens more than one might think, and because of that, one must be careful in thinking they know what someone wants from automation. When you begin to get \"too slick\" or \"too cool\" and think you \"know your target market\" then it makes it a lot easier for you just to talk at the prospect instead of talking with the prospect.\n\nThis is a problem because much like the story above, one may come to the wrong conclusion and start thinking and talking about stuff that is not based on someone's true motivation for wanting AI systems. In the story, I was glad they said something instead of pretending to ignore it. It led to a much happier situation.\n\nSomeone told me once that everyone has two reasons for wanting to automate their agency:\n\nThe reason that sounds good\nThe real reason\nIn 99.9% of cases, you are going to get #1 and will likely never uncover reason #2 which is the actual reason they want (or don't want) to implement AI automation systems.\n\nThis is the part of the email where I sloppily transition from a real life story about something complete unrelated to an automation lesson.\n\nWhen you are running your AI Agency Academy, you never know who is watching, what their true motivations and desires are for automation, what they will like, what they won't like, what they will develop a connection with, and what they won't.\n\nThat is why it it's important to give yourself as many chances to emotionally connect with your target audience as possible, in a way that is easy.\n\nJust like you don't know what they are thinking about automation, they don't know what you are thinking.\n\nBecause it is very easy to misjudge someone's real reason for wanting to scale with AI (like in the story at the top) it would be a good idea set yourself up for success as best as possible.\n\nThere is this anonymous automation account called BowTiedAutomation who I follow on Twitter. Not really sure if he is an AI trainer or just an automation guy but I bought his workflow course a while ago and was pleased with it.\n\nIn his course, he narrows it down to five questions and I think these five questions give you the best possible chance at finding someone's true motivations for automation, and then it is off to the races from there.\n\nEnjoy, and good luck.\n\nSee you in the next one,\n\nLucas\n\nP.S. Join the AI Agency Academy for just $49 /month here and learn to automate, scale, and exit your agency.\n\nNewsletter #3:\nTitle: If Your Pipeline Is Dry, Do This...\nBody:\nHey,\n\nIt's Lucas from the AI Agency Academy here\n\nHere is an exact plan I made that has helped over 190 agency owners and VAs fill their pipelines using AI automation...\n\nWelcome to my newsletter (est. 5 min read).\n\nIn this newsletter, I will be going over the following things:\n\nHow to work more systematically over time using AI\nHow to refill an empty pipeline with automation\n…and much, much more!\nActionable Tip\n\nGrab a timer and set for 60 minutes\n\nWeek 1: One hour/day building AI workflows\n\nWeek 2: Two hours automating processes\n\nWeek 3: Three hours systematizing operations\n\nWeek 4: Four hours scaling with AI\n\nWeek 5: Five hours training VAs on systems\n\nWeek 6: Six hours optimizing automations\n\nWeek 7: Seven hours building new workflows\n\nWeek 8: Eight hours managing automated systems\n\nCongratulations. You will get more done in one week than you did in one year previously using manual processes.\n\nIf Your Pipeline Is Dry & You Are Screwed, Here Is What You Should Do:\n\nDid you make the terrible decision to stop working on lead gen because you had \"too many clients?\"\n\nOr, possibly, are you just bad at automated lead generation in general?\n\nWhatever it is, not to worry. Here is an exact plan I made that has helped over 190 agency owners and virtual assistants fill their pipelines in just the past three months using AI automation:\n\nStart posting one full length YouTube video per day. Use AI to generate scripts and automate the editing process with tools like Descript.\nStart sending at least 5,000 cold emails per day using N8N workflows with an offer of free automation audit. Then, upsell a percentage later.\nCreate a 30-60 minute video case study of how you helped X client achieve Y result using AI systems and automation.\nCreate a way better intro offer using AI productization. It will always be far easier to make sales with automated delivery systems, then you can upsell them later.\nStart actually working systematically. Most people overestimate how much they automate by 5:1 or 10:1. Use AI tools to track and optimize your workflows.\nFollow up with every single person in your CRM using automated sequences promoting your new AI-powered intro offer.\nDo 60 minutes of manual prospecting per day on LinkedIn, Twitter, Instagram using AI research tools and automated outreach.\nStart emailing your list (newsletter) three times per week on M/W/F using AI content generation and automated scheduling.\nDo another 60 minutes of manual prospecting to potential partners using AI to identify and research automation-focused agencies.\nPost on Twitter 3-5x per day using AI content workflows and cross-post it to LinkedIn, Facebook and Instagram with automation tools.\nBonus: Don't ever take time off/neglect your automated pipeline ever again. There is typically a 90-day delay, so the reason you're in this situation is you stopped feeding your AI systems 90+ days ago and are now feeling the effects.\n\nHopefully you only have to learn this lesson once about the power of consistent automation.\n\nSee you in the next one,\n\nLucas\n\nP.S. Join the AI Agency Academy for just $49 /month here and learn to automate, scale, and exit your agency.\n\n\nNewsletter #4:\nTitle: Teach Yourself The AI Skills\nBody:\nHey,\n\nIt's Lucas from the AI Agency Academy here\n\nHere's how you can get in the top 5% of all people in any given automation skill.\n\nIt is both laughable and unbelievable how great the gap is between how hard people think AI automation is and how hard it actually is. In a business context, this could be building N8N workflows, setting up Zapier automations, creating AI prompts, training virtual assistants, building client onboarding systems, or truly, anything you can think of. It is the same in all areas of life too.\n\nYou can get in the top 5% of all people in any given AI automation skill with just 10 hours of learning, practice and experience. You can get in the top 1% with just 100 hours. The bar is set so low these days. You don't have to do much to be able to run circles around the average \"automation expert\" at their own job.\n\nIf you really think about it, there are a finite number of important, monetizable AI skills in the market. For any given agency or business model, there are around 10, and maybe even less for some of them.\n\nYou could get into the top 5% at every AI automation skill related to your business model in just 50 hours of focused learning combined with a little practice and experience. Think about that for a second. If you systematically learned and practiced for just one hour per day, you would be in the top 5% of all relevant automation skills in just two months, while taking the weekends off.\n\nThis is powerful on its own, but even more powerful once you realize that AI skills do not \"add\" together, they multiply. It is not 2+2+2+2+2+2+2+2+2+2. It is 2x2x2x2x2x2x2x2x2x2.\n\nWhen you combine ChatGPT prompting with N8N workflows with VA training with client automation systems, the results compound exponentially.\n\nAct accordingly.\n\nSee you in the next one,\n\nLucas\n\nP.S. Join the AI Agency Academy for just $49 /month here and learn to automate, scale, and exit your agency.\n\n\n\nNewsletter #5:\nTitle: This Is The Work\n\nBody:\n\nHey,\n\nIt's Lucas from the AI Agency Academy here\n\nBecause of my current business (AI Agency Academy) where I help people automate their agencies and train virtual assistants, I am told every single day some variation of \"I don't have time for this, I have to do client work.\"\n\nThis is not specific to any demographic, niche or type of person. Women tell me this. Men tell me this. White people tell me this. Black people tell me this. Asian people tell me this. Brown people tell me this. Older people tell me this. Younger people tell me this. People from Dublin tell me this. People from the USA tell me this. And so on.\n\nI know what they mean, of course. The \"work\" they are referencing is manual client work. They have to do the work required to get the results for their clients. That is some pretty important stuff to be doing.\n\nHowever, this is not correct thinking, in the sense that it has very limited upside. One person (ie. them) cannot do the manual work forever. They will eventually max out on the number of clients they can handle, and even then, they will never be able to take a vacation or stop for any reason. This is the agency \"hamster wheel.\"\n\nWhen you are first starting to succeed in business is a crucial time because it is the time where you make a single, specific decision that is going to shape your future in a big way.\n\nThis decision is what to do with the profits when you hit $20-30k per month.\n\nDo you?\n\nA) Take it out and start buying shit\n\nB) Use it to hire virtual assistants and build automation systems that can handle the client work\n\nThis is what I would consider to be a \"defining moment\" in a business. There are not many single, universal defining moments, but this is one.\n\nWe don't have to judge people for their choice either. Some people would rather just have a business to support a good lifestyle and they don't care about making a huge business that can be sold. These people should choose Option A.\n\nOthers want to build a big automated business. These people should choose Option B.\n\nBoth have their positives and negatives.\n\nThere is one group that will be better off with Option A, and another group that will be better off with Option B.\n\nHowever, there is a third, dumber group here too. It is the group who wants Option B for themselves and their lives but chooses Option A to try and buy stuff to impress people.\n\nIf you want to find an example of this third group that we will call Option C, you won't have to look very hard. Scroll any social media feed for up to 15 seconds. Seek, and ye shall find.\n\nOption A and B are valid and are matters of preference. Option C is stupid.\n\nThe rest of this will be written solely for those choosing Option C as there is relatively little value or advice to offer to A or B. This advice won't be condescending either.\n\nBuilding a business in terms of what you do with the profit is much like investing in automation systems. The earlier (and better) you reinvest the profits into AI tools and virtual assistant training, the bigger your potential.\n\nThat is why the early stage is so important. If you want to build a big automated business, it is essential that you don't upgrade your lifestyle with watches, cars, vacations, etc.\n\nAll of the profit needs to be reinvested into solving the biggest constraint with automation.\n\nIf the constraint is new clients, that should be invested in AI-powered ads, automated content systems, N8N outreach workflows, and partnership automations.\n\nIf the constraint is operations and client fulfillment, then this money should be used to hire virtual assistants and train them on your automation systems at a competitive salary.\n\nIf you are the constraint, hire automation coaches, join AI communities like our Skool group, and start to level up your technical skills.\n\nIf time is the constraint, build AI workflows for meal planning, hire virtual assistants for admin tasks, automate your calendar management, hire a client success VA so you don't need to take those calls, and create automated sales funnels so you don't have to take as many sales calls.\n\nAll of these constraints can be solved with AI automation and virtual assistant systems, and if you just take out all of the money and finance a Richard Mille over seven years at 10.99%, you will not have enough money to solve these constraints with automation, and if you do not solve these constraints, you will never actually go anywhere.\n\nSee you in the next one,\n\nLucas\n\nP.S. Join the AI Agency Academy for just $49 /month here and learn to automate, scale, and exit your agency.\n\n\nNewsletter #6:\nTitle: True Motivations\nBody:\nHey,\n\nIt's Lucas from the AI Agency Academy here\n\nEveryone Has Two Reasons For Doing Something\n\nWelcome to my newsletter (est. 5 min read).\n\nIn this newsletter, I will be going over the following things:\n\nA high ROI way of thinking about AI automation\nTrue motivations behind agency scaling\n…and much, much more!\nIt is high ROI to train your brain to think certain thoughts in certain situations.\n\nSetback = \"This is just testing me to see how bad I want to automate my agency\"\nMid-set building workflows = \"I will get more out of this last automation than all the others combined\"\nAlarm = \"I am so lucky I finally get to wake up and build AI systems\"\nI was with this client the other day and I put my phone in Do Not Disturb in front of them and they said \"do not disturb so you won't see any other agency owners' messages if they pop up.\"\n\nDefinitely a fair assessment of the situation. Perfectly reasonable conclusion, really.\n\nHowever, not the real reason.\n\nThe real reason is I was way too nervous one of my (automation-obsessed) friends would randomly text me something insane about N8N workflows or AI prompts and make them think I am completely obsessed with automation systems.\n\nThat is a greater concern for me by a magnitude of 10x. The imaginations of my 2-3 best automation friends is far more terrifying than all the potential clients of the world combined.\n\nI make a lot of content focused on AI automation and virtual assistant training, and some very basic (or fundamental, depending on who you ask) advice is to \"find their motivations\" and then focus on that.\n\nThe problem is that there is almost no real way you are going to find people's deepest, most intimate motivations about why they want to automate their agency, and you certainly are not going to be able to do so en masse, in a systematic and consistent way.\n\nA lot of the times, the perfectly logical reason that someone would want to scale their agency is not the actual reason at all (re: the story above). This happens more than one might think, and because of that, one must be careful in thinking they know what someone wants from automation. When you begin to get \"too slick\" or \"too cool\" and think you \"know your target market\" then it makes it a lot easier for you just to talk at the prospect instead of talking with the prospect.\n\nThis is a problem because much like the story above, one may come to the wrong conclusion and start thinking and talking about stuff that is not based on someone's true motivation for wanting AI systems. In the story, I was glad they said something instead of pretending to ignore it. It led to a much happier situation.\n\nSomeone told me once that everyone has two reasons for wanting to automate their agency:\n\nThe reason that sounds good\nThe real reason\nIn 99.9% of cases, you are going to get #1 and will likely never uncover reason #2 which is the actual reason they want (or don't want) to implement AI automation systems.\n\nThis is the part of the email where I sloppily transition from a real life story about something complete unrelated to an automation lesson.\n\nWhen you are running your AI Agency Academy, you never know who is watching, what their true motivations and desires are for automation, what they will like, what they won't like, what they will develop a connection with, and what they won't.\n\nThat is why it it's important to give yourself as many chances to emotionally connect with your target audience as possible, in a way that is easy.\n\nJust like you don't know what they are thinking about automation, they don't know what you are thinking.\n\nBecause it is very easy to misjudge someone's real reason for wanting to scale with AI (like in the story at the top) it would be a good idea set yourself up for success as best as possible.\n\nThere is this anonymous automation account called BowTiedAutomation who I follow on Twitter. Not really sure if he is an AI trainer or just an automation guy but I bought his workflow course a while ago and was pleased with it.\n\nIn his course, he narrows it down to five questions and I think these five questions give you the best possible chance at finding someone's true motivations for automation, and then it is off to the races from there.\n\nEnjoy, and good luck.\n\nSee you in the next one,\n\nLucas\n\nP.S. Join the AI Agency Academy for just $49 /month here and learn to automate, scale, and exit your agency.\n\n\nNewsletter #7:\nTitle: Train Yourself To Be Resourceful\nBody:\nHey,\n\nIt's Lucas from the AI Agency Academy here\n\nThis is one of the most important skills to develop when building automation systems.\n\nThe dictionary definition of resourceful is \"having the ability to find quick and clever ways to overcome difficulties.\"\n\nWhen people talk about \"soft skills\" to develop, this one rarely makes the list, yet is one of the most important skills to develop when learning AI automation. The key word here is develop. This is something that you can train yourself to do.\n\nThe easiest way to \"become\" a person who is resourceful with automation is to surround yourself and learn from people who are resourceful with AI tools. The main hurdle here is that you simply do not know the possibilities with automation, and in most cases, the only way to learn is to see it in action from someone further ahead of you.\n\nHere is a good example of this.\n\nLet's say that you want to build automated workflows for your agency but do not know where to start.\n\nStart browsing through automation communities, save every workflow template you see with proven results\nGet the workflow documentation, download it with tools like Notion or Airtable\nUpload the template into N8N or Zapier and modify it to the first three steps (the trigger).\nEdit your own business logic on top of theirs. Do this with 10-20 different workflows to create 10-20 automation foundations.\nConnect these foundations to your existing tools and test which workflow performs best. Then, optimize that workflow with additional AI prompts and VA training protocols. You are now testing 10-20 effective automation patterns (they have proven results) in less than one hour.\nIt really is that easy. By taking their workflow foundations, you are bypassing likely months of testing and trial-and-error, and getting the majority of the automation benefit for yourself.\n\nJoin AI Agency Academy: If you own an agency or want to train virtual assistants and you want the systems, processes, and automation strategies that you need to scale using AI tools, consider joining AI Agency Academy.\n\nHere are some results our members have achieved:\n\nAutomated 80% of client onboarding processes\nReduced manual work by 15+ hours per week using AI workflows\nTrained VAs to manage complex automation systems\nBuilt profitable micro-SaaS tools from internal processes\nAnd many, many more automation wins.\nSee you in the next one,\n\nLucas\n\nP.S. Join the AI Agency Academy for just $49 /month here and learn to automate, scale, and exit your agency.\n\n\n\n\n\n\n"
        }
      },
      "id": "7587fe0a-be9a-47da-b579-c1b1f76d6336",
      "name": "Email Newsletter Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -960,
        1344
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn the email newsletter document below into a 3–7 word title that we can insert as the title for the document that has the email copy inside of it. Do not include : anywhere in the title.\n\n!IMPORTANT: Don't respond with ANYTHING other than the completed 3–7 word title. That 3–7 word title should be the only thing in your response.\n\nThe YouTube video script:\n\n{{ $json.output }}\n\n\n\n\n\n\n",
        "options": {}
      },
      "id": "d3cc96bf-766d-47c3-a734-b02db9a0c94a",
      "name": "Email Newsletter Doc Title Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -608,
        1344
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -880,
        -144
      ],
      "id": "70b05356-64f8-4f3b-b964-13e5c7be814e",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -880,
        672
      ],
      "id": "0988f1e8-765c-4669-bb69-0c713feeb011",
      "name": "Anthropic Chat Model2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -880,
        1568
      ],
      "id": "5cc55dc0-2d11-4f66-ba32-bf901c0778e8",
      "name": "Anthropic Chat Model4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $('Email Newsletter Agent').item.json.output }}"
            },
            {
              "name": "fileName",
              "value": "={{ $('Email Newsletter Doc Title Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        1344
      ],
      "id": "7c33c59c-7cbf-4a21-a6fc-c4666d707ce5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1b3tpXtsJI1ItRZ1_1myeJuodBOaeFspT",
          "mode": "list",
          "cachedResultName": "Email Newsletter",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1b3tpXtsJI1ItRZ1_1myeJuodBOaeFspT"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        1344
      ],
      "id": "310e2072-bbf8-405d-b678-09931a5634d7",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $('LinkedIn Post Agent').item.json.output }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        544
      ],
      "id": "731e5ced-4311-4728-9d8f-22f62f0de661",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1P8wggbWJXPokBYI1ydlHB5BQvCQ6Nfpu",
          "mode": "list",
          "cachedResultName": "Linkedin Posts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1P8wggbWJXPokBYI1ydlHB5BQvCQ6Nfpu"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        544
      ],
      "id": "f1873450-cac0-4e11-8489-998228047bba",
      "name": "Google Drive1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $('YouTube Script Agent').item.json.output }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -256
      ],
      "id": "3ca203b7-75de-43f1-a6b5-1a5dda48102e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1w7kOT6NB6_mcAiiP7pkLz83KM3hhfM0y",
          "mode": "list",
          "cachedResultName": "YouTube Scripts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1w7kOT6NB6_mcAiiP7pkLz83KM3hhfM0y"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -256
      ],
      "id": "003263c6-747f-4607-86c0-b56bb262422b",
      "name": "Google Drive2"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -528,
        672
      ],
      "id": "b68b73fb-34cc-4d51-be97-7d4152e02bbf",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -528,
        1568
      ],
      "id": "2ca0179f-e5aa-46ee-8e73-281c0b345ceb",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C090GHU1YGG",
          "mode": "list",
          "cachedResultName": "content-approval"
        },
        "message": "=Hey <@U05D1LH2JG6>\n\nHere's a new email newsletter for you to approve\n\nOnce approved it will be scheduled in Beehiiv\n\nLink:\n{{ $('HTTP Request').item.json.url }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        208,
        1344
      ],
      "id": "e6e15f8e-c9fc-479f-b4d5-1c6f4a39d05a",
      "name": "Slack",
      "webhookId": "fcbfdf86-af04-436c-a10b-40bfab41d58f"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C090GHU1YGG",
          "mode": "list",
          "cachedResultName": "content-approval"
        },
        "message": "=Hey <@U05D1LH2JG6>\n\nHere's a new Linkedin Post for you to approve\n\nOnce approved it will be scheduled\n\nLink:\n\n{{ $('HTTP Request1').item.json.url }}\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        208,
        544
      ],
      "id": "b868b65b-55da-4395-837e-824f3df869d8",
      "name": "Slack1",
      "webhookId": "fcbfdf86-af04-436c-a10b-40bfab41d58f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -880,
        1072
      ],
      "id": "84599a34-10b1-46ba-9889-83f484f360c0",
      "name": "Anthropic Chat Model6"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -528,
        1072
      ],
      "id": "a1e177da-940e-40b0-aa10-667be2f972a7",
      "name": "Anthropic Chat Model7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $('Twitter Post Agent').item.json.output }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        944
      ],
      "id": "ee78cc60-e60f-4ff3-8c45-003e931fa572",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19gyeh1Eg7RYullAL9OsKK99hJkB18pzJ",
          "mode": "list",
          "cachedResultName": "Tweets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19gyeh1Eg7RYullAL9OsKK99hJkB18pzJ"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        944
      ],
      "id": "8c1bea0d-f8b8-4764-9a69-17760914d290",
      "name": "Google Drive3"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C090GHU1YGG",
          "mode": "list",
          "cachedResultName": "content-approval"
        },
        "message": "=Hey <@U05D1LH2JG6>\n\nHere's a new Twitter Post for you to approve\n\nOnce approved it will be scheduled\n\nLink:\n\n{{ $('HTTP Request3').item.json.url }}\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        208,
        944
      ],
      "id": "8c8b051e-8bae-4ca0-ae7a-3d11d066f3d7",
      "name": "Slack2",
      "webhookId": "fcbfdf86-af04-436c-a10b-40bfab41d58f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL:\nTake the transcript below from a Zoom call where I, Lucas Synnott, spoke in-depth about a specific topic, and turn it into a tweet. Remember that I am Lucas Synnott and I'm writing in the first person.\n\nUse the contents of that transcript, combined with your system knowledge, to create a high-performing twitter post.\n\nFORMATTING:\nFormat the output according to the twitter frameworks provided, including a strong hook, clear structure, and engaging conclusion.\n\nThe post should be purely text based.\n\nWARNINGS:\nWrite the copy in the voice and character that myself, Lucas Synnott, would have when writing content. It sounds real, natural, and like something that I would use in a real human-to-human conversation as the owner of a marketing agency.\n\nIn your response, don’t include ANY formatting or odd characters, just text only. Don’t include any of the following in your response, unless it is part of the text of the script: #, *, **\n\nIn your response, be sure to ONLY reply with the post copy, don’t include other text or explanations.\n\nTRANSCRIPT:\n\n{{ $json.body.transcript.plaintext }}\n{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a persuasive Twitter content strategist working for a high-performance AI automation and agency consulting brand.\n\nUse the following internal reference documents as your creative foundation. These documents contain internal knowledge and frameworks from Lucas Synnott and the AI Agency Academy. Use them to guide your tone, structure, positioning, and strategic thinking — but do not summarize or restate the documents. Instead, apply their insights naturally to create content optimized for Twitter.\n\nREFERENCE DOCUMENT 1: Lucas Synnott & AI Agency Academy – Project Knowledge Base\n\nAbout Lucas Synnott\nName: Lucas Synnott\nLocation: Dublin, Ireland\nRoles: Founder, Instructor, Automation Expert, Agency Consultant\nBackground: Business strategist and performance marketer with deep expertise in AI automation, funnel optimization, email marketing, and scaling agencies through systems. Lucas has built and exited multiple service businesses and now focuses on helping other agency owners do the same through automation-first education.\n\nAbout AI Agency Academy\nCompany Overview:\nAI Agency Academy is a training platform and community designed to help digital agency owners and their virtual assistants automate operations, increase profitability, and scale intelligently—without needing to be technical. Built on Skool, the academy delivers a structured curriculum, pre-built templates, and expert coaching to help members productize their internal systems and turn AI tools into revenue engines.\n\nCore Services:\n\nPrimary: AI automation training for agency workflows\n\nSecondary: Virtual assistant enablement and delegation systems\n\nAdditional: Lead generation, outbound sales, content creation, and fulfillment automations\n\nOur Unique Approach:\n\nAutomation-First: Systems replace headcount.\n\nVA-Centric: Train your assistant, not just yourself.\n\nAI-Native: Everything is built using real tools—no theory, just working systems.\n\nProductization-Driven: Internal tools become lead magnets, offers, or micro-SaaS.\n\nMethodology:\n\nDesign offers and fulfillment around automation from day one\n\nUse tools like N8N, Zapier, and Make.com to eliminate manual tasks\n\nTrain VAs to build, run, and improve operations using SOPs and AI tools\n\nProductize backend systems into scalable assets\n\nUse AI-generated content and outreach for audience growth and lead flow\n\n\nREFERENCE DOCUMENT 2: Twitter Post Writing Masterclass – Complete Guide\nThe Twitter/X Content Landscape in 2025\nFor You + Following feeds now weigh watch-time on video and read-time on text equally.\n\nShort, idea-dense singles (≤ 280 chars) out-perform threads 3 × on impressions-per-word.\n\n“See more” expansion rate and profile-clicks are the two hidden metrics driving reach.\n\nAlgorithm updates punish obvious bait; authenticity, numbers, and concise clarity win.\n\nContent-Performance Benchmarks\nMetric\tHigh-Performer Target\tDataset Avg (top 5 % in CSV)\nImpressions\t≥ 500 k\t479 k\n❤️ / Impr.\t≥ 1.8 %\t1.6 %\nProfile Click-Thru\t≥ 0.7 %\t0.65 %\nLink CTR\t≥ 0.35 %\t0.29 %\n\nThe 5-Step Tweet Framework\nStep\tPurpose\tHow-To\n1. Find the Right Insight\t- One fresh, specific observation that solves/clarifies a pain felt by agency owners & VAs.\tMine client DMs, sales calls, CSV tweet angles.\n2. Develop One Clear Point\t- One tweet = one payoff.\tAngle it like a headline: journalist tone + benefit.\n3. Micro-Structure\t- H-I-C → Hook (≤ 40 chars) → Insight/Story (≤ 220 chars) → CTA (≤ 20 chars)\tWhite-space with “\\n” to create eye-rhythm.\n4. Craft a Killer Hook\t- Stop the scroll and set expectation.\tChoose 1 of 12 proven hook types (next section).\n5. Deliver the Promise\t- Satisfy the hook, back it with a number, end with action.\tUse 8th-grade language, active verbs, emojis ≤ 2.\n\n12 Proven Hook Types \nUse these to open a tweet. Do not copy wording; mirror the energy, cadence, and length.\n\n#\tHook Type\tCSV Example (verbatim)\n1\tUnique Transformation\t“Life hack: Move from the city you grew up. You'll transform into an entirely new person.”\n2\tFailure Story\t“The best way to fail in life: Never start because you're afraid of failing.”\n3\tMake People Feel Seen\t“You're overcomplicating it, my friend.”\n4\tStrong Disagreement\t“Fuck ‘nEtwOrKinG.’ Build your skill set.”\n5\tOpinion as Fact\t“The smartest people I know are all writers.”\n6\tRebellion Story\t“Absolutely 0 clients have ever asked if I had a degree. You can just do stuff.”\n7\tTrigger FOMO\t“There are 15-year-olds posting content and building businesses…”\n8\tContrarian Take\t“Don't follow your passion. Find rich people's problems you'd be happy to solve.”\n9\tSet a Goal / Public Challenge\t“Adopt the mindset: If I don't post every day, my head explodes.”\n10\tSubject Masterclass\t“How to find your niche in 69 seconds (watch the video): …”\n11\tGolden Advice\t“DMs = Writing Email = Writing Content = Writing … Writing = $$$”\n12\tLeverage FOFO\t“There's someone 3 × dumber than you making 2 × more. Because they took action on 1 book instead of reading 10 more.”\n\nFormatting Best Practices for Singles\nWhitespace rules: Max 2 sentences per line. Break before numbers or CTA.\n\nNumbers > adjectives: “58 % margin” beats “huge margin.”\n\nEmojis: 0–2; only meaning-bearing (e.g., 🚀, ⚡️, 🔗).\n\nCTA ideas: “Reply ‘AI’ for the SOP,” “Save this,” “DM ‘SYSTEM’ for details,” “Join AI Agency Academy.”\n\nCompliance: No thread-gate or “like/comment boosts,” keep it clean to dodge shadow throttling.\n\nQuick-Reference Tweet Writing Checklist\n□ Hook in first 40 characters.\n\n□ One insight, one payoff.\n\n□ Proof or micro-story (ideally with a stat).\n\n□ Clear CTA tied to business goal.\n\n□ Reads at 8th-grade level (Grammarly/FK ≤ 8).\n\n□ Tone: confident operator, slightly edgy, action-biased.\n\n□ No jargon unless defined in same tweet.\n\n□ Character count ≤ 280 (incl. spaces & emoji).\n\nSwipe-File: 8 High-Engagement Tweet Structures (CSV-Based Templates)\nLife-hack punch\n\n“Life hack: <action>. <1-line payoff>.”\n\nStat + disbelief\n\n“<Surprising stat> and nobody’s talking about it. Here’s why it matters for <audience>.”\n\nMini-rant\n\n“Stop <common advice>. <Better alternative>. (Proof: <result stat>).”\n\nOne-sentence masterclass\n\n“<Topic>: <3-step formula in one line with commas>.”\n\nCall-out + fix\n\n“If you’re still <pain>, you’re leaking <cost>. Do <solution> instead.”\n\nX > Y comparison\n\n“<X> > <Y>. Here’s the ROI in 2 numbers: <#, #>.”\n\nFear-buster\n\n“Afraid of <obstacle>? Try <quick win>. Took me from <before stat> to <after stat>.”\n\nAction guarantee\n\n“Do <simple daily habit> for 30 days and your <metric> will explode. I’ll die on this hill.”\n\nUse these shells + the Hook library to generate endless high-impact agency-focused tweets.\n\n\n\n\n\n\n"
        }
      },
      "id": "f3b227a3-bfb4-40a6-bd71-f2e083e450f7",
      "name": "Twitter Post Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -960,
        848
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn the Tweet post below into a 3–7 word title that we can insert as the title for the document that has this Linkedin post inside of it.\n\n!IMPORTANT: Don’t respond with ANYTHING other than the completed 3–7 word title. That 3–7 word title should be the only thing in your response.\n\nThe tweet:\n\n{{ $json.output }}",
        "options": {}
      },
      "id": "38746afc-653e-4f90-9635-5c51ceecf9ba",
      "name": "Twitter Post(s) Doc Title Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -608,
        848
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C090GHU1YGG",
          "mode": "list",
          "cachedResultName": "content-approval"
        },
        "text": "=Hey <@U05D1LH2JG6>\n\nHere's a new YouTube Script for review\n\nLink:\n\n{{ $('HTTP Request2').item.json.url }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        208,
        -256
      ],
      "id": "505f43dd-3c0a-4bee-ae0d-b540b7d72122",
      "name": "Slack3",
      "webhookId": "c338adc5-4305-43b8-bb9d-099e0d96f0b0"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -528,
        -144
      ],
      "id": "7109175b-6cc8-492d-a6cf-c7885a390953",
      "name": "OpenRouter Chat Model2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "schedule-id-1",
              "name": "content_type",
              "type": "string",
              "value": "={{ $('Slack1').item.json.approved ? 'linkedin' : 'rejected' }}"
            },
            {
              "id": "schedule-id-2",
              "name": "content_text",
              "type": "string",
              "value": "={{ $('LinkedIn Post Agent').item.json.output }}"
            },
            {
              "id": "schedule-id-3",
              "name": "doc_url",
              "type": "string",
              "value": "={{ $('HTTP Request1').item.json.url }}"
            },
            {
              "id": "schedule-id-4",
              "name": "scheduled_time",
              "type": "string",
              "value": "={{ $now.plus({ days: 1 }).set({ hour: 9, minute: 0 }).toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "id": "schedule-id-5",
              "name": "status",
              "type": "string",
              "value": "scheduled"
            },
            {
              "id": "schedule-id-6",
              "name": "created_date",
              "type": "string",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8f761406-b528-4a49-a6b1-9ce42e879403",
      "name": "Prepare LinkedIn Content for Queue",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "schedule-id-1",
              "name": "content_type",
              "type": "string",
              "value": "newsletter"
            },
            {
              "id": "schedule-id-2",
              "name": "content_text",
              "type": "string",
              "value": "={{ $('Email Newsletter Agent').item.json.output }}"
            },
            {
              "id": "schedule-id-3",
              "name": "doc_url",
              "type": "string",
              "value": "={{ $('HTTP Request').item.json.url }}"
            },
            {
              "id": "schedule-id-4",
              "name": "scheduled_time",
              "type": "string",
              "value": "={{ $now.plus({ days: 2 }).set({ hour: 11, minute: 0 }).toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "id": "schedule-id-5",
              "name": "status",
              "type": "string",
              "value": "scheduled"
            },
            {
              "id": "schedule-id-6",
              "name": "created_date",
              "type": "string",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f65641ec-c5c9-4a80-8206-46c89cd881be",
      "name": "Prepare Newsletter Content for Queue",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        1248
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "schedule-id-1",
              "name": "content_type",
              "type": "string",
              "value": "twitter"
            },
            {
              "id": "schedule-id-2",
              "name": "content_text",
              "type": "string",
              "value": "={{ $('Twitter Post Agent').item.json.output }}"
            },
            {
              "id": "schedule-id-3",
              "name": "doc_url",
              "type": "string",
              "value": "={{ $('HTTP Request3').item.json.url }}"
            },
            {
              "id": "schedule-id-4",
              "name": "scheduled_time",
              "type": "string",
              "value": "={{ $now.plus({ days: 1 }).set({ hour: 10, minute: 0 }).toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "id": "schedule-id-5",
              "name": "status",
              "type": "string",
              "value": "scheduled"
            },
            {
              "id": "schedule-id-6",
              "name": "created_date",
              "type": "string",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0bd840bf-9c2e-465d-a69d-9a0d55ba30b9",
      "name": "Prepare Twitter Content for Queue",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        848
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc",
          "mode": "list",
          "cachedResultName": "Content Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_type": "={{ $json.content_type }}",
            "content_text": "={{ $json.content_text }}",
            "doc_url": "=={{ $json.doc_url }}",
            "scheduled_time": "={{ $json.scheduled_time }}",
            "status": "={{ $json.status }}",
            "created_date": "={{ $json.created_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_text",
              "displayName": "content_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_url",
              "displayName": "doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_time",
              "displayName": "scheduled_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_date",
              "displayName": "published_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8ecadbbc-6a98-4e76-8447-f275a9243228",
      "name": "Add LinkedIn to Content Queue",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        864,
        448
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc",
          "mode": "list",
          "cachedResultName": "Content Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_type": "={{ $json.content_type }}",
            "content_text": "={{ $json.content_text }}",
            "doc_url": "=={{ $json.doc_url }}",
            "scheduled_time": "={{ $json.scheduled_time }}",
            "status": "={{ $json.status }}",
            "created_date": "={{ $json.created_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_text",
              "displayName": "content_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_url",
              "displayName": "doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_time",
              "displayName": "scheduled_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_date",
              "displayName": "published_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f3c845c4-588e-47e2-8224-17d99c63aaa3",
      "name": "Add LinkedIn to Content Queue1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        864,
        1248
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "schedule-id-1",
              "name": "content_type",
              "type": "string",
              "value": "=YouTube Script"
            },
            {
              "id": "schedule-id-2",
              "name": "content_text",
              "type": "string",
              "value": "={{ $('YouTube Script Agent').item.json.output }}"
            },
            {
              "id": "schedule-id-3",
              "name": "doc_url",
              "type": "string",
              "value": "={{ $('HTTP Request2').item.json.url }}"
            },
            {
              "id": "schedule-id-4",
              "name": "scheduled_time",
              "type": "string",
              "value": "={{ $now.plus({ days: 1 }).set({ hour: 9, minute: 0 }).toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "id": "schedule-id-5",
              "name": "status",
              "type": "string",
              "value": "scheduled"
            },
            {
              "id": "schedule-id-6",
              "name": "created_date",
              "type": "string",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bf603525-c33c-47fa-abbe-ea932f9c5e87",
      "name": "Prepare LinkedIn Content for Queue1",
      "type": "n8n-nodes-base.set",
      "position": [
        432,
        -256
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc",
          "mode": "list",
          "cachedResultName": "Content Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_type": "={{ $json.content_type }}",
            "content_text": "={{ $json.content_text }}",
            "doc_url": "=={{ $json.doc_url }}",
            "scheduled_time": "={{ $json.scheduled_time }}",
            "status": "={{ $json.status }}",
            "created_date": "={{ $json.created_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_text",
              "displayName": "content_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_url",
              "displayName": "doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_time",
              "displayName": "scheduled_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_date",
              "displayName": "published_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a5d2cca2-2384-4d41-a480-f482cd6687ec",
      "name": "Add YouTube to Content Queue",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        640,
        -256
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1184,
        640
      ],
      "id": "3bb16e6e-1886-400c-ba94-1f9cf525fa2e",
      "name": "When chat message received",
      "webhookId": "6f888ef9-fa96-4134-9dea-d05704c0b16a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.convertkit.com/v3/broadcasts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_secret",
              "value": "bQYXTezuqoyqbo15OGriCPypMWCEEZsUQZXZWniKnH8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{ $('Email Newsletter Doc Title Agent').item.json.output }}"
            },
            {
              "name": "content",
              "value": "={{ $json.formatted_content }}"
            },
            {
              "name": "email_address",
              "value": "lucas@aiagencytraining.com"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "855344e6-e590-4b97-ae2f-65aa27d04619",
      "name": "Publish Newsletter to ConvertKit",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        1248
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Google Drive').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1088,
        1248
      ],
      "id": "5a65f3d0-28a0-416f-9657-bdde9112daaf",
      "name": "Google Docs"
    },
    {
      "parameters": {
        "jsCode": "const content = $('Email Newsletter Agent').item.json.output;\n\n// Convert line breaks to HTML\nlet formattedContent = content\n  // Replace double line breaks with paragraph breaks\n  .replace(/\\n\\n/g, '</p><p>')\n  // Replace single line breaks with <br> tags\n  .replace(/\\n/g, '<br>')\n  // Wrap the entire content in paragraph tags\n  .replace(/^(.*)$/s, '<p>$1</p>')\n  // Clean up any empty paragraphs\n  .replace(/<p><\\/p>/g, '')\n  // Fix any double paragraph tags\n  .replace(/<\\/p><p>/g, '</p>\\n<p>');\n\nreturn [{\n  json: {\n    formatted_content: formattedContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        1248
      ],
      "id": "d4813fcd-fbec-4ee9-b132-96db0f364f22",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "linkedin-ids",
              "name": "linkedinAccountIds",
              "type": "array",
              "value": "={{ $('Get LinkedIn Accounts1').item.json.data.filter(account => account.provider === 'linkedin').map(account => account.id) }}"
            },
            {
              "id": "linkedin-accounts",
              "name": "linkedinAccounts",
              "type": "array",
              "value": "={{ $('Get LinkedIn Accounts1').item.json.data.filter(account => account.provider === 'linkedin') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a1329c4-e608-4189-bb39-125a0648d455",
      "name": "Extract LinkedIn IDs",
      "type": "n8n-nodes-base.set",
      "position": [
        1088,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "post-content-1",
              "name": "postContent",
              "type": "string",
              "value": "={{ $('Prepare LinkedIn Content for Queue').item.json.content_text }}"
            },
            {
              "id": "schedule-date-1",
              "name": "scheduleDate",
              "type": "string",
              "value": "={{ $now.plus({ hours: 1 }).format('yyyy-MM-dd') }}"
            },
            {
              "id": "schedule-time-1",
              "name": "scheduleTime",
              "type": "string",
              "value": "={{ $now.plus({ hours: 1 }).format('HH:mm') }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ad47e2da-8aa3-409f-90fc-0ea9106cb125",
      "name": "Set Post Content1",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Get the content from the previous node\nconst content = $('Prepare LinkedIn Content for Queue').item.json.content_text;\n\n// Build the payload object (JavaScript will handle escaping automatically)\nconst payload = {\n  \"schedule\": true,\n  \"schedule_now\": false,\n  \"queue\": true,\n  \"accounts\": [2],\n  \"tags\": [],\n  \"versions\": [\n    {\n      \"account_id\": 0,\n      \"is_original\": true,\n      \"content\": [\n        {\n          \"body\": content,\n          \"media\": []\n        }\n      ],\n      \"options\": {}\n    }\n  ]\n};\n\nreturn {\n  json: payload\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        448
      ],
      "id": "82015aef-829f-4757-b5fb-f114c761a9f8",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc",
          "mode": "list",
          "cachedResultName": "Content Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_type": "={{ $json.content_type }}",
            "content_text": "={{ $json.content_text }}",
            "doc_url": "=={{ $json.doc_url }}",
            "scheduled_time": "={{ $json.scheduled_time }}",
            "status": "={{ $json.status }}",
            "created_date": "={{ $json.created_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_text",
              "displayName": "content_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_url",
              "displayName": "doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_time",
              "displayName": "scheduled_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_date",
              "displayName": "published_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "43e89053-5ae1-4a76-8c70-d03a54ae4224",
      "name": "Add Twitter to Content Queue",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        864,
        848
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "post-content-1",
              "name": "postContent",
              "type": "string",
              "value": ""
            },
            {
              "id": "schedule-date-1",
              "name": "scheduleDate",
              "type": "string",
              "value": "={{ $now.plus({ hours: 1 }).format('yyyy-MM-dd') }}"
            },
            {
              "id": "schedule-time-1",
              "name": "scheduleTime",
              "type": "string",
              "value": "={{ $now.plus({ hours: 1 }).format('HH:mm') }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f4ef4eb0-399b-4da8-a2fc-e0fc7037ae11",
      "name": "Set Post Content",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        848
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Get the formatted content directly from the Twitter Post Agent (which has the properly formatted content)\nconst content = $('Twitter Post Agent').item.json.output;\n\n// Get the Twitter account IDs\nconst twitterAccountIds = $('Extract Twitter IDs').item.json.twitterAccountIds;\n\n// Use the content as-is since it should already be properly formatted from the AI agent\nlet formattedContent = content;\n\nconsole.log('Original content from Twitter Post Agent:', content);\nconsole.log('Using formatted content:', formattedContent);\n\n// Build the payload object (JavaScript will handle escaping automatically)\nconst payload = {\n  \"schedule\": true,\n  \"schedule_now\": false,\n  \"queue\": true,\n  \"accounts\": twitterAccountIds,\n  \"tags\": [],\n  \"versions\": [\n    {\n      \"account_id\": 0,\n      \"is_original\": true,\n      \"content\": [\n        {\n          \"body\": formattedContent,\n          \"media\": []\n        }\n      ],\n      \"options\": {}\n    }\n  ]\n};\n\nreturn {\n  json: payload\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        848
      ],
      "id": "b8452c30-3b48-4bdf-b848-e00753968d91",
      "name": "Code2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "linkedin-ids",
              "name": "twitterAccountIds",
              "type": "array",
              "value": "={{ $('Get Twitter Accounts').item.json.data.filter(account => account.provider === 'twitter').map(account => account.id) }}"
            },
            {
              "id": "linkedin-accounts",
              "name": "twitterAccounts",
              "type": "array",
              "value": "={{ $('Get Twitter Accounts').item.json.data.filter(account => account.provider === 'twitter') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef7a5c24-bc2d-4abc-b04e-98d79925dfdb",
      "name": "Extract Twitter IDs",
      "type": "n8n-nodes-base.set",
      "position": [
        1088,
        848
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "020dbbee-9fef-45ee-9afa-64cab0ba3c4f",
              "name": "Completed",
              "value": "True",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        640
      ],
      "id": "91e16405-3554-4009-a448-ed3b40722f47",
      "name": "Linkedin Automation Done"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "020dbbee-9fef-45ee-9afa-64cab0ba3c4f",
              "name": "Completed",
              "value": "True",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1040
      ],
      "id": "71ad0666-27f8-40bf-a324-6007fafe160e",
      "name": "Twitter Automation Done"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0c7b3f9-4a93-4733-ad7e-d6b611484945",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        544
      ],
      "id": "3b73caf9-66cd-4ec0-9f20-34a6a41565f7",
      "name": "Linkedin Post Approved?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "12e6dec6-3c68-4462-8e6b-7fac7d512d7b",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        944
      ],
      "id": "8060fa64-fd0c-44c3-ae96-83b580ad5667",
      "name": "Twitter Post Approved?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "fada3541-791e-4202-8533-55a0b085314a",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        1344
      ],
      "id": "ee09b3db-63f1-43e0-abab-d97a45d0eb66",
      "name": "Newsletter Post Approved?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "020dbbee-9fef-45ee-9afa-64cab0ba3c4f",
              "name": "Completed",
              "value": "True",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1440
      ],
      "id": "a09f3598-29af-46e8-a49f-7d54481368d1",
      "name": "Newsletter Automation Done"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"instagram\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"instagram\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.instagram_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "9aa1a18f-4390-44b6-bdc3-05976a440b08",
      "name": "[Instagram] Publish via Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        -160
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"facebook\",\n      \"pageId\": \"{{ $('Prepare for Publish').item.json.facebook_page_id }}\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"facebook\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.facebook_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "cfe4d04c-1505-4f18-ab2c-499592c5e18f",
      "name": "[Facebook] Publish via Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        240
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"linkedin\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"linkedin\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.linkedin_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "c3bf0d9f-1f0d-4850-95cf-3764e53461e4",
      "name": "[Linkedin] Publish via Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        640
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"tiktok\",\n      \"isYourBrand\": false,\n      \"disabledDuet\": false,\n      \"privacyLevel\": \"PUBLIC_TO_EVERYONE\",\n      \"isAiGenerated\": true,\n      \"disabledStitch\": false,\n      \"disabledComments\": false,\n      \"isBrandedContent\": false\n    },\n    \"content\": {\n      \"text\": \"{{ $('Prepare for Publish').item.json.final_text_short }}\",\n      \"platform\": \"tiktok\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.tiktok_id }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "861e5dcf-dca9-453d-9564-7f1b5399f654",
      "name": "[Tiktok] Publish via Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        1040
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"youtube\",\n      \"title\": \"{{ $('Ensure Valid YouTube Title').item.json.message.content.youtube_title }}\",\n      \"privacyStatus\": \"public\",\n      \"shouldNotifySubscribers\": true\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_long.toJsonString() }},\n      \"platform\": \"youtube\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.youtube_id }}\"\n  }\n}",
        "options": {}
      },
      "id": "d272de27-585e-4a44-ad46-9b116b009313",
      "name": "[Youtube] Publish via Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        48
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"threads\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"threads\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.threads_id }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "d5cbafe6-97f5-4b5a-905c-b46b7061844a",
      "name": "[Threads] Publish via Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        448
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"twitter\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"twitter\",\n      \"mediaUrls\": [\"{{ $json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.twitter_id }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "7b3d6286-8cb1-49a2-9225-1a5ddb86c4d6",
      "name": "[Twitter] Publish via Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        848
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"target\": {\n      \"targetType\": \"bluesky\"\n    },\n    \"content\": {\n      \"text\": {{ $('Prepare for Publish').item.json.final_text_short.toJsonString() }},\n      \"platform\": \"bluesky\",\n      \"mediaUrls\": [\"{{ $('Upload Image to Blotato').item.json.url }}\"]\n    },\n    \"accountId\": \"{{ $('Prepare for Publish').item.json.bluesky_id }}\"\n  }\n}\n",
        "options": {}
      },
      "id": "ff48f740-0391-40e1-a0f7-785aac4eda9d",
      "name": "[Bluesky] Publish via Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        1248
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "# Publish to Social Media",
        "height": 1740,
        "width": 260,
        "color": 2
      },
      "id": "a72e40c6-4411-48f1-b5da-215c72fb1d5e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        -336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"instagram_id\": \"2244\",\n  \"youtube_id\": \"1300\",\n  \"tiktok_id\": \"2761\",\n  \"facebook_id\": \"2152\",\n  \"facebook_page_id\": \"127923797405586\",\n  \"threads_id\": \"670\",\n  \"twitter_id\": \"1576\",\n  \"linkedin_id\": \"1730\",\n  \"pinterest_id\": \"447\",\n  \"pinterested_board_id\": \"1097611809123639891\",\n  \"bluesky_id\": \"1311\",\n  \"facebook_text\": ,\n  \"twitter_text\": ,\n  \"linkedin_text\" ,\n}",
        "options": {}
      },
      "id": "4503b236-f1ca-4827-bdb6-0d5d190eb0f1",
      "name": "Prepare for Publish",
      "type": "n8n-nodes-base.set",
      "position": [
        1744,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## FILL ME IN!\n\n### Use Link Above to Log into Blotato\n\n- Bottom Left Gear for Settings\n- **IMPORTANT** Log into each social media platform you want to connect before using the connection buttons and do NOT use the \"connect all pages\" option.\n- Log into each account and copy each \"Account ID\" into a safe place\n- If using FaceBook, copy also the 'Page ID'\n",
        "height": 620,
        "width": 260,
        "color": 5
      },
      "id": "7d24c33a-b3ed-4fe1-b10b-d2426971000a",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -880,
        272
      ],
      "id": "fda4cbdb-20e4-4bb9-8fb2-b9c2bc150720",
      "name": "Anthropic Chat Model8"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -528,
        272
      ],
      "id": "4169403f-49b8-4524-ac20-28218e52a5df",
      "name": "Anthropic Chat Model9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $('Facebook Post Agent').item.json.output }}"
            },
            {
              "name": "fileName",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        144
      ],
      "id": "c8783158-0f47-4a47-83cb-8dfed0521879",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19gyeh1Eg7RYullAL9OsKK99hJkB18pzJ",
          "mode": "list",
          "cachedResultName": "Tweets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19gyeh1Eg7RYullAL9OsKK99hJkB18pzJ"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        144
      ],
      "id": "2f3d77c8-4b8d-458a-bff7-c7d996759c95",
      "name": "Google Drive4"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C090GHU1YGG",
          "mode": "list",
          "cachedResultName": "content-approval"
        },
        "message": "=Hey <@U05D1LH2JG6>\n\nHere's a new Twitter Post for you to approve\n\nOnce approved it will be scheduled\n\nLink:\n\n{{ $('HTTP Request4').item.json.url }}\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        208,
        144
      ],
      "id": "af1cb819-e881-4690-85ba-255f39284ccb",
      "name": "Slack4",
      "webhookId": "fcbfdf86-af04-436c-a10b-40bfab41d58f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "schedule-id-1",
              "name": "content_type",
              "type": "string",
              "value": "twitter"
            },
            {
              "id": "schedule-id-2",
              "name": "content_text",
              "type": "string",
              "value": "={{ $('Facebook Post Agent').item.json.output }}"
            },
            {
              "id": "schedule-id-3",
              "name": "doc_url",
              "type": "string",
              "value": "={{ $('HTTP Request4').item.json.url }}"
            },
            {
              "id": "schedule-id-4",
              "name": "scheduled_time",
              "type": "string",
              "value": "={{ $now.plus({ days: 1 }).set({ hour: 10, minute: 0 }).toFormat('yyyy-MM-dd HH:mm:ss') }}"
            },
            {
              "id": "schedule-id-5",
              "name": "status",
              "type": "string",
              "value": "scheduled"
            },
            {
              "id": "schedule-id-6",
              "name": "created_date",
              "type": "string",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5bd640e-0d0e-4a2a-8885-ca78d5b41973",
      "name": "Prepare Twitter Content for Queue1",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc",
          "mode": "list",
          "cachedResultName": "Content Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kJlPxdRNGYhnerfF5ISI1-cqGL4kG4Gk7xllni2TNXc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content_type": "={{ $json.content_type }}",
            "content_text": "={{ $json.content_text }}",
            "doc_url": "=={{ $json.doc_url }}",
            "scheduled_time": "={{ $json.scheduled_time }}",
            "status": "={{ $json.status }}",
            "created_date": "={{ $json.created_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_text",
              "displayName": "content_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_url",
              "displayName": "doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_time",
              "displayName": "scheduled_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "published_date",
              "displayName": "published_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0dc87b3f-8ab6-42f4-bcdd-0908d436baf2",
      "name": "Add Twitter to Content Queue1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        864,
        48
      ],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "020dbbee-9fef-45ee-9afa-64cab0ba3c4f",
              "name": "Completed",
              "value": "True",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        240
      ],
      "id": "bdee430d-915a-4d58-a034-429b5e2c10ec",
      "name": "Twitter Automation Done1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "12e6dec6-3c68-4462-8e6b-7fac7d512d7b",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        144
      ],
      "id": "5cdf52af-a242-4e16-a771-218fba25725b",
      "name": "Twitter Post Approved?1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL:\nTake the transcript below from a Zoom call where I, Lucas Synnott, spoke in-depth about a specific topic, and turn it into a tweet. Remember that I am Lucas Synnott and I'm writing in the first person.\n\nUse the contents of that transcript, combined with your system knowledge, to create a high-performing twitter post.\n\nFORMATTING:\nFormat the output according to the twitter frameworks provided, including a strong hook, clear structure, and engaging conclusion.\n\nThe post should be purely text based.\n\nWARNINGS:\nWrite the copy in the voice and character that myself, Lucas Synnott, would have when writing content. It sounds real, natural, and like something that I would use in a real human-to-human conversation as the owner of a marketing agency.\n\nIn your response, don’t include ANY formatting or odd characters, just text only. Don’t include any of the following in your response, unless it is part of the text of the script: #, *, **\n\nIn your response, be sure to ONLY reply with the post copy, don’t include other text or explanations.\n\nTRANSCRIPT:\n\n{{ $json.body.transcript.plaintext }}\n{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a persuasive Twitter content strategist working for a high-performance AI automation and agency consulting brand.\n\nUse the following internal reference documents as your creative foundation. These documents contain internal knowledge and frameworks from Lucas Synnott and the AI Agency Academy. Use them to guide your tone, structure, positioning, and strategic thinking — but do not summarize or restate the documents. Instead, apply their insights naturally to create content optimized for Twitter.\n\nREFERENCE DOCUMENT 1: Lucas Synnott & AI Agency Academy – Project Knowledge Base\n\nAbout Lucas Synnott\nName: Lucas Synnott\nLocation: Dublin, Ireland\nRoles: Founder, Instructor, Automation Expert, Agency Consultant\nBackground: Business strategist and performance marketer with deep expertise in AI automation, funnel optimization, email marketing, and scaling agencies through systems. Lucas has built and exited multiple service businesses and now focuses on helping other agency owners do the same through automation-first education.\n\nAbout AI Agency Academy\nCompany Overview:\nAI Agency Academy is a training platform and community designed to help digital agency owners and their virtual assistants automate operations, increase profitability, and scale intelligently—without needing to be technical. Built on Skool, the academy delivers a structured curriculum, pre-built templates, and expert coaching to help members productize their internal systems and turn AI tools into revenue engines.\n\nCore Services:\n\nPrimary: AI automation training for agency workflows\n\nSecondary: Virtual assistant enablement and delegation systems\n\nAdditional: Lead generation, outbound sales, content creation, and fulfillment automations\n\nOur Unique Approach:\n\nAutomation-First: Systems replace headcount.\n\nVA-Centric: Train your assistant, not just yourself.\n\nAI-Native: Everything is built using real tools—no theory, just working systems.\n\nProductization-Driven: Internal tools become lead magnets, offers, or micro-SaaS.\n\nMethodology:\n\nDesign offers and fulfillment around automation from day one\n\nUse tools like N8N, Zapier, and Make.com to eliminate manual tasks\n\nTrain VAs to build, run, and improve operations using SOPs and AI tools\n\nProductize backend systems into scalable assets\n\nUse AI-generated content and outreach for audience growth and lead flow\n\n\nREFERENCE DOCUMENT 2: Twitter Post Writing Masterclass – Complete Guide\nThe Twitter/X Content Landscape in 2025\nFor You + Following feeds now weigh watch-time on video and read-time on text equally.\n\nShort, idea-dense singles (≤ 280 chars) out-perform threads 3 × on impressions-per-word.\n\n“See more” expansion rate and profile-clicks are the two hidden metrics driving reach.\n\nAlgorithm updates punish obvious bait; authenticity, numbers, and concise clarity win.\n\nContent-Performance Benchmarks\nMetric\tHigh-Performer Target\tDataset Avg (top 5 % in CSV)\nImpressions\t≥ 500 k\t479 k\n❤️ / Impr.\t≥ 1.8 %\t1.6 %\nProfile Click-Thru\t≥ 0.7 %\t0.65 %\nLink CTR\t≥ 0.35 %\t0.29 %\n\nThe 5-Step Tweet Framework\nStep\tPurpose\tHow-To\n1. Find the Right Insight\t- One fresh, specific observation that solves/clarifies a pain felt by agency owners & VAs.\tMine client DMs, sales calls, CSV tweet angles.\n2. Develop One Clear Point\t- One tweet = one payoff.\tAngle it like a headline: journalist tone + benefit.\n3. Micro-Structure\t- H-I-C → Hook (≤ 40 chars) → Insight/Story (≤ 220 chars) → CTA (≤ 20 chars)\tWhite-space with “\\n” to create eye-rhythm.\n4. Craft a Killer Hook\t- Stop the scroll and set expectation.\tChoose 1 of 12 proven hook types (next section).\n5. Deliver the Promise\t- Satisfy the hook, back it with a number, end with action.\tUse 8th-grade language, active verbs, emojis ≤ 2.\n\n12 Proven Hook Types \nUse these to open a tweet. Do not copy wording; mirror the energy, cadence, and length.\n\n#\tHook Type\tCSV Example (verbatim)\n1\tUnique Transformation\t“Life hack: Move from the city you grew up. You'll transform into an entirely new person.”\n2\tFailure Story\t“The best way to fail in life: Never start because you're afraid of failing.”\n3\tMake People Feel Seen\t“You're overcomplicating it, my friend.”\n4\tStrong Disagreement\t“Fuck ‘nEtwOrKinG.’ Build your skill set.”\n5\tOpinion as Fact\t“The smartest people I know are all writers.”\n6\tRebellion Story\t“Absolutely 0 clients have ever asked if I had a degree. You can just do stuff.”\n7\tTrigger FOMO\t“There are 15-year-olds posting content and building businesses…”\n8\tContrarian Take\t“Don't follow your passion. Find rich people's problems you'd be happy to solve.”\n9\tSet a Goal / Public Challenge\t“Adopt the mindset: If I don't post every day, my head explodes.”\n10\tSubject Masterclass\t“How to find your niche in 69 seconds (watch the video): …”\n11\tGolden Advice\t“DMs = Writing Email = Writing Content = Writing … Writing = $$$”\n12\tLeverage FOFO\t“There's someone 3 × dumber than you making 2 × more. Because they took action on 1 book instead of reading 10 more.”\n\nFormatting Best Practices for Singles\nWhitespace rules: Max 2 sentences per line. Break before numbers or CTA.\n\nNumbers > adjectives: “58 % margin” beats “huge margin.”\n\nEmojis: 0–2; only meaning-bearing (e.g., 🚀, ⚡️, 🔗).\n\nCTA ideas: “Reply ‘AI’ for the SOP,” “Save this,” “DM ‘SYSTEM’ for details,” “Join AI Agency Academy.”\n\nCompliance: No thread-gate or “like/comment boosts,” keep it clean to dodge shadow throttling.\n\nQuick-Reference Tweet Writing Checklist\n□ Hook in first 40 characters.\n\n□ One insight, one payoff.\n\n□ Proof or micro-story (ideally with a stat).\n\n□ Clear CTA tied to business goal.\n\n□ Reads at 8th-grade level (Grammarly/FK ≤ 8).\n\n□ Tone: confident operator, slightly edgy, action-biased.\n\n□ No jargon unless defined in same tweet.\n\n□ Character count ≤ 280 (incl. spaces & emoji).\n\nSwipe-File: 8 High-Engagement Tweet Structures (CSV-Based Templates)\nLife-hack punch\n\n“Life hack: <action>. <1-line payoff>.”\n\nStat + disbelief\n\n“<Surprising stat> and nobody’s talking about it. Here’s why it matters for <audience>.”\n\nMini-rant\n\n“Stop <common advice>. <Better alternative>. (Proof: <result stat>).”\n\nOne-sentence masterclass\n\n“<Topic>: <3-step formula in one line with commas>.”\n\nCall-out + fix\n\n“If you’re still <pain>, you’re leaking <cost>. Do <solution> instead.”\n\nX > Y comparison\n\n“<X> > <Y>. Here’s the ROI in 2 numbers: <#, #>.”\n\nFear-buster\n\n“Afraid of <obstacle>? Try <quick win>. Took me from <before stat> to <after stat>.”\n\nAction guarantee\n\n“Do <simple daily habit> for 30 days and your <metric> will explode. I’ll die on this hill.”\n\nUse these shells + the Hook library to generate endless high-impact agency-focused tweets.\n\n\n\n\n\n\n"
        }
      },
      "id": "20062b94-5c2c-4edd-a254-9ed822ad0bf8",
      "name": "Facebook Post Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -960,
        48
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Turn the Tweet post below into a 3–7 word title that we can insert as the title for the document that has this Linkedin post inside of it.\n\n!IMPORTANT: Don’t respond with ANYTHING other than the completed 3–7 word title. That 3–7 word title should be the only thing in your response.\n\nThe tweet:\n\n{{ $json.output }}",
        "options": {}
      },
      "id": "887d0655-69ae-4d53-b5dc-b993bc48eb80",
      "name": "Facebook Post Title Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -608,
        48
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "post-content-1",
              "name": "postContent",
              "type": "string",
              "value": "={{ $('Prepare LinkedIn Content for Queue').item.json.content_text }}"
            },
            {
              "id": "schedule-date-1",
              "name": "scheduleDate",
              "type": "string",
              "value": "={{ $now.plus({ hours: 1 }).format('yyyy-MM-dd') }}"
            },
            {
              "id": "schedule-time-1",
              "name": "scheduleTime",
              "type": "string",
              "value": "={{ $now.plus({ hours: 1 }).format('HH:mm') }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "24718124-f1ab-4916-812c-ad41adfcb967",
      "name": "Set Post Content2",
      "type": "n8n-nodes-base.set",
      "position": [
        1312,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Get the content from the previous node\nconst content = $('Prepare LinkedIn Content for Queue').item.json.content_text;\n\n// Build the payload object (JavaScript will handle escaping automatically)\nconst payload = {\n  \"schedule\": true,\n  \"schedule_now\": false,\n  \"queue\": true,\n  \"accounts\": [2],\n  \"tags\": [],\n  \"versions\": [\n    {\n      \"account_id\": 0,\n      \"is_original\": true,\n      \"content\": [\n        {\n          \"body\": content,\n          \"media\": []\n        }\n      ],\n      \"options\": {}\n    }\n  ]\n};\n\nreturn {\n  json: payload\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        48
      ],
      "id": "9e1cca7a-8fe9-4486-b450-d0816970e583",
      "name": "Code3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "linkedin-ids",
              "name": "linkedinAccountIds",
              "type": "array",
              "value": "={{ $('Get LinkedIn Accounts1').item.json.data.filter(account => account.provider === 'linkedin').map(account => account.id) }}"
            },
            {
              "id": "linkedin-accounts",
              "name": "linkedinAccounts",
              "type": "array",
              "value": "={{ $('Get LinkedIn Accounts1').item.json.data.filter(account => account.provider === 'linkedin') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5692b0b2-07ab-4254-988d-e1e3151b377d",
      "name": "Extract Facebook IDs",
      "type": "n8n-nodes-base.set",
      "position": [
        1088,
        48
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "YouTube Script Agent": {
      "main": [
        [
          {
            "node": "YT Script Doc Title Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YT Script Doc Title Agent": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post Agent": {
      "main": [
        [
          {
            "node": "LinkedIn Post(s) Doc Title Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post(s) Doc Title Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Newsletter Agent": {
      "main": [
        [
          {
            "node": "Email Newsletter Doc Title Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Newsletter Doc Title Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "YouTube Script Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Email Newsletter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Slack1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Slack3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Post(s) Doc Title Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Newsletter Doc Title Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Newsletter Post Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack1": {
      "main": [
        [
          {
            "node": "Linkedin Post Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Twitter Post Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Twitter Post(s) Doc Title Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Slack2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack2": {
      "main": [
        [
          {
            "node": "Twitter Post Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Post Agent": {
      "main": [
        [
          {
            "node": "Twitter Post(s) Doc Title Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Post(s) Doc Title Agent": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack3": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Content for Queue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "YT Script Doc Title Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Content for Queue": {
      "main": [
        [
          {
            "node": "Add LinkedIn to Content Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Newsletter Content for Queue": {
      "main": [
        [
          {
            "node": "Add LinkedIn to Content Queue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Twitter Content for Queue": {
      "main": [
        [
          {
            "node": "Add Twitter to Content Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add LinkedIn to Content Queue": {
      "main": [
        [
          {
            "node": "Extract LinkedIn IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add LinkedIn to Content Queue1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Content for Queue1": {
      "main": [
        [
          {
            "node": "Add YouTube to Content Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "LinkedIn Post Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter Post Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Newsletter Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Script Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Publish Newsletter to ConvertKit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LinkedIn IDs": {
      "main": [
        [
          {
            "node": "Set Post Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Content1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Prepare for Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Twitter to Content Queue": {
      "main": [
        [
          {
            "node": "Extract Twitter IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Content": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Prepare for Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Twitter IDs": {
      "main": [
        [
          {
            "node": "Set Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Post Approved?": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Content for Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Linkedin Automation Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Post Approved?": {
      "main": [
        [
          {
            "node": "Prepare Twitter Content for Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twitter Automation Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter Post Approved?": {
      "main": [
        [
          {
            "node": "Prepare Newsletter Content for Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter Automation Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Publish": {
      "main": [
        [
          {
            "node": "[Instagram] Publish via Blotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "[Facebook] Publish via Blotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "[Linkedin] Publish via Blotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "[Tiktok] Publish via Blotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "[Youtube] Publish via Blotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "[Threads] Publish via Blotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "[Twitter] Publish via Blotato",
            "type": "main",
            "index": 0
          },
          {
            "node": "[Bluesky] Publish via Blotato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[Instagram] Publish via Blotato": {
      "main": [
        [],
        []
      ]
    },
    "Anthropic Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Facebook Post Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Facebook Post Title Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Slack4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack4": {
      "main": [
        [
          {
            "node": "Twitter Post Approved?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Twitter Content for Queue1": {
      "main": [
        [
          {
            "node": "Add Twitter to Content Queue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Twitter to Content Queue1": {
      "main": [
        [
          {
            "node": "Extract Facebook IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Post Approved?1": {
      "main": [
        [
          {
            "node": "Prepare Twitter Content for Queue1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twitter Automation Done1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post Agent": {
      "main": [
        [
          {
            "node": "Facebook Post Title Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post Title Agent": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Content2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Facebook IDs": {
      "main": [
        [
          {
            "node": "Set Post Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Prepare for Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25db23da-0c69-4e72-a743-1b71deb56984",
  "meta": {
    "instanceId": "94aed49fc73372525d542e924a8b65d38c4cfc7be69ff82b11f83d6bf3d06ce7"
  },
  "id": "xsr9IyKE4w7YKjVl",
  "tags": []
}